{
  "uuid": "diet-planning-card-2",
  "summary": {
    "en": "Nutritional Intervention is required",
    "es": "Se requiere una intervención nutricional",
    "de": "Ernährungsintervention ist erforderlich",
    "ro": "Este necesară o intervenție nutrițională"
  },
  "indicator": "info",
  "detail": {
    "en": "Nutritional interventions should be part of a multimodal and multidisciplinary team intervention in order to support adequate dietary intake, maintain or increase body weight and improve functional and clinical outcome",
    "es": "Las intervenciones nutricionales deben ser parte de una intervención de equipo multimodal y multidisciplinaria para respaldar la ingesta dietética adecuada, mantener o aumentar el peso corporal y mejorar el resultado funcional y clínico.",
    "de": "Ernährungsinterventionen sollten Teil einer multimodalen und multidisziplinären Teamintervention sein, um eine angemessene Nahrungsaufnahme zu unterstützen, das Körpergewicht aufrechtzuerhalten oder zu erhöhen und das funktionelle und klinische Ergebnis zu verbessern.",
    "ro": "Intervențiile nutriționale ar trebui să facă parte dintr -o intervenție multimodală și multidisciplinară a echipei pentru a sprijini aportul dietetic adecvat, pentru a menține sau a crește greutatea corporală și pentru a îmbunătăți rezultatul funcțional și clinic."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 7, [pp. 27]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 7 [pp. 27]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 7, [PP. 27]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 7, [pp. 27]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
