{
  "uuid": "diet-planning-card-5",
  "summary": {
    "en": "Consider offering Oral Nutritional Supplementation (ONS)",
    "es": "Considere ofrecer suplementos nutricionales orales (SNO)",
    "de": "Erwägen Sie, eine orale Nahrungsergänzung (ONS) anzubieten.",
    "ro": "Luați în considerare oferirea de suplimente nutriționale orale (ONS)"
  },
  "indicator": "info",
  "detail": {
    "en": "After discharge, this population should be offered ONS in order to improve dietary intake and body weight, and to lower the risk of functional decline.\nOral Nutritional Supplementation (ONS) when needed, should provide at least 400 kcal/day including 30 g or more of protein/day, and should be fiber-containing products.",
    "es": "Después del alta, a estos pacientes se les debe ofrecer SNO para mejorar la ingesta dietética y el peso corporal, y para reducir el riesgo de deterioro funcional.\nLa suplementación nutricional oral (SNO) cuando sea necesario, debe proporcionar al menos 400 kcal/día, incluidos 30 g o más de proteínas/día, y deben ser productos que contengan fibra.",
    "de": "Nach der Entlassung sollte diesen Patienten ONS angeboten werden, um die Nahrungsaufnahme und das Körpergewicht zu verbessern und das Risiko eines funktionellen Abbaus zu senken.\nBei Bedarf sollten orale Nahrungsergänzungsmittel (ONS) mit mindestens 400 kcal/Tag einschließlich 30 g oder mehr Protein/Tag liefern und Ballaststoffen verabreicht werden.",
    "ro": "După externare, acestei categorii de populație ar trebui să fie oferite ONS pentru a îmbunătăți aportul dietetic și greutatea corporală și pentru a scădea riscul de declin funcțional.\nSuplimentele nutriționale orale (ONS), atunci când este nevoie, ar trebui să furnizeze cel puțin 400 kcal/zi, inclusiv 30 g sau mai mult de proteine/zi și ar trebui să fie produse care conțin fibre."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 7.2.2, [pp. 29]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 7.2.2 [pp. 29]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 7.2.2, [PP. 29]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 7.2.2, [pp. 29]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
