{
  "uuid": "diet-planning-card-4",
  "summary": {
    "en": "Consider offering multi-component non-pharmacological intervention that includes hydration and nutritional management when  hospitalization is needed",
    "es": "Considere ofrecer una intervención no farmacológica multi-componente que incluya hidratación y manejo nutricional cuando se necesite hospitalización",
    "de": "Erwägen Sie, nicht-pharmakologische Interventionen mit mehreren Komponenten anzubieten, die das Hydratations- und Ernährungsmanagement umfasst, wenn Krankenhausaufenthalte erforderlich sind",
    "ro": "Luați în considerare oferirea de intervenție non-farmacologică, cu mai multe componente, care să includă hidratarea și gestionarea nutrițională atunci când este nevoie de spitalizare"
  },
  "indicator": "info",
  "detail": {
    "en": "When needing hospitalization, multimorbid older persons with cognitive impairment and malnutrition or at risk of malnutrition should receive a multi-component non-pharmacological intervention that includes hydration and nutrition management, to prevent geriatric syndromes like delirium or functional decline.\nThey should be offered ONS, in order to improve dietary intake and body weight, and to lower the risk of complications and readmission.\nOral Nutritional Supplementation (ONS) when needed, should provide at least 400 kcal/day including 30 g or more of protein/day, and should be fiber-containing products.",
    "es": "Cuando necesiten hospitalización, las personas mayores con multimorbilidad, deterioro cognitivo y desnutrición o en riesgo de desnutrición deben recibir una intervención multicomponente no farmacológica que incluya el manejo de la hidratación y la nutrición, para prevenir síndromes geriátricos como el delirium o el deterioro funcional.\nSe les debe ofrecer SNO, con el fin de mejorar la ingesta dietética y el peso corporal, y disminuir el riesgo de complicaciones y reingresos. \nLa Suplementación Nutricional Oral (SNO), cuando sea necesaria, debe aportar al menos 400 kcal/día, incluyendo 30 g o más de proteínas/día, y deben ser productos que contengan fibra.",
    "de": "Wenn ein Krankenhausaufenthalt nötig ist, sollten multimorbide ältere Menschen mit kognitiver Beeinträchtigung und Unterernährung oder an der Schwelle zur Mangelernährung eine nicht-pharmakologische Intervention mit mehreren Komponenten erhalten, die das Hydratations- und Ernährungsmanagement umfasst, um geriatrische Syndrome wie Delirium oder Funktionsverlust zu verhindern.\nIhnen sollten orale Nahrungsergänzungsstoffe (ONS) angeboten werden, um die Nahrungsaufnahme und das Körpergewicht zu verbessern und das Risiko von Komplikationen und erneuter Krankenhauseinweisung zu senken.\nBei Bedarf sollten (ONS) angeboten werden, die mindestens 400 kcal/Tag einschließlich 30 g oder mehr Protein/Tag und Ballaststoffe enthalten.",
    "ro": "Atunci când au nevoie de spitalizare, persoanele în vârstă multimorbide cu deficiență cognitivă și malnutriție sau cu risc de malnutriție ar trebui să primească o intervenție non-farmacologică multi-componentă care include hidratarea și gestionarea nutriției, pentru a preveni sindromele geriatrice precum delirul sau declinul funcțional.\nAcestea ar trebui să fie oferite, pentru a îmbunătăți aportul dietetic și greutatea corporală, și pentru a reduce riscul de complicații și readmisie.\nSuplimentele nutriționale orale (ONS), atunci când este nevoie, ar trebui să furnizeze cel puțin 400 kcal/zi, inclusiv 30 g sau mai mult de proteine/zi și ar trebui să fie produse care conțin fibre."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 7.2.2, [pp. 29]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 7.2.2 [pp. 29]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 7.2.2, [PP. 29]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 7.2.2, [pp. 29]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
