{
  "uuid": "diet-planning-card-6",
  "summary": {
    "en": "Consider offering physical exercise whenever possible in order to preserve muscle mass",
    "es": "Considere ofrecer ejercicio físico siempre que sea posible para preservar la masa muscular",
    "de": "Erwägen Sie, nach Möglichkeit körperliche Bewegung anzubieten, um die Muskelmasse zu erhalten",
    "ro": "Luați în considerare recomandarea de exerciții fizice ori de câte ori este posibil pentru a păstra masa musculară"
  },
  "indicator": "info",
  "detail": {
    "en": "If weight reduction is considered in multi-morbid older persons with obesity and cognitive impairment, dietary interventions should be combined with physical exercise whenever possible in order to preserve muscle mass.",
    "es": "Si se considera la reducción de peso en personas mayores con multimorbilidad, obesidad y deterioro cognitivo, las intervenciones dietéticas deben combinarse con ejercicio físico siempre que sea posible para preservar la masa muscular.",
    "de": "Wenn bei älteren multimorbiden Menschen mit  kognitiver Beeinträchtigung und Übergewicht, eine Gewichtsreduktion angestrebt werden soll, sollte die Nahrungsinterventionen nach Möglichkeit mit körperlicher Bewegung kombiniert werden, um die Muskelmasse zu erhalten.",
    "ro": "Dacă reducerea greutății este luată în considerare la persoanele în vârstă multi-morbide, cu obezitate și deficiență cognitivă, intervențiile dietetice ar trebui să fie combinate cu exerciții fizice ori de câte ori este posibil pentru a păstra masa musculară."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 7.2.1, [pp. 29]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 7.2.1 [pp. 29]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 7.2.1, [PP. 29]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 7.2.1, [pp. 29]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
