{
  "uuid": "diet-planning-card-12",
  "summary": {
    "en": "Consider protein supplementation or a protein-rich diet for older adults with frailty or sarcopenia.",
    "es": "Considere la suplementación con proteínas o una dieta rica en proteínas para adultos mayores con fragilidad o sarcopenia.",
    "de": "Ziehen Sie die Nahrungsergänzugsmittel mit Protein oder eine proteinreiche Diät für ältere Erwachsene mit Gebrechlichkeit oder Sarkopenie in Betracht.",
    "ro": "Luați în considerare suplimentarea dietei cu proteine sau o dietă bogată în proteine pentru adulții în vârstă cu fragilitate sau sarcopenie."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider protein supplementation or a protein-rich diet for older adults with frailty or sarcopenia, and consider discussing with patients the importance of adequate calorie and protein intake. Nutritional (protein) intervention should be combined with a physical activity intervention, and/or resistance- based training.",
    "es": "Considere la suplementación con proteínas o una dieta rica en proteínas para adultos mayores con fragilidad o sarcopenia, y considere debatir con los pacientes la importancia de la ingesta adecuada de calorías y proteínas. La intervención nutricional (proteína) debe combinarse con una intervención de actividad física y/o entrenamiento basado en resistencia.",
    "de": "Ziehen Sie die Nahrungsergänzung mit Protein oder eine proteinreiche Diät für ältere Erwachsene mit Gebrechlichkeit oder Sarkopenie in Betracht und diskutieren Sie mit Patienten die Bedeutung einer angemessenen Kalorien- und Proteinaufnahme. Ernährungsintervention (Protein) sollte mit einer körperlichen Aktivitätsintervention und/oder einem auf Widerstand basierenden Training kombiniert werden.",
    "ro": "Luați în considerare suplimentarea dietei cu proteine sau o dietă bogată în proteine pentru adulții în vârstă cu fragilitate sau sarcopenie și luați în considerare discutarea cu pacienții a importanței aportului adecvat de calorii și proteine. Intervenția nutrițională (suplimentarea dietei cu proteină) trebuie combinată cu o intervenție de activitate fizică și/sau antrenament bazat pe rezistență."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 9.3.2 [pp. 33]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 9.3.2 [pp. 32]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 9.3.2 [PP. 33]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 9.3.2 [pp. 33]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
