{
  "uuid": "diet-planning-card-1",
  "summary": {
    "en": "General principles about Nutritional and hydration care",
    "es": "Principios generales sobre cuidado nutricional e hidratación",
    "de": "Allgemeine Grundsätze für Ernährung und Wasserhaushalt",
    "ro": "Principii generale despre îngrijirea nutrițională și hidratare"
  },
  "indicator": "info",
  "detail": {
    "en": "Nutritional and hydration care for older persons with multimorbidity and cognitive impairment should be both individualised and comprehensive in order to ensure adequate nutritional intake, maintain or improve nutritional status, and improve clinical outcomes, and quality of life.",
    "es": "La atención nutricional y de hidratación para las personas mayores con multimorbilidad y deterioro cognitivo debe ser individualizado e integral para garantizar una ingesta nutricional adecuada, mantener o mejorar el estado nutricional, y mejorar los resultados clínicos y la calidad de vida.",
    "de": "Ernährungs- und Flüssigkeitsversorgung älterer Menschen mit Multimorbidität und kognitiver Beeinträchtigung sollten sowohl individualisiert, als auch umfassend sein, um eine angemessene Nahrungsaufnahme zu gewährleisten, den Ernährungszustand aufrechtzuerhalten oder zu verbessern und die klinischen Ergebnisse und die Lebensqualität zu verbessern.",
    "ro": "Îngrijirea nutrițională și hidratarea pentru persoanele în vârstă cu multimorbiditate și deficiență cognitivă ar trebui să fie atât individualizate, cât și cuprinzătoare, pentru a asigura aportul nutrițional adecvat, menținerea sau îmbunătățirea stării nutritive și pentru a îmbunătăți rezultatele clinice și calitatea vieții."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 7, [pp. 27]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 7 [pp. 27]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 7, [PP. 27]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 7, [pp. 27]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
