{
  "uuid": "hypertension-goal-card-11",
  "summary": {
    "en": "Systolic BP should be targeted to between 130 and 140 mmHg, and diastolic BP to &#60;80 mmHg.",
    "es": "La TA sistólica debe reducirse a entre 130 y 140 mmHg, y la TA diastólico a &#60;80 mmHg.",
    "de": "Der systolische Blutdruck sollte auf zwischen 130 und 140 mmHg und der diastolische Blutdruck auf &#60;80 mmHg ausgerichtet sein.",
    "ro": "Tensiunea sistolică ar trebui să fie vizată între 130 și 140 mmHg, iar tensiunea diastolică până la 80 mmHg."
  },
  "indicator": "info",
  "detail": {
    "en": "The evidence supports the recommendation that multi-morbid older patients with cognitive impairment (>65 years, including patients over 80 years) should be offered BP-lowering treatment if their systolic BP is ≥ 160 mmHg. There is also justification to now recommend BP-lowering treatment for old patients (aged >65 but not >80 years) at a lower BP (i.e., grade 1 hypertension where systolic BP is between 140–159 mmHg). Systolic BP should be targeted to between 130 and 140 mmHg, and diastolic BP to &#60;80 mmHg.",
    "es": "La evidencia respalda la recomendación de que a los pacientes mayores con multimorbilidad y deterioro cognitivo (> 65 años, incluidos los mayores de 80 años) se les debe ofrecer tratamiento para reducir la TA si su TA sistólica es ≥ 160 mmHg. También hay justificación para recomendar el tratamiento antihipertensivo en pacientes mayores (> 65 años pero no > 80 años) con una TA más baja (es decir, hipertensión de grado 1 donde la TA sistólica está entre 140-159 mmHg). La TA sistólica debe reducirse a entre 130 y 140 mmHg, y la TA diastólica a &#60;80 mmHg. La TA sistólica tratada no debe reducirse por debajo de 120 mmHg.",
    "de": "Laut evidenz-basierter Empfehlung sollte multi-morbiden älteren Patienten mit kognitiver Beeinträchtigung (> 65 Jahre, einschließlich Patienten über 80 Jahre) eine blutdrucksenkende Behandlung angeboten werden, wenn ihr systolischer Blutdruck ≥ 160 mmHg beträgt. Es ist auch die Empfehlung belegt, die RR-Senkung für alte Patienten (im Alter von> 65 Jahren, jedoch nicht> 80 Jahre) bei einem niedrigeren Blutdruck (d. h. Hypertonie Grad 1, bei dem der systolische Blutdruck zwischen 140 und 159 mmHg liegt) zu empfehlen. Der systolische Blutdruck sollte zwischen 130 und 140 mmHg und diastolischer BP auf &#60;80 mmHg eingestellt sein.",
    "ro": "Dovezile din studiile științifice susțin recomandarea ca pacienților mai în vârstă, multi-morbizi, cu deficiență cognitivă (>65 de ani, inclusiv pacienții de peste 80 de ani) să li se ofere un tratament de scădere a tensiunii arteriale, dacă tensiunea sistolică este ≥ 160 mmHg. De asemenea, există la momentul actual justificarea de a recomanda un tratament pentru scăderea TA a paciențiilor bătrâni (în vârstă de > 65 de ani, dar nu > 80 de ani) la un nivel mai mic (adică hipertensiunea arterială de gradul 1, unde tensiunea sistolică este cuprinsă între 140-159 mmHg). Tensiunea sistolică ar trebui să fie menținută între 130 și 140 mmHg, iar tensiunea diastolică până la 80 mmHg"
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.1 [pp. 40]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.1 [pp. 40]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 12.1 [S. 40]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.1 [pp. 40]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  },
  "suggestions": [
    {
      "uuid": "Suggestion 1",
      "label": {
        "en": "Keep blood pressure under control.",
        "es": "Mantenga la tensión arterial controlada.",
        "de": "Halten Sie den Blutdruck unter Kontrolle.",
        "ro": "Mențineți tensiunea arterială sub control."
      },
      "actions": [
        {
          "type": "create",
          "description": {
            "en": "Keep systolic blood pressure under control (between 130-140 mm/Hg)",
            "es": "Mantenga la tensión arterial sistólica controlada (entre 130-140 mm/Hg)",
            "de": "Halten Sie den systolischen Blutdruck unter Kontrolle (zwischen 130 und 140 mm/Hg)",
            "ro": "Mențineți tensiunea arterială sistolică sub control (între 130-140 mm/hg)"
          },
          "resource": {
            "resourceType": "Goal",
            "lifecycleStatus": "proposed",
            "meta": {
              "tag": [
                {
                  "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/concept-id",
                  "code": "GoalSystolicBP"
                }
              ]
            },
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Keep systolic blood pressure under control",
                  "es": "Mantenga la tensión arterial sistólica controlada",
                  "de": "Halten Sie den systolischen Blutdruck unter Kontrolle",
                  "ro": "Mențineți tensiunea arterială sistolică sub control"
                }
              }
            ],
            "category": [
              {
                "coding": [
                  {
                    "system": "http://terminology.hl7.org/CodeSystem/goal-category",
                    "code": "safety"
                  }
                ]
              }
            ],
            "startDate": "{{today}}",
            "description": {
              "text": {
                "en": "Keep systolic blood pressure under control (between 130-140 mm/Hg)",
                "es": "Mantenga la tensión arterial sistólica controlada (entre 130-140 mm/Hg)",
                "de": "Halten Sie den systolischen Blutdruck unter Kontrolle (zwischen 130 und 140 mm/Hg)",
                "ro": "Mențineți tensiunea arterială sistolică sub control (între 130-140 mm/hg)"
              },
              "coding": [
                {
                  "system": "http://snomed.info/sct",
                  "code": "135840009",
                  "display": {
                    "en": "Blood Pressure monitoring (regime/therapy)",
                    "es": "Monitorizar la tensión arterial (régimen/terapia)",
                    "de": "Blutdrucküberwachung (Regime/Therapie)",
                    "ro": "Monitorizarea tensiunii arteriale (regim/terapie)"
                  }
                }
              ]
            },
            "target": [
              {
                "measure": {
                  "coding": [
                    {
                      "system": "http://loinc.org",
                      "code": "8480-6",
                      "display": {
                        "en": "Systolic blood pressure",
                        "es": "Tensión arterial sistólica",
                        "de": "Systolischer Blutdruck",
                        "ro": "Tensiunea sistolică"
                      }
                    }
                  ]
                },
                "dueDate": "{{todayPlus3Months}}",
                "detailRange": {
                  "low": {
                    "value": 130,
                    "unit": "mmHg",
                    "system": "http://unitsofmeasure.org",
                    "code": "mm[Hg]"
                  },
                  "high": {
                    "value": 140,
                    "unit": "mmHg",
                    "system": "http://unitsofmeasure.org",
                    "code": "mm[Hg]"
                  }
                }
              }
            ]
          }
        },
        {
          "type": "create",
          "description": {
            "en": "Keep diastolic blood pressure under control (below 80 mm/Hg)",
            "es": "Mantenga la tensión arterial diastólica controlada (por debajo de 80 mm/Hg)",
            "de": "Halten Sie den diastolischen Blutdruck unter Kontrolle (unter 80 mm/Hg)",
            "ro": "Mențineți tensiunea arterială diastolică sub control (sub 80 mm/hg)"
          },
          "resource": {
            "resourceType": "Goal",
            "lifecycleStatus": "proposed",
            "meta": {
              "tag": [
                {
                  "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/concept-id",
                  "code": "GoalDiastolicBP"
                }
              ]
            },
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Keep diastolic blood pressure under control",
                  "es": "Mantenga la tensión arterial diastólica controlada",
                  "de": "Halten Sie den diastolischen Blutdruck unter Kontrolle",
                  "ro": "Păstrați sub control tensiunea arterială diastolică"
                }
              }
            ],
            "category": [
              {
                "coding": [
                  {
                    "system": "http://terminology.hl7.org/CodeSystem/goal-category",
                    "code": "safety"
                  }
                ]
              }
            ],
            "startDate": "{{today}}",
            "description": {
              "text": {
                "en": "Keep diastolic blood pressure under control (below 80 mm/Hg)",
                "es": "Mantenga la tensión arterial diastólica controlada (por debajo de 80 mm/Hg)",
                "de": "Halten Sie den diastolischen Blutdruck unter Kontrolle (unter 80 mm/Hg)",
                "ro": "Mențineți tensiunea arterială diastolică sub control (sub 80 mm/hg)"
              },
              "coding": [
                {
                  "system": "http://snomed.info/sct",
                  "code": "135840009",
                  "display": {
                    "en": "Blood Pressure monitoring (regime/therapy)",
                    "es": "Monitorizar la tensión arterial (régimen/terapia)",
                    "de": "Blutdrucküberwachung (Regime/Therapie)",
                    "ro": "Monitorizarea tensiunii arteriale (regim/terapie)"
                  }
                }
              ]
            },
            "target": [
              {
                "measure": {
                  "coding": [
                    {
                      "system": "http://loinc.org",
                      "code": "8462-4",
                      "display": {
                        "en": "Diastolic blood pressure",
                        "es": "Tensión arterial diastólica",
                        "de": "Diastolischer Blutdruck",
                        "ro": "Tensiunea diastolică"
                      }
                    }
                  ]
                },
                "dueDate": "{{todayPlus3Months}}",
                "detailRange": {
                  "high": {
                    "value": 80,
                    "unit": "mmHg",
                    "system": "http://unitsofmeasure.org",
                    "code": "mm[Hg]"
                  }
                }
              }
            ]
          }
        }
      ]
    }
  ]
}
