{
  "uuid": "copd-medication-management-card-29",
  "summary": {
    "en": "Consider starting opioids.",
    "es": "Considere iniciar opioides.",
    "de": "Erwägen Sie, Opioide zu starten.",
    "ro": "Luați în considerare începerea opioidelor."
  },
  "indicator": "info",
  "detail": {
    "en": "Opioids (oral or parenteral) are effective therapy for the management of refractory dyspnoea and should be considered on an individual basis.",
    "es": "Los opioides (orales o parenterales) son una terapia efectiva para el manejo de la disnea refractaria y deben considerarse de manera individual.",
    "de": "Opioide (oral oder parenteral) sind eine wirksame Therapie zur Behandlung von refraktärer Dyspnoe und sollten auf einer individuellen Basis berücksichtigt werden.",
    "ro": "Opioidele (orale sau parenterale) sunt o terapie eficientă pentru gestionarea dispneelor refractare și ar trebui luate în considerare individual."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.3.2 [pp. 67]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.3.2 [pp. 67]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.3.2 [S. 67]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.3.2 [pp. 67]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
