{
  "uuid": "copd-medication-management-card-21",
  "summary": {
    "en": "Consider offering LAMA + LABA + ICS.",
    "es": "Considere ofrecer LAMA + LABA + CI.",
    "de": "Erwägen Sie, LAMA + LABA + ICS anzubieten.",
    "ro": "Luați în considerare oferirea antagonist muscarinic + agonist beta-2 adrenergic cu durată lungă de acțiune + terapie cu corticosteroid"
  },
  "indicator": "info",
  "detail": {
    "en": "For people with COPD who are taking LABA + ICS, offer LAMA + LABA + ICS if their day-to-day symptoms continue to adversely impact their quality of life, or they have a severe exacerbation (requiring hospitalization), or they have 2 moderate exacerbations within a year.\nBefore starting LAMA + LABA + ICS, conduct a clinical review to ensure that the person's non-pharmacological COPD management is optimized, and the person's day-to-day symptoms that are adversely impacting their quality of life are caused by COPD and not by another physical or mental health condition.",
    "es": "A las personas con EPOC que estén tomando LABA + CI, ofrézcales LAMA + LABA + CI si sus síntomas cotidianos siguen afectando negativamente a su calidad de vida, o si tienen una exacerbación grave (que requiera hospitalización), o si tienen 2 exacerbaciones moderadas en un año.\nAntes de iniciar el tratamiento con LAMA + LABA + CI, realice una revisión clínica para asegurarse de que el tratamiento no farmacológico de la EPOC está optimizado y de que los síntomas cotidianos de la persona que afectan negativamente a su calidad de vida están causados por la EPOC y no por otra enfermedad física o mental.",
    "de": "Für Menschen mit COPD, die LABA + ICS einnehmen, bieten Sie LAMA + LABA + ICS an, wenn ihre täglichen Symptome weiterhin ihre Lebensqualität beeinträchtigen, oder sie eine schwere Verschlechterung (die Krankenhausaufenthalte erfordert) haben, oder sie haben 2 moderate mäßige Verschlechterungen innerhalb eines Jahres.\nFühren Sie vor dem Start von LAMA + LABA + ICS eine klinische Überprüfung durch, um sicherzustellen, dass das nicht-pharmakologische Management der COPD optimiert ist und die täglichen Symptome, welche die Lebensqualität beeinflussen durch die COPD verursacht werden und nicht durch einen anderen  körperlichen oder psychische, Krankheitszustand.",
    "ro": "Pentru persoanele cu BPOC care iau gonist beta-2 adrenergic cu durată lungă de acțiune + terapie cu corticosteroid, oferă tate cele 3 tipuri de medicații dacă simptomele lor de zi cu zi continuă să aibă un impact negativ asupra calității vieții sau au o exacerbare severă (care necesită spitalizare) sau au 2 moderate exacerbări într -un an.\nÎnainte de a începe tratamentul cu antagonist muscarinic + agonist beta-2 adrenergic cu durată lungă de acțiune + terapie cu corticosteroid, efectuați o examen fizic clinic pentru a vă asigura că gestionarea BPOC non-farmacologică a persoanei este optimizată, iar simptomele de zi cu zi ale persoanei care afectează negativ calitatea vieții lor sunt cauzate de BPOC și nu de altul starea de sănătate fizică sau psihică."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.3.2 [pp. 66]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.3.2 [pp. 66]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.3.2 [S. 66]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.3.2 [pp. 66]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
