{
  "uuid": "copd-medication-management-card-31",
  "summary": {
    "en": "Consider oxygen therapy or fans for breathlessness.",
    "es": "Considerar la oxigenoterapia o los ventiladores para la disnea.",
    "de": "Erwägen Sie eine Sauerstofftherapie oder Lüfter gegen Atemnot.",
    "ro": "Luați în considerare oxigen terapie sau ventilație artificială."
  },
  "indicator": "info",
  "detail": {
    "en": "Oxygen and fans blowing air onto the face can relieve breathlessness.",
    "es": "El oxígeno y los ventiladores que administran aire sobre la cara pueden aliviar la disnea.",
    "de": "Sauerstoff und Lüfter, die Luft auf das Gesicht blasen, können Atemnot lindern.",
    "ro": "Oxigenul și ventilația artificială poate reduce dispneea."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.3.2 [pp. 67]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.3.2 [pp. 67]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.3.2 [S. 67]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.3.2 [pp. 67]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
