{
  "uuid": "copd-medication-management-card-24",
  "summary": {
    "en": "Consider offering oral corticosteroid therapy.",
    "es": "Considerar ofrecer tratamiento con corticosteroides orales.",
    "de": "Erwägen Sie, eine orale Kortikosteroid -Therapie anzubieten.",
    "ro": "Luați în considerare oferirea de terapie cu corticosteroizi orali."
  },
  "indicator": "info",
  "detail": {
    "en": "Long-term use of oral corticosteroid therapy in COPD is not normally recommended. Some patients with advanced COPD may need long-term oral corticosteroids when these cannot be withdrawn following an exacerbation. In these cases, the dose of oral corticosteroids should be kept as low as possible.",
    "es": "El uso a largo plazo de la terapia de corticosteroides orales en la EPOC no se recomienda normalmente. Algunos pacientes con EPOC avanzada pueden necesitar corticosteroides orales a largo plazo cuando no se pueden retirar después de una exacerbación. En estos casos, la dosis de corticosteroides orales debe mantenerse lo más baja posible.",
    "de": "Die langfristige Anwendung einer oralen Kortikosteroid-Therapie bei COPD wird normalerweise nicht empfohlen. Einige Patienten mit fortgeschrittener COPD benötigen möglicherweise langfristige orale Kortikosteroide, wenn diese nach einer Verschlechterung nicht abgesetzt werden können. In diesen Fällen sollte die Dosis oraler Kortikosteroide so niedrig wie möglich gehalten werden.",
    "ro": "Utilizarea pe termen lung a terapiei cu corticosteroizi orali în BPOC nu este recomandată în mod normal. Unii pacienți cu BPOC avansat pot avea nevoie de corticosteroizi orali pe termen lung atunci când aceștia nu pot fi retrași în urma unei exacerbări. În aceste cazuri, doza de corticosteroizi orali trebuie menținută cât mai scăzută."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.3.2 [pp. 66]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.3.2 [pp. 66]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.3.2 [S. 66]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.3.2 [pp. 66]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
