{
  "uuid": "copd-medication-management-card-19",
  "summary": {
    "en": "Consider offering LABA + ICS.",
    "es": "Considere ofrecer LABA + CI.",
    "de": "Erwägen Sie, LABA + ICS anzubieten.",
    "ro": "Luați în considerare oferirea de terapie inhalată cu inhibitor muscarinic și inhibitor beta-2 adrenergic"
  },
  "indicator": "info",
  "detail": {
    "en": "Consider offering LABA + ICS for people who have asthmatic features or features suggesting steroid responsiveness, and remain breathless or have exacerbations despite optimized non-pharmacological management and using a short-acting bronchodilator.",
    "es": "Considerar la posibilidad de ofrecer LABA + CI a las personas que presenten características asmáticas o características que sugieran una respuesta a los corticoides, y continúen con disnea o presenten exacerbaciones a pesar de un tratamiento no farmacológico optimizado y del uso de un broncodilatador de acción corta.",
    "de": "Erwägen Sie, LABA + ICS für Personen mit asthmatischen Merkmalen oder Merkmalen anzubieten, die auf Steroidreaktionsfähigkeit hinweisen, und trotz eines optimierten nicht-pharmakologischen Managements und mit einem kurz wirkenden Bronchodilator atemlos bleiben.",
    "ro": "La pacienții cu BPOC instalată, oferă terapie inhalată cu LAMA + LaBA dacă nu au caracteristici sau caracteristici astmatice care sugerează o reacție a steroizilor și rămân fără suflare sau au exacerbări, în ciuda managementului non-farmacologic optimizat și utilizarea unui bronhodilator cu acțiune scurtă."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.3.2 [pp. 66]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.3.2 [pp. 66]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.3.2 [S. 66]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.3.2 [pp. 66]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
