{
  "uuid": "copd-medication-management-card-28",
  "summary": {
    "en": "Guidance on use of nebulised therapy.",
    "es": "Guía sobre el uso de la terapia nebulizada.",
    "de": "Anleitung zur Verwendung einer Vernebler-Therapie.",
    "ro": "Îndrumări privind utilizarea terapiei cu nebulizator."
  },
  "indicator": "info",
  "detail": {
    "en": "Do not continue nebulised therapy without assessing and confirming that one or more of the following occurs: a reduction in symptoms, an increase in the ability to undertake activities of daily living, an increase in exercise capacity, or an improvement in lung function.",
    "es": "No continúe el tratamiento nebulizado sin evaluar y confirmar que se produce uno o más de los siguientes efectos: una reducción en los síntomas, un aumento en la capacidad de realizar actividades de la vida diaria, un aumento en la capacidad de ejercicio o una mejora en la función pulmonar.",
    "de": "Vernebler-Therapie nicht fortsetzen, ohne zu beurteilen und zu bestätigen, dass ein oder mehrere der folgenden Veränderungen auftreten: eine Verringerung der Symptome, eine Zunahme der Fähigkeit, Aktivitäten des täglichen Lebens durchzuführen, eine Zunahme der Trainingskapazität oder eine Verbesserung der Lungenfunktion.",
    "ro": "Nu continuați terapia cu nebulizator fără a evalua și confirma că una sau mai multe dintre următoarele apare: o reducere a simptomelor, o creștere a capacității de a întreprinde activități din viață de zi cu zi, o creștere a capacității de exercițiu sau o îmbunătățire a funcției pulmonare."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.3.2 [pp. 66,67]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.3.2 [pp. 66,67]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.3.2 [S. 66,67]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.3.2 [pp. 66,67]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
