{
  "uuid": "copd-medication-management-card-26",
  "summary": {
    "en": "Consider continuing with LAMA + LABA + ICS.",
    "es": "Considere continuar con LAMA + LABA + CI.",
    "de": "Erwägen Sie, LAMA + LABA + ICS fortzusetzen.",
    "ro": "Luați în considerare continuarea cu antagonist muscarinic + agonist beta-2 adrenergic cu durată lungă de acțiune + terapie cu corticosteroid"
  },
  "indicator": "info",
  "detail": {
    "en": "If symptoms have improved, continue with LAMA + LABA + ICS.",
    "es": "Si los síntomas han mejorado, continúe con LAMA + LABA + CI.",
    "de": "Wenn sich die Symptome verbessert haben, fahren Sie mit LAMA + LABA + ICS fort.",
    "ro": "Dacă simptomele s -au îmbunătățit, continuați cu tratamentul cu antagonist muscarinic + agonist beta-2 adrenergic cu durată lungă de acțiune + terapie cu corticosteroid"
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.3.2 [pp. 66]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.3.2 [pp. 66]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.3.2 [S. 66]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.3.2 [pp. 66]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
