{
  "uuid": "copd-medication-management-card-20",
  "summary": {
    "en": "Consider offering inhaled therapy with LAMA + LABA.",
    "es": "Considere ofrecer terapia inhalada con LAMA + LABA.",
    "de": "Erwägen Sie eine inhalative Therapie mit LAMA + LABA",
    "ro": "Luați în considerare oferirea de terapie inhalată cu inhibitor muscarinic și inhibitor beta-2 adrenergic"
  },
  "indicator": "info",
  "detail": {
    "en": "In patients with stable COPD, offer inhaled therapy with LAMA + LABA if they do not have asthmatic features or features suggesting steroid responsiveness, and remain breathless or have exacerbations despite optimized non-pharmacological management and using a short-acting bronchodilator.",
    "es": "En pacientes con EPOC estable, ofrecer tratamiento inhalado con LAMA + LABA si no presentan rasgos asmáticos o rasgos que sugieran respuesta a esteroides, y siguen con disnea o presentan exacerbaciones a pesar de un tratamiento no farmacológico optimizado y del uso de un broncodilatador de acción corta.",
    "de": "Bieten Sie bei Patienten mit stabiler COPD eine inhalative Therapie mit LAMA + LABA an, wenn sie keine asthmatischen Merkmale oder Merkmale haben, die auf Steroidreaktionsfähigkeit hinweisen, und trotz eines optimierten nicht-pharmakologischen Managements und Verwendung eines kurzwirkenden Bronchodilators atemlos bleiben oder Verschlechterungen aufweisen.",
    "ro": "La pacienții cu BPOC instalată, oferă terapie inhalată cu LAMA + LaBA dacă nu au caracteristici sau caracteristici astmatice care sugerează o reacție a steroizilor și rămân fără suflare sau au exacerbări, în ciuda managementului non-farmacologic optimizat și utilizarea unui bronhodilator cu acțiune scurtă."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.3.2 [pp. 65]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.3.2 [pp. 65]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.3.2 [S. 65]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.3.2 [pp. 65]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
