{
  "uuid": "copd-medication-management-card-23",
  "summary": {
    "en": "Consider offering LAMA +  LABA + ICS for three months and conduct a clinical review to establish whether or not LAMA + LABA should be taken furthermore.",
    "es": "Considerar ofrecer LAMA + LABA + CI durante tres meses y realizar una revisión clínica para establecer si LAMA + LABA o no.",
    "de": "Erwägen  Sie drei Monate lang LAMA + LABA + ICS  und führen Sie eine klinische Überprüfung durch, um festzustellen, ob LAMA + LABA weitergeführt werden sollen.",
    "ro": "Luați în considerare oferirea ratamentul cu antagonist muscarinic + agonist beta-2 adrenergic cu durată lungă de acțiune + terapie cu corticosteroid timp de trei luni și efectuați un exzamen clinic pentru a stabili dacă precedentul tratament este mai potrivit"
  },
  "indicator": "info",
  "detail": {
    "en": "For people with COPD who are taking LAMA + LABA and whose day-to-day symptoms adversely impact their quality of life, consider a trial of LAMA + LABA + ICS, lasting for 3 months. After 3 months, conduct a clinical review to establish whether or not LAMA + LABA.\nBefore starting LAMA + LABA + ICS, conduct a clinical review to ensure that the person's non-pharmacological COPD management is optimized, and the person's day-to-day symptoms that are adversely impacting their quality of life are caused by COPD and not by another physical or mental health condition.",
    "es": "Para las personas con EPOC que estén tomando LAMA + LABA y cuyos síntomas cotidianos repercutan negativamente en su calidad de vida, considerar un ensayo de LAMA + LABA + CI, de 3 meses de duración. Después de 3 meses, realizar una revisión clínica para establecer si LAMA + LABA o no.\nAntes de iniciar el tratamiento con LAMA + LABA + CI, realizar una revisión clínica para garantizar que el tratamiento no farmacológico de la EPOC está optimizado y que los síntomas cotidianos de la persona que afectan negativamente a su calidad de vida están causados por la EPOC y no por otra enfermedad física o mental.",
    "de": "Für Menschen mit COPD, die LAMA + LABA einnehmen und deren tägliche Symptome ihre Lebensqualität nachteilig beeinflussen, sollten Sie einen Versuch mit LAMA + LABA + ICS in Betracht ziehen, der 3 Monate dauert. Führen Sie nach 3 Monaten eine klinische Überprüfung durch, um festzustellen, ob LAMA + LABA fortgeführt werden sollen.\nFühren Sie vor dem Start von LAMA + LABA + ICS eine klinische Überprüfung durch, um sicherzustellen, dass das nicht-pharmokologische Management der COPDoptimiert ist und dass die täglichen Symptome, die die Lebensqualität beeinträchtigen durch die COPD verursacht werden und nicht durch einen anderen  körperlichen oder psychischen Krankheitszustand.",
    "ro": "Pentru persoanele cu BPOC care iau Lama + Laba și ale căror simptome de zi cu zi au un impact negativ asupra calității vieții lor, ia în considerare o cură cu antagonist muscarinic + agonist beta-2 adrenergic cu durată lungă de acțiune + terapie cu corticosteroid, care durează 3 luni. După 3 luni, efectuați o revizuire clinică pentru a stabili dacă precedentul tratament este ai potrivit.\nÎnainte de a începe LAMA + LaBA + ICS, efectuați o revizuire clinică pentru a vă asigura că gestionarea BPOC non-farmacologică a persoanei este optimizată, iar simptomele de zi cu zi ale persoanei care afectează negativ calitatea vieții lor sunt cauzate de BPOC și nu de altul starea de sănătate fizică sau psihică."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.3.2 [pp. 66]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.3.2 [pp. 66]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.3.2 [S. 66]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.3.2 [pp. 66]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  },
  "suggestions": [
    {
      "uuid": "Suggestion 1",
      "label": {
        "en": "Consider conducting a clinical review to establish whether or not LAMA + LABA should be taken furthermore.",
        "es": "Considere realizar una revisión clínica para establecer si LAMA + LABA o no.",
        "de": "Erwägen Sie, eine klinische Überprüfung durchzuführen, um festzustellen, ob LAMA + LABA fortgeführt werden sollen.",
        "ro": "Luați în considerare efectuarea unei revizuiri clinice pentru a stabili dacă fostul tratament este mai potrivit."
      },
      "actions": [
        {
          "type": "create",
          "description": {
            "en": "Consider setting a follow-up appointment to conduct a clinical review to establish whether or not LAMA + LABA should be taken furthermore.",
            "es": "Considere establecer una cita de seguimiento para realizar una revisión clínica para establecer si LAMA + LABA o no.",
            "de": "Überlegen Sie sich, einen Follow-up-Termin festzulegen, um eine klinische Überprüfung durchzuführen, um festzustellen, ob LAMA + LABA.",
            "ro": "Luați în considerare stabilirea unei vizite pentru a efectua o revizuire clinică pentru a stabili dacă fostul tratament este mai potrivit."
          },
          "resource": {
            "resourceType": "Appointment",
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Follow-up appointment to conduct a clinical review to establish whether or not LAMA + LABA should be taken furthermore",
                  "es": "Cita de seguimiento para realizar una revisión clínica para establecer si LAMA + LABA o no",
                  "de": "Nachfolgertermin zur Durchführung einer klinischen Überprüfung, um festzustellen, ob LAMA + LABA weitergegeben werden sollen oder nicht",
                  "ro": "Stabilirea unei vizite pentru a efectua o revizuire clinică pentru a stabili dacă fostul tratament este mai potrivit."
                }
              }
            ],
            "description": {
              "en": "Follow-up appointment to conduct a clinical review to establish whether or not LAMA + LABA should be taken furthermore",
              "es": "Cita de seguimiento para realizar una revisión clínica para establecer si LAMA + LABA o no",
              "de": "Nachfolgertermin zur Durchführung einer klinischen Überprüfung, um festzustellen, ob LAMA + LABA weitergegeben werden sollen oder nicht",
              "ro": "Stabilirea unei vizite pentru a efectua o revizuire clinică pentru a stabili dacă fostul tratament este mai potrivit."
            },
            "status": "proposed",
            "start": "{{todayPlus3Months}}"
          }
        }
      ]
    }
  ]
}
