{
  "uuid": "copd-medication-management-card-27",
  "summary": {
    "en": "Consider assessing correct use of device.",
    "es": "Considere evaluar el uso correcto del dispositivo.",
    "de": "Erwägen Sie die Überprüfung der korrekten Verwendung des Geräts.",
    "ro": "Luați în considerare evaluarea utilizării corecte a dispozitivului."
  },
  "indicator": "info",
  "detail": {
    "en": "Assess the ability to use and the correct use of the device, consider an alternative device, if handling is not correct and cannot be taught.",
    "es": "Evalúe la capacidad de usar y el uso correcto del dispositivo, considere un dispositivo alternativo si el manejo no es correcto y no se puede enseñar.",
    "de": "Bewerten Sie die Fähigkeit und die korrekte Verwendung des Geräts. Berücksichtigen Sie ein alternatives Gerät, wenn die Handhabung nicht korrekt ist und nicht gelehrt werden kann.",
    "ro": "Evaluați capacitatea de a utiliza și utilizarea corectă a dispozitivului, luați în considerare un dispozitiv alternativ, dacă manipularea nu este corectă și nu poate fi îmbunătățită."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.3.2 [pp. 65]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.3.2 [pp. 65]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.3.2 [S. 65]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.3.2 [pp. 65]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
