{
  "uuid": "copd-medication-management-card-30",
  "summary": {
    "en": "Consider starting Benzodiazepines, tricyclic anti-depressants, or major tranquilisers.",
    "es": "Considerar la posibilidad de iniciar Benzodiacepinas, antidepresivos tricíclicos o tranquilizantes mayores.",
    "de": "Erwägen Sie, Benzodiazepine, trizyklische Antidepressiva oder Beruhigungsmittel zu starten.",
    "ro": "Luați în considerare începerea benzodiazepinelor, anti-depresive triciclice sau tranchilizante majore."
  },
  "indicator": "info",
  "detail": {
    "en": "Anxiety and depression accompany dyspnoea and should be evaluated and treated accordingly. Benzodiazepines, tricyclic anti-depressants and major tranquilisers may be useful in this context.",
    "es": "La ansiedad y la depresión acompañan a la disnea y deben evaluarse y tratarse en consecuencia. Las benzodiacepinas, los antidepresivos tricíclicos y los tranquilizantes mayores pueden ser útiles en este contexto.",
    "de": "Angst und Depression begleiten Dyspnoea und sollten entsprechend bewertet und behandelt werden. Benzodiazepine, trizyklische Antidepressiva und Beruhigungsmittel können in diesem Zusammenhang nützlich sein.",
    "ro": "Anxietatea și depresia însoțesc dispneul și trebuie evaluate și tratate în consecință. Benzodiazepinele, anti-depresivele triciclice și tranchilizatorii majori pot fi utile în acest context."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.3.2 [pp. 67]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.3.2 [pp. 67]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.3.2 [S. 67]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.3.2 [pp. 67]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
