{
  "uuid": "copd-autofill-card-33",
  "summary": {
    "en": "Consider Depression diagnosis when GDS-4 score is greater than 1.",
    "es": "Considere el diagnóstico de depresión cuando la puntuación GDS-4 es mayor que 1.",
    "de": "Erwägen Sie die Diagnose einer Depression, wenn der GDS-4-Score größer als 1 ist.",
    "ro": "Luați în considerare diagnosticul depresiei atunci când scorul GDS-4 (Scara de depresie geriatrică) este mai mare de 1."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider Depression diagnosis when GDS-4 score is greater than 1.",
    "es": "Considere el diagnóstico de depresión cuando la puntuación GDS-4 es mayor que 1.",
    "de": "Erwägen Sie die Diagnose einer Depression, wenn der GDS-4-Score größer als 1 ist.",
    "ro": "Luați în considerare diagnosticul depresiei atunci când scorul GDS-4 (Scara de depresie geriatrică) este mai mare de 1."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.2 [pp. 64]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.2 [pp. 64]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.2 [S. 64]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.2 [pp. 64]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
