{
  "uuid": "copd-autofill-card-35",
  "summary": {
    "en": "Consider Polycythaemia diagnosis when Hematocrit is greater than 49% in men or greater than 48% in women.",
    "es": "Considere el diagnóstico de policitemia cuando el hematocrito es superior al 49% en hombres o más del 48% en mujeres.",
    "de": "Erwägen Sie die Diagnose der Polycythämie, wenn der Hämatokrit bei Männern mehr als 49 % oder bei Frauen größer als 48% beträgt.",
    "ro": "Luați în considerare diagnosticul de policitemie atunci când hematocritul este mai mare de 49% la bărbați sau mai mult de 48% la femei."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider Polycythaemia diagnosis when Hematocrit is greater than 49% in men or greater than 48% in women.",
    "es": "Considere el diagnóstico de policitemia cuando el hematocrito es superior al 49% en hombres o más del 48% en mujeres.",
    "de": "Erwägen Sie die Diagnose der Polycythämie, wenn der Hämatokrit bei Männern mehr als 49 % oder bei Frauen größer als 48% beträgt.",
    "ro": "Luați în considerare diagnosticul de policitemie atunci când hematocritul este mai mare de 49% la bărbați sau mai mult de 48% la femei."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.2 [pp. 64]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.2 [pp. 64]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.2 [S. 64]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.2 [pp. 64]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
