{
  "uuid": "copd-autofill-card-34",
  "summary": {
    "en": "Consider Polycythaemia diagnosis when Hemoglobin is greater than 16.5 g/dL (10.3 mmol/L) in men or greater than 16.0 g/dL (10.0 mmol/L) in women.",
    "es": "Considere el diagnóstico de policitemia cuando la hemoglobina es mayor de 16.5 g/dL (10.3 mmol/L) en hombres o más de 16.0 g/dL (10.0 mmol/L) en mujeres.",
    "de": "Erwägen Sie die Diagnose einer Polycythämie, wenn Hämoglobin bei Männern  mehr als 16,5 g/dl (10,3 mmol/l)  oder bei Frauen größer als 16,0 g/dl (10,0 mmol/l) beträgt.",
    "ro": "Luați în considerare diagnosticul de policitemie atunci când hemoglobina este mai mare de 16,5 g/dL (10,3 mmol/L) la bărbați sau mai mare de 16,0 g/dl (10,0 mmol/L) la femei."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider Polycythaemia diagnosis when Hemoglobin is greater than 16.5 g/dL (10.3 mmol/L) in men or greater than 16.0 g/dL (10.0 mmol/L) in women.",
    "es": "Considere el diagnóstico de policitemia cuando la hemoglobina es mayor de 16.5 g/dL (10.3 mmol/L) en hombres o más de 16.0 g/dL (10.0 mmol/L) en mujeres.",
    "de": "Erwägen Sie die Diagnose einer Polycythämie, wenn Hämoglobin bei Männern  mehr als 16,5 g/dl (10,3 mmol/l)  oder bei Frauen größer als 16,0 g/dl (10,0 mmol/l) beträgt.",
    "ro": "Luați în considerare diagnosticul de policitemie atunci când hemoglobina este mai mare de 16,5 g/dL (10,3 mmol/L) la bărbați sau mai mare de 16,0 g/dl (10,0 mmol/L) la femei."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.2 [pp. 64]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.2 [pp. 64]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.2 [S. 64]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.2 [pp. 64]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
