{
  "uuid": "copd-assessment-questionnaire-card-11",
  "summary": {
    "en": "Fill in mMRC questionnaire to assess Dyspnoea scale of grading.",
    "es": "Complete el cuestionario mMRC para evaluar la escala de clasificación de disnea.",
    "de": "Füllen Sie den mMRC( modifizierter Fragebogen des Medical Research Council zur Beurteilung des Schweregrads der Atemnot)Fragebogen aus, um den Schweregrad der Luftnot zu bewerten.",
    "ro": "Completați chestionarul mMRC pentru a evalua scala de clasificare a dispneei."
  },
  "indicator": "info",
  "detail": {
    "en": "Dyspnoea should be scaled as follows:\n* Grade 0: I only get breathless with strenuous exercise\n* Grade 1: I get short of breath when hurrying on level ground or walking up a slight hill\n* Grade 2: On level ground, I walk slower than people of the same age because of breathlessness, or I have to stop for breath when walking at my own pace on the level\n* Grade 3: I stop for breath after walking about 100 meters or after a few minutes on level ground\n* Grade 4: I am too breathless to leave the house or I am breathless when dressing or undressing",
    "es": "La disnea debe clasificarse de la siguiente manera:\n* Grado 0: Sólo me falta el aire con el ejercicio extenuante\n* Grado 1: Me falta el aire cuando me apresuro en un terreno llano o al subir una ligera cuesta.\n* Grado 2: En terreno llano, camino más despacio que las personas de mi edad porque me falta el aire, o tengo que parar para respirar cuando camino a mi propio ritmo en terreno llano.\n* Grado 3: Paro para respirar después de caminar unos 100 metros o después de unos minutos en terreno llano.\n* Grado 4: me falta el aire para salir de casa o me falta el aire al vestirme o desvestirme",
    "de": "Dyspnoe sollte wie folgt skaliert werden:\n* Grad 0: Ich werde nur mit anstrengender Bewegung atemlos\n* Grad 1: Ich werde kurzatmig, wenn ich auf ebenem Boden eile oder einen leichten Hügel hinauf gehe\n* Grad 2: Auf ebenem Boden gehe ich aufgrund von Atemnot langsamer als Menschen im gleichen Alter, oder ich muss  anhalten, um Luft zu holen, wenn ich in der Ebene in meinem eigenen Tempo gehe\n* Grad 3: Ich halte zum Atmen an, nachdem ich ungefähr 100 Meter oder ein paar Minuten auf ebenem Boden gelaufen bin\n* Grad 4: Ich bin zu atemlos, um das Haus zu verlassen",
    "ro": "Disspneea trebuie să fie clasificată după cum urmează:\n* Gradul 0: Probleme de respirație când practic un exercițiu intens\n* Gradul 1: Probleme de respirație când mă grăbesc pe teren drept sau urc pe un deal ușor\n* Gradul 2: Pe teren drept, merg mai încet decât oamenii de aceeași vârstă cu mine din cauza problemelor de respirație, sau trebuie să mă opresc pentru a respira când merg în ritmul meu\n* Gradul 3: Mă opresc pentru a respira după ce am mers aproximativ 100 de metri sau după câteva minute pe teren drept\n* Gradul 4: Am probleme de respirație prea mari pentru a părăsi casa sau rămân fără suflare când mă îmbrac sau mă dezbrăc"
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.1 [pp. 63]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.1 [pp. 63]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.1 [S. 63]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.1 [pp. 63]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
