{
  "uuid": "copd-autofill-card-36",
  "summary": {
    "en": "Consider Dyspnea when mMRC score is greater than 1.",
    "es": "Considere disnea cuando la puntuación mMRC es mayor que 1.",
    "de": "Erwägen Sie Dyspnoe, wenn der MMRC -Score größer als 1 ist.",
    "ro": "Luați în considerare dispneea atunci când scorul MRC este mai mare de 1."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider Dyspnea when mMRC score is greater than 1.",
    "es": "Considere disnea cuando la puntuación mMRC es mayor que 1.",
    "de": "Erwägen Sie Dyspnoe, wenn der MMRC -Score größer als 1 ist.",
    "ro": "Luați în considerare dispneea atunci când scorul MRC este mai mare de 1."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.2 [pp. 64]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.2 [pp. 64]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.2 [S. 64]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.2 [pp. 64]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
