{
  "uuid": "copd-autofill-card-38",
  "summary": {
    "en": "Consider Respiratory acidosis when Blood pH is less than or equal to 7.35 or PaCO2 is greater than or equal to 45 mmHg.",
    "es": "Considere la acidosis respiratoria cuando el pH en la sangre es menor o igual a 7.35 o pACO2 es mayor o igual a 45 mmHg.",
    "de": "Ziehen Sie eine respiratorische Azidose in Betracht, wenn der pH -Wert des Blutes kleiner oder gleich 7,35 ist oder PaCO2 größer oder gleich 45 mmHg ist.",
    "ro": "Luați în considerare acidoza respiratorie atunci când pH -ul sângelui este mai mic sau egal cu 7,35 sau Paco2 este mai mare sau egal cu 45 mmHg."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider Respiratory acidosis when Blood pH is less than or equal to 7.35 or PaCO2 is greater than or equal to 45 mmHg.",
    "es": "Considere la acidosis respiratoria cuando el pH en la sangre es menor o igual a 7.35 o pACO2 es mayor o igual a 45 mmHg.",
    "de": "Ziehen Sie eine respiratorische Azidose in Betracht, wenn der pH -Wert des Blutes kleiner oder gleich 7,35 ist oder PaCO2 größer oder gleich 45 mmHg ist.",
    "ro": "Luați în considerare acidoza respiratorie atunci când pH -ul sângelui este mai mic sau egal cu 7,35 sau Paco2 este mai mare sau egal cu 45 mmHg."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.2 [pp. 64]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.2 [pp. 64]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.2 [S. 64]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.2 [pp. 64]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
