{
  "uuid": "diabetes-treatment-general-card-5",
  "summary": {
    "en": "General principles about treating older people with diabetes.",
    "es": "Principios generales sobre el tratamiento de personas mayores con diabetes.",
    "de": "Allgemeine Grundsätze für die Behandlung älterer Menschen mit Diabetes.",
    "ro": "Principii generale despre tratarea persoanelor în vârstă cu diabet."
  },
  "indicator": "info",
  "detail": {
    "en": "The most important outcomes in multimorbid older adults with cognitive impairment and diabetes are the maintenance of cognitive and functional status, and quality of life.",
    "es": "Los resultados más importantes en adultos mayores con multimorbilidad, deterioro cognitivo y diabetes son el mantenimiento del estado cognitivo y funcional y la calidad de vida.",
    "de": "Die wichtigsten Endpunkte bei multimorbiden älteren Erwachsenen mit kognitiven Beeinträchtigungen und Diabetes sind die Aufrechterhaltung des kognitiven und funktionellen Status sowie der Lebensqualität.",
    "ro": "Cele mai importante rezultate la adulții mai în vârstă multimorbiți, cu deficiență cognitivă și diabet sunt menținerea statutului cognitiv și funcțional și calitatea vieții."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.2 [pp. 46]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.2 [pp. 46]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.2 [S. 46]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.2 [pp. 46]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
