{
  "uuid": "diabetes-treatment-general-card-7",
  "summary": {
    "en": "Inform the patient about benefits and risks of drug treatment.",
    "es": "Informe al paciente sobre los beneficios y los riesgos del tratamiento farmacológico.",
    "de": "Informieren Sie den Patienten über Nutzen und Risiken einer medikamentösen Behandlung.",
    "ro": "Informați pacientul despre beneficiile și riscurile tratamentului medicamentos."
  },
  "indicator": "info",
  "detail": {
    "en": "Discuss with adults with type 2 diabetes the benefits and risks of drug treatment and the options available. Base the choice of drug treatments on the person's individual clinical circumstances, for example comorbidities, contraindications, weight, and risks from polypharmacy, the person's individual preferences and needs, the effectiveness of the drug treatments in terms of metabolic response, cardiovascular and renal protection, and time-to-benefit, safety and tolerability of the drug treatment, monitoring requirements, the licensed indications or combinations available, and costs.",
    "es": "Discutir con los adultos con diabetes tipo 2 los beneficios y riesgos del tratamiento farmacológico y las opciones disponibles. Basar la elección de los tratamientos farmacológicos en las circunstancias clínicas individuales de la persona, por ejemplo las comorbilidades, las contraindicaciones, el peso y los riesgos de la polifarmacia, las preferencias y necesidades individuales de la persona, la eficacia de los tratamientos farmacológicos en términos de respuesta metabólica, protección cardiovascular y renal y tiempo de obtención de beneficios, la seguridad y tolerabilidad del tratamiento farmacológico, los requisitos de seguimiento, las indicaciones autorizadas o combinaciones disponibles y los costes.",
    "de": "Besprechen Sie mit Erwachsenen mit Typ-2-Diabetes die Vorteile und Risiken einer medikamentösen Behandlung und die verfügbaren Optionen. Stützen Sie die Wahl der medikamentösen Behandlungen auf die individuellen klinischen Umstände der Person, z. B. Komorbiditäten, Kontraindikationen, Gewicht und Risiken der Polypharmazie, die individuellen Präferenzen und Bedürfnisse der Person, die Wirksamkeit der medikamentösen Behandlungen in Bezug auf die metabolische Reaktion, den kardiovaskulären und renalen Schutz sowie die Zeit bis zum Nutzen, die Sicherheit und Verträglichkeit der medikamentösen Behandlung, die Überwachungsanforderungen, die zugelassenen Indikationen oder verfügbaren Kombinationen sowie Kosten.",
    "ro": "Discutați cu adulții cu diabet zaharat de tip 2 beneficiile și riscurile tratamentului medicamentos și opțiunile disponibile. Bazându -se alegerea tratamentelor medicamentoase pe circumstanțele clinice individuale ale persoanei, de exemplu comorbidități, contraindicații, greutate și riscuri din polifarmacie, preferințele și nevoile individuale ale persoanei, eficacitatea tratamentelor medicamentoase în ceea ce privește răspunsul metabolic, protecția cardiovasculară și renală, și timp la beneficiu, siguranță și tolerabilitate a tratamentului medicamentos, a cerințelor de monitorizare, a indicațiilor sau combinațiilor autorizate disponibile și a costurilor."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 48]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 48]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 48]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 48]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
