{
  "uuid": "diabetes-treatment-general-card-10",
  "summary": {
    "en": "Check Nutrition & Hydration and Physical Exercise pages for detailed diet and exercise plans to be added to the care plan of the patient.",
    "es": "Consulte las páginas Nutrición e hidratación y Ejercicio físico para conocer los planes detallados de dieta y ejercicio que deben añadirse al plan de cuidados del paciente.",
    "de": "Auf den Seiten Ernährung und Flüssigkeitszufuhr sowie körperliche Bewegung finden Sie detaillierte Ernährungs- und Trainingspläne, die dem Behandlungsplan des Patienten hinzugefügt werden können.",
    "ro": "Verificați paginile de nutriție și hidratare și exerciții fizice pentru o dietă detaliată și planuri de exerciții fizice care trebuie adăugate la planul de îngrijire al pacientului."
  },
  "indicator": "info",
  "detail": {
    "en": "In patiens with diabetes, programs incorporating cognitive-behavioural educational interventions, such as problem solving, goal setting, self-monitoring of health parameters and dietary modifications and physical activity, are recommended.",
    "es": "En pacientes con diabetes, se recomiendan programas que incorporen intervenciones educativas cognitivo-conductuales, como la resolución de problemas, el establecimiento de objetivos, el autocontrol de los parámetros de salud y las modificaciones de la dieta y la actividad física.",
    "de": "Bei Patienten mit Diabetes werden Programme empfohlen, die kognitiv-verhaltenspädagogische Interventionen wie Problemlösung, Zielsetzung, Selbstüberwachung von Gesundheitsparametern sowie Ernährungsumstellungen und körperliche Aktivität beinhalten.",
    "ro": "La patienii cu diabet, sunt recomandate programe care încorporează intervenții educaționale cognitiv-comportamentale, cum ar fi rezolvarea problemelor, stabilirea obiectivelor, auto-monitorizarea parametrilor de sănătate și modificările dietetice și activitatea fizică."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 48]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 48]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 48]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 48]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
