{
  "uuid": "diabetes-treatment-general-card-6",
  "summary": {
    "en": "Assess the living situation and social functioning of people with diabetes.",
    "es": "Evaluar la situación vital y la actividad social de las personas con diabetes.",
    "de": "Beurteilen Sie die Lebenssituation und das soziale Funktionieren von Menschen mit Diabetes.",
    "ro": "Evaluează situația de viață și funcționarea socială a persoanelor cu diabet."
  },
  "indicator": "info",
  "detail": {
    "en": "The living situation and needs of older adults with diabetes and their caregivers should be evaluated to construct a tailored care plan. Impaired social functioning may reduce these patients’ quality of life and increase the risk of functional dependency. Social and instrumental support networks that provide instrumental or emotional support for older adults with diabetes should be included in diabetes management discussions and shared decision-making.",
    "es": "La situación vital y las necesidades de las personas mayores con diabetes y sus cuidadores deben evaluarse para elaborar un plan de atención personalizado. El deterioro la actividad social puede reducir la calidad de vida de estos pacientes y aumentar el riesgo de dependencia funcional. Las redes de apoyo social e instrumental que proporcionan apoyo instrumental o emocional a los adultos mayores con diabetes deben incluirse en las conversaciones sobre el control de la diabetes y en la toma de decisiones compartida.",
    "de": "Die Lebenssituation und die Bedürfnisse älterer Erwachsener mit Diabetes und ihrer Betreuer sollten bewertet werden, um einen maßgeschneiderten Behandlungsplan zu erstellen. Eine Beeinträchtigung der sozialen Funktionen kann die Lebensqualität dieser Patienten beeinträchtigen und das Risiko einer funktionellen Abhängigkeit erhöhen. Soziale und instrumentelle Unterstützungsnetzwerke, die älteren Erwachsenen mit Diabetes instrumentelle oder emotionale Unterstützung bieten, sollten in Diskussionen über das Diabetesmanagement und die gemeinsame Entscheidungsfindung einbezogen werden.",
    "ro": "Situația de viață și nevoile adulților mai în vârstă cu diabet și îngrijitorii lor ar trebui evaluate pentru a construi un plan de îngrijire adaptat. Funcționarea socială afectată poate reduce calitatea vieții acestor pacienți și poate crește riscul de dependență funcțională. Rețelele de asistență sociale și instrumentale care oferă sprijin instrumental sau emoțional pentru adulții în vârstă cu diabet ar trebui să fie incluse în discuțiile de gestionare a diabetului și în luarea deciziilor partajate."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 47]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 47]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 47]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 47]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
