{
  "uuid": "diabetes-treatment-general-card-8",
  "summary": {
    "en": "Assess the person's status and risk of cardiovascular disease and chronic kidney disease.",
    "es": "Evaluar el estado de la persona y el riesgo de enfermedad cardiovascular y la enfermedad renal crónica.",
    "de": "Beurteilen Sie den Status und das Risiko der Person für Herz-Kreislauf-Erkrankungen und chronische Nierenerkrankungen.",
    "ro": "Evaluează statutul și riscul de boli cardiovasculare și boli renale cronice."
  },
  "indicator": "info",
  "detail": {
    "en": "Before initiating pharmacological treatment, assess the person's cardiovascular status and risk to determine whether they have chronic heart failure, established atherosclerotic cardiovascular disease (coronary artery disease) or are at high risk of developing cardiovascular disease, and chronic kidney disease, to select the most suitable drug regimen.",
    "es": "Antes de iniciar el tratamiento farmacológico, evalúe el estado y el riesgo cardiovascular de la persona para determinar si padece insuficiencia cardiaca crónica, enfermedad cardiovascular aterosclerótica establecida (enfermedad arterial coronaria) o tiene un riesgo elevado de desarrollar enfermedad cardiovascular, y enfermedad renal crónica, para seleccionar el régimen farmacológico más adecuado.",
    "de": "Beurteilen Sie vor Beginn der pharmakologischen Behandlung den kardiovaskulären Status und das Risiko, um festzustellen, ob die Person an chronischer Herzinsuffizienz, einer etablierten atherosklerotischen Herz-Kreislauf-Erkrankung (koronare Herzkrankheit) leidet oder ein hohes Risiko für die Entwicklung von Herz-Kreislauf-Erkrankungen und chronischen Nierenerkrankungen hat, um das am besten geeignete Arzneimittel auszuwählen.",
    "ro": "Înaintea începerii tratamentului farmacologic, consultați statusul cardiovascular al pacientului și determinați dacă suferă de insuficiență cardiacă cronică, au fost diagnosticați cu boală cardiovasculară aterosclerotică (boală coronariană) sau prezintă un risc crescut de a dezvolta boli cardiovasculare, sau boală renală cronică, astfel încât să selectați cel mai potrivit curs de tratament."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 49]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 49]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 49]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 49]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
