{
  "uuid": "diabetes-treatment-general-card-12",
  "summary": {
    "en": "The presence of single end-stage chronic illness, such as stage 3-4 heart failure or oxygen-dependent lung disease, chronic kidney disease requiring dialysis, or uncontrolled metastatic cancer, may cause significant symptoms or impairment of functional status and significantly reduce life expectancy.",
    "es": "La presencia de una única enfermedad crónica en fase terminal, como insuficiencia cardiaca en estadio 3-4 o enfermedad pulmonar dependiente de oxígeno, enfermedad renal crónica que requiera diálisis o cáncer metastásico no controlado, puede causar síntomas importantes o deterioro del estado funcional y reducir significativamente la esperanza de vida.",
    "de": "Das Vorliegen einer chronischen Erkrankung im Endstadium, wie z. B. Herzinsuffizienz im Stadium 3-4 oder sauerstoffabhängige Lungenerkrankung, chronische Nierenerkrankung, die eine Dialyse erfordert, oder unkontrollierter metastasierender Krebs kann zu erheblichen Symptomen oder einer Beeinträchtigung des Funktionsstatus führen und die Lebenserwartung erheblich verkürzen.",
    "ro": "Prezența unei boli cronice în stadiu final, cum ar fi insuficiența cardiacă în stadiul 3-4 sau boala pulmonară dependentă de oxigen, boala renală cronică care necesită dializă sau cancerul metastatic necontrolat, poate provoca simptome semnificative sau deteriorare a statutului funcțional și poate reduce semnificativ speranța de viață a speranței de viață ."
  },
  "indicator": "info",
  "detail": {
    "en": "The presence of single end-stage chronic illness, such as stage 3-4 heart failure or oxygen-dependent lung disease, chronic kidney disease requiring dialysis, or uncontrolled metastatic cancer, may cause significant symptoms or impairment of functional status and significantly reduce life expectancy.",
    "es": "La presencia de una única enfermedad crónica en fase terminal, como insuficiencia cardiaca en estadio 3-4 o enfermedad pulmonar dependiente de oxígeno, enfermedad renal crónica que requiera diálisis o cáncer metastásico no controlado, puede causar síntomas importantes o deterioro del estado funcional y reducir significativamente la esperanza de vida.",
    "de": "Das Vorliegen einer chronischen Erkrankung im Endstadium, wie z. B. Herzinsuffizienz im Stadium 3-4 oder sauerstoffabhängige Lungenerkrankung, chronische Nierenerkrankung, die eine Dialyse erfordert, oder unkontrollierter metastasierender Krebs kann zu erheblichen Symptomen oder einer Beeinträchtigung des Funktionsstatus führen und die Lebenserwartung erheblich verkürzen.",
    "ro": "Prezența unei boli cronice în stadiu final, cum ar fi insuficiența cardiacă în stadiul 3-4 sau boala pulmonară dependentă de oxigen, boala renală cronică care necesită dializă sau cancerul metastatic necontrolat, poate provoca simptome semnificative sau deteriorare a statutului funcțional și poate reduce semnificativ speranța de viață a speranței de viață ."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1, Table 3 [pp. 50]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1, Tabla 3 [pp. 50]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1, Tabelle 3 [S. 50]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1, Tabelul 3 [pp. 50]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
