{
  "uuid": "diabetes-treatment-general-card-9",
  "summary": {
    "en": "Consider structured assessment at annually on self-monitoring capillary blood glucose levels.",
    "es": "Considerar la evaluación estructurada anual de los niveles de glucemia capilar autocontrolados.",
    "de": "Erwägen Sie eine strukturierte Bewertung bei jährlicher Selbstüberwachung des kapillaren Blutzuckerspiegels.",
    "ro": "Luați în considerare evaluarea structurată anual la nivelul auto-monitorizării nivelului de glicemie capilară."
  },
  "indicator": "info",
  "detail": {
    "en": "If adults with type 2 diabetes are self-monitoring their capillary blood glucose levels, carry out a structured assessment at least annually. The assessment should include: The person's self-monitoring skills, the quality and frequency of testing, checking that the person knows how to interpret the blood glucose results and what action to take, the impact on the person's quality of life, the continued benefit to the person, the equipment used.",
    "es": "Si los adultos con diabetes de tipo 2 se autocontrolan los niveles de glucosa en sangre capilar, realice una evaluación estructurada al menos una vez al año. La evaluación debe incluir: Las habilidades de autocontrol de la persona, la calidad y frecuencia de las pruebas, comprobar que la persona sabe cómo interpretar los resultados de glucosa en sangre y qué medidas tomar, el impacto en la calidad de vida de la persona, el beneficio continuado para la persona, el equipo utilizado.",
    "de": "Wenn Erwachsene mit Typ-2-Diabetes ihren kapillaren Blutzuckerspiegel selbst überwachen, führen Sie mindestens einmal jährlich eine strukturierte Bewertung durch. Die Bewertung sollte Folgendes umfassen: die Selbstüberwachungsfähigkeiten der Person, die Qualität und Häufigkeit der Tests, die Überprüfung, ob die Person weiß, wie die Blutzuckerergebnisse zu interpretieren sind und welche Maßnahmen zu ergreifen sind, die Auswirkungen auf die Lebensqualität der Person, den anhaltenden Nutzen für die Person, die verwendete Ausrüstung.",
    "ro": "Dacă adulții cu diabet zaharat de tip 2 își auto-monitorizează nivelul de glicemie capilară, efectuați o evaluare structurată cel puțin anual. Evaluarea ar trebui să includă: abilitățile de auto-monitorizare ale persoanei, calitatea și frecvența testării, verificarea faptului că persoana știe să interpreteze rezultatele glicemiei și ce acțiuni trebuie să ia, impactul asupra calității vieții persoanei, a beneficiului continuu pentru persoana, echipamentul folosit."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 48]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 48]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 48]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 48]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
