{
  "uuid": "mci-md-alzheimer-severity-card-11",
  "summary": {
    "en": "Take into account any physical, sensory or learning disabilities, or communication difficulties when using assessment scales to determine the severity of Alzheimer's disease.",
    "es": "Tenga en cuenta cualquier discapacidad física, sensorial o de aprendizaje, o dificultad de comunicación al usar escalas de evaluación para determinar la gravedad de la enfermedad de Alzheimer.",
    "de": "Berücksichtigen Sie körperliche, sensorische oder Lernbehinderungen oder Kommunikationsschwierigkeiten, wenn Sie Bewertungsskalen verwenden, um die Schwere der Alzheimer-Krankheit zu bestimmen.",
    "ro": "Luați în considerare orice dizabilități fizice, senzoriale sau de învățare, dificultăți de comunicare atunci când utilizați scale de evaluare pentru a determina severitatea bolii Alzheimer."
  },
  "indicator": "info",
  "detail": {
    "en": "When using assessment scales to determine the severity of Alzheimer's disease, healthcare professionals should take into account any physical, sensory or learning disabilities, or communication difficulties that could affect the results and make any adjustments they consider appropriate.",
    "es": "Al utilizar escalas de evaluación para determinar la gravedad de la enfermedad de Alzheimer, los profesionales de la salud deben tener en cuenta cualquier discapacidad física, sensorial o de aprendizaje, o dificultades de comunicación que puedan afectar los resultados y hacer cualquier ajuste que consideren apropiado.",
    "de": "Bei Verwendung von Bewertungsskalen, um die Schwere der Alzheimer -Krankheit zu bestimmen, sollten Angehörige der Gesundheitsberufe alle physischen, sensorischen oder Lernbehinderungen oder Kommunikationsschwierigkeiten berücksichtigen, die die Ergebnisse beeinflussen und sollten Anpassungen vornehmen, die sie für angemessen halten.",
    "ro": "Atunci când utilizează scale de evaluare pentru a determina severitatea bolii Alzheimer, profesioniștii din domeniul sănătății ar trebui să țină cont de orice dizabilități fizice, senzoriale sau de învățare, dificultăți de comunicare care ar putea afecta rezultatele, și să realizeze ajustările adecvate."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.1 [pp. 19]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.1 [pp. 19]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.1 [PP. 19]  \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.1 [pp. 19]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
