{
  "uuid": "mci-md-alzheimer-severity-card-12",
  "summary": {
    "en": "Considerations in assessing the severity of Alzheimer's disease.",
    "es": "Consideraciones al evaluar la gravedad de la enfermedad de Alzheimer.",
    "de": "Überlegungen zur Bewertung der Schwere der Alzheimer -Krankheit.",
    "ro": "Considerații în evaluarea severității bolii Alzheimer."
  },
  "indicator": "info",
  "detail": {
    "en": "When assessing the severity of Alzheimer's disease and the need for treatment, healthcare professionals should not rely solely on cognition scores in circumstances in which it would be inappropriate to do so.",
    "es": "Al evaluar la gravedad de la enfermedad de Alzheimer y la necesidad de tratamiento, los profesionales de la salud no deben depender únicamente de las puntuaciones de los test cognitivos en circunstancias en las que sería inapropiado hacerlo.",
    "de": "Bei der Beurteilung der Schwere der Alzheimer-Krankheit und derNotwendigkeit der Behandlung sollten sich die medizinischen Fachkräfte nicht nur auf die Wahrnehmungsbewertung verlassen, wenn es Umstände gibt, in denen es nicht angemessen wäre, das zu tun.",
    "ro": "Atunci când evaluează severitatea bolii Alzheimer și nevoia de tratament, profesioniștii din domeniul sănătății nu ar trebui să se bazeze doar pe scorurile obținute în testele de cogniție, în circumstanțele în care acest lucru ar fi inadecvat."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3 [pp. 20]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3 [pp. 20]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3 [PP. 20]  \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.1 [pp. 19]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
