{
  "uuid": "hf-autofill-card-28",
  "summary": {
    "en": "Consider HF with reduced ejection fraction (HFrEF) diagnosis since LV ejection fraction value of the patient is less than 35%.",
    "es": "Considerar el diagnóstico de IC con fracción de eyección reducida (IC-FEVIr) desde valores de eyección del VI del paciente menores del 35%.",
    "de": "Ziehen Sie die Diagnose Herzinsuffizienz mit reduzierter Ejektionsfraktion (HFrEF) in Betracht, da der Wert der LV-Ejektionsfraktion des Patienten unter 35 % liegt.",
    "ro": "Luați în considerare IC cu FE redusă, deoarece FEVS este &#60; 35%."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider HF with reduced ejection fraction (HFrEF) diagnosis since LV ejection fraction value of the patient is less than 35%.",
    "es": "Considerar el diagnóstico de IC con fracción de eyección reducida (IC-FEVIr) desde valores de eyección del VI del paciente menores del 35%.",
    "de": "Ziehen Sie die Diagnose Herzinsuffizienz mit reduzierter Ejektionsfraktion (HFrEF) in Betracht, da der Wert der LV-Ejektionsfraktion des Patienten unter 35 % liegt.",
    "ro": "Luați în considerare IC cu FE redusă, deoarece FEVS este &#60; 35%."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.2 [pp. 39]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.2 [pp. 39]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.2 [PP. 39]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.2 [pp. 39]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
