{
  "uuid": "hf-autofill-card-30",
  "summary": {
    "en": "Consider HF with mildly reduced ejection fraction diagnosis since LV ejection fraction value of the patient is between 35-49%.",
    "es": "Considerar el diagnóstico de IC con fracción de eyección ligeramente reducida, desde valores de eyección del VI del paciente está entre 35-49%",
    "de": "Ziehen Sie die Diagnose Herzinsuffizienz mit leicht reduzierter Auswurffraktion in Betracht,da der Wert der LV-Ejektionsfraktion des Patienten zwischen 35-49% liegt.",
    "ro": "Luați în considerare IC cu FE ușor redusă, deoarece FEVS se situează între 35-49%."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider HF with mildly reduced ejection fraction diagnosis since LV ejection fraction value of the patient is between 35-49%.",
    "es": "Considerar el diagnóstico de IC con fracción de eyección ligeramente reducida, desde valores de eyección del VI del paciente está entre 35-49%",
    "de": "Ziehen Sie die Diagnose Herzinsuffizienz mit leicht reduzierter Auswurffraktion in Betracht,da der Wert der LV-Ejektionsfraktion des Patienten zwischen 35-49% liegt.",
    "ro": "Luați în considerare IC cu FE ușor redusă, deoarece FEVS se situează între 35-49%."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.2 [pp. 39]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.2 [pp. 39]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.2 [PP. 39]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.2 [pp. 39]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
