{
  "uuid": "hf-autofill-card-31",
  "summary": {
    "en": "Consider HF with preserved ejection fraction (HFpEF) diagnosis since LV ejection fraction value of the patient is greater than 50%.",
    "es": "Considere el diagnóstico de IC con fracción de eyección preservada desde valores de eyección del VI del paciente es superior al 50%.",
    "de": "Ziehen Sie die Diagnose einer Herzinsuffizienz mit erhaltener Auswurffraktion (HFpEF) in Betrach, da der Wert der LV-Ejektionsfraktion des Patienten größer als 50% liegt.",
    "ro": "Luați în considerare IC cu FE păstrată, deoarece FEVS este mai mare de 50%."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider HF with preserved ejection fraction (HFpEF) diagnosis since LV ejection fraction value of the patient is greater than 50%.",
    "es": "Considere el diagnóstico de IC con fracción de eyección preservada desde valores de eyección del VI del paciente es superior al 50%.",
    "de": "Ziehen Sie die Diagnose einer Herzinsuffizienz mit erhaltener Auswurffraktion (HFpEF) in Betrach, da der Wert der LV-Ejektionsfraktion des Patienten größer als 50% liegt.",
    "ro": "Luați în considerare IC cu FE păstrată, deoarece FEVS este mai mare de 50%."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.2 [pp. 39]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.2 [pp. 39]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.2 [PP. 39]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.2 [pp. 39]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
