{
  "uuid": "mci-md-questionnaire-card-13",
  "summary": {
    "en": "Consider an objective assessment of the behavioural and psychological symptoms of dementia with the patient and a family member using the short version of the Neuropsychiatric Inventory, Mild Behavioural Impairment Checklist.",
    "es": "Considere la evaluación objetiva de los síntomas conductuales y psicológicos de la demencia con el paciente y un miembro de la familia utilizando la versión corta del Neuropsychiatric Inventory, Mild Behavioural Impairment Checklist (MBI-C).",
    "de": "Erwägen Sie eine objektive Bewertung der Verhaltens- und psychologischen Symptome von Demenz mit dem Patienten und einem Familienmitglied unter Verwendung der Kurzversion des neuropsychiatrischen Inventars, einer Checkliste für  leichte Verhaltensstörungen.",
    "ro": "Luați în considerare o evaluare obiectivă a simptomelor comportamentale și psihologice ale demenței cu pacientul și un membru al familiei, folosind versiunea scurtă a Inventarului Neuropsihiatric (Neuropsychiatric Inventory), Lista de Verificare a Afectării Comportamentale Ușoare (Mild Behavioural Impairment Checklist)."
  },
  "indicator": "info",
  "detail": {
    "en": "If a personality or behaviour change has been observed, an objective assessment of the behavioural and psychological symptoms of dementia with the patient and a family member using the short version of the Neuropsychiatric Inventory, Mild Behavioural Impairment Checklist, should be performed.",
    "es": "Si se ha observado un cambio de personalidad o comportamiento, se debe realizar una evaluación objetiva de los síntomas conductuales y psicológicos de la demencia con el paciente y un miembro de la familia utilizando la versión corta del Neuropsychiatric Inventory, Mild Behavioural Impairment Checklist (MBI-C).",
    "de": "Wenn eine Persönlichkeits- oder Verhaltensänderung beobachtet wurde, sollte eine objektive Bewertung der Verhaltens- und psychologischen Symptome von Demenz mit dem Patienten und einem Familienmitglied mit Hilfe der kurzen Version des neuropsychiatrischen Inventars durchgefürt werden. Das ist eine Checkliste für milde Verhaltensbeeinträchtigungen.",
    "ro": "Dacă s-a observat o schimbare de personalitate sau comportament, ar trebui efectuată o evaluare obiectivă a simptomelor comportamentale și psihologice ale demenței cu pacientul și un membru al familiei, folosind versiunea scurtă a Inventarului Neuropsihiatric (Neuropsychiatric Inventory), Lista de Verificare a Afectării Comportamentale Ușoare (Mild Behavioural Impairment Checklist)."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.1 [pp. 19]\n*  Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.1 [pp. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.1 [PP. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.1 [pp. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
