{
  "uuid": "mci-md-questionnaire-card-14",
  "summary": {
    "en": "Consider an objective assessment with the Patient Health Questionnaire-9 following a mood change.",
    "es": "Considere una evaluación objetiva con el Patient Health Questionnaire-9 (PHQ-9) tras detectar un cambio en el estado de ánimo.",
    "de": "Erwägen Sie nach der Feststellung einer Stimmungsänderung eine objektive Bewertung mit dem Fragebogen zur Patientengesundheit-9.",
    "ro": "Luați în considerare o evaluare obiectivă cu Chestionarul de Sănătate al Pacientului-9 (Patient Health Questionnaire-9) în urma unei schimbări de dispoziție."
  },
  "indicator": "info",
  "detail": {
    "en": "If a mood change has been observed, an objective assessment with the Patient Health Questionnaire-9, should be performed.",
    "es": "Si se ha observado un cambio de estado de ánimo, se debe realizar una evaluación objetiva con el Patient Health Questionnaire-9 (PHQ-9).",
    "de": "Wenn eine Stimmungsänderung beobachtet wurde, sollte eine objektive Bewertung mit dem Fragebogen zur Patientengesundheit-9 durchgeführt werden.",
    "ro": "Dacă s-a observat o schimbare de dispoziție, ar trebui efectuată o evaluare obiectivă cu Chestionarul de Sănătate al Pacientului-9 Chestionarul de Sănătate al Pacientului-9 (Patient Health Questionnaire-9)."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.1 [pp. 19]\n*  Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.1 [pp. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.1 [PP. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.1 [pp. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
