{
  "uuid": "mci-md-followup-visit-card-26",
  "summary": {
    "en": "Reassess the patient on Antipsychotics at least every 6 weeks, to check whether they still need medication.",
    "es": "Vuelva a evaluar al paciente en tratamiento con antipsicóticos al menos cada 6 semanas, para verificar si aún necesitan esos fármacos.",
    "de": "Überprüfen Sie den Patienten mindestens alle 6 Wochen, wenn Antipsychotika verordnet wurden, um zu überprüfen, ob er noch Medikamente benötigt.",
    "ro": "Reevaluați pacientul pe antipsihotice la cel puțin fiecare 6 săptămâni, pentru a verifica dacă mai are nevoie de medicamente."
  },
  "indicator": "info",
  "detail": {
    "en": "Monitor the patient for extrapyramidal symptoms. Stop treatment with antipsychotics if the person is not getting a clear ongoing benefit from taking them and after discussion with the person taking them and their family members or carers (as appropriate).",
    "es": "Monitorice al paciente para valorar la presencia de síntomas extrapiramidales. Interrumpa el tratamiento antipsicótico si el paciente no obtiene un beneficio continuo y claro al tomarlos y tras discutirlo con el paciente y sus familiares o cuidadores (según corresponda).",
    "de": "Überwachen Sie den Patienten auf extrapyramidale Symptome. Beenden Sie die Behandlung mit Antipsychotika, wenn die Person keinen klaren Nutzen von der Einnahme hat. Diskutieren Sie das Absetzen mit der Person und den Familienmitgliedern oder Betreuern (gegebenenfalls).",
    "ro": "Monitorizați pacientul pentru simptome extrapiramidale. Opriți tratamentul cu antipsihotice dacă persoana nu primește un beneficiu clar de la luarea lor și după discuția cu persoana care le ia și a membrilor familiei sau a îngrijitorilor (după caz)."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.2 [pp. 24]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.2 [pp. 24]   \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.2 [PP. 24]  \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.2 [pp. 24]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  },
  "suggestions": [
    {
      "uuid": "Suggestion 1",
      "label": {
        "en": "Consider planning a follow-up visit for reassessing the patient on Antipsychotic",
        "es": "Considere planificar una visita de seguimiento para reevaluar al paciente con tratamiento antipsicótico.",
        "de": "Erwägen Sie, einen Kontrolltermin zu planen, um eine Neubewertung der Verordnung von Antipsychotika für den Patienten vorzunehmen.",
        "ro": "Luați în considerare planificarea unei vizite de urmărire pentru reevaluarea pacientului pe antipsihotice."
      },
      "actions": [
        {
          "type": "create",
          "description": {
            "en": "Consider setting a follow-up appointment in 6 weeks to reassess the patient on Antipsychotic",
            "es": "Considere establecer una cita de seguimiento en 6 semanas para reevaluar al paciente con tratamiento antipsicótico.",
            "de": "Erwägen Sie, in 6 Wochen einen Kontrolltermin festzulegen, um die Verordnung der Antidpsychotika für den Patienten zu überprüfen.",
            "ro": "Luați în considerare stabilirea unei programări de urmărire în 6 săptămâni pentru a reevalua pacientul pe antipsihotice."
          },
          "resource": {
            "resourceType": "Appointment",
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Follow appointment to reassess the patient on Antipsychotic after 6 weeks",
                  "es": "Cita de seguimiento para monitorizar y reevaluar al paciente con tratamiento antipsicótico en 6 semanas",
                  "de": "Nachfolgertermin zur Überwachung des Patienten auf Antipsychotika nach 6 Wochen.",
                  "ro": "Programare de urmărire pentru reevaluarea pacientului pe antipsihotice în 6 săptămâni"
                }
              }
            ],
            "description": {
              "en": "Follow up appointment to monitor for reassessing the patient on Antipsychoticr 6 weeks",
              "es": "Cita de seguimiento para monitorizar y reevaluar al paciente con tratamiento antipsicótico en 6 semanas",
              "de": "Nachfolgertermin zur Überwachung des Patienten auf Antipsychotika nach 6 Wochen.",
              "ro": "Programare de urmărire pentru reevaluarea pacientului pe antipsihotice în 6 săptămâni"
            },
            "status": "proposed",
            "start": "{{todayPlus6Weeks}}"
          }
        }
      ]
    }
  ]
}
