{
  "uuid": "diabetes-antidiabetic-medication-treatment-card-36",
  "summary": {
    "en": "Consider triple therapy by switching one drug for a GLP1 mimetic.",
    "es": "Considerar la terapia triple cambiando un fármaco por un análogo de GLP1.",
    "de": "Erwägen Sie eine Dreifachtherapie, indem Sie ein Medikament gegen ein GLP1-Mimetikum austauschen.",
    "ro": "Luați în considerare tripla terapie prin înlocuirea unui medicament cu un mimetic GLP1."
  },
  "indicator": "info",
  "detail": {
    "en": "If triple therapy with Metformin and 2 other oral drugs is not effective, not tolerated or contraindicated, consider triple therapy by switching one drug for a Glucagon-like peptide-1 (GLP1) mimetic for older adults with type 2 diabetes who have a body mass index (BMI) ≥ 35 kg/m2, or have a BMI lower than 35 kg/m2 but weight loss would benefit other significant obesity-related comorbidities.",
    "es": "Si la terapia triple con Metformina y otros 2 fármacos orales no es eficaz, no se tolera o está contraindicada, considere la terapia triple cambiando un fármaco por un análogo del péptido similar al glucagón tipo 1 (GLP1) en adultos mayores con diabetes tipo 2 que tengan un índice de masa corporal (IMC) ≥ 35 kg/m2, o tengan un IMC inferior a 35 kg/m2 pero la pérdida de peso beneficiaría a otras comorbilidades significativas relacionadas con la obesidad.",
    "de": "Wenn eine Dreifachtherapie mit Metformin und 2 anderen oralen Arzneimitteln nicht wirksam, nicht vertragen oder kontraindiziert ist, sollten Sie eine Dreifachtherapie in Betracht ziehen, indem Sie ein Arzneimittel gegen ein Glucagon-ähnliches Peptid-1 (GLP1)-Mimetikum für ältere Erwachsene mit Typ-2-Diabetes austauschen, die einen Body-Mass-Index (BMI) ≥ 35 kg/m2 haben oder einen BMI von weniger als 35 kg/m2 haben, oder eine Gewichtsabnahme würde anderen signifikanten Adipositas-bedingten Komorbiditäten zugute kommen.",
    "ro": "Dacă terapia triplă cu metformină și alte 2 medicamente orale nu este eficientă, nu este tolerată sau contraindicată, luați în considerare tripla terapie prin schimbarea unui medicament cu un mimetic peptidic-1 (GLP1) asemănător glucagonului pentru adulții în vârstă cu diabet de tip 2 care au un indice de masă corporală (IMC) ≥ 35 kg/m2 sau au un IMC mai mic de 35 kg/m2, dar pierderea în greutate ar beneficia de alte comorbidități semnificative legate de obezitate."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.2 [pp. 54]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.2 [pp. 54]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.2 [S. 54]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.2 [pp. 54]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
