{
  "uuid": "diabetes-antiplatelet-medication-treatment-card-40",
  "summary": {
    "en": "Consider antiplatelet therapy in older adults with  type 2 diabetes and a history of ischemic stroke or transient ischemic attack.",
    "es": "Considerar la terapia antiplaquetaria en adultos mayores con diabetes tipo 2 y antecedentes de ictus isquémico o accidente isquémico transitorio.",
    "de": "Erwägen Sie eine Thrombozytenaggregationshemmung bei älteren Erwachsenen mit Typ-2-Diabetes und ischämischem Schlaganfall oder transitorischer ischämischer Attacke in der Vorgeschichte.",
    "ro": "Luați în considerare terapia antiplachetară la adulții în vârstă cu diabet de tip 2 și un istoric de accident vascular cerebral ischemic sau atac ischemic tranzitoriu."
  },
  "indicator": "info",
  "detail": {
    "en": "Older adults with type 2 diabetes and known prior cardiovascular disease should receive long-term antiplatelet therapy unless there is a clear contraindication. In those with a history of ischemic stroke or transient ischemic attack, low-dose Aspirin or Clopidogrel should be prescribed.",
    "es": "Los adultos mayores con diabetes de tipo 2 y enfermedad cardiovascular previa conocida deben recibir tratamiento antiagregante plaquetario a largo plazo, a menos que exista una contraindicación clara. En aquellos con antecedentes de ictus isquémico o accidente isquémico transitorio, deben prescribirse dosis bajas de Aspirina o Clopidogrel.",
    "de": "Ältere Erwachsene mit Typ-2-Diabetes und bekannten früheren Herz-Kreislauf-Erkrankungen sollten eine langfristige Thrombozytenaggregationshemmung erhalten, es sei denn, es liegt eine eindeutige Kontraindikation vor. Bei Patienten mit ischämischem Schlaganfall oder transitorischer ischämischer Attacke in der Vorgeschichte sollte niedrig dosiertes Aspirin oder Clopidogrel verschrieben werden.",
    "ro": "Adulții mai în vârstă cu diabet de tip 2 și boli cardiovasculare anterioare cunoscute ar trebui să primească terapie antiplachetară pe termen lung, cu excepția cazului în care există o contraindicație clară. La cei cu antecedente de accident vascular cerebral ischemic sau atac ischemic tranzitoriu, aspirină cu doze mici sau clopidogrel trebuie să fie prescrise."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.2 [pp. 55]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.2 [pp. 55]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.2 [S. 55]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.2 [pp. 55]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
