{
  "uuid": "diabetes-antidiabetic-medication-treatment-card-26",
  "summary": {
    "en": "Consider offering an SGLT2 inhibitor with proven cardiovascular benefit in addition to Metformin.",
    "es": "Considere ofrecer un inhibidor de SGLT2 con un beneficio cardiovascular comprobado además de la metformina.",
    "de": "Erwägen Sie, zusätzlich zu Metformin einen SGLT2-Inhibitor mit nachgewiesenem kardiovaskulärem Nutzen anzubieten.",
    "ro": "Luați în considerare oferirea unui inhibitor SGLT2 cu beneficii cardiovasculare dovedite, pe lângă metformină."
  },
  "indicator": "info",
  "detail": {
    "en": "In patients with chronic heart failure, established atherosclerotic cardiovascular disease, or are at high risk of developing cardiovascular disease, offer an SGLT2 inhibitor with proven cardiovascular benefit in addition to Metformin. When starting dual therapy with Metformin and an SGLT2 inhibitor as first-line therapy, introduce the drugs sequentially, starting with Metformin and checking tolerability. Start the SGLT2 inhibitor as soon as Metformin tolerability is confirmed.",
    "es": "En pacientes con insuficiencia cardíaca crónica, la enfermedad cardiovascular aterosclerótica establecida, o tienen un alto riesgo de desarrollar enfermedad cardiovascular, ofrece un inhibidor de SGLT2 con un beneficio cardiovascular comprobado además de la metformina. Al comenzar la terapia dual con metformina y un inhibidor de SGLT2 como terapia de primera línea, introduzca los medicamentos secuencialmente, comenzando con metformina y verificando la tolerabilidad. Inicie el inhibidor de SGLT2 tan pronto como se confirme la tolerabilidad de la metformina.",
    "de": "Bei Patienten mit chronischer Herzinsuffizienz, etablierten atherosklerotischen Herz-Kreislauf-Erkrankungen oder Patienten mit hohem Risiko, an Herz-Kreislauf-Erkrankungen zu erkranken, bieten Sie zusätzlich zu Metformin einen SGLT2-Inhibitor mit nachgewiesenem kardiovaskulären Nutzen an. Wenn Sie eine Doppeltherapie mit Metformin und einem SGLT2-Inhibitor als Erstlinientherapie beginnen, führen Sie die Medikamente nacheinander ein, beginnend mit Metformin und überprüfen Sie die Verträglichkeit. Starten Sie den SGLT2-Inhibitor, sobald die Verträglichkeit von Metformin bestätigt ist.",
    "ro": "La pacienții cu insuficiență cardiacă cronică, ateroscleroză cardiovasculară diagnosticată sau care prezintă un risc ridicat de a dezvolta boli cardiovasculare, suplimentați medicația cu un inhibitor de SGLT2, ce are beneficii cardiovasculare dovedite, pe lângă metformină. Când începeți terapia duală cu metformină și un inhibitor de SGLT2 ca terapie de primă linie, introduceți medicamentele secvențial, începând cu metformină și verificând tolerabilitatea. Adăugați inhibitorul SGLT2 imediat ce este confirmată tolerabilitatea metformină."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.2 [pp. 53]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.2 [pp. 53]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.2 [S. 53]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.2 [pp. 53]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
