{
  "uuid": "diabetes-other-medication-treatment-card-42",
  "summary": {
    "en": "Consider treatment for painful peripheral neuropathy.",
    "es": "Considerar el tratamiento de la neuropatía periférica dolorosa.",
    "de": "Erwägen Sie eine Behandlung für schmerzhafte periphere Neuropathie.",
    "ro": "Luați în considerare tratamentul pentru neuropatia periferică dureroasă."
  },
  "indicator": "info",
  "detail": {
    "en": "The following agents are preferred to relieve painful peripheral neuropathy in this population: Pregabalin, Gabapentin, Anticonvulsants (carbamazepin or valproate), or Antidepressants (duloxetine). Be aware of the increased likelihood of side effects such as orthostatic hypotension, delirium, functional or cognitive decline, when using these drugs.",
    "es": "Se prefieren los siguientes agentes para aliviar la neuropatía periférica dolorosa en esta población: Pregabalina, Gabapentina, Anticonvulsivos (carbamazepina o valproato) o Antidepresivos (duloxetina). Tenga en cuenta la mayor probabilidad de efectos secundarios como hipotensión ortostática, delirium y deterioro funcional o cognitivo cuando utilice estos fármacos.",
    "de": "Die folgenden Mittel werden bevorzugt, um schmerzhafte periphere Neuropathie in dieser Population zu lindern: Pregabalin, Gabapentin, Antikonvulsiva (Carbamazepin oder Valproat) oder Antidepressiva (Duloxetin). Seien Sie sich der erhöhten Wahrscheinlichkeit von Nebenwirkungen wie orthostatischer Hypotonie, Delirium, funktionellem oder kognitivem Verfall bewusst, wenn Sie diese Medikamente verordnen.",
    "ro": "Următorii agenți sunt preferați să amelioreze neuropatia periferică dureroasă la această populație: pregabalină, gabapentină, anticonvulsivante (carbamazepină sau valproat) sau antidepresive (duloxetină). Fiți conștienți de probabilitatea crescută a efectelor secundare, cum ar fi hipotensiunea ortostatică, delir, declin funcțional sau cognitiv, atunci când utilizați aceste medicamente."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.2 [pp. 55]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.2 [pp. 55]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.2 [S. 55]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.2 [pp. 55]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
