{
  "uuid": "diabetes-antidiabetic-medication-treatment-card-37",
  "summary": {
    "en": "Consider continuing GLP1 mimetic.",
    "es": "Considere continuar con un análogo de GLP-1.",
    "de": "Erwägen Sie, das GLP1-Mimetikum fortzusetzen.",
    "ro": "Luați în considerare continuarea terapiei cu un mimetic GLP1."
  },
  "indicator": "info",
  "detail": {
    "en": "Only continue Glucagon-like peptide-1 (GLP1) mimetic therapy if a beneficial metabolic response occurs (a reduction of at least 1% in HbA1c [11 mmol/mol] and weight loss of at least 3% of initial body weight in 6 months).",
    "es": "Continuar el tratamiento con análogos de GLP-1 sólo si se produce una respuesta metabólica beneficiosa (una reducción de al menos el 1% de la HbA1c [11 mmol/mol] y una pérdida de peso de al menos el 3% del peso corporal inicial en 6 meses).",
    "de": "Setzen Sie die mimetische Therapie mit Glucagon-like peptide-1 (GLP1) nur fort, wenn eine vorteilhafte metabolische Reaktion auftritt (eine Verringerung des HbA1c um mindestens 1% [11 mmol/mol] und ein Gewichtsverlust von mindestens 3% des ursprünglichen Körpergewichts in 6 Monaten).",
    "ro": "Continuați terapia mimetiă peptidă-1 (GLP1), asemănătoare glucagonului, dacă apare un răspuns metabolic benefic (o reducere de cel puțin 1% în HbA1c [11 mmol/mol] și pierderea în greutate de cel puțin 3% din greutatea inițială a corpului în 6 luni)."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.2 [pp. 54]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.2 [pp. 54]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.2 [S. 54]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.2 [pp. 54]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
