{
  "uuid": "diabetes-antidiabetic-medication-treatment-card-28",
  "summary": {
    "en": "Consider a dose reduction, change to modified-release formulation, or drug elimination when Metformin is not tolerated.",
    "es": "Considerar una reducción de la dosis, el cambio a una formulación de liberación modificada o la eliminación del fármaco cuando no se tolere la Metformina.",
    "de": "Erwägen Sie eine Dosisreduktion, einen Wechsel zu einer Formulierung mit modifizierter Freisetzung oder eine Arzneimitteleliminierung, wenn Metformin nicht vertragen wird.",
    "ro": "Luați în considerare o reducere a dozei, schimbarea la formule cu eliberare modificată sau eliminarea medicamentului atunci când metformina nu este tolerată."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider metformin as the first-line agent for older adults with type 2 diabetes. It may be used safely in patients with eGFR &#60;30 mL/min/1.73 m2. However, it is contraindicated in patients with advanced renal insufficiency and should be used with caution in patients with impaired hepatic function or heart failure, because of an increased risk of lactic acidosis. Gradually increase the dose of standard-release metformin over several weeks to minimise the risk of gastrointestinal side effects. In case of gastrointestinal side effects, or a reduction in appetite, it that can be necessary a dose reduction, change to modified-release formulation, or drug elimination.",
    "es": "Considerar la metformina como agente de primera línea para los adultos mayores con diabetes tipo 2. Puede utilizarse con seguridad en pacientes con un FGe &#60; 30 mL/min/1,73 m2. Sin embargo, está contraindicada en pacientes con insuficiencia renal avanzada y debe utilizarse con precaución en pacientes con deterioro de la función hepática o insuficiencia cardiaca, debido a un mayor riesgo de acidosis láctica. Aumentar gradualmente la dosis de metformina de liberación estándar durante varias semanas para minimizar el riesgo de efectos secundarios gastrointestinales. En caso de efectos secundarios gastrointestinales o reducción del apetito, puede ser necesario reducir la dosis, cambiar a una formulación de liberación modificada o eliminar el fármaco.",
    "de": "Erwägen Sie Metformin als Mittel der ersten Wahl für ältere Erwachsene mit Typ-2-Diabetes. Es kann sicher bei Patienten mit einer eGFR &#60;30 ml/min/1,73 m2 angewendet werden. Es ist jedoch bei Patienten mit fortgeschrittener Niereninsuffizienz kontraindiziert und sollte bei Patienten mit eingeschränkter Leberfunktion oder Herzinsuffizienz wegen eines erhöhten Risikos für Laktatazidose mit Vorsicht angewendet werden. Erhöhen Sie die Dosis von Metformin mit Standardfreisetzung schrittweise über mehrere Wochen, um das Risiko gastrointestinaler Nebenwirkungen zu minimieren. Im Falle von gastrointestinalen Nebenwirkungen oder einer Verringerung des Appetits kann eine Dosisreduktion, eine Umstellung auf eine Formulierung mit modifizierter Freisetzung oder eine Arzneimitteleliminierung erforderlich sein.",
    "ro": "Luați în considerare metformina ca agent de primă linie pentru adulții în vârstă cu diabet de tip 2. Poate fi utilizat în siguranță la pacienții cu rata filtrării glomerulare (eGFR) &#60;30 ml/min/1,73 m2. Cu toate acestea, este contraindicat la pacienții cu insuficiență renală avansată și ar trebui să fie utilizat cu precauție la pacienții cu afecțiuni hepatice sau insuficiență cardiacă, din cauza unui risc crescut de acidoză lactică. Creșteți treptat doza de metformină cu eliberare standard pe parcursul mai multor săptămâni pentru a minimiza riscul de reacții adverse la nivel gastrointestinal. În cazul efectelor secundare la nivel gastrointestinal sau scăderea apetitului, poate fi necesară o reducere a dozei, schimbarea la o formulă cu eliberare modificată sau eliminarea medicamentelor."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.2 [pp. 53]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.2 [pp. 53]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.2 [S. 53]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.2 [pp. 53]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
