{
  "uuid": "diabetes-antidiabetic-medication-treatment-card-31",
  "summary": {
    "en": "Sulfonylureas, other insulin secretagogues, and thiazolidinediones should be cautiously used.",
    "es": "Las sulfonilureas, otros secretagogos de insulina y las glitazonas deben utilizarse con precaución.",
    "de": "Sulfonylharnstoffe, andere Insulinsekretagogen und Thiazolidindione sollten mit Vorsicht angewendet werden.",
    "ro": "Derivații de sulfoniluree, alți secretagogi de insulină și tiazolidinedionele ar trebui să fie utilizate cu precauție."
  },
  "indicator": "info",
  "detail": {
    "en": "Sulfonylureas, other insulin secretagogues, and thiazolidinediones should be used very cautiously in this population. If used, sulfonylureas with a shorter duration of action, such as glipizide or glimepiride, should be preferred.",
    "es": "Las sulfonilureas, otros secretagogos de insulina y las glitazonas deben utilizarse con mucha precaución en esta población. Si se utilizan, es preferible utilizar sulfonilureas con una duración de acción más corta, como glipizida o glimepirida.",
    "de": "Sulfonylharnstoffe, andere Insulinsekretagogen und Thiazolidindione sollten in dieser Population sehr vorsichtig angewendet werden. Bei Verwendung sollten Sulfonylharnstoffe mit einer kürzeren Wirkungsdauer, wie Glipizid oder Glimepirid, bevorzugt werden.",
    "ro": "Derivații de sulfoniluree, alți secretagogi de insulină și tiazolidinedionele ar trebui utilizate foarte prudent la această populație. Dacă sunt utilizate, ar trebui să fie preferate sulfonilureele cu o durată mai scurtă de acțiune, cum ar fi glipizida sau glimepirida."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.2 [pp. 54]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.2 [pp. 54]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.2 [S. 54]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.2 [pp. 54]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
