{
  "uuid": "diabetes-antidiabetic-medication-treatment-card-30",
  "summary": {
    "en": "Consider starting dual therapy with Metformin and another oral drug when HbA1c is not stable.",
    "es": "Considerar el inicio de una terapia dual con Metformina y otro fármaco oral cuando la HbA1c no sea estable.",
    "de": "Erwägen Sie, eine Doppeltherapie mit Metformin und einem anderen oralen Medikament zu beginnen, wenn der HbA1c-Wert nicht stabil ist.",
    "ro": "Luați în considerare începerea terapiei duale cu metformină și un alt medicament oral atunci când HbA1c nu este stabil."
  },
  "indicator": "info",
  "detail": {
    "en": "Oral dipeptidyl peptidase 4 inhibitors and SGLT2 inhibitors have few side effects and could be considered second-line drug classes in this population.",
    "es": "Los iDPP-4 y los iSGLT2 tienen pocos efectos secundarios y podrían considerarse fármacos de segunda línea en esta población.",
    "de": "Orale Dipeptidylpeptidase-4-Inhibitoren und SGLT2-Inhibitoren haben nur wenige Nebenwirkungen und könnten in dieser Population als Zweitlinien-Arzneimittelklassen angesehen werden.",
    "ro": "Inhibitorii de dipeptidil peptidaza 4 oral și inhibitorii SGLT2 au puține efecte secundare și ar putea fi considerați clase de medicamente din a doua linie la această populație."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.2 [pp. 53]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.2 [pp. 53]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.2 [S. 53]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.2 [pp. 53]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
