{
  "uuid": "diabetes-antiplatelet-medication-treatment-card-39",
  "summary": {
    "en": "Consider antiplatelet therapy in older adults with type 2 diabetes and with recent acute coronary syndrome and/or coronary stent.",
    "es": "Considere el tratamiento antiplaquetario en adultos mayores con diabetes tipo 2 y con síndrome coronario agudo reciente y/o stent coronario.",
    "de": "Erwägen Sie eine Thrombozytenaggregationshemmung bei älteren Erwachsenen mit Typ-2-Diabetes und mit kürzlich aufgetretenem akutem Koronarsyndrom und / oder Koronarstent.",
    "ro": "Luați în considerare terapia antiplachetară la adulții în vârstă cu diabet de tip 2 și cu sindrom coronarian acut recent și/sau stent coronarian."
  },
  "indicator": "info",
  "detail": {
    "en": "Older adults with type 2 diabetes and known prior cardiovascular disease should receive long-term antiplatelet therapy unless there is a clear contraindication. In those with recent acute coronary syndrome and/or coronary stent, a combination of low-dose Aspirin and Clopidogrel, or a combination of low-dose Aspirin and Prasugrel should be prescribed for 12 months after the event or procedure evaluating the bleeding risk and quality of life.",
    "es": "Los adultos mayores con diabetes de tipo 2 y enfermedad cardiovascular previa conocida deben recibir un tratamiento antiplaquetario a largo plazo, a menos que exista una contraindicación clara. En las personas con síndrome coronario agudo y/o stent coronario recientes, debe prescribirse una combinación de dosis bajas de Aspirina y Clopidogrel, o una combinación de dosis bajas de Aspirina y Prasugrel durante los 12 meses posteriores al acontecimiento o procedimiento evaluando el riesgo hemorrágico y la calidad de vida.",
    "de": "Ältere Erwachsene mit Typ-2-Diabetes und bekannten früheren Herz-Kreislauf-Erkrankungen sollten eine langfristige Thrombozytenaggregationshemmung erhalten, es sei denn, es liegt eine eindeutige Kontraindikation vor. Bei Patienten mit kürzlich aufgetretenem akutem Koronarsyndrom und/oder Koronarstent sollte eine Kombination aus niedrig dosiertem Aspirin und Clopidogrel oder einer Kombination aus niedrig dosiertem Aspirin und Prasugrel für 12 Monate nach dem Ereignis und  Bewertung des Blutungsrisikos und der Lebensqualität verschrieben werden.",
    "ro": "Seniorii cu diabet de tip 2 și boli cardiovasculare anterioare cunoscute ar trebui să primească terapie antiplachetară pe termen lung, cu excepția cazului în care există o contraindicație clară. La cei cu sindrom coronarian acut recent și/sau stent coronarian, o combinație de aspirină cu doze mici și clopidogrel sau o combinație de aspirină cu doze mici și prasugrel ar trebui să fie prescrisă timp de 12 luni după eveniment sau procedura care evaluează riscul de sângerare și calitatea vieții."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.2 [pp. 55]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.2 [pp. 55]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.2 [S. 55]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.2 [pp. 55]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
