{
  "uuid": "diabetes-antidiabetic-medication-treatment-card-33",
  "summary": {
    "en": "Consider either starting triple therapy or starting insulin-based treatment.",
    "es": "Considere iniciar una triple terapia o un tratamiento basado en insulina.",
    "de": "Erwägen Sie, entweder eine Dreifachtherapie zu beginnen oder eine insulinbasierte Behandlung zu beginnen.",
    "ro": "Luați în considerare fie să începeți tripla terapie, fie să începeți tratamentul pe bază de insulină."
  },
  "indicator": "info",
  "detail": {
    "en": "For adults with type 2 diabetes, if dual therapy with Metformin and another oral drug has not continued to control HbA1c to below the person's individually agreed threshold for further intervention, consider either triple therapy by adding a dipeptidyl peptidase 4 inhibitors (DPP-4), an SGLT2 inhibitor or a Sulfonylurea/Secretagogues, or start insulin-based treatment.",
    "es": "En adultos con diabetes tipo 2, si la terapia dual con Metformina y otro fármaco oral no ha seguido controlando la HbA1c por debajo del umbral acordado individualmente, considere la posibilidad de una terapia triple añadiendo un iDPP-4, iSGLT2 o una Sulfonilurea/Secretagogos, o inicie un tratamiento basado en insulina.",
    "de": "Wenn bei Erwachsenen mit Typ-2-Diabetes die doppelte Therapie mit Metformin und einem anderen oralen Arzneimittel den HbA1c-Wert nicht weiter unter den individuell vereinbarten Schwellenwert gesenkt hat, sollten Sie entweder eine Dreifachtherapie durch Zugabe eines Dipeptidylpeptidase-4-Hemmers (DPP-4), eines SGLT2-Inhibitors oder eines Sulfonylharnstoffs/Sekretagogons in Betracht ziehen oder eine insulinbasierte Behandlung beginnen.",
    "ro": "Pentru adulții cu diabet zaharat de tip 2, dacă terapia dublă cu metformină și un alt medicament oral nu a reușit să controleze HbA1c până sub pragul convenit al persoanei pentru o intervenție suplimentară, luați în considerare fie tripla terapie prin adăugarea unui dipeptidil peptidază 4 inhibitori (DPP-4), un inhibitor SGLT2 sau o sulfoniluree/secretagogii sau începe tratamentul pe bază de insulină."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.2 [pp. 54]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.2 [pp. 54]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.2 [S. 54]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.2 [pp. 54]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
