{
  "uuid": "diabetes-cholesterol-lowering-medication-treatment-card-24",
  "summary": {
    "en": "Consider prescribing Statin unless contraindicated or not tolerated in complex/intermediate patients.",
    "es": "Considerar la prescripción de estatinas a menos que estén contraindicadas o no se toleren en pacientes complejos/intermedios.",
    "de": "Erwägen Sie die Verschreibung von Statin, es sei denn, dies ist bei komplexen/intermediären Patienten kontraindiziert oder wird nicht vertragen.",
    "ro": "Luați în considerare prescrierea statinelor, cu excepția cazurilor în care este contraindicată sau nu  este tolerată la pacienții complecși/intermediari."
  },
  "indicator": "info",
  "detail": {
    "en": "Complex/intermediate patients refer to patients with multiple coexisting chronic illnesses (conditions that are serious enough to require medications or lifestyle management and may include arthritis, cancer, congestive heart failure, depression, emphysema, falls, hypertension, incontinence, stage 3 or worse chronic kidney disease, myocardial infarction, and stroke) or ≥ 2 IADL impairments or mild-to-moderate cognitive impairment. “Multiple” means at least three, but many patients may have five or more.",
    "es": "Los pacientes complejos/intermedios se refieren a pacientes con múltiples enfermedades crónicas coexistentes (afecciones que son lo suficientemente graves como para requerir medicación o control del estilo de vida y que pueden incluir artritis, cáncer, insuficiencia cardíaca congestiva, depresión, enfisema, caídas, hipertensión, incontinencia, enfermedad renal crónica en estadio 3 o peor, infarto de miocardio y accidente cerebrovascular) o discapacidad en ≥ 2 de las AIVD o deterioro cognitivo de leve a moderado. \"Múltiples\" significa al menos tres, pero muchos pacientes pueden tener cinco o más.",
    "de": "Komplexe/intermediäre Patienten meint  Patienten mit mehreren koexistierenden chronischen Erkrankungen (Erkrankungen, die schwerwiegend genug sind, um Medikamente oder Lebensstilmanagement zu erfordern und Arthritis, Krebs, Herzinsuffizienz, Depression, Emphysem, Stürze, Bluthochdruck, Inkontinenz, chronische Nierenerkrankung im Stadium 3 oder schlimmer, Myokardinfarkt und Schlaganfall) oder ≥ 2 IADL-Beeinträchtigungen oder leichte bis mittelschwere kognitive Beeinträchtigungen. \"Mehrere\" bedeutet mindestens drei, aber viele Patienten können fünf oder mehr Erkrankungen haben.",
    "ro": "Pacienții complecși/intermediari se referă la pacienții cu multiple boli cronice coexistente (afecțiuni suficient de grave pentru a necesita medicamente sau gestionarea stilului de viață, ce pot include artrită, cancer, insuficiență cardiacă congestivă, depresie, emfizem, căderi, hipertensiune arterială, incontinență, Boală Renală Cronică in stadiu 3 sau mai avansat, infarctul miocardic și accidentul vascular cerebral), ≥ 2 deficiențe IADL sau deficiențe cognitive ușoare până la moderate. „Multiple” înseamnând cel puțin trei, cu toate că mulți pacienți pot avea cinci sau mai multe."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1, Table 3 [pp. 50]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1, Tabla 3 [pp. 50]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1, Tabelle 3 [S. 50]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1, Tabelul 3 [pp. 50]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
