{
  "uuid": "diabetes-cholesterol-lowering-medication-treatment-card-23",
  "summary": {
    "en": "Consider prescribing Statin based on likelihood of benefit in patients with very complex/poor health.",
    "es": "Considerar la prescripción de estatinas basándose en la probabilidad de beneficio en pacientes con salud muy compleja/pobre.",
    "de": "Erwägen Sie die Verschreibung von Statin basierend auf der Wahrscheinlichkeit eines Nutzens bei Patienten mit sehr komplexem/schlechtem Gesundheitszustand.",
    "ro": "Luați în considerare prescrierea statinelor pentru pacienții cu sănătate precară/afecțiuni complexe pe baza probabilității de a aduce beneficii."
  },
  "indicator": "info",
  "detail": {
    "en": "Patients with very complex/poor health refers to patients having long term care or end-stage chronic illnesses (such as stage 3-4 heart failure or oxygen-dependent lung disease, chronic kidney disease requiring dialysis, or uncontrolled metastatic cancer) or moderate-to-severe cognitive impairment or >2 ADL impairments.",
    "es": "Los pacientes con un estado de salud muy complejo/deficiente se refieren a pacientes con cuidados a largo plazo o enfermedades crónicas en fase terminal (como insuficiencia cardiaca en estadio 3-4 o enfermedad pulmonar dependiente de oxígeno, enfermedad renal crónica que requiere diálisis o cáncer metastásico no controlado) o deterioro cognitivo de moderado a grave o discapacidad en >2 de las AVD.",
    "de": "Patienten mit sehr komplexem/schlechtem Gesundheitszustand meint  Patienten mit Langzeitpflege oder chronischen Erkrankungen im Endstadium (z. B. Herzinsuffizienz im Stadium 3-4 oder sauerstoffabhängige Lungenerkrankung, chronische Nierenerkrankung, die eine Dialyse erfordert, oder unkontrollierter metastasierender Krebs) oder mittelschweren bis schweren kognitiven Beeinträchtigungen oder >2 ADL-Beeinträchtigungen.",
    "ro": "Pacienții cu sănătate precară/afecțiuni complexe se referă la pacienții care se află sub îngrijire pe termen lung sau suferă de boli cronice în stadiu teminal (cum ar fi insuficiența cardiacă în stadiul 3-4, boala pulmonară dependentă de oxigen, boala renală cronică care necesită dializă sau cancer metastatic necontrolat), depreciere cognitivă moderată spre severă, sau mai mult de două deficiențe ADL."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1, Table 3 [pp. 50]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1, Tabla 3 [pp. 50]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1, Tabelle 3 [S. 50]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1, Tabelul 3 [pp. 50]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
