{
  "uuid": "diabetes-other-medication-treatment-card-43",
  "summary": {
    "en": "Consider starting antidepressant medication for depression.",
    "es": "Considere iniciar tratamiento antidepresivo para la depresión.",
    "de": "Erwägen Sie, Antidepressiva gegen Depressionen einzusetzen.",
    "ro": "Luați în considerare începerea terapiei cu medicamente antidepresive pentru tratamentul depresiei."
  },
  "indicator": "info",
  "detail": {
    "en": "Cognitive behaviour therapy can be used to treat depression in individuals with depression, alone or in combination with antidepressant medication, for maintenance treatment to prevent recurrence of depression (red and orange guidelines).",
    "es": "La terapia cognitivo-conductual puede utilizarse para tratar la depresión en individuos con depresión, sola o en combinación con medicación antidepresiva, como tratamiento de mantenimiento para prevenir la recurrencia de la depresión.",
    "de": "Die kognitive Verhaltenstherapie kann zur Behandlung von Depressionen allein oder in Kombination mit Antidepressiva zur Erhaltungstherapie eingesetzt werden, um ein Wiederauftreten der Depression zu verhindern (rote und orangefarbene Leitlinien).",
    "ro": "Terapia cognitiv-comportamentală poate fi utilizată pentru a trata depresia la indivizii cu depresie, singură sau în combinație cu medicamente antidepresive, pentru tratamentul de întreținere pentru a preveni reapariția depresiei (ghiduri roșii și portocalii)."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.1 [pp. 46]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.1 [pp. 46]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.1 [S. 46]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.1 [pp. 46]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
