{
  "uuid": "diabetes-antiplatelet-medication-treatment-card-41",
  "summary": {
    "en": "Consider antiplatelet therapy older adults with type 2 diabetes and with a history of coronary artery disease, but no acute event in the past 12 months.",
    "es": "Considerar la terapia antiplaquetaria adultos mayores con diabetes tipo 2 y con antecedentes de enfermedad arterial coronaria, pero sin eventos agudos en los últimos 12 meses.",
    "de": "Erwägen Sie eine Thrombozytenaggregationshemmung bei älteren Erwachsenen mit Typ-2-Diabetes und koronarer Herzkrankheit in der Vorgeschichte, aber ohne akutes Ereignis in den letzten 12 Monaten.",
    "ro": "Luați în considerare terapia antiplachetară adulți mai în vârstă cu diabet zaharat de tip 2 și cu antecedente de boală coronariană, dar niciun eveniment acut în ultimele 12 luni."
  },
  "indicator": "info",
  "detail": {
    "en": "Older adults with type 2 diabetes and known prior cardiovascular disease should receive long- term antiplatelet therapy unless there is a clear contraindication.Those with a history of coronary artery disease, but no acute event in the past 12 months, should receive long-term low-dose Aspirin, or long-term Clopidogrel if intolerant to Aspirin.",
    "es": "Los adultos mayores con diabetes de tipo 2 y enfermedad cardiovascular previa conocida deben recibir un tratamiento antiagregante plaquetario a largo plazo, a menos que exista una contraindicación clara. Aquellos con antecedentes de enfermedad arterial coronaria, pero sin ningún episodio agudo en los últimos 12 meses, deben recibir Aspirina a dosis bajas a largo plazo, o Clopidogrel a largo plazo si no toleran la Aspirina.",
    "de": "Ältere Erwachsene mit Typ-2-Diabetes und bekannten früheren Herz-Kreislauf-Erkrankungen sollten eine langfristige Thrombozytenaggregationshemmung erhalten, es sei denn, es liegt eine eindeutige Kontraindikation vor. Diejenigen mit einer koronaren Herzkrankheit in der Vorgeschichte, aber ohne akutes Ereignis in den letzten 12 Monaten, sollten langfristig niedrig dosiertes Aspirin oder langfristiges Clopidogrel erhalten, wenn sie Aspirin nicht vertragen.",
    "ro": "Adulții mai în vârstă cu diabet zaharat de tip 2 și boli cardiovasculare anterioare cunoscute ar trebui să primească terapie antiplachetară pe termen lung, cu excepția cazului în care există o contraindicație clară. Cei cu antecedente de boală coronariană, dar niciun eveniment acut în ultimele 12 luni, ar trebui să primească pe termen lung scăzut aspirină în doze mici, sau clopidogrel pe termen lung dacă sunt intoleranți la aspirină."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.2 [pp. 55]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.2 [pp. 55]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.2 [S. 55]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.2 [pp. 55]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
