{
  "uuid": "diabetes-antidiabetic-medication-treatment-card-34",
  "summary": {
    "en": "Information on starting Insulin therapy.",
    "es": "Información sobre el inicio del tratamiento con insulina.",
    "de": "Informationen zum Beginn der Insulintherapie.",
    "ro": "Informații despre începerea terapiei cu insulină."
  },
  "indicator": "info",
  "detail": {
    "en": "When starting insulin therapy, provide a structured program using active insulin dose titration that encompasses: injection technique including rotating injection sites and avoiding repeated injections at the same point within sites, continuing telephone support, self-monitoring, dose titration to target levels, dietary advice, managing hypoglycaemia, managing acute changes in plasma glucose control, and support from an appropriately trained and experienced healthcare professional. In these patients, continue to offer metformin when there are no contraindications or intolerance. Review the continued need for other blood glucose lowering therapies.",
    "es": "Al iniciar el tratamiento con insulina, ofrecer un programa estructurado de ajuste activo de la dosis de insulina que incluya: técnica de inyección, incluida la rotación de los puntos de inyección y la evitación de inyecciones repetidas en el mismo punto dentro de los puntos, apoyo telefónico continuo, automonitorización, ajuste de la dosis a los niveles objetivo, asesoramiento dietético, gestión de la hipoglucemia, gestión de los cambios agudos en el control de la glucosa plasmática y apoyo de un profesional sanitario con la formación y experiencia adecuadas. En estos pacientes, seguir ofreciendo metformina cuando no haya contraindicaciones o intolerancia. Revisar la necesidad continuada de otros tratamientos hipoglucemiantes.",
    "de": "Wenn Sie mit der Insulintherapie beginnen, stellen Sie ein strukturiertes Programm mit aktiver Insulindosistitration bereit, das Folgendes umfasst: Injektionstechnik einschließlich rotierender Injektionsstellen und Vermeidung wiederholter Injektionen an derselben Stelle, kontinuierliche telefonische Unterstützung, Selbstüberwachung, Dosistitration auf Zielwerte, Ernährungsberatung, Behandlung von Hypoglykämie, Behandlung akuter Veränderungen der Plasmaglukosekontrolle und Unterstützung durch ein entsprechend ausgebildetes und erfahrenes medizinisches Fachpersonal. Bieten Sie bei diesen Patienten weiterhin Metformin an, wenn keine Kontraindikationen oder Unverträglichkeiten vorliegen. Überprüfen Sie den anhaltenden Bedarf an anderen blutzuckersenkenden Therapien.",
    "ro": "Când începeți terapia cu insulină, furnizați un program structurat folosind o titrare activă a dozei de insulină care cuprinde: tehnica de injecție, inclusiv evitarea injecțiilor repetate în același loc, continuarea suportului telefonic, gestionarea hipoglicemiei, gestionarea schimbărilor acute în controlul plasmatic al glucozei și sprijinul unui profesionist în domeniul sănătății instruit și experimentat corespunzător. La acești pacienți, continuați să oferiți metformină atunci când nu există contraindicații sau intoleranță. Examinați nevoia continuă a altor terapii de scădere a glicemiei."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1, 13.3.2 [pp. 53-54]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1, 13.3.2 [pp. 53-54]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1, 13.3.2 [S. 53-54]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1, 13.3.2 [pp. 53-54]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
