{
  "uuid": "ckd-risk-card-score",
  "summary": {
    "en": "Patient's CKD risk is estimated as {{risk}} according to ACR and eGFR values.",
    "es": "El riesgo de ERC del paciente se estima como {{risk}} según los valores de ACR y eGFR.",
    "de": "Das CKD-Risiko des Patienten wird anhand der ACR- und eGFR-Werte als {{risk}} geschätzt.",
    "ro": "Riscul pacientului de BRC este estimat ca {{risk}} potivit valorilor raportului albumină-creatinină (ACR) și rata de filtrare glomerulară (eGFR)."
  },
  "indicator": "info",
  "detail": {
    "en": "Since the patient's albuminuria category is {{acrCategory}} and GFR stage is {{gfrStage}}, his/her CKD risk is estimated as {{risk}}",
    "es": "Dado que la categoría de albuminuria del paciente es {{acrCategory}} y el estadio de FGE es {{gfrStage}}, su riesgo de ERC se estima como {{risk}}.",
    "de": "Da die Albuminurie-Kategorie des Patienten {{acrCategory}} und das GFR-Stadium {{gfrStage}} ist, wird sein Risiko für eine chronische Nirenerkrankung als {{risk}} geschätzt",
    "ro": "Deoarece  albuminuria pacientului este {{acrCategory}} și stadiul eGFR este {{gfrStage}}, riscul lui/ei de BRC este estimat ca {{risk}}."
  },
  "source": {
    "label": "",
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
