{
  "uuid": "ckd-risk-card-4",
  "summary": {
    "en": "Evaluate accelerated progression of CKD.",
    "es": "Evalúe la progresión acelerada de la ERC.",
    "de": "Bewertung der beschleunigten Progression der chronischen Nierenerkrankung.",
    "ro": "Evaluează progresia accelerată a BCR."
  },
  "indicator": "info",
  "detail": {
    "en": "Accelerated progression of CKD can be considered a sustained decrease in GFR of 25% or more and a change in GFR category within 12 months, or a sustained decrease in GFR of 15 ml/min/1.73 m2 per year.",
    "es": "La progresión acelerada de la ERC puede ser considerada como una disminución mantenida de FG del 25% o más o un cambio en la categoría de FG en 12 meses, o una disminución mantenida de FG de 15ml/min/1,73m2 al año.",
    "de": "Als beschleunigtes Fortschreiten der chronischen Nierenerkrankung gilt eine anhaltende Abnahme der GFR um 25 % oder mehr und eine Änderung der GFR-Kategorie innerhalb von 12 Monaten oder eine anhaltende Abnahme der GFR um 15 ml/min/1,73 m2 pro Jahr.",
    "ro": "Progresia accelerată a BCR poate fi considerată o scădere susținută în scăderi ale eGFR peste 25% sau mai mult și o schimbare a categorier eGFR în ultimile 12 luni, sau o scădere susținută a eGFR de 15mL/min/1.73 m2 pe an."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.2 [pp. 56]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.2 [pp. 56]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.2 [PP. 56]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.2 [pp. 56]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
