{
  "uuid": "ckd-risk-card-3",
  "summary": {
    "en": "Provide ACR and eGFR values so that the system can classify CKD risk in adults using a combination of GFR (ml/min/1.73 m2) and ACR (mg/g or mg/mmol) categories.",
    "es": "Aporte los valores del cociente albúmina/creatinina en orina y FGe para que el sistema pueda clasificar el riesgo de ERC en adultos empleando una combinación de categorías de FG (ml/min/1,73m2) y cociente albúmina/creatinina en orina (mg/g o mg/mmol).",
    "de": "Geben Sie ACR- und eGFR-Werte an, damit das System das chronische Nierenerkrankungs-Risiko bei Erwachsenen anhand einer Kombination aus GFR- (ml/min/1,73 m2) und ACR-Kategorien (mg/g oder mg/mmol) klassifizieren kann.",
    "ro": "Introduceți rezultatele de la RAC și eGFR astfel încât sistemul să clasificie riscul de BCR la pacienți folosind o combinație de factori de la eGFR (mL/min/1,73 m2) și RAC (mg/g sau mg/mmol)"
  },
  "indicator": "info",
  "detail": {
    "en": "Classify CKD risk in adults using a combination of GFR (ml/min/1.73 m2) and ACR (mg/g or mg/mmol) categories.",
    "es": "Clasifique el riesgo de ERC en adultos usando una combinación de las categorías de FG (ml/min/1,73m2) y cociente albúmina/creatinina en orina.",
    "de": "Klassifizierung des chronischen Nierenerkrankungsrisikos bei Erwachsenen anhand einer Kombination aus GFR (ml/min/1,73 m2) und ACR-Kategorien (mg/g oder mg/mmol).",
    "ro": "Clasifică risc BCR la pacienți folosind o combinație de factori de la eGFR (mL/min/1,73 m2) și RAC (mg/g sau mg/mmol)"
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.1 [pp. 56]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.1 [pp. 56]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.1 [PP. 56]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.1 [pp. 56]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
