{
  "uuid": "vivifrail-exercise-information-card-1",
  "summary": {
    "en": "Consider assigning VIVIFRAIL exercise programme to the patient.",
    "es": "Considere asignar el programa de ejercicio VIVIFRAIL al paciente.",
    "de": "Erwägen Sie, dem Patienten ein ViviFrail -Trainingsprogramm zuzuweisen.",
    "ro": "Luați în considerare recomandarea programului de exerciții Vivifrail pacientului."
  },
  "indicator": "info",
  "detail": {
    "en": "Structured exercise programs supervised by qualified trainers should be implemented when feasible for multimorbid older adult with cognitive impairment to improve physical fitness and quality of life. VIVIFRAIL or Otago programs may be suitable for this population. This may improve physical fitness, reduce risk of falls by training of equilibrium and quality of life.",
    "es": "Los programas de ejercicio estructurado supervisados por entrenadores cualificados deben aplicarse cuando sea factible en adultos mayores con multimorbilidad y deterioro cognitivo para mejorar la forma física y la calidad de vida. Los programas VIVIFRAIL u Otago pueden ser adecuados para esta población. Esto puede mejorar la forma física, reducir el riesgo de caídas mediante el entrenamiento del equilibrio y la calidad de vida.",
    "de": "Strukturierte Trainingsprogramme, die von qualifizierten Trainern beaufsichtigt werden, sollten implementiert werden, wenn sie für multimorbide ältere Erwachsene mit kognitiven Beeinträchtigungen möglich sind, um die körperliche Fitness und Lebensqualität zu verbessern. ViviFrail- oder Otago -Programme können für diese Bevölkerung geeignet sein. Dies kann die körperliche Fitness verbessern und das Sturzrisiko durch Gleichgewichtstraining verringern  und die  Lebensqualität erhöhen.",
    "ro": "Programele de exerciții structurate supravegheate de formatori calificați ar trebui să fie implementate atunci când este posibil pentru adulții în vârstă multimorbizi, cu deficiență cognitivă, pentru a îmbunătăți starea fizică și calitatea vieții. Programele Vivifrail sau Otago sunt potrivite pentru această categorie de populație. Acestea pot îmbunătăți starea fizică și pot reduce riscul de cădere prin formarea echilibrului și calitatea vieții."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 6.1.1 [pp. 25]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 6.1.1 [pp. 25]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 6.1.1 [PP. 25]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 6.1.1 [pp. 25]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
