{
  "uuid": "vivifrail-exercise-information-card-4",
  "summary": {
    "en": "You have to choose 3 exercise days.",
    "es": "Tienes que elegir 3 días de ejercicio.",
    "de": "Sie müssen 3 Übungstage wählen.",
    "ro": "Trebuie să alegi 3 zile de exercițiu."
  },
  "indicator": "info",
  "detail": {
    "en": "Three exercise days should be chosen. The patient will only engage in walking exercises on the remaining days.",
    "es": "Deberían elegirse tres días de ejercicio. El paciente solo realizará ejercicios de caminata en los días restantes.",
    "de": "Drei Übungstage sollten ausgewählt werden. Der Patient wird an den übrigen Tagen nur Gehübungen machen.",
    "ro": "Trebuie să fie alese trei zile de exerciții. Pacientul va face doar exerciții de mers pe jos în restul zilelor."
  },
  "source": {
    "label": "",
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
