{
  "uuid": "hypertension-medication-card-17",
  "summary": {
    "en": "Treatment with ACE inhibitor in hypertensive CKD patients.",
    "es": "Tratamiento con IACE en pacientes hipertensos con ERC.",
    "de": "Behandlung mit ACE -Inhibitor bei hypertensiven, chronisch nierenerkrankten  (CKD) -Patienten.",
    "ro": "Tratament cu inhibitor EAC la pacienții cu BRC hipertensivă."
  },
  "indicator": "info",
  "detail": {
    "en": "In those with CKD (stage 3 or higher or stage 1 or 2 with albuminuria [≥300 mg/d, or ≥300 mg/g albumin-to-creatinine ratio or the equivalent in the first morning void]), treatment with an ACE inhibitor is reasonable to slow kidney disease progression.",
    "es": "En aquellos con (i) ERC grado 3 o superior, o (ii) ERC grado 1 o 2  con albuminuria [≥300 mg/d, o ≥300 mg/g índice albúmina-creatinina o equivalente en la primera orina de la mañana], es razonable el tratamiento con un IACE para disminuir la progresión de la enfermedad renal.",
    "de": "Für Personen mit (i) CKD Stufe 3 oder höher oder (ii) CKD-Stufe 1 oder 2 mit Albuminurie [≥ 300 mg/d oder ≥ 300 mg/g Albumin-zu-Creatinin-Verhältnis oder das Äquivalent im ersten Morgenurin] ist die Behandlung mit einem ACE -Inhibitor zur Verlangsamung der Progression von Nierenerkrankungen anzuraten.",
    "ro": "La cei cu (i) BRC în stadiul 3 sau mai mare, sau (II) BRC în stadiul 1 sau 2 cu albuminurie [≥300 mg/d sau ≥300 mg/g raport albumină-creatinină sau echivalentul din prima urinare de dimineață], tratamentul cu un inhibitor EAC este rezonabil pentru a încetini progresia bolii renale."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.1 [pp. 42]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.1 [pp. 42]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.1 [S. 42]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.3.1 [pp. 42]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
