{
  "uuid": "hypertension-medication-card-39",
  "summary": {
    "en": "Possible side effects for Beta-Blockers.",
    "es": "Posibles efectos secundarios de los betabloqueantes.",
    "de": "Mögliche Nebenwirkungen von Beta-Blockern.",
    "ro": "Posibile efecte secundare pentru beta-blocante."
  },
  "indicator": "info",
  "detail": {
    "en": "Beta-blockers has possible side effects for the patients with Metabolic syndrome, Glucose intolerance or High physically active patients.",
    "es": "Los betabloqueantes pueden tener efectos secundarios en pacientes con síndrome metabólico, intolerancia a la glucosa o pacientes con elevada actividad física.",
    "de": "Beta-Blocker haben mögliche Nebenwirkungen für Patienten mit metabolischem Syndrom, Glukoseunverträglichkeit oder bei körperlich sehr aktiven Patienten.",
    "ro": "Beta-blocantele au efecte secundare posibile pentru pacienții cu sindrom metabolic, intoleranță la glucoză sau pacienți cu activitate fizică ridicată."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, Table 2",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente,  Capítulo 12.3.2, Tabla 2",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, Tabelle 2",
      "ro": "Ghidul holistic al celor mai bune practici centrate pe pacient, Capitolul 12.3.2, Tabelul 2"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
