{
  "uuid": "hypertension-medication-card-16",
  "summary": {
    "en": "Harmful simultaneous use of an ACE inhibitor, ARB, and/or renin inhibitor.",
    "es": "Uso dañino simultáneo de un IACE, ARA-II y/o inhibidor de la renina.",
    "de": "Schädliche gleichzeitige Verwendung eines ACE -Inhibitors, ARB und/oder Renin -Inhibitors.",
    "ro": "Utilizarea simultană dăunătoare a unui inhibitor EAC (enzimă angiotensin convertaza), ARB (blocator de receptori ai angiotensinei II) și/sau de renină."
  },
  "indicator": "info",
  "detail": {
    "en": "Simultaneous use of an ACE inhibitor, ARB, and/or renin inhibitor is potentially harmful and is not recommended to treat adults with hypertension.",
    "es": "El uso simultáneo de un IACE, ARA-II y/o inhibidor de la renina es potencialmente dañino y no se recomienda como tratamiento en adultos con hipertensión.",
    "de": "Die gleichzeitige Verwendung eines ACE -Inhibitoren, ARB und/oder Renin -Inhibitoren ist potenziell schädlich. Es wird nicht empfohlen, Erwachsene mit Bluthochdruck damit zu behandeln.",
    "ro": "Utilizarea simultană a unui inhibitor EAC, ARB și/sau inhibitor al reninei este potențial dăunător și nu este recomandat pentru tratamentul adulților cu hipertensiune arterială."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.1 [pp. 42]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.1 [pp. 42]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.1 [S. 42]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.3.1 [pp. 42]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
