{
  "uuid": "hypertension-medication-card-49",
  "summary": {
    "en": "Careful administration of NSAIDs.",
    "es": "Administración cuidadosa de AINEs.",
    "de": "Sorgfältige Verabreichung von NSAIDs.",
    "ro": "Administrarea atentă a AINS."
  },
  "indicator": "info",
  "detail": {
    "en": "Non-steroidal anti-inflammatory drugs (NSAIDs) raise the BP, mainly in this population of older adults, and antagonize the antihypertensive effects of diuretics, Beta-blockers, ACE inhibitors and ARB. Therefore, these drugs must be carefully administered.",
    "es": "Los antiinflamatorios no esteroideos (AINE) elevan la TA, principalmente en esta población de adultos mayores, y antagonizan los efectos antihipertensivos de diuréticos, betabloqueantes, IACE y ARA-II. Por lo tanto, estos medicamentos deben administrarse cuidadosamente.",
    "de": "Nichtsteroidale entzündungshemmende Medikamente (NSAIDs) erhöhen den Blutdruck, hauptsächlich bei älteren Erwachsenen, und antagonisieren die blutdrucksenkenden Wirkungen von Diuretika, Beta-Blockern, ACE-Inhibitoren und ARB. Daher müssen diese Medikamente sorgfältig verabreicht werden.",
    "ro": "Medicamentele antiinflamatoare nesteroidiene (AINS) cresc tensiunea arterială, în special la adulții în vârstă, și antagonizează efectele antihipertensive ale diureticelor, beta-blocanților, inhibitorilor ACE și ARB. Prin urmare, aceste medicamente trebuie administrate cu atenție."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, [pp. 43]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.2, [pp. 43]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, [pp. 43]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.3.2, [pp. 43]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
