{
  "uuid": "hypertension-medication-card-15",
  "summary": {
    "en": "Monitor increased risk of adverse events (e.g. injurious falls).",
    "es": "Monitorice un mayor riesgo de eventos adversos (por ejemplo, caídas perjudiciales).",
    "de": "Überwachen Sie ein erhöhtes Risiko von unerwünschten Ereignissen (z. B. Verletzungen, Sturz).",
    "ro": "Monitorizați riscul crescut de evenimente (de exemplu, căderi)."
  },
  "indicator": "info",
  "detail": {
    "en": "The impact of BP-lowering on the well-being of the patient should be closely monitored, because the increased risk of adverse events (e.g. injurious falls) with lower BP values could be more pronounced in this population.",
    "es": "El impacto de la reducción de la TA en el bienestar del paciente debe ser monitorizado estrechamente, porque el riesgo de eventos adversos (por ejemplo, caídas perjudiciales) con valores de TA más bajos podría ser más pronunciado en esta población.",
    "de": "Die Auswirkungen der RR-Senkung auf das Wohlbefinden des Patienten sollten genau überwacht werden, da das erhöhte Risiko für unerwünschte Ereignisse (z. B. Sturz, Verletzungen) mit niedrigeren RR-Werten in dieser Population stärker ausgeprägt sein könnte.",
    "ro": "Impactul scăderii tesniunii arteriale asupra bunăstării pacientului trebuie monitorizată îndeaproape, deoarece riscul crescut de evenimente (de exemplu, căderi) cu valori mai mici ale tensiunii ar putea fi mai pronunțat în această categorie de populație."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.1 [pp. 41]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.1 [pp. 41]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.1 [S. 41]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.3.1 [pp. 41]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
