{
  "uuid": "hypertension-medication-card-36",
  "summary": {
    "en": "Compelling side effects for Diuretics.",
    "es": "Efectos secundarios de los diuréticos.",
    "de": "Schwere Nebenwirkungen von Diuretika.",
    "ro": "Efecte secundare convingătoare pentru diuretice."
  },
  "indicator": "info",
  "detail": {
    "en": "Diuretics (thiazides/thiazide-like, e.g., chlorthalidone and indapamide) has compelling side effects for the patients with gout.",
    "es": "Los diuréticos (tiazidas/análogos de tiazidas, por ejemplo, clortalidona e indapamida) tienen efectos secundarios en pacientes con gota.",
    "de": "Diuretika (Thiazides/Thiazid-ähnlich, z. B. Chlorthalidon und Indapamid) haben schwere Nebenwirkungen für die Patienten mit Gicht.",
    "ro": "Diureticele (asemănătoare cu tiazide/tiazidă, de exemplu, clorhalidonă și indapamidă) au efecte secundare convingătoare pentru pacienții cu gută."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, Table 2",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente,  Capítulo 12.3.2, Tabla 2",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, Tabelle 2",
      "ro": "Ghidul holistic al celor mai bune practici centrate pe pacient, Capitolul 12.3.2, Tabelul 2"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
