{
  "uuid": "hypertension-medication-card-13",
  "summary": {
    "en": "Monitor possible adverse reactions of anti-hypertensive drugs.",
    "es": "Monitorice las posibles reacciones adversas de los medicamentos antihipertensivos.",
    "de": "Überwachen Sie mögliche Nebenwirkungen von anti-hypertensiven Medikamenten.",
    "ro": "Monitorizați posibilele reacții adverse ale medicamentelor anti-hipertensive."
  },
  "indicator": "info",
  "detail": {
    "en": "The possible occurrence of adverse reactions, and with special interest postural BP, should be closely monitored and symptoms of possible hypotensive episodes should be checked by Ambulatory BP Monitoring.",
    "es": "La posible aparición de reacciones adversas, y con especial interés la TA postural, debe ser monitorizada de forma estrecha y los síntomas de posibles episodios hipotensivos deben verificarse mediante la monitorización ambulatoria de la TA.",
    "de": "Das mögliche Auftreten von Nebenwirkungen mit besonderem Augenmerk auf den posturalen Blutdruck sollte eng überwacht werden. Die Symptome möglicher Episoden niedrigen Blutdrucks sollten durch die ambulante Blutdrucküberwachung überprüft werden.",
    "ro": "Posibila apariție a reacțiilor adverse și cu un interes special hipotensiunii ortostatice, ar trebui monitorizată îndeaproape și simptomele posibilelor episoade hipotensive ar trebui verificate prin monitorizarea ambulatorie a tensiunii."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.1 [pp. 41-42]",
      "es": "Guía de mejores prácticas de CAREPATH centrada en el paciente, Capítulo 12.3.1 [pp. 41-42]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.1 [S. 41-42]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.3.1 [pp. 41-42]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
