{
  "uuid": "hypertension-medication-card-14",
  "summary": {
    "en": "Monitor hypotensive effects of concomitant use of other appropriate anti-hypertensive drugs.",
    "es": "Monitorice los efectos hipotensores del uso concomitante de otros medicamentos antihipertensivos apropiados.",
    "de": "Überwachen Sie die hypotensiven Wirkungen der gleichzeitigen Anwendung anderer geeigneter antihypertensiver Medikamente.",
    "ro": "Monitorizați efectele hipotensive ale utilizării concomitente a altor medicamente anti-hipertensive adecvate."
  },
  "indicator": "info",
  "detail": {
    "en": "The concomitant use of other appropriate antihypertensive drugs that may elevate the hypotensive effects should be monitored.",
    "es": "Se debe monitorizar el uso concomitante de otros medicamentos antihipertensivos apropiados que pueden aumentar los efectos hipotensores.",
    "de": "Die gleichzeitige Verwendung anderer geeigneter blutdrucksenkender Medikamente, die die blutdrucksenkenden Wirkungen erhöhen können, sollte überwacht werden.",
    "ro": "Utilizarea concomitentă a altor medicamente antihipertensive adecvate care pot crește efectele hipotensive ar trebui monitorizată."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.1 [pp. 42]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.1 [pp. 42]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.1 [S. 42]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.3.1 [pp. 42]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
