{
  "uuid": "hypertension-medication-card-46",
  "summary": {
    "en": "Compelling side effects for Beta and αβ-blockers.",
    "es": "Efectos secundarios de los beta y αβ bloqueantes",
    "de": "Schwere Nebenwirkungen von Beta- und αβ-Blocker.",
    "ro": "Efecte secundare convingătoare pentru beta și αβ-blocante."
  },
  "indicator": "info",
  "detail": {
    "en": "In hypertensive patients with bronchial asthma, Beta and αβ-blockers should be avoided.",
    "es": "En pacientes hipertensos con asma bronquial, se deben evitar los beta y αβ bloqueantes.",
    "de": "Bei hypertensiven Patienten mit Bronchial-Asthma sollten Beta- und αβ-Blocker vermieden werden.",
    "ro": "La pacienții hipertensivi cu astm bronșic, beta și αβ-blocante trebuie evitați."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, [pp. 42]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.2, [pp. 42]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, [pp. 42]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.3.2, [pp. 42]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
