{
  "uuid": "hypertension-medication-card-45",
  "summary": {
    "en": "Possible side effects for Alfa-blockers.",
    "es": "Posibles efectos secundarios de los alfabloqueantes",
    "de": "Mögliche Nebenwirkungen von Alfa-Blockern.",
    "ro": "Posibile efecte secundare pentru blocarea alfa."
  },
  "indicator": "info",
  "detail": {
    "en": "Alfa-blockers has possible side effects for the patients with Orthostatic hypotension.",
    "es": "Los alfabloqueantes pueden tener efectos secundarios en pacientes con hipotensión ortostática.",
    "de": "Alfa-Blocker haben mögliche Nebenwirkungen für die Patienten mit orthostatischer Hypotonie.",
    "ro": "Alfa-blocante are efecte secundare posibile pentru pacienții cu hipotensiune arterială ortostatică."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, Table 2",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.2, Tabla 2",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, Tabelle 2",
      "ro": "Ghidul holistic al celor mai bune practici centrate pe pacient, Capitolul 12.3.2, Tabelul 2"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
