{
  "uuid": "hypertension-medication-card-41",
  "summary": {
    "en": "Compelling side effects for Calcium channel blockers (non-dihydropyridines).",
    "es": "Efectos secundarios de los antagonistas de calcio (no dihidropiridinas).",
    "de": "Schwere Nebenwirkungen von Calciumkanalblockern (Nicht-Dihydropyridine).",
    "ro": "Efecte secundare convingătoare pentru blocanții canalului de calciu (non-dihidropiridine)."
  },
  "indicator": "info",
  "detail": {
    "en": "Calcium channel blockers (non-dihydropyridines) has compelling side effects for the patients with Severe LV dysfunction (LV ejection fraction &#60;40%) or any high-grade sinoatrial or A-V block, or bradycardia (heart rate &#60;60 beats per min).",
    "es": "Los antagonistas de calcio (no dihidropiridínicos) tienen efectos secundarios en pacientes con disfunción severa del ventrículo izquierdo (fracción de eyección del VI &#60;40%) o cualquier bloqueo de alto grado sinoauricular o A-V, o bradicardia (frecuencia cardíaca &#60;60 latidos por minuto).",
    "de": "Calciumkanalblocker (nicht-Dihydropyridine) haben schwere Nebenwirkungen für Patienten mit schwerer LV-Dysfunktion (LV-Ejektionsfraktion &#60;40%) oder hochgradigem Sinoatrial- oder A-V-Block oder Bradykardie (Herzfrequenz &#60;60 Schläge pro min).",
    "ro": "Blocanții de canal de calciu (non-dihidropiridine) au efecte secundare convingătoare pentru pacienții cu disfuncție LV severă (fracție de ejecție a LV &#60;40%) sau orice bloc sinoatrial sau A-V de înaltă calitate sau bradicardie (frecvență cardiacă &#60;60 bătăi pe minut)."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, Table 2",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente,  Capítulo 12.3.2, Tabla 2",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, Tabelle 2",
      "ro": "Ghidul holistic al celor mai bune practici centrate pe pacient, Capitolul 12.3.2, Tabelul 2"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
