{
  "uuid": "mci-md-dementia-profile-card-4",
  "summary": {
    "en": "Patient is considered at high risk for dementia as his/her gait speed is below 0.8 m/s.",
    "es": "El paciente se considera con alto riesgo de demencia, ya que su velocidad de marcha es inferior a 0,8 m/s.",
    "de": "Ein Patient, dessen Ganggeschwindigkeit unter 0,8 m/sec liegt, hat ein hohes Demenzrisiko.",
    "ro": "Pacientul este considerat cu un risc ridicat de demență, deoarece viteza de mers este sub 0,8 m/s."
  },
  "indicator": "info",
  "detail": {
    "en": "There is strong evidence that slower gait speed is associated with future dementia, in population studies. When gait speed (cut-off gait speed below 0.8 m/s) is coupled with cognitive impairment (subjective or objective) the risk is higher.",
    "es": "Existe una fuerte evidencia de que una velocidad de marcha más lenta se asocia con futura demencia en estudios de poblacionales. Cuando la velocidad de la marcha (velocidad inferior a 0.8 m/s) se combina con el deterioro cognitivo (subjetivo u objetivo), el riesgo es mayor.",
    "de": "Es gibt klare Hinweise darauf, dass eine langsamere Ganggeschwindigkeit mit einer zukünftigen Demenz assoziiert ist. Wenn die Ganggeschwindigkeit (Grenzgeschwindigkeit unter 0,8 m/s) mit kognitiver Beeinträchtigung (subjektiv oder objektiv) gekoppelt ist, ist das Risiko höher.",
    "ro": "Există dovezi puternice că viteza de mers mai lentă este asociată cu demența viitoare, în studiile făcute pe populație. Atunci când viteza de mers (viteza de mers redusă, sub 0,8 m/s) este cuplată cu deficiență cognitivă (subiectivă sau obiectiv), riscul este mai mare."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.1 [pp. 19].\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.1 [pp. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.1 [PP. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.1 [pp. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
