{
  "uuid": "mci-md-assessment-card-5",
  "summary": {
    "en": "Assess for the presence of functional impairment related to cognition before giving a diagnosis of dementia.",
    "es": "Evaluar la presencia de deterioro funcional relacionado con situación cognitiva antes de dar un diagnóstico de demencia.",
    "de": "Bewerten Sie das Vorhandensein einer funktionellen Beeinträchtigung im Zusammenhang mit der Wahrnehmung, bevor sie die Diagnose Demenz stellen.",
    "ro": "Evaluați prezența deficienței funcționale legate de cogniție înainte de a da un diagnostic de demență."
  },
  "indicator": "info",
  "detail": {
    "en": "For patients with Mild Cognitive Impairment (MCI), clinicians should assess for the presence of functional impairment related to cognition before giving a diagnosis of dementia and a medical evaluation for MCI risk factors that are potentially modifiable.",
    "es": "En los pacientes con deterioro cognitivo leve (DCL), el médico debe evaluar la presencia de deterioro funcional relacionado con la situación cognitiva antes de dar un diagnóstico de demencia y una evaluación médica de los factores de riesgo de DCL potencialmente modificables.",
    "de": "Bei Patienten mit leichter kognitiver Beeinträchtigung (MCI) sollten Kliniker das Vorhandensein von funktionellen Beeinträchtigungen im Zusammenhang mit der Wahrnehmung beurteilen, bevor die Demenz diagnostiziert wird, und eine medizinische Bewertung für MCI -Risikofaktoren vornehmen, die potenziell modifizierbar sind.",
    "ro": "Pentru pacienții cu deficiență cognitivă ușoară (MCI), clinicienii ar trebui să evalueze prezența deficienței funcționale legate de cogniție înainte de a da un diagnostic de demență și o evaluare medicală pentru factori de risc MCI care sunt potențial modificabili."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.1 [pp. 19].\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.1 [pp. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.1 [PP. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.1 [pp. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
