{
  "uuid": "mci-md-assessment-card-8",
  "summary": {
    "en": "Consider assessment for behavioural and neuropsychiatric symptoms, and treat with both pharmacologic and nonpharmacologic approaches when indicated.",
    "es": "Considerar la evaluación de los síntomas conductuales y neuropsiquiátricos, y tratarlos con enfoques farmacológico y no farmacológico cuando esté indicado.",
    "de": "Erwägen Sie die Bewertung der Verhaltens- und neuropsychiatrischen Symptome und behandeln Sie diese sowohl nach pharmakologischen als auch nichtpharmakologische Ansätzen, wenn es indiziert ist.",
    "ro": "Luați în considerare evaluarea simptomelor comportamentale și neuropsihiatrice și tratați atât cu abordările farmacologice, cât și cele nefarmacologice atunci când este indicat."
  },
  "indicator": "info",
  "detail": {
    "en": "In older adults with MCI, recommend cognitive interventions when considered. Assess for behavioural and neuropsychiatric symptoms in MCI and mild dementia, and treat with both pharmacologic and nonpharmacologic approaches when indicated. As initial and ongoing management, offer psychosocial and environmental interventions to reduce distress in people living with MCI or dementia.",
    "es": "En las personas mayores con DCL, recomiende intervenciones a nivel cognitivo cuando lo considere. Evalúe los síntomas conductuales y neuropsiquiátricos en el DCL y demencia leve, y trate con enfoques farmacológicos y no farmacológicos cuando se indique. Como gestión inicial y continua, ofrezca intervenciones psicosociales y del ambiente para reducir el malestar en las personas que presenten DCL o demencia.",
    "de": "Bei älteren Erwachsenen mit MCI werden ggf. kognitive Interventionen empfohlen. Erwägen Sie die Bewertung der Verhaltens- und neuropsychiatrischen Symptome und behandeln Sie diese sowohl nach pharmakologischen als auch nichtpharmakologischen Ansätzen, wenn es indiziert ist.\nBieten Sie als anfängliches und fortlaufendes Management psychosoziale Interventionen des Umfelds an, um die Belastung bei Menschen mit MCI oder Demenz zu verringern.",
    "ro": "La adulții în vârstă cu MCI, recomandați intervenții cognitive atunci când considerați necesar. Evaluați simptomele comportamentale și neuropsihiatrice în MCI și demență ușoară și tratați atât cu abordări farmacologice, cât și nonfarmacologice, atunci când este indicat. Ca management inițial și continuu, oferiți intervenții psihosociale și de modificare a mediului ambiant pentru a reduce suferința la persoanele care trăiesc cu MCI sau demență."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.1 [pp. 21]\n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.1 [pp. 21]\n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.1 [PP. 21]  \n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.1 [pp. 21]\n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
