{
  "uuid": "mci-md-dementia-profile-card-3",
  "summary": {
    "en": "For the diagnosis of dementia, consider the presence of sleep problems in the patient.",
    "es": "Para el diagnóstico de demencia, valore en el paciente la presencia de problemas relacionados con el sueño.",
    "de": "Berücksichtigen Sie bei der Diagnose von Demenz das Vorhandensein von Schlafproblemen bei dem Patienten.",
    "ro": "Pentru diagnosticul de demență, luați în considerare prezența problemelor de somn la pacient."
  },
  "indicator": "info",
  "detail": {
    "en": "For patients with Mild Cognitive Impairment (MCI), a careful sleep history, including assessment of sleep time, insomnia, daytime sleepiness, napping, and REM sleep behaviour disorder may facilitate identification of pre-clinical dementia, or high risk of developing dementia, and should be included in the assessments.",
    "es": "En los pacientes con deterioro cognitivo leve (DCL), un historial cuidadoso del sueño, incluida la evaluación del tiempo de sueño, el insomnio, la somnolencia diurna, la siesta y trastornos del comportamiento del sueño REM, pueden facilitar la identificación de la demencia preclínica o alto riesgo de desarrollar demencia, y debe incluirse en las evaluaciones.",
    "de": "Bei Patienten mit leichter kognitiver Beeinträchtigung (MCI) kann eine sorgfältige Analyse der Schlafgeschichte, einschließlich der Beurteilung der Schlafzeit, der Schlaflosigkeit, der Tagesschläfrigkeit, dem Nickerchen und der REM-Schlafverhaltensstörung  die Identifizierung präklinischer Demenz oder ein hohes Risiko für die Entwicklung von Demenz erleichtern und sollten in die Bewertung einbezogen werden.",
    "ro": "Pentru pacienții cu deficiență cognitivă ușoară (MCI), un istoric atent al somnului, inclusiv evaluarea timpului de somn, insomnie, somnolență în timpul zilei, napping și tulburarea de comportament în somnul REM pot facilita identificarea demenței pre-clinice sau a riscului ridicat de a dezvolta demență și ar trebui inclus în evaluări."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.1 [pp. 19].\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.1 [pp. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.1 [PP. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.1 [pp. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
