{
  "uuid": "mci-md-assessment-card-9",
  "summary": {
    "en": "Consider environmental adaptations.",
    "es": "Considere adaptaciones del ambiente.",
    "de": "Erwägen Sie Anpassungen der Umgebung.",
    "ro": "Luați în considerare modificări ale mediului ambiant."
  },
  "indicator": "info",
  "detail": {
    "en": "In multimorbid older adults with MCI or mild dementia, and behavioural and neuropsychiatric symptoms, consider environmental adaptations such as appropriate seating, safe wandering areas, signs (e.g. ‘no exit’ sign on the street door or signpost to toilet). Encourage soothing, calming, or distracting strategies. Suggest an activity the person enjoys (e.g. going for a walk, listening to music, engaging in conversation), especially when feeling agitated.",
    "es": "En personas mayores con multimorbilidad y DCL o demencia leve, y síntomas conductuales y neuropsiquiátricos, considere realizar adaptaciones en el ambiente como asientos apropiados, zonas seguras para deambular y señalización (por ejemplo, \"sin salida\", signo en la puerta de la calle o señalización para el WC). Fomente terapias de relajación o de distracción. Sugiera una actividad que la persona disfrute (por ejemplo, salir a caminar, escuchar música, entablar una conversación), especialmente cuando esté agitado.",
    "de": "Bei multimorbiden älteren Erwachsenen mit MCI oder mildem Demenz sowie Verhaltens- und neuropsychiatrischen Symptomen berücksichtigen Sie Anpassungen der Umgebung wie angemessene Sitzgelegenheiten, sichere Gehbereiche, Schilder (z. B. „kein Ausgang“ an der Tür zur Strasse oder Hinweisschilder zur Toilette). Ermutigen Sie beruhigende oder ablenkende Strategien. Schlagen Sie eine Aktivität vor, die die Person genießt (z. B. spazieren gehen, Musik hören, sich unterhalten), insbesondere wenn Sie aufgeregt sind.",
    "ro": "La adulții în vârstă multimorbizi cu MCI sau demență ușoară, și simptome comportamentale și neuropsihiatrice, luați în considerare modificări ale mediului, cum ar fi zone de șezut adecvate, zone de plimbare sigure, semne (de exemplu, un semn „nu ieșiți” pe ușa de intrare în casă, sau un indicator către toaletă). Încurajați strategiile de calmare, potolire sau distragere. Sugerați-vă o activitate de care se bucură persoana (de exemplu, mers la plimbare, ascultat de muzică, socializare), mai ales atunci când pacientul se simte agitat."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.1 [pp. 22]\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.1 [pp. 22]\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.1 [PP. 22]  \n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.1 [pp. 22]\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
