{
  "uuid": "mci-md-assessment-card-7",
  "summary": {
    "en": "Testing gait speed is recommended in clinics in those patients with MCI or mild dementia.",
    "es": "Se recomienda la prueba de velocidad de la marcha en aquellos pacientes con DCL o demencia leve.",
    "de": "Der klinische Test der Ganggeschwindigkeit bei Patienten mit MCI oder mildem Demenz sollte durchgeführt werden.",
    "ro": "Testarea vitezei de mers este recomandată la pacienții cu MCI sau demență ușoară."
  },
  "indicator": "info",
  "detail": {
    "en": "There is strong evidence that slower gait speed is associated with future dementia, in population studies. The clinical guideline recommends testing gait speed in clinics in those patients with MCI or mild dementia.",
    "es": "Existe una fuerte evidencia de que una velocidad de marcha más lenta se asocia con futura demencia en estudios de poblacionales. La guía clínica recomienda medir la velocidad de la marcha en aquellos pacientes con DCL o demencia leve.",
    "de": "Es gibt klare Hinweise darauf, dass eine langsamere Ganggeschwindigkeit mit einer zukünftigen Demenz assoziiert ist. Die klinische Richtlinie empfiehlt, die Ganggeschwindigkeit bei Patienten mit MCI oder mildem Demenz klinisch zu testen.",
    "ro": "Există dovezi puternice că viteza de mers mai lentă este asociată cu demența viitoare, în studiile făcute pe populație. Ghidul clinic recomandă testarea vitezei de mers la pacienții cu MCI sau demență ușoară."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.1 [pp. 19].\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.1 [pp. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.1 [PP. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.1 [pp. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
