{
  "uuid": "physical-exercise-card-6",
  "summary": {
    "en": "Recommend Physical Exercise for diabetes patients.",
    "es": "Recomendar ejercicio físico para pacientes con diabetes.",
    "de": "Empfehlung körperlicher Bewegung für Diabetes -Patienten.",
    "ro": "Recomandați exerciții fizice pentru pacienții cu diabet zaharat."
  },
  "indicator": "info",
  "detail": {
    "en": "Older adults with diabetes should perform resistance exercise at least twice a week and preferably 3 times per week in addition to aerobic exercise. They should ideally accumulate a minimum of 150 minutes of moderate- to vigorous-intensity aerobic exercise each week, spread over at least 3 days of the week, with no more than 2 consecutive days without exercise, to improve glycaemic control. Smaller amounts (90–140 minutes/week) of exercise or planned physical activity can also be beneficial but to a lesser extent for glycaemic control. Interval training (short periods of vigorous exercise alternating with short recovery periods at low-to-moderate intensity or rest from 30 seconds to 3 minute each) can be recommended to people willing and able to perform it to increase gains in cardiorespiratory fitness.",
    "es": "Los adultos mayores con diabetes deben realizar ejercicio de resistencia al menos dos veces por semana y preferiblemente 3 veces por semana, además de ejercicio aeróbico. Lo ideal sería que acumularan un mínimo de 150 minutos de ejercicio aeróbico de intensidad moderada a vigorosa cada semana, repartidos en al menos 3 días a la semana, con no más de 2 días consecutivos sin ejercicio, para mejorar el control glucémico. Cantidades menores (90-140 minutos/semana) de ejercicio o actividad física planificada también pueden ser beneficiosas, pero en menor medida para el control glucémico. El entrenamiento por intervalos (periodos cortos de ejercicio intenso alternados con periodos cortos de recuperación de intensidad baja a moderada o descanso de 30 segundos a 3 minutos cada uno) puede recomendarse a las personas dispuestas y capaces de realizarlo para aumentar las ganancias en la forma física cardiorrespiratoria.",
    "de": "Ältere Erwachsene mit Diabetes sollten mindestens zweimal pro Woche Widerstandsübungen durchführen und vorzugsweise 3 Mal pro Woche zusätzlich aerobe Übungen. Sie sollten idealerweise mindestens 150 Minuten moderates bis kräftiges aerobes Training pro Woche machen, das mindestens an 3 Tagen der Woche durchgeführt wird. Dabei sollten nicht mehr als 2 aufeinanderfolgende Tage ohne Bewegung sein, um die glykämische Kontrolle zu verbessern. Kleinere Einheiten (90–140 Minuten/Woche) Bewegung oder geplante körperliche Aktivität können ebenfalls vorteilhaft sein, aber in geringerem Maße für die glykämische Kontrolle. Intervalltraining (kurze Zeiträume kräftiger Übungen, die sich mit kurzen Erholungsperioden bei niedriger bis mittelschwerer Intensität oder Ruhe von 30 Sekunden auf jeweils 3 Minuten abwechseln) kann empfohlen werden, da dadurch die kardiorespiratorische Fitness erhöht werden kann.",
    "ro": "Adulții în vârstă cu diabet ar trebui să efectueze exerciții fizice de rezistență cel puțin de două ori pe săptămână și, de preferință, de 3 ori pe săptămână, pe lângă exercițiile aerobice. În mod ideal, ar trebui să acumuleze minimum 150 de minute de exerciții aerobice de intensitate moderat-ridicată în fiecare săptămână, în cel puțin 3 zile din săptămână, cu cel mult 2 zile consecutive fără exerciții fizice, pentru a îmbunătăți controlul glicemic. Un timp mai scurt alocat (90-140 minute/săptămână) exercițiilor fizice sau activităților fizice planificate poate fi, de asemenea, benefic, dar într-o măsură mai mică pentru controlul glicemic. Antrenamentul la intervale (perioade scurte de exerciții viguroase alternate cu perioade scurte de recuperare la intensitate scăzută până la moderată sau odihnă de la 30 de secunde la 3 minute fiecare) poate fi recomandat persoanelor dispuse și capabile să-l efectueze pentru a își crește rezistența în fitnessul cardiorespirator."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 6.1.1 [pp. 25, 26]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 6.1.1 [pp. 25, 26]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 6.1.1 [PP. 25, 26]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 6.1.1 [pp. 25, 26]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
