{
  "uuid": "physical-exercise-card-4",
  "summary": {
    "en": "Recommend Physical Exercise for heart failure patients.",
    "es": "Recomendar ejercicio físico para pacientes con insuficiencia cardíaca.",
    "de": "Empfehlen Sie körperliche Bewegung für Patienten mit Herzinsuffizienz.",
    "ro": "Recomandați exerciții fizice pentru pacienții cu insuficiență cardiacă."
  },
  "indicator": "info",
  "detail": {
    "en": "Regular performance of up to moderate intensity (i.e., breathe faster but hold conversation) continuous exercise is recommended in patients with stable chronic heart failure, particularly in those with reduced left ventricle ejection fraction, to improve physical functioning and quality of life, and to decrease hospitalisation.",
    "es": "Se recomienda la realización regular de ejercicio continuo de intensidad hasta moderada (es decir, respirar más rápido pero manteniendo la conversación) en pacientes con insuficiencia cardiaca crónica estable, sobre todo en aquellos con fracción de eyección del ventrículo izquierdo reducida, para mejorar la función física y la calidad de vida, y disminuir la hospitalización.",
    "de": "Regelmäßige Durchführung bis zu mäßiger Intensität (d. h. bei schnellerer Atmung, bei gleichzeitiger Unterhaltung ). Kontinuierliche Bewegung wird bei Patienten mit stabiler chronischer Herzinsuffizienz, insbesondere bei Patienten mit reduzierter linksventrikulärer Ejektionsfraktion empfohlen, um die körperliche Funktion und Lebensqualität zu verbessern und um Krankenhausaufenthalte zu verringern.",
    "ro": "Se recomandă efectuarea regulată de exerciții continue de intensitate slabă până la moderată la pacienții cu insuficiență cardiacă cronică stabilă, în special la cei cu fracție de ventricul stâng redusă, pentru a îmbunătăți funcționarea fizică și calitatea vieții și pentru a scădea rata de spitalizare."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 6.1.1 [pp. 25]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 6.1.1 [pp. 25]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 6.1.1 [PP. 25]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 6.1.1 [pp. 25]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
