{
  "uuid": "physical-exercise-card-1",
  "summary": {
    "en": "General principles about Physical Exercise.",
    "es": "Principios generales sobre el ejercicio físico.",
    "de": "Allgemeine Prinzipien der körperlichen Bewegung.",
    "ro": "Principiile generale despre exercițiile fizice."
  },
  "indicator": "info",
  "detail": {
    "en": "Setting specific exercise goals, problem solving potential barriers to physical activity, providing information on where and when to exercise, and self-monitoring should be performed collaboratively between the multimorbid older adult with cognitive impairment and the healthcare team to increase physical activity.",
    "es": "Para aumentar la actividad física, el adulto mayor con multimorbilidad y deterioro cognitivo y el equipo de atención sanitaria deben colaborar en el establecimiento de objetivos de ejercicio específicos, la resolución de problemas y los posibles obstáculos para la actividad física, el suministro de información sobre dónde y cuándo hacer ejercicio y el autocontrol.",
    "de": "Setzen Sie spezifische Übungsziele; Problemlösung potentieller Hindernisse für körperliche Aktivität; Bereitstellung von Informationen darüber, wo und wann Sie trainieren sollen. Die Selbstkontrolle sollte gemeinsam von dem multimorbiden älteren Erwachsenen mit kognitiver Beeinträchtigung und dem Gesundheitsteam durchgeführt werden, um die körperliche Aktivität zu erhöhen.",
    "ro": "Stabilirea obiectivelor specifice de exercițiu, eliminarea potențialelor bariere pentru activitatea fizică, furnizarea de informații despre locul și timpul potrivit pentru realizarea de exerciții fizice și auto-monitorizare, ar trebui să fie efectuate de adultul în vârstă, cu deficiență cognitivă, și echipa de asistență medicală. Scopul este de a crește activitatea fizică."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 6.1.1 [pp. 25]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 6.1.1 [pp. 25]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 6.1.1 [PP. 25]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 6.1.1 [pp. 25]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
