{
  "uuid": "physical-exercise-card-5",
  "summary": {
    "en": "Recommend Physical Exercise for hypertensive patients.",
    "es": "Recomendar ejercicio físico para pacientes hipertensos.",
    "de": "Empfehlung von körperlicher Bewegung für Patienten mit Bluthochdruck.",
    "ro": "Recomandați exerciții fizice pentru pacienții hipertensivi."
  },
  "indicator": "info",
  "detail": {
    "en": "Increased physical activity with a structured exercise program is recommended for adults with elevated blood pressure (BP) or hypertension.",
    "es": "Se recomienda aumentar la actividad física con un programa de ejercicio estructurado para los adultos con tensión arterial elevada o hipertensión.",
    "de": "Eine Steigerung der körperliche Aktivität mit einem strukturierten Trainingsprogramm wird für Erwachsene mit erhöhtem Blutdruck (BP) oder Bluthochdruck empfohlen.",
    "ro": "O activitate fizică crescută cu un program de exerciții structurate este recomandată adulților cu tensiune arterială normal-ridicată sau hipertensiune arterială."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 6.1.1 [pp. 25]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 6.1.1 [pp. 25]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 6.1.1 [PP. 25]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 6.1.1 [pp. 25]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
