{
  "uuid": "physical-exercise-card-7",
  "summary": {
    "en": "Physical exercise is recommended for prediabetic patients.",
    "es": "Se recomienda el ejercicio físico a los pacientes prediabéticos.",
    "de": "Körperliche Bewegung wird für prädiabetische Patienten empfohlen.",
    "ro": "Exercițiul fizic este recomandat pentru pacienții prediabetici."
  },
  "indicator": "info",
  "detail": {
    "en": "In older adults with prediabetes, regular physical activity of a minimum of 150 minutes per week over 5 days a week should be implemented to reduce the risk of type 2 diabetes.",
    "es": "En los adultos mayores con prediabetes, debe practicarse una actividad física regular de un mínimo de 150 minutos a la semana durante 5 días a la semana para reducir el riesgo de diabetes de tipo 2.",
    "de": "Bei älteren Erwachsenen mit Prädiabetes sollte eine regelmäßige körperliche Aktivität von mindestens 150 Minuten pro Woche an 5 Tagen in der Woche durchgeführt werden, um das Risiko für Typ-2-Diabetes zu verringern.",
    "ro": "La adulții în vârstă cu prediabet, ar trebui implementată o activitate fizică regulată de minimum 150 de minute pe săptămână pentru a reduce riscul de diabet de tip 2."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 47]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 47]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 47]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 47]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
