{
  "uuid": "physical-exercise-card-2",
  "summary": {
    "en": "Recommend avoiding sedentary behaviours.",
    "es": "Recomendar evitar comportamientos sedentarios.",
    "de": "Empfehlen Sie das Vermeiden sitzender Lebensweise.",
    "ro": "Recomandați evitarea comportamentelor sedentare."
  },
  "indicator": "info",
  "detail": {
    "en": "* For patients diagnosed with MCI or mild dementia, recommend regular exercise as part of an overall approach to management.\n* Avoid sedentary behaviours. Light-intensity physical activity, even as little as 15 minutes a day, is likely to produce benefits.",
    "es": "* Para los pacientes diagnosticados con DCL o demencia leve, recomiende el ejercicio regular como parte de un enfoque global del tratamiento.\n* Evite los comportamientos sedentarios. Es probable que la actividad física de intensidad leve, incluso de tan sólo 15 minutos al día, produzca beneficios.",
    "de": "* Bei Patienten, bei denen MCI oder milde Demenz diagnostiziert wurde, empfehlen Sie regelmäßige Bewegung als Teil eines Gesamtansatzes.\n* Vermeiden Sie sitzende Verhaltensweisen. Leichte körperliche Aktivität, auch nur an 15 Minuten am Tag, dürfte Vorteile bringen.",
    "ro": "* Pentru pacienții diagnosticați cu MCI (deficiență cognitivă) sau demență ușoară, recomandați exerciții fizice regulate ca parte a unei abordări generale a managementului afecțiunii.\n* Evitați comportamentele sedentare. Activitatea fizică cu intensitate ușoară, chiar și mai puțin de 15 minute pe zi, este probabil să producă beneficii."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 6.1.1 [pp. 25]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 6.1.1 [pp. 25]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 6.1.1 [PP. 25]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 6.1.1 [pp. 25]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
