{
  "uuid": "stroke-medication-treatment-card-9",
  "summary": {
    "en": "Delay initiation of oral anticoagulation to reduce the risk of intracerebral haemorrhage.",
    "es": "Retrasar el inicio de anticoagulación oral para reducir el riesgo de hemorragia intracraneal.",
    "de": "Verzögern Sie den Beginn der oralen Antikoagulation, um das Risiko einer intrazerebralen Blutung zu verringern.",
    "ro": "Întârzierea începerii anticoagulării orale pentru a reduce riscul de hemoragie intracraniană."
  },
  "indicator": "info",
  "detail": {
    "en": "In patients with stroke at high risk of haemorrhagic conversion in the setting of atrial fibrillation, it is reasonable to delay initiation of oral anticoagulation beyond 14 days to reduce the risk of intracerebral haemorrhage.",
    "es": "En pacientes con ictus y alto riesgo de conversión hemorrágica en el contexto de una fibrilación auricular, es raoznable retrasar el inicio de anticoagulación oral hasta los 14 días para reducir el riesgo de hemorragia intracerenral.",
    "de": "Bei Patienten mit Schlaganfall, bei denen ein hohes Risiko für eine hämorrhagische Konversion bei Vorhofflimmern besteht, ist es sinnvoll, den Beginn der oralen Antikoagulation über 14 Tage hinauszuschieben, um das Risiko einer intrazerebralen Blutung zu verringern.",
    "ro": "Pentru pacienții ce au suferit un AVC dar prezintă risc de conversie hemoragică în contextul fibrilației atriale, este rezomabil să întârziem începerea tratamentelor orale cu anticoagulante pentru mai mult de 14 zile pentru a reduce riscul de hemoragie intracraniană. "
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 16.3.2 [PP. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
