{
  "uuid": "stroke-medication-treatment-card-12",
  "summary": {
    "en": "Treatment with icosapent ethyl 2 g twice a day is reasonable to reduce risk of recurrent stroke.",
    "es": "El tratamiento con icosapento de etilo 2g dos veces al día es razonavle para reducir el riesgo de ictus recurrente.",
    "de": "Eine Behandlung mit Icosapentethyl 2 g zweimal täglich ist sinnvoll, um das Risiko eines erneuten Schlaganfalls zu verringern",
    "ro": "Tratamentul cu icosapent etil 2 g/zi este rezonabil pentru a reduce riscul de recurență a AVC."
  },
  "indicator": "info",
  "detail": {
    "en": "In patients with ischaemic stroke or TIA, with fasting triglycerides 135 to 499 mg/dL and LDL-C of 41 to 100 mg/dL, on moderate or high-intensity statin therapy, with HbA1c &#60;86 mmol/mol (10%), and with no history of pancreatitis, AF, or severe heart failure, treatment with icosapent ethyl 2 g twice a day is reasonable to reduce risk of recurrent stroke.",
    "es": "En pacientes con ictus isqúemico o AIT, con triglicéridos en ayunas de 135 a 499mg/dL y con c-LDL de 41 a 100mg/dL, con tratamiento con estatinas de moderada o alta intensidad, HbA1c &#60;86mmol/mol (10%) y sin historia previa de pancreatitis, FA o insuficiencia cardiaca severa, el tratamiento con icosapento de etilo 2g dos veces al día es razonavle para reducir el riesgo de ictus recurrente.",
    "de": "Bei Patienten mit ischämischem Schlaganfall oder TIA, mit Nüchterntriglyceriden von 135 bis 499 mg/dL und LDL-C von 41 bis 100 mg/dL, die eine mäßige oder hochintensive Statintherapie erhalten, mit einem HbA1c &#60; 86 mmol/mol (10 %) und ohne Pankreatitis, Vorhofflimmern oder schwere Herzinsuffizienz in der Vorgeschichte, ist eine Behandlung mit Icosapentethyl 2 g zweimal täglich sinnvoll, um das Risiko eines erneuten Schlaganfalls zu verringern.",
    "ro": "La pacienții cu AVC și AVT, cu nivelul trigliceridelor bazale situat între 135 și 499 mg/dL și cel al LDL-C între 41 și 100 mg/dL, ce prezintă terapie moderată sau de mare intensitate cu statine, HbA1c &#60;86 mmol/mol (10%), fără un istoric de pancreatită, fibrilații atiale, sau insuficență cardiacă severă, tratamentul cu icosapent etil 2 g/zi este rezonabil pentru a reduce riscul de recurență a AVC. "
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 16.3.2 [PP. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
