{
  "uuid": "stroke-medication-treatment-card-13",
  "summary": {
    "en": "Fibrate therapy is recommended to manage severe hypertriglyceridemia.",
    "es": "El tratamiento con fibratos se recomienda para manejar la hipertrigliceridemia severa.",
    "de": "Zur Behandlung einer schweren Hypertriglyceridämie wird eine Fibrattherapie empfohlen.",
    "ro": "Terapia fibrată este recomandată pentru a manageria hipertriglicidemia severă."
  },
  "indicator": "info",
  "detail": {
    "en": "In patients with severe hypertriglyceridemia (i.e., fasting triglycerides ≥500 mg/dL [≥5.7 mmol/L]), it is reasonable to identify and address causes of hypertriglyceridemia and, if triglycerides are persistently elevated or increasing, avoidance of refined carbohydrates and alcohol, consumption of omega-3 fatty acids, and, if necessary to prevent acute pancreatitis, fibrate therapy should be considered.",
    "es": "E pacientes con hipertrigliceridemia severa (i.e., triglicéridos en ayunas  ≥500 mg/dL [≥5.7 mmol/L]), es razonable identificar y valorar causas de hipertrigliceridemia y, si los triglicéridos se encuentran persistentemente elevados o en aumento, se debería considerar evitar los carbohidratos refinados y el alcohol, la toma de ácidos grasos omega 3 y, si es necesario para prevenir pancreatitis aguda, se debería considerar tratamiento con fibratos.",
    "de": "Bei Patienten mit schwerer Hypertriglyceridämie (d. h. Nüchterntriglyceride ≥500 mg/dL [≥5,7 mmol/L]) ist es sinnvoll, die Ursachen der Hypertriglyceridämie zu ermitteln und zu beseitigen. Wenn die Triglyceride dauerhaft erhöht sind oder ansteigen, sollten der Verzicht auf raffinierte Kohlenhydrate und Alkohol, die Einnahme von Omega-3-Fettsäuren und, falls zur Verhinderung einer akuten Pankreatitis erforderlich, eine Fibrattherapie in Betracht gezogen werden.",
    "ro": "La pacienții ce suferă de hipertriglicemie severă (i.e. trigliceridele bazale ≥500 mg/dL [≥5.7 mmol/L]), este rezonabil să identificăm și să amendăm cauzele hipertrigliceridemiei, iar dacă trigliceridele rămân mărite persistent sau cresc, se vor evita carbohidrații rafiați și a alcoolul, consumul de acizi grași omega-3 și ar trebui  considerată terapia cu fibrați în cazul pancreatitei acute."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 16.3.2 [PP. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
