{
  "uuid": "stroke-medication-treatment-card-10b",
  "summary": {
    "en": "Consider setting a goal of LDL-C to &#60;70 mg/dL to reduce risk of stroke recurrence and cardiovascular events.",
    "es": "Considere un objetivo de c-LDL &#60;70mg/dL para reducir el riesgo de recurrencia de ictus y eventos cardiovasculares.",
    "de": "Erwägen Sie die Festlegung eines LDL-C-Ziels von &#60; 70 mg/dL, um das Risiko eines erneuten Schlaganfalls und kardiovaskulärer Ereignisse zu verringern",
    "ro": "Considerați stabilirea unor obiective de menținere a LDL &#60;70 mg/dL pentru a reduce riscul de recurență a AVC și evenimentelor cardiace."
  },
  "indicator": "info",
  "detail": {
    "en": "* In patients with ischaemic stroke or TIA with no known coronary heart disease, no major cardiac sources of embolism, and LDL cholesterol (LDL- C) > 100 mg/dL, atorvastatin 80 mg daily is indicated to a goal LDL-C of &#60; 70 mg/dL, to reduce risk of stroke recurrence and cardiovascular events.\n* In selected older adults, ezetimibe may be considered for additional LDL-C lowering.",
    "es": "* En pacientes con ictus isquémico o AIT sin. Historia conocida de enfermedad cardiaca, sin fuentes mayores de embolismo cardiaco y con colesterol LDL (c-LDL) >100mg/dL, está indicada atorvastatina 80mg diaria para un objetivo de c-LDL de &#60;70mg/dL, para reducir el riesgo de recurrencia de ictus y eventos cardiovasculares. *En adultos mayores seleccionados, se puede considerar ezetimiba para una disminución adicional de c-LDL.",
    "de": "* Bei Patienten mit ischämischem Schlaganfall oder TIA ohne bekannte koronare Herzkrankheit, ohne größere kardiale Emboliequellen und mit einem LDL-Cholesterin (LDL-C) > 100 mg/dL ist Atorvastatin 80 mg täglich angezeigt, um das Risiko eines erneuten Schlaganfalls und kardiovaskulärer Ereignisse auf einen Zielwert von &#60; 70 mg/dL zu senken.\n* Bei ausgewählten älteren Erwachsenen kann Ezetimib zur zusätzlichen LDL-C-Senkung in Betracht gezogen werden.",
    "ro": "* La pacienții ce prezintă  AVC sau AVT fără o boală coronariană cunoscută, fără surse majore de embolism cardiac și colesterolul LDL > 100 mg/dL, atorvastatin 80 mg/zi este indicat pentru atingerea obiectivului LDL &#60;70 mg/dL, în așa fel încât să reducă riscul de recurență a AVC și evenimentelor cardiovasculare.\n* Pentru adulții seniori, ezetimiba poate fi considerată un medicament adițional pentru scăderea LDL."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127l;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 16.3.2 [PP. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  },
  "suggestions": [
    {
      "uuid": "Suggestion 1",
      "label": {
        "en": "Consider setting a goal of LDL-C to &#60; 70 mg/dL to reduce risk of stroke recurrence and cardiovascular events.",
        "es": "Considere un objetivo de c-LDL &#60;70mg/dL para reducir el riesgo de recurrencia de ictus y eventos cardiovasculares.",
        "de": "Erwägen Sie die Festlegung eines LDL-C-Ziels von &#60; 70 mg/dL, um das Risiko eines erneuten Schlaganfalls und kardiovaskulärer Ereignisse zu verringern",
        "ro": "Considerați stabilirea unor obiective de menținere a LDL &#60;70 mg/dL pentru a reduce riscul de recurență a AVC și evenimentelor cardiace."
      },
      "actions": [
        {
          "type": "create",
          "description": {
            "en": "Set LDL-C goal to &#60;70 mg/dL",
            "es": "Objetivo de c-LDL &#60;70mg/dL.",
            "de": "LDL-C-Ziel auf &#60; 70 mg/dL festlegen",
            "ro": "Stabilirea unor obiective de menținere a LDL &#60;70 mg/dL"
          },
          "resource": {
            "resourceType": "Goal",
            "lifecycleStatus": "proposed",
            "meta": {
              "tag": [
                {
                  "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/concept-id",
                  "code": "GoalLDLCholesterol"
                }
              ]
            },
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Keep LDL cholesterol under control",
                  "es": "Mantenga el colesterol LDL bajo control",
                  "de": "Halten Sie LDL-Cholesterin unter Kontrolle",
                  "ro": "Menținerea colesterolului LDL sub control"
                }
              }
            ],
            "category": [
              {
                "coding": [
                  {
                    "system": "http://terminology.hl7.org/CodeSystem/goal-category",
                    "code": "safety"
                  }
                ]
              }
            ],
            "startDate": "{{today}}",
            "description": {
              "text": {
                "en": "Decrease LDL-C to &#60;70 mg/dL",
                "es": "Disminuir el colesterol LDL a &#60;70 mg/dL",
                "de": "Senken Sie das LDL-Cholesterin auf &#60;70 mg/dl",
                "ro": "Stabilirea unor obiective de menținere a LDL &#60;70 mg/dL"
              },
              "coding": [
                {
                  "system": "http://loinc.org",
                  "code": "2089-1",
                  "display": {
                    "en": "Cholesterol in LDL [Mass/volume] in Serum or Plasma",
                    "es": "Colesterol en LDL [masa/volumen] en suero o plasma",
                    "de": "Cholesterin in LDL [Masse/Volumen] im Serum oder Plasma",
                    "ro": "Colesterol în LDL [masă/volum] în ser sau plasmă"
                  }
                }
              ]
            },
            "target": [
              {
                "measure": {
                  "coding": [
                    {
                      "system": "http://loinc.org",
                      "code": "2089-1",
                      "display": {
                        "en": "Cholesterol in LDL [Mass/volume] in Serum or Plasma",
                        "es": "Colesterol en LDL [masa/volumen] en suero o plasma",
                        "de": "Cholesterin in LDL [Masse/Volumen] im Serum oder Plasma",
                        "ro": "Colesterol în LDL [masă/volum] în ser sau plasmă"
                      }
                    }
                  ]
                },
                "dueDate": "{{todayPlus3Months}}",
                "detailRange": {
                  "high": {
                    "value": 70,
                    "unit": "mg/dL",
                    "system": "http://unitsofmeasure.org",
                    "code": "mg/dL"
                  }
                }
              }
            ]
          }
        }
      ]
    }
  ]
}
