{
  "uuid": "stroke-medication-treatment-card-8",
  "summary": {
    "en": "In patients with recent stroke or TIA, the addition of clopidogrel 75 mg/day to aspirin for up to 90 days is reasonable to further reduce recurrent stroke risk.",
    "es": "En pacientes con ictus o AIT recientes, añadir clopidogrel 75mg diarios a la aspirina durante 90 días es razonable para reducir el riesgo de ictus recurrente.",
    "de": "Bei Patienten mit einem kürzlichen Schlaganfall oder einer TIA ist die zusätzliche Gabe von Clopidogrel 75 mg/Tag zu Aspirin für bis zu 90 Tage sinnvoll, um das Risiko eines erneuten Schlaganfalls weiter zu senken.",
    "ro": "Pentru pacienții ce au suferit recent un AVC sau AVT, suplimentarea cu clopidogrel 75 mg/zi a aspirinei  pentru până la 90 de zile ese rezonabilă pentru a reduce ricul de recurență al AVC."
  },
  "indicator": "info",
  "detail": {
    "en": "In patients with recent stroke or TIA (within 30 days) attributable to severe stenosis (70%-99%) of a major intracranial artery, the addition of clopidogrel 75 mg/day to aspirin for up to 90 days is reasonable to further reduce recurrent stroke risk.",
    "es": "En pacientes con ictus o AIT recientes (en los últimos 30 días) que sean atribuibles a estenosis severa (70-99%) de una arteria intracraneal mayor, añadir clopidogrel 75mg a la aspirina durante 90 dias es razonable para reducir el riesgo de ictus recurrente.",
    "de": "Bei Patienten, die kürzlich einen Schlaganfall oder eine TIA (innerhalb von 30 Tagen) erlitten haben, die auf eine schwere Stenose (70%-99%) einer großen intrakraniellen Arterie zurückzuführen ist, ist die zusätzliche Gabe von Clopidogrel 75 mg/Tag zu Aspirin für bis zu 90 Tage sinnvoll, um das Risiko eines erneuten Schlaganfalls weiter zu senken.",
    "ro": "Pacienților cu au suferit recent (în ultimele 30 de zile) un AVC sau un AVT, atribuit stenozei severe (70-99%) ale unei mari artere intracraniale,  suplimentarea cu clopidogrel 75 mg/zi a aspirinei  pentru până la 90 de zile ese rezonabilă pentru a reduce riscul de recurență al AVC."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 16.3.2 [pp. 69]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 16.3.2 [pp. 69]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 16.3.2 [PP. 69]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 16.3.2 [pp. 69]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
