{
  "uuid": "stroke-medication-treatment-card-11",
  "summary": {
    "en": "PCSK9 inhibitor therapy is recommended.",
    "es": "Se recomienda el tratamiento con inhibidores de PCSK9.",
    "de": "Eine Therapie mit PCSK9-Inhibitoren wird empfohlen.",
    "ro": "Terapia cu inhibitori de PCSK9 este recomandată."
  },
  "indicator": "info",
  "detail": {
    "en": "In patients with ischaemic stroke who are very high risk (defined as stroke plus another major atherosclerotic cardiovascular disease or stroke plus multiple high-risk conditions), are taking maximally tolerated statin and ezetimibe therapy and still have an LDL-C >70 mg/dL, it is reasonable to treat with PCSK9 inhibitor therapy.",
    "es": "En pacientes con ictus isquémico que se encuentren en muy alto riesgo (definido como ictus más otra enfermedad cardiovascular ateroesclerótica mayor o ictus más múltiples comorbilidades de alto riesgo), en tratamiento con estatina y ezetimiba a las dosis máximas toleradas y que aún presenten un c-LDL >70mg, es razonable el tratamiento con un inhibidor de PCSK9.",
    "de": "Bei Patienten mit ischämischem Schlaganfall, die ein sehr hohes Risiko aufweisen (definiert als Schlaganfall plus eine andere schwere atherosklerotische kardiovaskuläre Erkrankung oder Schlaganfall plus mehrere Hochrisikokrankheiten), die eine maximal verträgliche Statin- und Ezetimib-Therapie einnehmen und immer noch einen LDL-C-Wert von >70 mg/dL haben, ist eine Behandlung mit PCSK9-Inhibitoren sinnvoll.",
    "ro": "Pacienților ce au suferit un AVC, care prezintă un risc înalt (definit ca un AVC și o altă boală aterosclerotică cardiovasculară sau AVC și multiple afecțiuni cu risc ridicat), ce folosesc doza maximă de statină și ezetimibă dar prezintă valorile LDL > 70 mg/dL, terapia cu inhibitori de PCSK9 este recomandată. "
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127l;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 16.3.2 [PP. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 16.3.2 [pp. 70]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
