{
  "uuid": "stroke-medication-treatment-card-7",
  "summary": {
    "en": "Dual antiplatelet therapy is recommended for a duration of 21 days, followed by antiplatelet monotherapy thereafter.",
    "es": "El tratamiento con doble antiagregación se recomienda durante 21 días, seguido de monoterapia antiagregante después.",
    "de": "Eine duale Thrombozytenaggregationshemmer-Therapie wird für die Dauer von 21 Tagen empfohlen, gefolgt von einer Thrombozytenaggregationshemmer-Monotherapie.",
    "ro": "Terapia duală antiplachetară este recomandată pentru o perioadă de 21 de zile, fiind urmată de monoterapie antiplachetară."
  },
  "indicator": "info",
  "detail": {
    "en": "* For patients with an acute high-risk transient ischemic attack or minor ischemic stroke of non-cardioembolic origin (National Institutes of Health Stroke Scale 0-3), who are not at high bleeding risk, dual antiplatelet therapy is recommended with clopidogrel 75 mg daily plus acetylsalicylic acid 81 mg daily for a duration of 21 days after the event, followed by antiplatelet monotherapy thereafter (acetylsalicylic acid or clopidogrel alone). A single loading dose of clopidogrel (either 300 mg (CHANCE trial) or 600 mg (POINT trial)) and acetylsalicylic acid (160 mg – 325 mg) should be administered at the start of treatment.",
    "es": "*En pacientes con accidentes isquémicos transitorios de alto riesgo o ictus isquémico minor de origen no cardioembólico (NIHSS 0-3), que no presenten alto riesgo de sangrado, se recomienda doble antigaregación con 75mg de clopidogrel más 81mg de ácido acetilsalicílico diarios durante 21 días tras el evento, seguido de monoterapia antiagregante después (ácido acetilsalicílico o clopidogrel solos). Una dosis única de carga de clopidogrel (bien 300mg (ensayo CHANCE) o 600mg (ensayo POINT)) y ácido acetilsalicílico (160-325mg) debe ser administrada al inciio del tratamiento.",
    "de": "* Für Patienten mit einer akuten transitorischen ischämischen Attacke mit hohem Risiko oder einem leichten ischämischen Schlaganfall nicht kardioembolischen Ursprungs (National Institutes of Health Stroke Scale 0-3), die kein hohes Blutungsrisiko aufweisen, wird eine duale Thrombozytenaggregationshemmer-Therapie mit Clopidogrel 75 mg täglich plus Acetylsalicylsäure 81 mg täglich für die Dauer von 21 Tagen nach dem Ereignis empfohlen, gefolgt von einer Thrombozytenaggregationshemmer-Monotherapie danach (Acetylsalicylsäure oder Clopidogrel allein). Zu Beginn der Behandlung sollte eine einmalige Ladedosis von Clopidogrel (entweder 300 mg (CHANCE-Studie) oder 600 mg (POINT-Studie)) und Acetylsalicylsäure (160 mg - 325 mg) verabreicht werden.",
    "ro": "Pentru pacienții ce prezintă un risc acut de ACT sau AVC minor de origine non-cardioembolică (Scala AVC a Institutelor de Sănătate Națională), ce nu au un risc ridicat de hemoragii, terapia duală cu medicație antiplachetară se recomandă a fi compusă din clopidogrel 75 mg/zi și acid acetil salicilic 81 mg/ zi pe o perioadă de 21 de zile, fiind urmată de teraia cu un singur medicament  antiplachetar (acid acetil salicilic sau clopidogrel). O singură doză de clopidogrel ( fie 300 mg (tratament CHANCE) sau 600 mg (tratament POINT)) și acid acetil salicilic (160-235 mg) ar trebui administrate la începutul protocolului terapeutic."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 16.3.2 [pp. 69]\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 16.3.2 [pp. 69]\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 16.3.2 [PP. 69]\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 16.3.2 [pp. 69]\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
