{
  "uuid": "cad-diagnosis-card-2",
  "summary": {
    "en": "Consider functional imaging for myocardial ischaemia.",
    "es": "Considerar pruebas de imagen funcional para isquemia miocárdica.",
    "de": "Erwägen Sie eine funktionelle Bildgebung zum Nachweis einer Myokardischämie.",
    "ro": "Luați în considerare o investigație imagistică funțională pentru ischemie miocardică."
  },
  "indicator": "info",
  "detail": {
    "en": "Functional imaging for myocardial ischaemia is recommended if coronary computed tomography angiography has shown CAD of uncertain functional significance or is not diagnosed.",
    "es": "La angiografía coronaria invasiva se recomienda como prueba alternativa para diagnosticar EAC en pacientes con alta probabilidad clínica, síntomas severos refractarios a tratamiento médico o angina típica con ejercicio físico ligero, y evaluación clínica que indica alto riesgo de eventos.",
    "de": "Eine invasive Koronarangiographie wird als alternativer Test zur Diagnose einer KHK bei Patienten mit hoher klinischer Wahrscheinlichkeit, schweren Symptomen, die auf eine medikamentöse Therapie nicht ansprechen, oder typischer Angina pectoris bei geringer Belastung und einer klinischen Bewertung, die auf ein hohes Ereignisrisiko hinweist, empfohlen.",
    "ro": "Coronarografia este recomadată ca o alternativă de test diagnostic pentru boală arteriala coronariană (CAD) la pacienții cu multipli factori de risc, simptome severe refractare la terapia medicamentoasă sau la angina stabilă la efort mic și evaluări clinice ce sugerează un eveniment ischemic major."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 10.1 [pp. 34]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 10.1 [pp. 34]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 10.1 [PP. 34]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 10.1 [pp. 34]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
