{
  "uuid": "hf-autofill-card-29",
  "summary": {
    "en": "Consider severe LV dysfunction since LV ejection fraction value of the patient is less than 40%.",
    "es": "Considerar disfunción severa de VI desde valores de eyección del VI del paciente menores del 40%.",
    "de": "Ziehen Sie eine schwere linksventrikuläre (LV-)Dysfunktion in Betracht, da die LV-Ejektionsfraktion des Patienten weniger als 40 % beträgt.",
    "ro": "Luați în considerare disfuncția severă a LV, deoarece valoarea fracției de ejecție a LV a pacientului este mai mică de 40%."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider severe LV dysfunction since LV ejection fraction value of the patient is less than 40%.",
    "es": "Considerar disfunción severa de VI desde valores de eyección del VI del paciente menores del 40%.",
    "de": "Ziehen Sie eine schwere linksventrikuläre (LV-)Dysfunktion in Betracht, da die LV-Ejektionsfraktion des Patienten weniger als 40 % beträgt.",
    "ro": "Luați în considerare disfuncția severă a LV, deoarece valoarea fracției de ejecție a LV a pacientului este mai mică de 40%."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.2 [pp. 38]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.2 [pp. 38]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.2 [PP. 38]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.2 [pp. 38]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
