{
  "uuid": "cad-medication-treatment-card-13",
  "summary": {
    "en": "Recommend Aspirin or Clopidogrel daily in patients with CAD.",
    "es": "Se recomienda Aspirina o Clopidogrel en los pacientes con EAC.",
    "de": "Empfehlen Sie Aspirin oder Clopidogrel täglich bei Patienten mit KHK",
    "ro": "Recomandați doze zilnice d aspirină sau clopidogrel."
  },
  "indicator": "info",
  "detail": {
    "en": "* Aspirin 75-100 mg daily is recommended in patients with CAD. \n* Clopidogrel 75 mg daily is recommended as an alternative to aspirin in patients with aspirin intolerance. \n* Adding a second antithrombotic drug to aspirin for long-term secondary prevention should be considered in patients with a high risk of ischaemic events and without high bleeding risk.",
    "es": "* La aspirina 75-100mg al día se recomienda en pacientes con EAC.\n* El clopidogrel 75mg al día se recomienda como alternativa a la aspirina en pacientes con tolerencia a la aspirina.\n* Añadir un segundo fármaco antiagregante a la aspirina para la prevención secundaria a largo plazo se debería considerar en pacientes con alto riesgo de eventos isquémicos y sin riesgo de sangrado.",
    "de": "* Aspirin 75-100 mg täglich wird bei Patienten mit KHK empfohlen. \n* Clopidogrel 75 mg täglich wird als Alternative zu Aspirin bei Patienten mit Aspirinintoleranz empfohlen. \n* Die Hinzufügung eines zweiten antithrombotischen Medikaments zu Aspirin zur langfristigen Sekundärprävention sollte bei Patienten mit einem hohen Risiko für ischämische Ereignisse und ohne hohes Blutungsrisiko in Betracht gezogen werden.",
    "ro": "* Aspirina 75-100 mg/zi  este recomandată la pacienții cu boală arterială coronariană (BAC).\n* Clopidogrel 75mg/zi este recomandat ca o alternativă la aspirină la pacienții ce nu tolerează aspirina.\n* Un al doilea medicament antitrombic poate fi luat în considerare pentru prevenția secundară pe termen lung la pacienții cu risc mare de accidente ischemice și fără risc de hemoragie."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 10.1 [pp. 34]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 10.1 [pp. 34]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 10.1 [PP. 34]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 10.1 [pp. 34]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
