{
  "uuid": "cad-medication-treatment-card-10",
  "summary": {
    "en": "Long-acting nitrates should be considered as a second-line treatment option when the initial therapy is contraindicated, poorly tolerated, or inadequate to control angina symptoms.",
    "es": "Los nitratos de acción larga se debería considerar como una opción de tratamiento de segunda línea cuando la terapia inicial se encuentra contraindicada, mal tolerada o el control de los síntomas anginosos es inadecuado.",
    "de": "Langwirksame Nitrate sollten als Zweitlinientherapie in Betracht gezogen werden, wenn die Ersttherapie kontraindiziert ist, schlecht vertragen wird oder nicht ausreicht, um die Angina-Symptome zu kontrollieren. ",
    "ro": "Nitrații ci durată lungă ar trebui recomandați ca o a doua linie de tratament, când prima linie este contraindicată, prost tolerată sau neadecvată în controlul anginei."
  },
  "indicator": "info",
  "detail": {
    "en": "Long-acting nitrates should be considered as a second-line treatment option when the initial therapy is contraindicated, poorly tolerated, or inadequate to control angina symptoms.",
    "es": "Los nitratos de acción larga se debería considerar como una opción de tratamiento de segunda línea cuando la terapia inicial se encuentra contraindicada, mal tolerada o el control de los síntomas anginosos es inadecuado.",
    "de": "Langwirksame Nitrate sollten als Zweitlinientherapie in Betracht gezogen werden, wenn die Ersttherapie kontraindiziert ist, schlecht vertragen wird oder nicht ausreicht, um die Angina-Symptome zu kontrollieren. ",
    "ro": "Nitrații ci durată lungă ar trebui recomandați ca o a doua linie de tratament, când prima linie este contraindicată, prost tolerată sau neadecvată în controlul anginei."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 10.2.2 [pp. 35]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 10.2.2 [pp. 35]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 10.2.2 [PP. 35]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 10.2.2 [pp. 35]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
