{
  "uuid": "cad-medication-treatment-card-15",
  "summary": {
    "en": "Angiotensin-Converting Enzyme (ACE) inhibitors or Angiotensin II Receptor Blockers (ARBs) are recommended.",
    "es": "Se recomiendan los inhibidores de la enzima convertidora de la angiotensina (IECAS) o los bloqueantes de los receptores de angiotensina II (ARA-II).",
    "de": "Empfohlen werden Angiotensin-Converting-Enzyme (ACE)-Hemmer oder Angiotensin-II-Rezeptorblocker (ARB).",
    "ro": "Inhibitorii de enzimă de conversie sau blocanții de receptor de angiotensină sunt recomandați."
  },
  "indicator": "info",
  "detail": {
    "en": "* Angiotensin-Converting Enzyme (ACE) inhibitors or Angiotensin II Receptor Blockers (ARBs) are recommended in patients with chronic coronary syndromes at very high risk of cardiovascular events, or in patients with concomitant conditions like heart failure, hypertension, or diabetes. \n* An ARB is recommended as an alternative in patients who do not tolerate ACE inhibition, or an angiotensin receptor-neprilysin inhibitor in patients with persistent symptoms despite optimal medical therapy.",
    "es": "* Los inhibidores de la enzima convertidora de la angiotensina (IECAS) o los bloqueantes de los receptores de angiotensina II (ARA-II) se recomiendan en pacientes con síndromes coronarios crónicos con alto riesgo de eventos cardiovasculares o en pacientes con comorbilidades concomitantes como insuficiencia cardiaca, hipertensión o diabetes.\n* Un ARA-II se recomienda como alternativa en pacientes que no toleran el IECA o un inhibidor de la neprilisina y del receptor de angiotensina en pacientes con síntomas persistentes pese a tratamiento médico óptimo.",
    "de": "* Angiotensin-Converting-Enzyme-Hemmer (ACE-Hemmer) oder Angiotensin-II-Rezeptor-Blocker (ARB) werden bei Patienten mit chronischen Koronarsyndromen mit sehr hohem Risiko für kardiovaskuläre Ereignisse oder bei Patienten mit Begleiterkrankungen wie Herzinsuffizienz, Bluthochdruck oder Diabetes empfohlen. \n* Ein Angiotensin_II-Rezeptor-Blocker (ARB) wird als Alternative bei Patienten empfohlen, die ACE-Hemmer nicht vertragen, ein Angiotensin-Neprilysin-Inhibitor wird empfohlen, bei Patienten mit persistierenden Symptomen trotz optimaler medikamentöser Therapie.",
    "ro": "* Inhibitorii de enzimă de conversie sau blocanții de receptor de angiotensină sunt recomandați la pacienții cu sindrom coronarian cronic cu risc foarte mare de accident cardiovascular sau la pacienții cu co-morbidități precum insuficența cardiacă, hipertensiunea sau diabet.\n* Un blocant de receptor de angiotensină este recomandat în scimbul inhibitorilor de enzimă de conversie la pacienții ce nu tolerează, sau un inhibitor de receptor de angiotensină Neprylipsină la pacienții cu simptome persistente în ciuda optimizării tratamentului."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 10.1 [pp. 34]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 10.1 [pp. 34]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 10.1 [PP. 34]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 10.1 [pp. 34]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
