{
  "uuid": "cad-medication-treatment-card-12",
  "summary": {
    "en": "Beta-blockers are recommended in patients with left ventricular (LV) dysfunction or systolic heart failure.",
    "es": "Los beta-bloqueantes se recomiendan en pacientes con disfunción ventricular izquierda (VI) o insuficiencia cardiaca sistólica.",
    "de": "Betablocker werden bei Patienten mit linksventrikulärer (LV) Dysfunktion oder systolischer Herzinsuffizienz empfohlen.",
    "ro": "Beta blocantele sunt recomandate pacienților cu disfuncție VS sau insuficență sistolică."
  },
  "indicator": "info",
  "detail": {
    "en": "Beta-blockers are recommended in patients with left ventricular (LV) dysfunction or systolic heart failure.",
    "es": "Los beta-bloqueantes se recomiendan en pacientes con disfunción ventricular izquierda (VI) o insuficiencia cardiaca sistólica.",
    "de": "Betablocker werden bei Patienten mit linksventrikulärer (LV) Dysfunktion oder systolischer Herzinsuffizienz empfohlen.",
    "ro": "Beta blocantele sunt recomandate pacienților cu disfuncție VS sau insuficență sistolică."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 10.2.2 [pp. 35]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 10.2.2 [pp. 35]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 10.2.2 [PP. 35]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 10.2.2 [pp. 35]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
