{
  "uuid": "cad-medication-treatment-card-14",
  "summary": {
    "en": "Following coronary stenting, Clopidogrel is recommended daily.",
    "es": "Tras la implantación de un stent coronario, se recomienda Clopidogrel a diario.",
    "de": "Nach einem Koronarstenting wird Clopidogrel täglich empfohlen.",
    "ro": "În urma stentului, o doză zilnică de Clopidogrel este recomandată."
  },
  "indicator": "info",
  "detail": {
    "en": "Clopidogrel 75 mg daily following appropriate loading (e.g., 600 mg or >5 days of maintenance therapy) is recommended, in addition to aspirin, for 6 months following coronary stenting, irrespective of stent type, unless a shorter duration (1-3 months) is indicated due to risk or the occurrence of life-threatening bleeding.",
    "es": "Se recomienda clopidogrel 75mg al día tras una carga apropiada (por ejemplo, 600mg o >5 días de terapia de mantenimiento), añadido a la aspirina, durante 6 meses tras la implantación de un stent coronario, independientemente del tipo de stent, a menos que se indicque una duración menor (1-3 meses) por el riesgo o la aparición de un sangrado peligroso para la vida.",
    "de": "Clopidogrel 75 mg täglich nach angemessener Aufdosierung (z. B. 600 mg oder >5 Tage Erhaltungstherapie) wird zusätzlich zu Aspirin für 6 Monate nach dem Koronarstenting empfohlen, unabhängig vom Stenttyp, es sei denn, eine kürzere Dauer (1-3 Monate) ist aufgrund des Risikos oder des Auftretens lebensbedrohlicher Blutungen angezeigt.",
    "ro": "Clopidogrel 75mg/zi urmat de o creștere corespunzătoare (ex. 600mg sau cel puțin 5 zile de menținere a terapiei medicamentoase) este recomandată, alături de Aspirină pentru 6 luni în urma stentăriii, indiferent de tipul de stent, cu excepția cazului de risc crescut de hemoragie ce poate periclita viața pacientului - în acest caz este recomandată Aspirina pentru 1-3 luni."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 10.1 [pp. 34]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 10.1 [pp. 34]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 10.1 [PP. 34]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 10.1 [pp. 34]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
