{
  "uuid": "cad-medication-treatment-card-8",
  "summary": {
    "en": "Short-acting nitrates are recommended for immediate relief of angina.",
    "es": "Los nitratos de acción corta se recomiendan para el alivio inmediato de la angina.",
    "de": "Kurz wirksame Nitrate werden zur sofortigen Linderung von Angina pectoris empfohlen.",
    "ro": "Nitrații cu durată scurtă sunt recomandați pentru ameliorarea imediată a anginei."
  },
  "indicator": "info",
  "detail": {
    "en": "Short-acting nitrates are recommended for immediate relief of angina.",
    "es": "Los nitratos de acción corta se recomiendan para el alivio inmediato de la angina.",
    "de": "Kurz wirksame Nitrate werden zur sofortigen Linderung von Angina pectoris empfohlen.",
    "ro": "Nitrații cu durată scurtă sunt recomandați pentru ameliorarea imediată a anginei."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 10.2.2 [pp. 35]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 10.2.2 [pp. 35]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 10.2.2 [PP. 35]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 10.2.2 [pp. 35]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
