{
  "uuid": "cad-medication-treatment-card-16",
  "summary": {
    "en": "Patients who remain symptomatic despite adequate treatment with an ACE inhibitor and beta-blocker should be recommended with Mineralocorticoid Receptor Antagonist (spironolactone or eplerenone) to reduce morbidity and mortality.",
    "es": "A los pacientes que permanecen sintomáticos pese al tratamiento adecuado con un IECA y un beta-bloqueante se les debería recomendar un antagonista del receptor mineralocorticoide (espironolactona o eplenorona) para reducir morbilidad y mortalidad.",
    "de": "Patienten, die trotz einer angemessenen Behandlung mit einem ACE-Hemmer und einem Betablocker symptomatisch bleiben, sollten mit einem Mineralocorticoid-Rezeptor-Antagonisten (Spironolacton oder Eplerenon)  behandelt werden, um die Morbidität und Mortalität zu verringern.",
    "ro": "Pacienților care rămân simptomatici în ciuda trataemntului adecvat cu inhibitori de enzimă de conversie sau beta blocanți le sunt recomandați antagoniștii de receptor de mineralocorticoid (Spironolactona sau Eplerenona) pentru a reduce mortalitatea."
  },
  "indicator": "info",
  "detail": {
    "en": "A Mineralocorticoid Receptor Antagonist (spironolactone or eplerenone) to reduce morbidity and mortality. is recommended in patients who remain symptomatic despite adequate treatment with an ACE inhibitor and beta-blocker, to reduce morbidity and mortality.",
    "es": "Un antagonista del receptor mineralocorticoide (espironolactona o eplenorona) se recomienda en pacientes que permanecen sintomáticos pese al tratamiento adecuado con un IECA y un beta-bloqueante para reducir morbilidad y mortalidad.",
    "de": "Ein Mineralokortikoidrezeptor-Antagonist (Spironolacton oder Eplerenon) wird bei Patienten empfohlen, die trotz einer angemessenen Behandlung mit einem ACE-Hemmer und einem Betablocker symptomatisch bleiben, um Morbidität und Mortalität zu verringern.",
    "ro": "Un antagonist de receptor de mineralocorticoid (Spironolactona sau Eplerenona) este recomandat la pacienții ce rămân simptomatici în ciuda tratamentului adecvat cu un inhibitor de enzimă de conversie sau beta blocant pentru a reduce mortalitatea."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 10.1 [pp. 34]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 10.1 [pp. 34]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 10.1 [PP. 34]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 10.1 [pp. 34]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
