{
  "uuid": "cad-medication-treatment-card-9",
  "summary": {
    "en": "Initial first-line treatment with the combination of a beta-blocker and a dihydropyridine Calcium Channel Blocker (CCB) should be considered to control heart rate and symptoms. ",
    "es": "Se debería considerar un tratamiento inicial de primera línea con la combinación de un betabloqueante y un bloqueante de los canales de calcio dihidropiridínico para controlar la frecuencia cardiaca y los síntomas.",
    "de": "Die Erstbehandlung mit einer Kombination aus einem Betablocker und einem Dihydropyridin-Kalziumkanalblocker (CCB) sollte zur Kontrolle der Herzfrequenz und der Symptome in Betracht gezogen werden. ",
    "ro": "Tratamentul de primă linie ce ar trebui considerat pentru a controla pulsul și simpromele este o combinație între un beta blocant și un blocant de canal de calciu (derivat din dihidropiridina)."
  },
  "indicator": "info",
  "detail": {
    "en": "Initial first-line treatment with the combination of a beta-blocker and a dihydropyridine Calcium Channel Blocker (CCB) should be considered to control heart rate and symptoms. ",
    "es": "Se debería considerar un tratamiento inicial de primera línea con la combinación de un betabloqueante y un bloqueante de los canales de calcio dihidropiridínico para controlar la frecuencia cardiaca y los síntomas.",
    "de": "Die Erstbehandlung mit einer Kombination aus einem Betablocker und einem Dihydropyridin-Kalziumkanalblocker (CCB) sollte zur Kontrolle der Herzfrequenz und der Symptome in Betracht gezogen werden. ",
    "ro": "Tratamentul de primă linie ce ar trebui considerat pentru a controla pulsul și simpromele este o combinație între un beta blocant și un blocant de canal de calciu (derivat din dihidropiridina)."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 10.2.2 [pp. 35]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 10.2.2 [pp. 35]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 10.2.2 [PP. 35]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 10.2.2 [pp. 35]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
