{
  "uuid": "hf-diagnosis-card-6",
  "summary": {
    "en": "Perform NYHA classification (AICP) (New York Heart Association) to assess the severity of heart failure.",
    "es": "Realizar la clasificación de la NYHA (AICP) (New York Heart Association) para valorar la severidad de la insuficiencia cardiaca.",
    "de": "Durchführung der NYHA-Klassifizierung (AICP) (New York Heart Association) zur Beurteilung des Schweregrads der Herzinsuffizienz.",
    "ro": "Evaluați pe scara NYHA (New York Heart Association) severitatea insuficienței cardiace."
  },
  "indicator": "info",
  "detail": {
    "en": "When a diagnosis of HF has been made, assess severity, aetiology, precipitating factors, type of cardiac dysfunction, and correctable causes.",
    "es": "Cuando se haga un diagnóstico de IC, valorar severidad, etiología, factores precipitantes, tipo de disfunción cardiaca y causas corregibles.",
    "de": "Wenn die Diagnose Herzinsuffizienz gestellt wurde, sind Schweregrad, Ätiologie, auslösende Faktoren, Art der Herzfunktionsstörung und korrigierbare Ursachen zu beurteilen. ",
    "ro": "Când pacientului are deja un diagnostic de insuficiență cardiacă, evaluați severitatea, etiologia, factorii cei mai probabili, tipul de disfuncție cardiacă și cauzele ce pot fi prevenite."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.1 [pp. 37]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.1 [pp. 37]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.1 [PP. 37]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.1 [pp. 37]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
