{
  "uuid": "hf-diagnosis-card-7",
  "summary": {
    "en": "Perform cardiac dysfunction classification by LVEF OR by entering LVEF measure.",
    "es": "Realizar una clasificación de disfunción cardiaca por FEVI O introduciendo la medida de FEVI.",
    "de": "Führen Sie eine Klassifizierung der Herzfunktionsstörung nach der linksventrikulären Auswurffraktion (LVEF) ODER durch Eingabe des LVEF-Wertes durch.",
    "ro": "Evaluați disfuncția cardiacă prin introducearea valorii fracției de ejecție a ventriculului stâng (FEVS)."
  },
  "indicator": "info",
  "detail": {
    "en": "When a diagnosis of HF has been made,perform transthoracic echocardiography to exclude valve disease, assess the systolic (and diastolic) function of the LV, and detect intracardiac shunts.",
    "es": "Cuando se haga un diagnóstico de IC, realizar ecocardiograma transtorácico para exlcuir enfermedad valvular, evaluar la función sistólica (y diastólica) del VI y detectar shunts intracardiacos.",
    "de": "Wenn die Diagnose HF gestellt wurde, führen Sie eine transthorakale Echokardiographie durch, um eine Klappenerkrankung auszuschließen, die systolische (und diastolische) Funktion des LV zu beurteilen und intrakardiale Shunts zu erkennen.",
    "ro": "Când pacientului are deja un diagnostic de insuficiență cardiacă, evaluați prin ecografie transtoracică pentru a exclude valvulopatiile, funțiile sistolica și diastolocă ale VS și prezența unor șunturi intracardiace."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.1 [pp. 37]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.1 [pp. 37]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.1 [PP. 37]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.1 [pp. 37]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
