{
  "uuid": "commonly-used-drugs-card-4",
  "summary": {
    "en": "Consider prescribing Ezetimibe.",
    "es": "Considere prescribir ezetimiba.",
    "de": "Erwägen Sie, Ezetimib zu verschreiben.",
    "ro": "Luați în considerare prescrierea de ezetimibe."
  },
  "indicator": "info",
  "detail": {
    "en": "If a patient’s goal is not achieved with the maximum tolerated dose of statin, combination with ezetimibe is recommended.",
    "es": "Si el objetivo de un paciente no se logra con la dosis máxima tolerada de estatina, se recomienda combinación con ezetimiba.",
    "de": "Wenn das Ziel eines Patienten nicht mit der maximal tolerierten Statindosis erreicht wird, wird eine Kombination mit Ezetimib empfohlen.",
    "ro": "Dacă obiectivul unui pacient nu este atins cu doza maximă tolerată de statină, se recomandă o combinație cu ezetimibe."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 8.1.1, [pp. 30]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 8.1.1, [pp. 30]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 8.1.1, [S. 30]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 8.1.1, [pp. 30]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
