{
  "uuid": "commonly-used-drugs-card-2",
  "summary": {
    "en": "Consider prescribing Proton Pump Inhibitor (PPI).",
    "es": "Considere prescribir un inhibidor de la bomba de protones (IBP).",
    "de": "Erwägen Sie, Protonenpumpeninhibitor (PPI) zu verschreiben.",
    "ro": "Luați în considerare prescrierea inhibitorului pompei de protoni (PPI)."
  },
  "indicator": "info",
  "detail": {
    "en": "Concomitant use of a proton pump inhibitor is recommended in patients receiving aspirin monotherapy, dual antiplatelet therapy, or oral anticoagulant monotherapy, who are at high risk of gastrointestinal bleeding.",
    "es": "El uso concomitante de un inhibidor de la bomba de protones se recomienda en pacientes que reciben monoterapia con aspirina, terapia antiplaquetaria dual o monoterapia anticoagulante oral, que tienen un alto riesgo de sangrado gastrointestinal.",
    "de": "Die gleichzeitige Verwendung eines Protonenpumpeninhibitors wird bei Patienten empfohlen, die eine Aspirin -Monotherapie, eine doppelte Thrombozytenaggregationshemmung oder eine orale Antikoagulans -Monotherapie erhalten, die ein hohes Risiko für Magen -Darm -Blutungen haben.",
    "ro": "Utilizarea concomitentă a unui inhibitor al pompei de protoni este recomandată la pacienții care au primit monoterapie aspirică, terapie antiplachetară dublă sau monoterapie anticoagulantă orală, care prezintă un risc ridicat de sângerare gastrointestinală."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 8.1.1, [pp. 30]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 8.1.1, [pp. 30]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 8.1.1, [S. 30]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 8.1.1, [pp. 30]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
