{
  "uuid": "commonly-used-drugs-card-9",
  "summary": {
    "en": "Information about the use of aspirin.",
    "es": "Información sobre el uso de aspirina.",
    "de": "Informationen über die Verwendung von Aspirin.",
    "ro": "Informații despre utilizarea aspirinei."
  },
  "indicator": "info",
  "detail": {
    "en": "The use of aspirin is not recommended for multimorbid older adults with MCI or mild dementia who have brain imaging evidence of covert white matter lesions of presumed vascular origin without history of stroke or brain infarcts. The effects of aspirin on cognitive decline in patients with MCI or dementia who have covert brain infarcts detected on neuroimaging without history of stroke has not been defined. The use of aspirin in this setting is reasonable, but the benefit is unclear.",
    "es": "El uso de la aspirina no se recomienda en adultos mayores con multimorbilidad y  DCL o demencia leve que tienen evidencia de imágenes cerebrales de lesiones en sustancia blanca de posible origen vascular sin antecedentes de accidente cerebrovascular o infarto cerebral. No se han definido los efectos de la aspirina sobre el deterioro cognitivo en pacientes con DCL o demencia que tienen infartos cerebrales detectados en neuroimagen sin antecedente de accidente cerebrovascular. El uso de aspirina en este entorno es razonable, pero el beneficio no está claro.",
    "de": "Die Verwendung von Aspirin wird nicht für multimorbide ältere Erwachsene mit MCI oder milder Demenz empfohlen, die verdeckte Läsionen der weißen Substanz von MCI ohne Anamnese eines Schlaganfalls oder Hirninfarkts haben. Die Effekte bei einer Demenz mit verdeckten Gehirninfarkten, die ohne Schlaganfall  in der Vorgeschichte festgestellt wurden, wurden nicht definiert. Die Verwendung von Aspirin in dieser Situation ist angemessen, der Nutzen ist jedoch unklar.",
    "ro": "Utilizarea aspirinei nu este recomandată pentru adulții în vârstă multimorbizi cu MCI sau demență ușoară, care au dovezi imagistice ale leziunilor cerebrale de materie albă, ascunse, de origine vasculară, presupusă fără antecedente de accident vascular cerebral sau infarct cerebral. Efectele aspirinei asupra declinului cognitiv la pacienții cu MCI sau demența care au infarct cerebral asimptomatic detectat pe neuroimagistică fără istoric de accident vascular cerebral nu a fost definită. Utilizarea aspirinei în acest cadru este rezonabilă, dar beneficiul nu este clar."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 8.1.1, [pp. 30]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 8.1.1, [pp. 30]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 8.1.1, [S. 30]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 8.1.1, [pp. 30]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
