{
  "uuid": "commonly-used-drugs-card-5",
  "summary": {
    "en": "Consider prescribing PCSK9 inhibitor.",
    "es": "Considere prescribir el inhibidor de PCSK9.",
    "de": "Erwägen Sie, den PCSK9 -Inhibitor zu verschreiben.",
    "ro": "Luați în considerare prescrierea inhibitorului PCSK9."
  },
  "indicator": "info",
  "detail": {
    "en": "For patients at very high risk who do not achieve their goal on a maximum tolerated dose of statin and ezetimibe, combination with a PCSK9 inhibitor is recommended.\nVery high risk is defined as:\n1.Stroke plus another major atherosclerotic cardiovascular disease (coronary artery disease, carotid artery stenosis, peripheral artery disease, or atherosclerotic renal artery stenosis) or\n2.Stroke plus multiple high-risk conditions (hypertension, diabetes, dyslipidaemia, thromboembolic disease or risk factors).",
    "es": "Para los pacientes con muy alto riesgo que no alcanzan su objetivo en una dosis máxima de estatinas y ezetimiba, se recomienda una combinación con un inhibidor de PCSK9.\nEl riesgo muy alto se define como:\n1. Accidente cerebrovascular más otra enfermedad cardiovascular aterosclerótica importante (enfermedad arterial coronaria, estenosis  carotídea, enfermedad arterial periférica o estenosis de  arteria renal aterosclerótica) o\n2. Accidente cerebrovascular más múltiples condiciones de alto riesgo (hipertensión, diabetes, dislipidemia, enfermedad tromboembólica o factores de riesgo).",
    "de": "Für Patienten mit sehr hohem Risiko, die ihr Ziel bei einer maximal tolerierten Dosis von Statin und Ezetimib nicht erreichen, wird eine Kombination mit einem PCSK9 -Inhibitor empfohlen.\nSehr hohes Risiko ist definiert als:\n1. Schlaganfall plus eine weitere wichtige atherosklerotische Herz -Kreislauf -Erkrankung (Koronararterienerkrankung, Stenose der Karotisarterie, Erkrankung der peripheren Arterie oder atherosklerotische Stenose der Nierenarterie) oder\n2. Schlaganfall plus mehrere Risikozustände (Bluthochdruck, Diabetes, Dyslipidämie, thromboembolische Erkrankungen oder Risikofaktoren).",
    "ro": "Pentru pacienții cu risc foarte mare, care nu își ating obiectivul pe o doză maximă tolerată de statină și ezetimibe, se recomandă o combinație cu un inhibitor PCSK9.\nRiscul foarte mare este definit ca:\n1. AVC plus o altă boală cardiovasculară aterosclerotică majoră (boala coronariană a arterei, stenoza arterei carotide, boala arterei periferice sau stenoza arterei renale aterosclerotice) sau\n2. AVC plus afecțiuni multiple cu risc ridicat (hipertensiune arterială, diabet, dislipidemie, boală tromboembolică sau factori de risc)."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 8.1.1, [pp. 30]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 8.1.1, [pp. 30]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 8.1.1, [S. 30]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 8.1.1, [pp. 30]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
