{
  "uuid": "commonly-used-drugs-card-6",
  "summary": {
    "en": "Consider starting SGLT2 inhibitors.",
    "es": "Considere iniciar inhibidores de SGLT2.",
    "de": "Erwägen Sie, mit SGLT2 -Inhibitoren zu beginnen.",
    "ro": "Luați în considerare începerea tratamentului cu inhibitori SGLT2."
  },
  "indicator": "info",
  "detail": {
    "en": "The sodium-glucose co-transporter 2 inhibitors (SGLT2) empagliflozin, canagliflozin, or dapagliflozin are recommended in patients with diabetes and/or cardiovascular disease.",
    "es": "Se recomiendan los inhibidores de co-transformador 2 de sodio-glucosa (iSGLT2) empagliflozina, canagliflozina o dapagliflozina en pacientes con diabetes y/o enfermedad cardiovascular.",
    "de": "Bei Patienten mit Diabetes und/oder Herz-Kreislauf-Erkrankungen werden die Natrium-Glucose-Co-Transporter 2-Inhibitoren (SGLT2) Empagliflozin, Canagliflozin oder Dapagliflozin empfohlen.",
    "ro": "Inhibitori de cotransportator 2 de sodiu-glucoză (SGLT2) empagliflozin, canagliflozină sau dapagliflozină sunt recomandate la pacienții cu diabet și/sau boli cardiovasculare."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 8.1.1, [pp. 31]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 8.1.1, [pp. 31]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 8.1.1, [S. 31]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 8.1.1, [pp. 31]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
