{
  "uuid": "commonly-used-drugs-card-8",
  "summary": {
    "en": "Consider prescribing anticoagulation therapy.",
    "es": "Considere la prescripción de tratamiento anticoagulante",
    "de": "Erwägen Sie die Verschreibung einer Antikoagulationstherapie",
    "ro": "Luați în considerare prescrierea terapiei anticoagulante."
  },
  "indicator": "info",
  "detail": {
    "en": "In periods of immobilization, like during a hospitalization, thromboembolism prophylaxis, for instance with low molecular weight heparin, is recommended in patients not already anticoagulated and with no contraindication to anticoagulation, to reduce the risk of deep venous thrombosis and pulmonary embolism.",
    "es": "En períodos de inmovilización, como durante una hospitalización, se recomienda la profilaxis de enfermedad tromboembólica, por ejemplo con heparina de bajo peso molecular, en pacientes no anticoagulados y sin contraindicación a la anticoagulación, para reducir el riesgo de trombosis venosa profunda y embolia pulmonar.",
    "de": "In Perioden der Immobilisierung, wie während eines Krankenhausaufenthaltes, wird die Thromboembolie -Prophylaxe, beispielsweise mit Heparin mit niedrigem Molekulargewicht, bei Patienten empfohlen, die nicht bereits antikoaguliert werden und keine Kontraindikation gegen die Antikoagulation haben, um das Risiko einer tiefen Venen-Thrombose und der Lungenembolie zu verringern.",
    "ro": "În perioadele de imobilizare, ca în timpul unei spitalizări, este recomandată profilaxia tromboembolismului, de exemplu cu heparină cu greutate moleculară mică, la pacienții care nu sunt deja anticoagulați și fără contraindicație cu anticoagularea, pentru a reduce riscul de trombolism venos profund și embolism pulmonar."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 8.1.1, [pp. 31]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 8.1.1, [pp. 31]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 8.1.1, [S. 31]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 8.1.1, [pp. 31]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
