{
  "uuid": "commonly-used-drugs-card-7",
  "summary": {
    "en": "Consider starting SGLT2 inhibitors (dapagliflozin).",
    "es": "Considere iniciar inhibidores de SGLT2 (dapagliflozin).",
    "de": "Erwägen Sie, die SGLT2 -Inhibitoren (Dapagliflozin) zu beginnen.",
    "ro": "Luați în considerare începerea inhibitorilor SGLT2 (dapagliflozin)."
  },
  "indicator": "info",
  "detail": {
    "en": "Dapagliflozin as a sodium-glucose co-transporter 2 inhibitors (SGLT2) is recommended in patients with CKD (with or without diabetes), but probably in the next months the four drugs will have this indication. Only indicated when glomerular filtration rate is > 25 ml/min, but if treatment was begun with this GFR, the drug can be maintained until dyalisis.",
    "es": "Se recomienda dapagliflozinacomo inhibidor del co-transportador de sodio-glucosa (SGLT2)  en pacientes con ERC (con o sin diabetes), pero probablemente en los próximos meses los cuatro medicamentos tendrán esta indicación.\nSolo indicado cuando la tasa de filtración glomerular es > 25 ml/min, pero si el tratamiento se inició con esta TFGe, el fármaco se puede mantener hasta la dialisis.",
    "de": "Dapagliflozin als Natrium-Glucose-Co-Transporter 2-Inhibitoren (SGLT2) wird bei Patienten mit CKD (mit oder ohne Diabetes) empfohlen, aber wahrscheinlich werden die vier Medikamente  in den nächsten Monaten diese Indikation haben.\nNur angezeigt, wenn die glomeruläre Filtrationsrate> 25 ml/min beträgt, aber wenn die Behandlung mit dieser GFR begonnen wurde, kann das Medikament bis zur Dialyse aufrechterhalten werden.",
    "ro": "Dapagliflozina ca Inhibitor de cotransportator 2 de sodiu-glucoză (SGLT2) este recomandată la pacienții cu CKD (cu sau fără diabet), dar probabil în următoarele luni, cele patru medicamente vor avea această indicație.\nEste indicat numai atunci când rata de filtrare glomerulară este> 25 ml/min, dar dacă a fost început tratamentul cu acest GFR, medicamentul poate fi menținut până la dializă."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 8.1.1, [pp. 31]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 8.1.1, [pp. 31]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 8.1.1, [S. 31]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 8.1.1, [pp. 31]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
