{
  "uuid": "commonly-used-drugs-card-3",
  "summary": {
    "en": "Consider prescribing Statins.",
    "es": "Considere prescribir estatinas.",
    "de": "Erwägen Sie, Statine zu verschreiben.",
    "ro": "Luați în considerare prescrierea statinelor."
  },
  "indicator": "info",
  "detail": {
    "en": "Statins are recommended in all patients, regardless of age, for the secondary prevention of cardiovascular events in patients with chronic coronary syndromes.",
    "es": "Se recomiendan estatinas en todos los pacientes, independientemente de la edad, para la prevención secundaria de eventos cardiovasculares en pacientes con síndrome coronario crónico.",
    "de": "Statine werden bei allen Patienten unabhängig vom Alter für die sekundäre Prävention von kardiovaskulären Ereignissen bei Patienten mit chronischen Koronarsyndromen empfohlen.",
    "ro": "Statinele sunt recomandate la toți pacienții, indiferent de vârstă, pentru prevenirea evenimentelor cardiovasculare secundare la pacienții cu sindroame coronariene cronice."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 8.1.1, [pp. 30]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 8.1.1, [pp. 30]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 8.1.1, [S. 30]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 8.1.1, [pp. 30]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
