{
  "uuid": "diabetes-diagnosis-card-55",
  "summary": {
    "en": "Diabetes or Prediabetes diagnosis panel appears based on patient's lab test results.",
    "es": "El panel de diagnóstico de diabetes o prediabetes aparece según los resultados de las pruebas de laboratorio del paciente.",
    "de": "Das Diabetes- oder Prädiabetes-Diagnosepanel erscheint basierend auf den Labortestergebnissen des Patienten.",
    "ro": "Panoul de diagnosticare a diabetului sau prediabetului apare în funcție de rezultatele testelor de laborator ale pacientului."
  },
  "indicator": "info",
  "detail": {
    "en": "* Diabetes should be diagnosed by any of the following criteria: fasting plasma glucose ≥ 126 mg/dL (7.0 mmol/L), or HbA1c ≥ 6.5% (48 mmol/mol), or 2h plasma glucose in a 75 g oral glucose tolerance test (OGTT) ≥ 200 mg/dl (11.1 mmol/L), or in a patient with classic symptoms of hyperglycaemia or hyperglycaemic crisis, a random plasma glucose ≥ 200 mg/dL (11.1 mmol/L).\n* Prediabetes is defined as a state which places individuals at high risk of developing diabetes and its complications. It is diagnosed by any of the following criteria: Impaired fasting glucose as defined per fasting plasma glucose 100-125 mg/dL (5.6-6.9 mmol/L), or impaired glucose tolerance as defined per a 2h plasma glucose in a 75g oral glucose tolerance test (OGTT) 140-199 mg/dL (7.8-11.0 mmol/L), or HbA1c 5.7-6.4% (39-47 mmol/mol).",
    "es": "* La diabetes debe diagnosticarse mediante cualquiera de los siguientes criterios: glucosa plasmática en ayunas ≥ 126 mg/dl (7,0 mmol/l), o HbA1c ≥ 6,5% (48 mmol/mol), o glucosa plasmática a las 2 h de una prueba de tolerancia oral a la glucosa de 75 g ≥ 200 mg/dl (11. 1 mmol/L), o en un paciente con síntomas clásicos de hiperglucemia o crisis hiperglucémica, una glucosa plasmática aleatoria ≥ 200 mg/dl (11,1 mmol/L).\n* La prediabetes se define como un estado que sitúa a las personas en alto riesgo de desarrollar diabetes y sus complicaciones. Se diagnostica mediante cualquiera de los siguientes criterios: Alteración de la glucosa en ayunas definida por una glucosa plasmática en ayunas de 100-125 mg/dL (5,6-6,9 mmol/L), o alteración de la tolerancia a la glucosa definida por una glucosa plasmática a las 2 h de una prueba de tolerancia oral a la glucosa de 75 g de 140-199 mg/dL (7,8-11,0 mmol/L), o HbA1c 5,7-6,4% (39-47 mmol/mol).",
    "de": "* Diabetes sollte nach einem der folgenden Kriterien diagnostiziert werden: Nüchtern-Plasmaglukose ≥ 126 mg/dl (7,0 mmol/l) oder HbA1c-≥ 6,5% (48 mmol/mol) oder 2h-Plasmaglukose in einem oralen 75-g-Glukosetoleranztest (OGTT) ≥ 200 mg/dl (11,1 mmol/l) oder bei einem Patienten mit klassischen Symptomen einer Hyperglykämie oder einer hyperglykämischen Krise,  eine zufällige Plasmaglukose ≥ 200 mg/dl (11,1 mmol/l).\n* Prädiabetes ist definiert als ein Zustand, der Personen einem hohen Risiko aussetzt, an Diabetes und seinen Komplikationen zu erkranken. Es wird nach einem der folgenden Kriterien diagnostiziert: Beeinträchtigte Nüchternglukose gemäß der Definition pro Nüchternplasmaglukose 100-125 mg/dl (5,6-6,9 mmol/l) oder beeinträchtigte Glukosetoleranz gemäß einer 2-stündigen Plasmaglukose in einem oralen 75-g-Glukosetoleranztest (OGTT) 140-199 mg/dl (7,8-11,0 mmol/l) oder HbA1c 5,7-6,4% (39-47 mmol/mol).",
    "ro": "* Diabetul trebuie să fie diagnosticat prin oricare dintre următoarele criterii: glucoză plasmatică în post ≥ 126 mg/dL (7,0 mmol/L) sau HbA1c ≥ 6,5% (48 mmol/mol) sau 2H glucoză plasmatică într -un test de toleranță la glucoză orală de 75 g (OGTT) ≥ 200 mg/dL (11,1 mmol/L) sau la un pacient cu simptome clasice de hiperglicemie sau criză hiperglicemică, o glucoză plasmatică aleatoare ≥ 200 mg/dL (11,1 mmol/L).\n* Prediabetul este definit ca o stare care plasează persoanele cu risc ridicat de a dezvolta diabet și complicațiile sale. Este diagnosticat de oricare dintre următoarele criterii: glucoza cu post afectată ca fiind definită pe glucoză plasmatică 100-125 mg/dL (5,6-6,9 mmol/L) sau toleranța la glucoză afectată, așa cum este definită pentru o glucoză plasmatică 2H într-o glucoză orală de 75g orală 75g Test de toleranță (OGTT) 140-199 mg/dL (7,8-11,0 mmol/L) sau HbA1c 5,7-6,4% (39-47 mmol/mol)."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.2 [pp. 46]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.2 [pp. 46]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.2 [S. 46]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.2 [pp. 46]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
