{
  "uuid": "diabetes-diagnosis-card-2",
  "summary": {
    "en": "Consider Prediabetes diagnosis.",
    "es": "Considere el diagnóstico de prediabetes.",
    "de": "Erwägen Sie die Prädiabetes-Diagnose.",
    "ro": "Luați în considerare diagnosticul de prediabet."
  },
  "indicator": "info",
  "detail": {
    "en": "Prediabetes is defined as a state which places individuals at high risk of developing diabetes and its complications. It is diagnosed by any of the following criteria: Impaired fasting glucose as defined per fasting plasma glucose 100-125 mg/dL (5.6-6.9 mmol/L), or impaired glucose tolerance as defined per a 2h plasma glucose in a 75g oral glucose tolerance test (OGTT) 140-199 mg/dL (7.8-11.0 mmol/L), or HbA1c 5.7-6.4% (39-47 mmol/mol).",
    "es": "La prediabetes se define como un estado que sitúa a las personas en alto riesgo de desarrollar diabetes y sus complicaciones. Se diagnostica mediante cualquiera de los siguientes criterios: Alteración de la glucosa en ayunas definida por una glucosa plasmática en ayunas de 100-125 mg/dL (5,6-6,9 mmol/L), o alteración de la tolerancia a la glucosa definida por una glucosa plasmática a las 2 h de una prueba de tolerancia oral a la glucosa de 75 g de 140-199 mg/dL (7,8-11,0 mmol/L), o HbA1c 5,7-6,4% (39-47 mmol/mol).",
    "de": "Prädiabetes ist definiert als ein Zustand, der Personen einem hohen Risiko aussetzt, an Diabetes und seinen Komplikationen zu erkranken. Es wird nach einem der folgenden Kriterien diagnostiziert: Beeinträchtigte Nüchternglukose gemäß der Definition pro Nüchternplasmaglukose 100-125 mg/dl (5,6-6,9 mmol/l) oder beeinträchtigte Glukosetoleranz gemäß einer 2-stündigen Plasmaglukose in einem oralen 75-g-Glukosetoleranztest (OGTT) 140-199 mg/dl (7,8-11,0 mmol/l) oder HbA1c 5,7-6,4% (39-47 mmol/mol).",
    "ro": "Prediabetul este definit ca o stare care plasează persoanele cu risc ridicat de a dezvolta diabet și complicațiile sale. Este diagnosticat de oricare dintre următoarele criterii: glucoza cu post afectată ca fiind definită pe glucoză plasmatică 100-125 mg/dL (5,6-6,9 mmol/L) sau toleranța la glucoză afectată, așa cum este definită pentru o glucoză plasmatică 2H într-o glucoză orală de 75g orală 75g Test de toleranță (OGTT) 140-199 mg/dL (7,8-11,0 mmol/L) sau HbA1c 5,7-6,4% (39-47 mmol/mol)."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.2 [pp. 46]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.2 [pp. 46]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.2 [S. 46]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.2 [pp. 46]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
