{
  "uuid": "diabetes-diagnosis-card-1",
  "summary": {
    "en": "Consider Diabetes diagnosis.",
    "es": "Considere el diagnóstico de diabetes.",
    "de": "Erwägen Sie die Diabetes-Diagnose.",
    "ro": "Luați în considerare diagnosticul de diabet."
  },
  "indicator": "info",
  "detail": {
    "en": "Diabetes should be diagnosed by any of the following criteria: fasting plasma glucose ≥ 126 mg/dL (7.0 mmol/L), or HbA1c ≥ 6.5% (48 mmol/mol), or 2h plasma glucose in a 75 g oral glucose tolerance test (OGTT) ≥ 200 mg/dl (11.1 mmol/L), or in a patient with classic symptoms of hyperglycaemia or hyperglycaemic crisis, a random plasma glucose ≥ 200 mg/dL (11.1 mmol/L).",
    "es": "La diabetes debe diagnosticarse mediante cualquiera de los siguientes criterios: glucosa plasmática en ayunas ≥ 126 mg/dl (7,0 mmol/l), o HbA1c ≥ 6,5% (48 mmol/mol), o glucosa plasmática a las 2 h de una prueba de tolerancia oral a la glucosa de 75 g ≥ 200 mg/dl (11. 1 mmol/L), o en un paciente con síntomas clásicos de hiperglucemia o crisis hiperglucémica, una glucosa plasmática aleatoria ≥ 200 mg/dl (11,1 mmol/L).",
    "de": "Diabetes sollte nach einem der folgenden Kriterien diagnostiziert werden: Nüchtern-Plasmaglukose ≥ 126 mg/dl (7,0 mmol/l) oder HbA1c-≥ 6,5% (48 mmol/mol) oder 2h-Plasmaglukose in einem oralen 75-g-Glukosetoleranztest (OGTT) ≥ 200 mg/dl (11,1 mmol/l) oder bei einem Patienten mit klassischen Symptomen einer Hyperglykämie oder einer hyperglykämischen Krise,  eine zufällige Plasmaglukose ≥ 200 mg/dl (11,1 mmol/l).",
    "ro": "Diabetul trebuie să fie diagnosticat prin oricare dintre următoarele criterii: glucoză plasmatică în post ≥ 126 mg/dL (7,0 mmol/L) sau HbA1c ≥ 6,5% (48 mmol/mol) sau 2H glucoză plasmatică într -un test de toleranță la glucoză orală de 75 g (OGTT) ≥ 200 mg/dL (11,1 mmol/L) sau la un pacient cu simptome clasice de hiperglicemie sau criză hiperglicemică, o glucoză plasmatică aleatoare ≥ 200 mg/dL (11,1 mmol/L)."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.2 [pp. 46]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.2 [pp. 46]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.2 [S. 46]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.2 [pp. 46]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
