{
  "uuid": "diabetes-treatment-general-card-46",
  "summary": {
    "en": "Provide guidance on driving based on national regulations.",
    "es": "Proporcione orientación sobre la conducción basándose en la normativa nacional.",
    "de": "Bereitstellung von Leitlinien zum Fahren auf der Grundlage nationaler Vorschriften.",
    "ro": "Oferiți îndrumări cu privire la conducerea unui vehicul pe baza reglementărilor naționale."
  },
  "indicator": "info",
  "detail": {
    "en": "Take the Driver and Vehicle Licensing Agency's Assessing fitness to drive: a guide for medical professionals to consider in these patients when they still drive.",
    "es": "Consulte el documento \"Evaluación de la aptitud para conducir: guía para que los profesionales médicos tengan en cuenta a estos pacientes cuando aún conducen\" de la Agencia para la Autorización de Conductores y Vehículos.",
    "de": "Veranlassen Sie die Bewertung der Fahreignung durch eine verkehrsmedizinische Untersuchung.",
    "ro": "Citiți „Evaluarea capacității de a conduce”: un ghid de luat în considerare de către profesioniștii medicali pentru pacienții lor care încă mai conduc."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.1 [pp. 46]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.1 [pp. 46]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.1 [S. 46]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.1 [pp. 46]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
