{
  "uuid": "diabetes-treatment-goal-card-20",
  "summary": {
    "en": "Consider reducing burdens of glycaemic control and management in older adults receiving palliative care, or end-of-life care.",
    "es": "Considerar la reducción de la carga que supone el control y la gestión de la glucemia en adultos mayores que reciben cuidados paliativos o cuidados al final de la vida.",
    "de": "Erwägen Sie, die Belastung durch glykämische Kontrolle und Management bei älteren Erwachsenen, die Palliativpflege oder Sterbebegleitung erhalten, zu reduzieren.",
    "ro": "Luați în considerare reducerea îndatoririlor de control și gestionare a glicemiei la adulții în vârstă care primesc îngrijiri paliative sau îngrijiri aferente stadiilor terminale."
  },
  "indicator": "info",
  "detail": {
    "en": "In older adults receiving palliative care, or end-of-life care, the focus should be to avoid hypoglycaemia and symptomatic hyperglycaemia, while reducing the burdens of glycaemic control and management. When organ failure develops, several medicines will have to be deintensified or deprescribed. For the dying patient, most agents for type 2 diabetes may be removed.",
    "es": "En los adultos mayores que reciben cuidados paliativos o cuidados al final de la vida, el objetivo debe ser evitar la hipoglucemia y la hiperglucemia sintomática, al tiempo que se reducen las cargas del control y la gestión de la glucemia. Cuando se produce un fallo orgánico, habrá que desintensificar o dejar de prescribir varios medicamentos. Para el paciente moribundo, la mayoría de los agentes para la diabetes de tipo 2 pueden suprimirse.",
    "de": "Bei älteren Erwachsenen, die Palliativpflege oder Sterbebegleitung erhalten, sollte der Schwerpunkt darauf liegen, Hypoglykämie und symptomatische Hyperglykämie zu vermeiden und gleichzeitig die Belastung durch glykämische Kontrolle und Management zu reduzieren. Wenn sich ein Organversagen entwickelt, müssen mehrere Medikamente deintensiviert oder abgesetzt werden. Für den sterbenden Patienten können die meisten Ziele für Typ-2-Diabetes aufgegeben werden.",
    "ro": "La adulții în vârstă care primesc îngrijiri paliative sau îngrijiri aferente stadiilor terminale, accentul ar trebui să se pună pe evitarea hipoglicemiei și hiperglicemiei simptomatice, reducând în același timp îndatoririle de control și gestionare a glicemiei. Când apar insuficiențe de organ, mai multe doze de medicamente vor trebui să fie reduse sau eliminate din prescriere. Pentru pacientul terminal, majoritatea agenților pentru diabetul de tip 2 pot fi îndepărtați."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 52]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 52]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 52]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 52]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
