{
  "uuid": "diabetes-treatment-goal-card-19",
  "summary": {
    "en": "Avoid hyperglycaemia in all patients.",
    "es": "Evite la hiperglucemia en todos los pacientes.",
    "de": "Vermeiden Sie Hyperglykämie bei allen Patienten.",
    "ro": "Evitați hiperglicemia la toți pacienții."
  },
  "indicator": "info",
  "detail": {
    "en": "Hyperglycaemia leading to symptoms or risk of acute hyperglycaemia complications should be avoided in all patients.",
    "es": "Debe evitarse en todos los pacientes la hiperglucemia que provoque síntomas o riesgo de complicaciones agudas por hiperglucemia.",
    "de": "Hyperglykämien, die zu Symptomen oder dem Risiko akuter Hyperglykämiekomplikationen führen, sollten bei allen Patienten vermieden werden.",
    "ro": "Hiperglicemia care duce la manifestări simptomatice sau la riscul de complicații acute ale hiperglicemiei ar trebui evitată la toți pacienții."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 49]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 49]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 49]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 49]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
