{
  "uuid": "diabetes-treatment-goal-card-17",
  "summary": {
    "en": "Consider setting cardiometabolic goals for complex/intermediate patients.",
    "es": "Considere establecer objetivos cardiometabólicos para pacientes complejos/intermedios.",
    "de": "Erwägen Sie, kardiometabolische Ziele für komplexe/fortgeschrittene Patienten festzulegen.",
    "ro": "Luați în considerare stabilirea obiectivelor cardiometabolice pentru pacienții complecși/intermediari."
  },
  "indicator": "info",
  "detail": {
    "en": "* Complex/intermediate patients refer to patients with multiple coexisting chronic illnesses (conditions that are serious enough to require medications or lifestyle management and may include arthritis, cancer, congestive heart failure, depression, emphysema, falls, hypertension, incontinence, stage 3 or worse chronic kidney disease, myocardial infarction, and stroke) or ≥ 2 IADL impairments or mild-to-moderate cognitive impairment. “Multiple” means at least three, but many patients may have five or more.\n* HbA1c goal is recommended as &#60;8.0% (64 mmol/mol), glucose goal is recommended as 90-150 mg/dL (5.0-8.3 mmol/L) and BP goals are recommended as &#60;140/90 mmHg in this patient group.",
    "es": "* Los pacientes complejos/intermedios son aquellos que padecen varias enfermedades crónicas coexistentes ( trastornos que son lo suficientemente graves como para requerir medicación o control del estilo de vida y que pueden incluir artritis, cáncer, insuficiencia cardíaca congestiva, depresión, enfisema, caídas, hipertensión, incontinencia, enfermedad renal crónica en estadio 3 o peor, infarto de miocardio y accidente cerebrovascular) o discapacidad en ≥ 2 las AIVD o deterioro cognitivo de leve a moderado. \"Múltiples\" significa al menos tres, pero muchos pacientes pueden tener cinco o más.\n* Se recomienda que el objetivo de HbA1c sea &#60;8,0% (64 mmol/mol), el de glucosa 90-150 mg/dL (5,0-8,3 mmol/L) y el de PA &#60;140/90 mmHg en este grupo de pacientes.",
    "de": "* Komplexe/intermediäre Patienten meint  Patienten mit mehreren koexistierenden chronischen Erkrankungen (Erkrankungen, die schwerwiegend genug sind, um Medikamente oder Lebensstilmanagement zu erfordern und Arthritis, Krebs, Herzinsuffizienz, Depression, Emphysem, Stürze, Bluthochdruck, Inkontinenz, chronische Nierenerkrankung im Stadium 3 oder schlimmer, Myokardinfarkt und Schlaganfall) oder ≥ 2 IADL-Beeinträchtigungen oder leichten bis mittelschweren kognitiven Beeinträchtigungen. \"Mehreren\" bedeutet mindestens drei, aber viele Patienten können fünf oder mehr Erkrankungen haben.\n* Das HbA1c-Ziel wird mit &#60;8,0% (64 mmol/mol), das Glukoseziel mit 90-150 mg/dl (5,0-8,3 mmol/l) und das Blutdruckziel mit &#60;140/90 mmHg in dieser Patientengruppe empfohlen.",
    "ro": "* Pacienții complecși/intermediari se referă la pacienții cu multiple boli cronice coexistente (afecțiuni suficient de grave pentru a necesita medicamente sau gestionarea stilului de viață și pot include artrită, cancer, insuficiență cardiacă congestivă, depresie, emfizem, căderi, hipertensiune, incontinență, Boala Renală Cronică în stadiu 3 sau mai avansat, infarctul miocardic și accidentul vascular cerebral), ori ≥ 2 deficiențe IADL sau deficiențe cognitive ușoare până la moderate. „Multiple” înseamnând cel puțin trei, cu toate că mulți pacienți pot avea cinci sau mai multe.\n* Obiectivul, în legătură cu HbA1c este de a se mentine &#60;8,0% (64 mmol/mol), obiectivul legat de glucoză este menținerea în intervalul 90-150 mg/dL (5,0-8,3 mmol/L), iar cel legat de tensiune este de mentinere &#60;140/90 mmHg în acest grup de pacienți."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1, Table 3 [pp. 49-50]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1, Tabla 3 [pp. 49-50]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1, Tabelle 3 [S. 49-50]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1, Tabelul 3 [pp. 49-50]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  },
  "suggestions": [
    {
      "uuid": "Suggestion 1",
      "label": {
        "en": "Consider setting HbA1c, glucose, blood pressure and lipid goals.",
        "es": "Considere establecer objetivos HbA1c, glucosa, presión arterial y lípidos.",
        "de": "Erwägen Sie, HbA1c-, Glukose-, Blutdruck- und Lipidziele festzulegen.",
        "ro": "Luați în considerare stabilirea obiectivelor în legătură cu HbA1c, glucoză, tensiune arterială și lipide."
      },
      "actions": [
        {
          "type": "create",
          "description": {
            "en": "Keep HbA1c under control (below 8.0%).",
            "es": "Mantener la HbA1c bajo control (por debajo del 8,0%).",
            "de": "Halten Sie den HbA1c-Wert unter Kontrolle (unter 8,0%).",
            "ro": "Păstrați HbA1c sub control (sub 8,0%)."
          },
          "resource": {
            "resourceType": "Goal",
            "lifecycleStatus": "proposed",
            "meta": {
              "tag": [
                {
                  "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/concept-id",
                  "code": "GoalHbA1c"
                }
              ]
            },
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Keep HbA1c under control",
                  "es": "Mantener la HbA1c bajo control",
                  "de": "Halten Sie den HbA1c-Wert unter Kontrolle",
                  "ro": "Menținerea HbA1c sub control"
                }
              }
            ],
            "category": [
              {
                "coding": [
                  {
                    "system": "http://terminology.hl7.org/CodeSystem/goal-category",
                    "code": "safety"
                  }
                ]
              }
            ],
            "startDate": "{{today}}",
            "description": {
              "text": {
                "en": "Keep HbA1c under control (below 8.0%)",
                "es": "Mantener la HbA1c bajo control (por debajo del 8,0%)",
                "de": "Halten Sie den HbA1c-Wert unter Kontrolle (unter 8,0%)",
                "ro": "Păstrați HbA1c sub control (sub 8,0%)."
              },
              "coding": [
                {
                  "system": "http://snomed.info/sct",
                  "code": "698472009",
                  "display": {
                    "en": "Blood glucose monitoring (regime/therapy)",
                    "es": "Control de la glucemia (régimen/terapia)",
                    "de": "Blutzuckermessung (Regime/Therapie)",
                    "ro": "Monitorizarea glicemiei (regim/terapie)"
                  }
                }
              ]
            },
            "target": [
              {
                "measure": {
                  "coding": [
                    {
                      "system": "http://loinc.org",
                      "code": "4548-4",
                      "display": {
                        "en": "Hemoglobin A1c",
                        "es": "Hemoglobina A1c",
                        "de": "HBA1c",
                        "ro": "Hemoglobina A1c"
                      }
                    }
                  ]
                },
                "dueDate": "{{todayPlus3Months}}",
                "detailRange": {
                  "high": {
                    "value": 8.0,
                    "unit": "%",
                    "system": "http://unitsofmeasure.org",
                    "code": "%"
                  }
                }
              }
            ]
          }
        },
        {
          "type": "create",
          "description": {
            "en": "Keep fasting glucose between 90-150 mg/dL (5.0-8.3 mmol/L).",
            "es": "Mantenga la glucosa en ayunas entre 90-150 mg/dL (5.0-8.3 mmol/L).",
            "de": "Halten Sie die Nüchternglukose zwischen 90-150 mg / dl (5,0-8,3 mmol / l).",
            "ro": "Mențineți glucoza bazală între 90-150 mg/dL (5,0-8,3 mmol/L)."
          },
          "resource": {
            "resourceType": "Goal",
            "lifecycleStatus": "proposed",
            "meta": {
              "tag": [
                {
                  "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/concept-id",
                  "code": "GoalFastingGlucose"
                }
              ]
            },
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Keep fasting glucose under control",
                  "es": "Mantener bajo control la glucosa en ayunas",
                  "de": "Halten Sie die Nüchternglukose unter Kontrolle",
                  "ro": "Mențineți glucoza bazală sub control"
                }
              }
            ],
            "category": [
              {
                "coding": [
                  {
                    "system": "http://terminology.hl7.org/CodeSystem/goal-category",
                    "code": "safety"
                  }
                ]
              }
            ],
            "startDate": "{{today}}",
            "description": {
              "text": {
                "en": "Keep fasting glucose between 90-150 mg/dL (5.0-8.3 mmol/L)",
                "es": "Mantenga la glucosa en ayunas entre 90-150 mg/dL (5.0-8.3 mmol/L)",
                "de": "Halten Sie die Nüchternglukose zwischen 90-150 mg / dl (5,0-8,3 mmol / l)",
                "ro": "Mențineți glucoza bazală între 90-150 mg/dL (5,0-8,3 mmol/L)."
              },
              "coding": [
                {
                  "system": "http://snomed.info/sct",
                  "code": "698472009",
                  "display": {
                    "en": "Blood glucose monitoring (regime/therapy)",
                    "es": "Control de la glucemia (régimen/terapia)",
                    "de": "Blutzuckermessung (Regime/Therapie)",
                    "ro": "Monitorizarea glicemiei (regim/terapie)"
                  }
                }
              ]
            },
            "target": [
              {
                "measure": {
                  "coding": [
                    {
                      "system": "http://loinc.org",
                      "code": "76629-5",
                      "display": {
                        "en": "Fasting glucose",
                        "es": "Glucosa en ayunas",
                        "de": "Nüchternglukose",
                        "ro": "Glucoza a jeun"
                      }
                    }
                  ]
                },
                "dueDate": "{{todayPlus3Months}}",
                "detailRange": {
                  "low": {
                    "value": 90,
                    "unit": "mg/dL",
                    "system": "http://unitsofmeasure.org",
                    "code": "mg/dL"
                  },
                  "high": {
                    "value": 150,
                    "unit": "mg/dL",
                    "system": "http://unitsofmeasure.org",
                    "code": "mg/dL"
                  }
                }
              }
            ]
          }
        },
        {
          "type": "create",
          "description": {
            "en": "Keep systolic blood pressure under control (below 140 mm/Hg)",
            "es": "Mantenga la tensión arterial sistólica controlada (por debajo de 140 mm/Hg)",
            "de": "Halten Sie den systolischen Blutdruck unter Kontrolle (unter 140 mm/Hg)",
            "ro": "Mențineți tensiunea arterială sistolică sub control (sub 140 mm/hg)"
          },
          "resource": {
            "resourceType": "Goal",
            "lifecycleStatus": "proposed",
            "meta": {
              "tag": [
                {
                  "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/concept-id",
                  "code": "GoalSystolicBP"
                }
              ]
            },
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Keep systolic blood pressure under control",
                  "es": "Mantenga la tensión arterial sistólica controlada",
                  "de": "Halten Sie den systolischen Blutdruck unter Kontrolle",
                  "ro": "Mențineți tensiunea arterială sistolică sub control"
                }
              }
            ],
            "category": [
              {
                "coding": [
                  {
                    "system": "http://terminology.hl7.org/CodeSystem/goal-category",
                    "code": "safety"
                  }
                ]
              }
            ],
            "startDate": "{{today}}",
            "description": {
              "text": {
                "en": "Keep systolic blood pressure under control (below 140 mm/Hg)",
                "es": "Mantenga la tensión arterial sistólica controlada (por debajo de 140 mm/Hg)",
                "de": "Halten Sie den systolischen Blutdruck unter Kontrolle (unter 140 mm/Hg)",
                "ro": "Mențineți tensiunea arterială sistolică sub control (sub 140 mm/hg)"
              },
              "coding": [
                {
                  "system": "http://snomed.info/sct",
                  "code": "135840009",
                  "display": {
                    "en": "Blood Pressure monitoring (regime/therapy)",
                    "es": "Monitorizar la tensión arterial (régimen/terapia)",
                    "de": "Blutdrucküberwachung (Regime/Therapie)",
                    "ro": "Monitorizarea tensiunii arteriale (regim/terapie)"
                  }
                }
              ]
            },
            "target": [
              {
                "measure": {
                  "coding": [
                    {
                      "system": "http://loinc.org",
                      "code": "8480-6",
                      "display": {
                        "en": "Systolic blood pressure",
                        "es": "Tensión arterial sistólica",
                        "de": "Systolischer Blutdruck",
                        "ro": "Tensiunea sistolică"
                      }
                    }
                  ]
                },
                "dueDate": "{{todayPlus3Months}}",
                "detailRange": {
                  "high": {
                    "value": 140,
                    "unit": "mmHg",
                    "system": "http://unitsofmeasure.org",
                    "code": "mm[Hg]"
                  }
                }
              }
            ]
          }
        },
        {
          "type": "create",
          "description": {
            "en": "Keep diastolic blood pressure under control (below 90 mm/Hg)",
            "es": "Mantenga la tensión arterial diastólica controlada (por debajo de 90 mm/Hg)",
            "de": "Halten Sie den diastolischen Blutdruck unter Kontrolle (unter 90 mm/Hg)",
            "ro": "Mențineți tensiunea arterială diastolică sub control (sub 90 mm/hg)"
          },
          "resource": {
            "resourceType": "Goal",
            "lifecycleStatus": "proposed",
            "meta": {
              "tag": [
                {
                  "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/concept-id",
                  "code": "GoalDiastolicBP"
                }
              ]
            },
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Keep diastolic blood pressure under control",
                  "es": "Mantenga la tensión arterial diastólica controlada",
                  "de": "Halten Sie den diastolischen Blutdruck unter Kontrolle",
                  "ro": "Păstrați sub control tensiunea arterială diastolică"
                }
              }
            ],
            "category": [
              {
                "coding": [
                  {
                    "system": "http://terminology.hl7.org/CodeSystem/goal-category",
                    "code": "safety"
                  }
                ]
              }
            ],
            "startDate": "{{today}}",
            "description": {
              "text": {
                "en": "Keep diastolic blood pressure under control (below 90 mm/Hg)",
                "es": "Mantenga la tensión arterial diastólica controlada (por debajo de 90 mm/Hg)",
                "de": "Halten Sie den diastolischen Blutdruck unter Kontrolle (unter 90 mm/Hg)",
                "ro": "Mențineți tensiunea arterială diastolică sub control (sub 90 mm/hg)"
              },
              "coding": [
                {
                  "system": "http://snomed.info/sct",
                  "code": "135840009",
                  "display": {
                    "en": "Blood Pressure monitoring (regime/therapy)",
                    "es": "Monitorizar la tensión arterial (régimen/terapia)",
                    "de": "Blutdrucküberwachung (Regime/Therapie)",
                    "ro": "Monitorizarea tensiunii arteriale (regim/terapie)"
                  }
                }
              ]
            },
            "target": [
              {
                "measure": {
                  "coding": [
                    {
                      "system": "http://loinc.org",
                      "code": "8462-4",
                      "display": {
                        "en": "Diastolic blood pressure",
                        "es": "Tensión arterial diastólica",
                        "de": "Diastolischer Blutdruck",
                        "ro": "Tensiunea diastolică"
                      }
                    }
                  ]
                },
                "dueDate": "{{todayPlus3Months}}",
                "detailRange": {
                  "high": {
                    "value": 90,
                    "unit": "mmHg",
                    "system": "http://unitsofmeasure.org",
                    "code": "mm[Hg]"
                  }
                }
              }
            ]
          }
        },
        {
          "type": "create",
          "description": {
            "en": "Keep total cholesterol below 154 mg/dL (4.0 mmol/L).",
            "es": "Mantenga el colesterol total por debajo de 154 mg/dl (4.0 mmol/L).",
            "de": "Halten Sie das Gesamtcholesterin unter 154 mg / dl (4,0 mmol / l).",
            "ro": "Mențineți colesterolul total sub 154 mg/dL (4,0 mmol/L)."
          },
          "resource": {
            "resourceType": "Goal",
            "lifecycleStatus": "proposed",
            "meta": {
              "tag": [
                {
                  "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/concept-id",
                  "code": "GoalTotalCholesterol"
                }
              ]
            },
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Keep total cholesterol under control",
                  "es": "Mantenga el colesterol total bajo control",
                  "de": "Halten Sie das Gesamtcholesterin unter Kontrolle",
                  "ro": "Păstrați colesterolul total sub control"
                }
              }
            ],
            "category": [
              {
                "coding": [
                  {
                    "system": "http://terminology.hl7.org/CodeSystem/goal-category",
                    "code": "safety"
                  }
                ]
              }
            ],
            "startDate": "{{today}}",
            "description": {
              "text": {
                "en": "Keep total cholesterol below 154 mg/dL (4.0 mmol/L)",
                "es": "Mantenga el colesterol total por debajo de 154 mg/dl (4.0 mmol/L)",
                "de": "Halten Sie das Gesamtcholesterin unter 154 mg / dl (4,0 mmol / l)",
                "ro": "Mențineți colesterolul total sub 154 mg/dL (4,0 mmol/L)"
              },
              "coding": [
                {
                  "system": "http://loinc.org",
                  "code": "2093-3",
                  "display": {
                    "en": "Cholesterol [Mass/volume] in Serum or Plasma",
                    "es": "Colesterol [masa/volumen] en suero o plasma",
                    "de": "Cholesterin [Masse/Volumen] im Serum oder Plasma",
                    "ro": "Colesterol [masă/volum] în ser sau plasmă"
                  }
                }
              ]
            },
            "target": [
              {
                "measure": {
                  "coding": [
                    {
                      "system": "http://loinc.org",
                      "code": "2093-3",
                      "display": {
                        "en": "Cholesterol [Mass/volume] in Serum or Plasma",
                        "es": "Colesterol [masa/volumen] en suero o plasma",
                        "de": "Cholesterin [Masse/Volumen] im Serum oder Plasma",
                        "ro": "Colesterol [masă/volum] în ser sau plasmă"
                      }
                    }
                  ]
                },
                "dueDate": "{{todayPlus3Months}}",
                "detailRange": {
                  "high": {
                    "value": 154,
                    "unit": "mg/dL",
                    "system": "http://unitsofmeasure.org",
                    "code": "mg/dL"
                  }
                }
              }
            ]
          }
        },
        {
          "type": "create",
          "description": {
            "en": "Keep LDL cholesterol below 77 mg/dL (2.0 mmol/L).",
            "es": "Mantenga el colesterol LDL por debajo de 77 mg/dl (2.0 mmol/L).",
            "de": "Halten Sie das LDL-Cholesterin unter 77 mg / dl (2,0 mmol / l).",
            "ro": "Mențineți colesterolul LDL sub 77 mg/dL (2,0 mmol/L)."
          },
          "resource": {
            "resourceType": "Goal",
            "lifecycleStatus": "proposed",
            "meta": {
              "tag": [
                {
                  "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/concept-id",
                  "code": "GoalLDLCholesterol"
                }
              ]
            },
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Keep LDL cholesterol under control",
                  "es": "Mantenga el colesterol LDL bajo control",
                  "de": "Halten Sie LDL-Cholesterin unter Kontrolle",
                  "ro": "Păstrați colesterolul LDL sub control"
                }
              }
            ],
            "category": [
              {
                "coding": [
                  {
                    "system": "http://terminology.hl7.org/CodeSystem/goal-category",
                    "code": "safety"
                  }
                ]
              }
            ],
            "startDate": "{{today}}",
            "description": {
              "text": {
                "en": "Keep LDL cholesterol below 77 mg/dL (2.0 mmol/L)",
                "es": "Mantenga el colesterol LDL por debajo de 77 mg/dl (2.0 mmol/L)",
                "de": "Halten Sie das LDL-Cholesterin unter 77 mg / dl (2,0 mmol / l)",
                "ro": "Mențineți colesterolul LDL sub 77 mg/dL (2,0 mmol/L)"
              },
              "coding": [
                {
                  "system": "http://loinc.org",
                  "code": "2089-1",
                  "display": {
                    "en": "Cholesterol in LDL [Mass/volume] in Serum or Plasma",
                    "es": "Colesterol en LDL [masa/volumen] en suero o plasma",
                    "de": "Cholesterin in LDL [Masse/Volumen] im Serum oder Plasma",
                    "ro": "Colesterol în LDL [masă/volum] în ser sau plasmă"
                  }
                }
              ]
            },
            "target": [
              {
                "measure": {
                  "coding": [
                    {
                      "system": "http://loinc.org",
                      "code": "2089-1",
                      "display": {
                        "en": "Cholesterol in LDL [Mass/volume] in Serum or Plasma",
                        "es": "Colesterol en LDL [masa/volumen] en suero o plasma",
                        "de": "Cholesterin in LDL [Masse/Volumen] im Serum oder Plasma",
                        "ro": "Colesterol în LDL [masă/volum] în ser sau plasmă"
                      }
                    }
                  ]
                },
                "dueDate": "{{todayPlus3Months}}",
                "detailRange": {
                  "high": {
                    "value": 77,
                    "unit": "mg/dL",
                    "system": "http://unitsofmeasure.org",
                    "code": "mg/dL"
                  }
                }
              }
            ]
          }
        },
        {
          "type": "create",
          "description": {
            "en": "Keep HDL cholesterol below 54 mg/dL (1.4 mmol/L).",
            "es": "Mantenga el colesterol HDL por debajo de 54 mg/dL (1.4 mmol/L).",
            "de": "Halten Sie das HDL-Cholesterin unter 54 mg / dl (1,4 mmol / l).",
            "ro": "Mențineți colesterolul HDL sub 54 mg/dL (1,4 mmol/L)."
          },
          "resource": {
            "resourceType": "Goal",
            "lifecycleStatus": "proposed",
            "meta": {
              "tag": [
                {
                  "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/concept-id",
                  "code": "GoalHDLCholesterol"
                }
              ]
            },
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Keep HDL cholesterol under control",
                  "es": "Mantenga el colesterol HDL bajo control",
                  "de": "Halten Sie das HDL-Cholesterin unter Kontrolle",
                  "ro": "Păstrați colesterolul HDL sub control"
                }
              }
            ],
            "category": [
              {
                "coding": [
                  {
                    "system": "http://terminology.hl7.org/CodeSystem/goal-category",
                    "code": "safety"
                  }
                ]
              }
            ],
            "startDate": "{{today}}",
            "description": {
              "text": {
                "en": "Keep HDL cholesterol below 54 mg/dL (1.4 mmol/L)",
                "es": "Mantenga el colesterol HDL por debajo de 54 mg/dL (1.4 mmol/L)",
                "de": "Halten Sie das HDL-Cholesterin unter 54 mg / dl (1,4 mmol / l)",
                "ro": "Mențineți colesterolul HDL sub 54 mg/dL (1,4 mmol/L)"
              },
              "coding": [
                {
                  "system": "http://loinc.org",
                  "code": "2085-9",
                  "display": {
                    "en": "Cholesterol in HDL [Mass/volume] in Serum or Plasma",
                    "es": "Colesterol en HDL [masa/volumen] en suero o plasma",
                    "de": "Cholesterin in HDL [Masse/Volumen] im Serum oder Plasma",
                    "ro": "Colesterol HDL [masă/volum] în ser sau plasmă"
                  }
                }
              ]
            },
            "target": [
              {
                "measure": {
                  "coding": [
                    {
                      "system": "http://loinc.org",
                      "code": "2085-9",
                      "display": {
                        "en": "Cholesterol in HDL [Mass/volume] in Serum or Plasma",
                        "es": "Colesterol en HDL [masa/volumen] en suero o plasma",
                        "de": "Cholesterin in HDL [Masse/Volumen] im Serum oder Plasma",
                        "ro": "Colesterol HDL [masă/volum] în ser sau plasmă"
                      }
                    }
                  ]
                },
                "dueDate": "{{todayPlus3Months}}",
                "detailRange": {
                  "high": {
                    "value": 54,
                    "unit": "mg/dL",
                    "system": "http://unitsofmeasure.org",
                    "code": "mg/dL"
                  }
                }
              }
            ]
          }
        }
      ]
    }
  ]
}
