{
  "uuid": "cad-general-recommendations-card-7",
  "summary": {
    "en": "Give exercise-based cardiac rehabilitation.",
    "es": "Ofrecer rehabilitación cardiaca basada en el ejercicio.",
    "de": "Verordnen Sie eine trainingsbasierte kardiale Rehabilitation.",
    "ro": "Oferți exerciții fizice pentru reabilitarea cordului pacientului."
  },
  "indicator": "info",
  "detail": {
    "en": "Exercise-based cardiac rehabilitation is recommended as an effective means for patients with chronic coronary syndromes to achieve a healthy lifestyle and manage risk factors.",
    "es": "La rehabilitación cardiaca basada en el ejercicio se recomienda como un medio efectivo para pacientes con síndromes coronarios para conseguir un estilo de vida saludable y manejar los factores de riesgo.",
    "de": "Die trainingsbasierte kardiale Rehabilitation wird als wirksames Mittel für Patienten mit chronischen Koronarsyndromen empfohlen, um einen gesunden Lebensstil zu erreichen und Risikofaktoren zu kontrollieren.",
    "ro": "Exercițiile fizice pentru reabilitarea cordului sunt recomandate ca o metodă eficienă de a îmbunătăți stilul de viață și de a ține sub control factorii de risc la pacienții cu o formă cronică a BAC."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 10.2.1 [pp. 35]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 10.2.1 [pp. 35]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 10.2.1 [PP. 35]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 10.2.1 [pp. 35]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
