{
  "uuid": "cad-general-recommendations-card-5",
  "summary": {
    "en": "Consider performing risk stratification in symptomatic patients with a high-risk clinical profile.",
    "es": "Considerar realizar una estratificación de riesgo en pacientes sintomáticos con perfil clínico de alto riesgo.",
    "de": "Erwägen Sie die Durchführung einer Risikostratifizierung bei symptomatischen Patienten mit einem klinischen Hochrisikoprofil.",
    "ro": "Luați în considerare stratificarea riscurilor la pacienții cu un nivel crescut de risc."
  },
  "indicator": "info",
  "detail": {
    "en": "Risk stratification is recommended based on clinical assessment and the result of the diagnostic test initially employed to diagnose CAD. \nIn symptomatic patients with a high- risk clinical profile, invasive coronary angiography complemented by invasive physiological guidance is recommended for cardiovascular risk stratification, particularly if the symptoms are responding inadequately to medical treatment and revascularisation is considered for improvement of prognosis. \nTo prevent the development of cardiovascular disease the following are recommended:\n* Education \n* Lifestyle modifications (healthy weight)\n* Cessation of smoking\n* Physical activity\n* Prescribing medications\n* Evidence-based interventions (best evidence, clinical experience, patient values/preferences)",
    "es": "La estratificación de riesgo se recomienda basada en la evaluación clínica y el resultado de la prueba diagmóstica realizada inicialmente para diagnosticar EAC. En pacientes sintomáticos con perfiles clínicos de alto riesgo, la angiografía coronaria invasiva complementada con guía fisiológica invasiva se recomienda para la estratificación de riesgo cardiovascular, especialmente si los síntomas están respondiendo indadecuadamente al tratamiento médico y la revascularización se considera para mejorar el pronóstico. Para prevenir el desarrollo de enfermedad cardiovascular se recomienda:\n* Educación\n* Modicaciones en el estilo de vida (peso saludable)\n* Cese del tabaquismo\n* Actividad física\n* Prescripción de fármacos\n* Intervenciones basadas en la evidencia (mejor evidencia, experiencia clínica, valores/preferencias del paciente).",
    "de": "Eine Risikostratifizierung wird auf der Grundlage der klinischen Beurteilung und des Ergebnisses des diagnostischen Tests empfohlen, der ursprünglich zur Diagnose der KHK eingesetzt wurde. \nBei symptomatischen Patienten mit einem klinischen Hochrisikoprofil wird zur kardiovaskulären Risikostratifizierung eine invasive Koronarangiographie empfohlen, die durch eine invasive physiologische Überwachung ergänzt wird, insbesondere wenn die Symptome unzureichend auf eine medizinische Behandlung ansprechen und eine Revaskularisierung zur Verbesserung der Prognose in Betracht gezogen wird. \nZur Vorbeugung der Entwicklung von Herz-Kreislauf-Erkrankungen werden folgende Maßnahmen empfohlen:\n* Aufklärung \n* Änderung des Lebensstils (gesundes Gewicht)\n* Raucherentwöhnung\n* Körperliche Aktivität\n* Verschreibung von Medikamenten\n* Evidenzbasierte Interventionen (beste Evidenz, klinische Erfahrung, Werte/Präferenzen der Patienten)",
    "ro": "Stratificarea riscurilor este recomadată pe baza evaluărilor clinice și a rezultatelor testelor de diagnostic folosite pentru diagnosticarea inițială a BAC. În pacienții simptomatici cu o clasă de risc ridicată, coronarografia cu ghidare fiziologică invazivă este recomandată pentru stratificarea riscurilor cardiovasculare, mai ales dacă simpromele nu răspund adecvat la tratamentul medicamentos și revascularizarea este considerată pentru îmbunătățirea prognosticului. Pentru a preveni dezvoltarea bolilor cardiovasculare următoarele sunt recomandate:\n* Creșterea nivelului de educație\n* Schimbarea stilului de viață\n* Renunțarea la fumat\n* Activitatea fizică\n* Respectarea tratamentului medicamentos\n* Intervenții bazate pe bunele-practici (dovedite, bazate pe experiența clinică și în conformitate cu valorile și dorințele pacientului)"
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 10.2.1 [pp. 34]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 10.2.1 [pp. 34]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 10.2.1 [PP. 34]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 10.2.1 [pp. 34]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  },
  "suggestions": [
    {
      "uuid": "Suggestion 1",
      "label": {
        "en": "Consider a Referral to Cardiologist for performing risk stratification in a symptomatic patient",
        "es": "Considerar derivar a un Cardiólogo para realizar una estratificación de riesgo en un paciente sintomático.",
        "de": "Erwägen Sie eine Überweisung an einen Kardiologen, um bei einem symptomatischen Patienten eine Risikobestimmung durchführen zu lassen.",
        "ro": "Luați în considerare o trimitere către cardiolog pentru a stratifica riscurile unui pacient simptomatic."
      },
      "actions": [
        {
          "type": "create",
          "description": {
            "en": "Consider a Referral to Cardiologist for performing risk stratification in a symptomatic patient",
            "es": "Considerar derivar a un Cardiólogo para realizar una estratificación de riesgo en un paciente sintomático.",
            "de": "Erwägen Sie eine Überweisung an einen Kardiologen, um bei einem symptomatischen Patienten eine Risikobestimmung durchführen zu lassen.",
            "ro": "Luați în considerare o trimitere către cardiolog pentru a stratifica riscurile unui pacient simptomatic."
          },
          "resource": {
            "resourceType": "ServiceRequest",
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Referral to Cardiologist",
                  "es": "Derivar al cardiólogo",
                  "de": "Überweisung an den Kardiologen",
                  "ro": "Trimitere la cardiolog"
                }
              }
            ],
            "status": "draft",
            "intent": "proposal",
            "occurrenceDateTime": "{{today}}",
            "category": [
              {
                "coding": [
                  {
                    "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/care-plan-activity-category",
                    "code": "referral",
                    "display": {
                      "en": "Patient referral to specialist",
                      "es": "Derivación del paciente al especialista",
                      "de": "Patientenüberweisung an den Spezialisten",
                      "ro": "Trimiterea pacientului la specialist"
                    }
                  }
                ]
              }
            ],
            "authoredOn": "{{today}}",
            "performerType": {
              "coding": [
                {
                  "system": "http://snomed.info/sct",
                  "code": "17565000",
                  "display": {
                    "en": "Cardiologist",
                    "es": "Cardiólogo",
                    "de": "Kardiologe",
                    "ro": "Cardiolog"
                  }
                }
              ]
            },
            "text": {
              "status": "generated",
              "div": {
                "en": "Referral to Cardiologist for performing risk stratification in a symptomatic patient",
                "es": "Derivación a Cardiólogo para realizar una estratificación de riesgo en un paciente sintomático.",
                "de": "Überweisung an einen Kardiologen, um bei einem symptomatischen Patienten eine Risikobestimmung durchführen zu lassen.",
                "ro": "Trimitere către cardiolog pentru a stratifica riscurile unui pacient simptomatic."
              }
            }
          }
        }
      ]
    }
  ]
}
