{
  "uuid": "cad-risk-card-4",
  "summary": {
    "en": "Provide smoking status, systolic BP, HDL cholesterol and total cholesterol values of the patient so that the system can calculate the patient's risk class using SCORE2-OP(MED-Calc).",
    "es": "Proporcione los valores de tabaquismo, TA sistólica, colesterol HDL y colesterol total del paciente para que el sistema pueda calcular la clase de riesgo del paciente mediante SCORE2-OP(MED-Calc).",
    "de": "Geben Sie den Raucherstatus, den systolischen Blutdruck, das HDL-Cholesterin und die Gesamtcholesterinwerte des Patienten an, damit das System die Risikoklasse des Patienten mit Hilfe von SCORE2-OP(MED-Calc) berechnen kann.",
    "ro": "Prezentați statutul de fumător, tensiunea arterială sistolică, valorile colesterolului HDL și total, astfel încât sistemul să poată calcula clasa de risc a pacientului folosind SCORE2-OP(MED-Calc)."
  },
  "indicator": "info",
  "detail": {
    "en": "Assess the patient risk class using SCORE2-OP(MED-Calc) or based on clinical assessment.",
    "es": "Valorar la categoría de riesgo del paciente usando SCORE2-OP(MED-Calc) o basado en evaluación clínica.",
    "de": "Bestimmen Sie die Risikoklasse des Patienten mithilfe von SCORE2-OP(MED-Calc) oder auf der Grundlage der klinischen Beurteilung.",
    "ro": "Evaluați clasa de risc a pacientului folosind SCORE2-OP(MED-Calc) sau pe baza evaluărilor clinice."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 10.1 [pp. 34]\n* https://u-prevent.com/calculators/score2",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 10.1 [pp. 34]\n* https://u-prevent.com/calculators/score2",
      "de": "* Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 10.1 [PP. 34]\n* https://u-prevent.com/calculators/score2",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 10.1 [pp. 34]\n* https://u-prevent.com/calculators/score2"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
