{
  "uuid": "cad-risk-card-score",
  "summary": {
    "en": "Patient's CAD risk is estimated as {{risk}} using SCORE2-OP.",
    "es": "El riesgo de EAC del paciente se estima como {{risk}} utilizando SCORE2-OP.",
    "de": "Das CAD-Risiko des Patienten wird mit SCORE2-OP als {{risk}} geschätzt.",
    "ro": "Riscul CAD al pacienuui este estimat ca {{risk}} folosind SCORE2-OP."
  },
  "indicator": "info",
  "detail": {
    "en": "The patient lives in {{riskRegion}}. In {{smokingStatus}} {{gender}} patients aged {{age}}, if the systolic blood pressure is {{systolicBP}} mmHg, and non-HDL cholesterol is {{nonHDL}} mmol/L, SCORE2-OP value is calculated {{score}}%, which indicates {{risk}}.",
    "es": "El paciente vive en {{riskRegion}}. En {{smokingStatus}} {{gender}} pacientes de {{age}}, si la tensión arterial sistólica es de {{systolicBP}} mmHg, y el colesterol no-HDL es de {{nonHDL}} mmol/L, el valor SCORE2-OP se calcula {{score}}%, lo que indica {{risk}}.",
    "de": "Der Patient lebt in der {{riskRegion}}. In {{smokingStatus}} Patienten {{gender}} im Alter von {{age}}, wenn der systolische Blutdruck {{systolicBP}} mmHg und das Nicht-HDL-Cholesterin {{nonHDL}} mmol/L beträgt, wird der SCORE2-OP-Wert {{score}}% berechnet, was auf ein {{risk}} hinweist.",
    "ro": "Pacientul trăiește în {{riskRegion}}. Pentru pacienții {{smokingStatus}} {{gender}} în vârstă de {{age}}, dacă tensiunea arterială sistolică este de {{systolicBP}} mmHg, iar colesterolul non-HDL este {{nonHDL}} mmol/L, valoarea SCORE2-OP este caculată {{score}}%, ce indică {{risk}}."
  },
  "source": {
    "label": "",
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
