{
  "uuid": "hypertension-medication-card-35",
  "summary": {
    "en": "Consider adding spironolactone (25–50 mg OD) or other diuretic, alpha-blocker, or beta-blocker by also checking possible contraindications.",
    "es": "Considere añadir espironolactona (25–50 mg una vez al día) u otro diurético, alfa-bloqueante o betabloqueante, comprobando también las posibles contraindicaciones.",
    "de": "Erwägen Sie, die zusätzliche Gabe von Spironolacton (25–50 mg einmal täglich) oder anderen Diuretika, Alpha-Blocker oder Beta-Blocker, wobei Sie auch mögliche Kontraindikationen überprüfen müssen.",
    "ro": "Luați în considerare adăugarea de spironolactonă (25–50 mg OD) sau alte diuretice, alfa-blocante sau beta-blocante, verificând, de asemenea, posibile contraindicații."
  },
  "indicator": "info",
  "detail": {
    "en": "For  most patients (also suitable for HMOD, cerebrovascular disease, diabetes, or PAD) who do not meet their BP goals on triple theraphy, consider  adding spironolactone (25–50 mg OD) or other diuretic, alpha-blocker, or beta-blocker by also checking possible contraindications.",
    "es": "En la mayoría de los pacientes (incluidos aquellos con daño orgánico mediado por hipertensión, enfermedad cerebrovascular, diabetes o enfermedad arterial periférica) que no alcanzan su objetivo de PA con triple terapia, considere añadir espironolactona (25–50 mg una vez al día) u otros diuréticos, alfabloqueante o beta-bloqueante, comprobando también las posibles contraindicaciones.",
    "de": "Für die meisten Patienten (auch für hypertoniebedingte Endorganschäden (HMOD), zerebrovaskuläre Erkrankungen, Diabetes oder pAVK), die ihre RR-Ziele auch durch Dreifach-Therapie nicht erreichen,  erwägen Sie die zusätzliche Gabe von Spironolacton (25-50 mg einmal täglich) oder ein anderes Diuretikum, Alpha-Blocker oder Beta-Blocker , wobei auch mögliche Kontraindikationen überprüft werden müssen.",
    "ro": "Pentru majoritatea pacienților (adecvat și pentru HMOD, boli cerebrovasculare, diabet sau boala arterială periferică) care nu își îndeplinesc obiectivele de tensiune arterială prin terapie triplă, luați în considerare adăugarea de spironolactonă (25-50 mg OD) sau alte diuretice, alfa-blocante sau beta-blocante, verificând, de asemenea, posibile contraindicații."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, Table 1 and Table 2",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente,  Capítulo 12.3.2, Tabla 1 y Tabla 2",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, Tabelle 1 und Tabelle 2",
      "ro": "Ghidul holistic al celor mai bune practici centrate pe pacient, Capitolul 12.3.2, Tabelul 1 și Tabelul 2"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
