{
  "uuid": "hypertension-medication-card-10",
  "summary": {
    "en": "Drug treatment is not recommended for older adults with high-normal BP.",
    "es": "El tratamiento farmacológico no se recomienda para adultos mayores con BP altamente normal.",
    "de": "Die medikamentöse Behandlung wird für ältere Erwachsene mit hochnormalem RR nicht empfohlen.",
    "ro": "Tratamentul medicamentos nu este recomandat pentru adulții în vârstă normotensivi."
  },
  "indicator": "info",
  "detail": {
    "en": "Multi-morbid older patients with cognitive impairment (>65 years, including patients over 80 years) should be offered BP-lowering treatment if their systolic BP is ≥ 160 mmHg. There is also justification to now recommend BP-lowering treatment for old patients (aged >65 but not >80 years) at a lower BP (i.e., grade 1 hypertension where systolic BP is between 140–159 mmHg). Systolic BP should be targeted to between 130 and 140 mmHg, and diastolic BP to &#60;80 mmHg. Treated systolic BP should not be targeted to &#60;120 mmHg. Drug treatment is not recommended for older adults with high-normal BP.",
    "es": "La evidencia respalda la recomendación de que a los pacientes mayores con multimorbilidad y deterioro cognitivo (> 65 años, incluidos los mayores de 80 años) se les debe ofrecer tratamiento para reducir la TA si su TA sistólica es ≥ 160 mmHg. También hay justificación para recomendar el tratamiento antihipertensivo en pacientes mayores (> 65 años pero no > 80 años) con una TA más baja (es decir, hipertensión de grado 1 donde la TA sistólica está entre 140-159 mmHg). La TA sistólica debe reducirse a entre 130 y 140 mmHg, y la TA diastólica a &#60;80 mmHg. La TA sistólica tratada no debe reducirse por debajo de 120 mmHg. El tratamiento farmacológico no se recomienda para adultos mayores con TA normal-alta.",
    "de": "Laut evidenz-basierter Empfehlung sollten multi-morbide ältere Patienten mit kognitiver Beeinträchtigung (> 65 Jahre, einschließlich Patienten über 80 Jahre) eine blutdrucksenkende Behandlung angeboten werden, wenn ihr systolischer RR ≥ 160 mmHg beträgt. Es ist auch bestätigt, die RR-Senkung für alte Patienten (im Alter von> 65 Jahren, jedoch nicht> 80 Jahre) bei einem niedrigeren Blutdruck (d.h. Hypertonie Grad 1, bei dem der systolische Blutdruck zwischen 140 und 159 mmHg liegt) zu empfehlen. Der systolische RR sollte auf zwischen 130 und 140 mmHg und diastolischer RR auf &#60;80 mmHg ausgerichtet sein. Der behandelte systolische RR sollte nicht auf &#60;120 mmHg ausgerichtet sein. Die medikamentöse Behandlung wird für ältere Erwachsene mit hohem RR nicht empfohlen.",
    "ro": "Dovezile din studiile științifice susțin recomandarea ca pacienților mai în vârstă, suferind de mai multe morbidități, cu deficiență cognitivă (>65 de ani, inclusiv pacienții de peste 80 de ani) să li se ofere un tratament de scădere a tensiunii arteriale, dacă tensiunea sistolică este ≥ 160 mmHg. DDe asemenea, există la momentul actual justificarea de a recomanda un tratament pentru scăderea TA a paciențiilor bătrâni (în vârstă de > 65 de ani, dar nu > 80 de ani) la un nivel mai mic (adică hipertensiunea arterială de gradul 1, unde tensiunea sistolică este cuprinsă între 140-159 mmHg). Tensiunea sistolică ar trebui să fie menținută între 130 și 140 mmHg, iar tensiunea diastolică până la 80 mmHg. Tensiunea sistolică tratată nu trebuie să ajungă la valori la sub 120 mmHg. Tratamentul medicamentos nu este recomandat pentru adulții în vârstă cu tensiune normală."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.1 [pp. 40]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.1 [pp. 40]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 12.1 [S. 40]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.1 [pp. 40]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
