{
  "uuid": "hypertension-medication-card-24",
  "summary": {
    "en": "In HFrEF patients, consider starting monotheraphy with ACEi or ARB or CCB by also checking possible contraindications.",
    "es": "En pacientes con IC con FE reducida, considere iniciar monoterafía con IACE, ARA-II o antagonista de calcio comprobando también las posibles contraindicaciones.",
    "de": "Erwägen Sie bei HFrEF -Patienten die Monotheraphie mit ACEi oder ARB oder CCB, indem Sie auch mögliche Kontraindikationen überprüfen.",
    "ro": "La pacienții cu HFREF (Insuficiență cardiacă cu reducerea fracțiunii ejectate), trebuie luată în considerare începerea terapiei cu un singur compus din clasele IEAC sau  IECA/ARB sau BCC, verificând, de asemenea, daca există contraindicații."
  },
  "indicator": "info",
  "detail": {
    "en": "* In HFrEF patients, it may be appropriate to initiate treatment with monotherapy, and by means of once daily drug treatment, as a rule. When combination therapy is used, it is recommended that this is initiated at the lowest available doses.\n* For initiation of antihypertensive drug therapy, first-line agents include CCB and ACE inhibitors or ARB.",
    "es": "* En pacientes con IC con FE reducida, puede ser apropiado iniciar el tratamiento con monoterapia y una vez al día, como norma. Cuando se usa la terapia combinada, se recomienda que se inicie a las dosis más bajas disponibles.\n* Para el inicio de la terapia farmacológica antihipertensiva, los agentes de primera línea incluyen IECA, ARA-II y antagonistas de calcio.",
    "de": "* Bei HFrEF -Patienten kann es angebracht sein, die Behandlung mit einer Monotherapie und in der Regel mit einer einmal täglichen medikamentösen Behandlung zu beginnen. Wenn eine Kombinationstherapie angewendet wird, wird empfohlen, dass diese bei den niedrigsten verfügbaren Dosen begonnen wird.\n* Für die Einleitung einer blutdrucksenkenden medikamentösen Therapie sind CCB- und ACE-Inhibitoren oder ARB die Mittel der ersten Wahl.",
    "ro": "* La pacienții cu HFREF, poate fi adecvat să inițieze tratamentul cu monoterapie și, printr -o dată, un tratament medicamentos o dată zilnic, de regulă. Când se folosește terapia combinată, se recomandă ca aceasta să fie inițiată la cele mai mici doze disponibile.\n* Pentru inițierea terapiei medicamentoase antihipertensive, agenții de primă linie includ inhibitori CCB și ACE sau ARB."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, Table 1 and Table 2",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.2, Tabla 1 y Tabla 2",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, Tabelle 1 und Tabelle 2",
      "ro": "Ghidul holistic al celor mai bune practici centrate pe pacient, Capitolul 12.3.2, Tabelul 1 și Tabelul 2"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
