{
  "uuid": "hypertension-medication-card-33",
  "summary": {
    "en": "Consider triple combination of ACEi/ARB, CCB and diuretic by also checking possible contraindications.",
    "es": "Considere la triple combinación de IACE/ARA-II, calcioantagonista y diurético, comprobando también las posibles contraindicaciones.",
    "de": "Erwägen Sie die Dreifachkombination von ACEi/ARB, CCB und Diuretikum, wobei Sie auch mögliche Kontraindikationen überprüfen müssen.",
    "ro": "Luați în considerare o combinație triplă de IEAC/ARB, BCC și diuretic ținând cont de posibilele contraindicații."
  },
  "indicator": "info",
  "detail": {
    "en": "For most patients (also suitable for HMOD, cerebrovascular disease, diabetes, or PAD) who do not meet their BP goals on dual theraphy, consider triple combination of ACEi/ARB, CCB and diuretic by also checking possible contraindications.",
    "es": "En la mayoría de los pacientes (incluidos aquellos con daño orgánico mediado por hipertensión, enfermedad cerebrovascular, diabetes o enfermedad arterial periférica) que no alcanzan su objetivo de PA con doble terapia, considere una triple combinación de IACE/ARA-II, antagonista del calcio y diurético, comprobando también las posibles contraindicaciones.",
    "de": "Für die meisten Patienten (auch für hypertoniebedingte Endorganschäden (HMOD), zerebrovaskuläre Erkrankungen, Diabetes oder pAVK-), die ihre RR -Ziele nicht mit Doppeltheraphie erreichen, erwägen Sie die Dreifachkombination von ACEi/ARB, CCB und Diuretikum, wobei auch mögliche Kontraindikationen überprüft werden müssen.",
    "ro": "Pentru majoritatea pacienților (adecvați și pentru HMOD - afectarea organelor mediată de hipertensiune arterială, boli cerebrovasculare, diabet sau boala arterială periferică) care nu își îndeplinesc obiectivele de tensiune arterială prin terapie duală, luați în considerare o combinație triplă de IEAC/ARB, BCC și diuretic, verificând și posibilele contraindicații."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, Table 1 and Table 2",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente,  Capítulo 12.3.2, Tabla 1 y Tabla 2",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, Tabelle 1 und Tabelle 2",
      "ro": "Ghidul holistic al celor mai bune practici centrate pe pacient, Capitolul 12.3.2, Tabelul 1 și Tabelul 2"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
