{
  "uuid": "hypertension-medication-card-32",
  "summary": {
    "en": "Consider triple combination of ACEi/ARB, CCB and diuretic (or loop diuretic) by also checking possible contraindications.",
    "es": "Considere la triple combinación de IACE/ARA-II, calcioantagonista y diurético (o diurética de asa), comprobando también las posibles contraindicaciones.",
    "de": "Erwägen Sie die Dreifach-Kombination von ACEi/ARB, CCB und Diuretikum (oder Schleifendiuretikum), wobei Sie auch mögliche Kontraindikationen überprüfen müssen.",
    "ro": "Luați în considerare combinația triplă de IEAC/ARB, BCC și diuretic de ansă ținând cont de posibilele contraindicații."
  },
  "indicator": "info",
  "detail": {
    "en": "For CKD patients who do not meet their BP goals on dual theraphy, consider triple combination of ACEi/ARB, CCB and diuretic (or loop diuretics) by also checking possible contraindications.",
    "es": "En pacientes con ERC que no alcanzan su objetivo de TA con doble terapia, considere una triple combinación de IACE/ARA-II, antagonista del calcio y diurético (o diurético de asa), comprobando también las posibles contraindicaciones.",
    "de": "Für chronisch nierenkranke (CKD) -Patienten, die ihre RR -Ziele nicht mit Doppeltheraphie erreichen, berücksichtigen Sie die Dreifachkombination von ACEi/ARB, CCB und Diuretikum (oder Schleifendiuretika), wobei Sie auch mögliche Kontraindikationen überprüfen müssen.",
    "ro": "Pentru pacienții cu BRC care nu își îndeplinesc obiectivele de tensiune arterială prin terobiectivele de tensiune arterială prin terapie duală, luați în considerare o combinație triplă  de IEAC/ARB, BCC și diuretic de ansă ținând cont de posibilele contraindicații."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, Table 1 and Table 2",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.2, Tabla 1 y Tabla 2",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, Tabelle 1 und Tabelle 2",
      "ro": "Ghidul holistic al celor mai bune practici centrate pe pacient, Capitolul 12.3.2, Tabelul 1 și Tabelul 2"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
