{
  "uuid": "hypertension-medication-card-27",
  "summary": {
    "en": "Consider triple combination of ACEi/ARB, diuretic (or loop diuretic) and beta-blocker by also checking possible contraindications.",
    "es": "Considere la combinación triple de IACE/ARA-II, diurético (o diurético de asa) y betabloqueante comprobando también las posibles contraindicaciones.",
    "de": "Erwägen sie die Dreifachkombination von ACEi/ARB, Diuretikum (oder Schleifendiuretikum) und Beta-Blocker, wobei auch mögliche Kontraindikationen überprüft werden müssen.",
    "ro": "Luați în considerare o combinație triplă de  IECA/ARB, diuretic de ansă și beta-blocant ținând cont de posibilele contraindicații."
  },
  "indicator": "info",
  "detail": {
    "en": "For HFrEF patients who do not meet their BP goals on single theraphy, consider triple combination of ACEi/ARB, diuretic (or loop diuretic) and beta-blocker by also checking possible contraindications.",
    "es": "En los pacientes con IC con EF reducida que no cumplen con sus objetivos de TA con monoterapia, considere una triple combinación de IACE/ARA-II, diurética (o diurético de asa) y betabloqueante comprobando también las posibles contraindicaciones.",
    "de": "Für HFrEF-Patienten, die ihre RR-Ziele mit Monotherapie nicht erreichen, erwägen Sie die Dreifachkombination aus ACEi/ARB, Diuretikum (oder Schleifendiuretikum) und Beta-Blocker, wobei auch mögliche Kontraindikationen bedacht werden müssen.",
    "ro": "Pentru pacienții cu HFREF care nu își îndeplinesc obiectivele de tensiune cu un singur tratament, luați în considerare o combinație triplă de IECA/ARB, diuretic de ansă și beta-blocant ținând cont de posibilele contraindicații."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, Table 1 and Table 2",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.2, Tabla 1 y Tabla 2",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, Tabelle 1 und Tabelle 2",
      "ro": "Ghidul holistic al celor mai bune practici centrate pe pacient, Capitolul 12.3.2, Tabelul 1 și Tabelul 2"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
