{
  "uuid": "hypertension-medication-card-23",
  "summary": {
    "en": "Avoid loop diuretics and alpha-blockers if possible.",
    "es": "Evite los diuréticos de asa y los alfa-bloqueantes si es posible.",
    "de": "Vermeiden Sie wenn möglich Schleifendiuretika und Alpha-Blocker",
    "ro": "Evitați diureticele de ansă și alfa-blocante, dacă este posibil."
  },
  "indicator": "info",
  "detail": {
    "en": "Unless required for concomitant diseases, loop diuretics and alpha-blockers should be avoided because of their association with injurious falls.",
    "es": "A menos que sea necesario para enfermedades concomitantes, se deben evitar los diuréticos de asa y los alfa-bloqueantes debido a su asociación con caídas perjudiciales.",
    "de": "Sofern nicht für begleitende Krankheiten erforderlich, sollten Schleifendiuretika und Alpha-Blocker aufgrund ihrer Assoziation mit schweren Stürzen vermieden werden.",
    "ro": "Cu excepția cazului în care afecțiuni concomitente fac acest lucru necesar, ar trebui evitate diuretice de ansa și alfa-blocante din cauza asocierii lor cu căderile dăunătoare."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2 [pp. 42]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.2 [pp. 42]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2 [S. 42]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.3.2 [pp. 42]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
