{
  "uuid": "hypertension-medication-card-28",
  "summary": {
    "en": "Consider dual combination of (i) ACEi/ARB + beta-blocker or CCB; or (ii) CCB + diuretic or beta-blocker; or (iii) beta-blocker + diuretic by also checking possible contraindications.",
    "es": "Considere la combinación dual de (i) IACE/ARA-II + Beta-bloqueante o antagonista de calcio; o (ii) antagonista de calcio + diurético o betabloqueante; o (iii) betabloqueante + diurético comprobando también las posibles contraindicaciones.",
    "de": "Erwägen Sie die Kombination von (i) ACEi/ARB + Beta-Blocker oder CCB; oder (ii) CCB + Diuretikum oder Beta-Blocker; oder (iii) Beta-Blocker + Diuretikum, wobei auch mögliche Kontraindikationen überprüft werden müssen.",
    "ro": "Luați în considerare combinația dublă de (i) IECA/ARB/diuretic de ansă și beta-blocant/BCC; sau (ii) BCC + diuretic de ansă/beta-blocant; sau (iii) beta-blocant + diuretic de ansă verificând și posibile contraindicații."
  },
  "indicator": "info",
  "detail": {
    "en": "For CAD patients who do not meet their BP goals on single theraphy, consider dual combination of \n- ACEi/ARB and beta-blocker; or \n- ACEi/ARB and CCB; or\n- CCB and diuretic; or \n- CCB and beta-blocker; or \n- Beta-blocker and diuretic by also checking possible contraindications.",
    "es": "Para los pacientes con CAD que no cumplen con sus objetivos de BP en Theraphy individual, considere una combinación dual de\n- ACEI/ARB y Betabloqueo; o\n- ACEI/ARB y CCB; o\n- CCB y diurético; o\n- CCB y betabloqueante; o\n- Betabloqueante y diurético al verificar también posibles contraindicaciones.",
    "de": "Für KHK-Patienten, die ihre RR -Ziele bei einer Monotherapie nicht erreichen, erwägen Sie die Kombination von\n- ACEi/ARB und Beta-Blocker; oder\n- ACEi/ARB und CCB; oder\n- CCB und Diuretikum; oder\n- CCB und Beta-Blocker; oder\n- Beta-Blocker und Diuretikum, wobei auch mögliche Kontraindikationen überprüft werden müssen.",
    "ro": "Pentru pacienții care suferă de boala coronariană care nu își îndeplinesc obiectivele de tensiune arterială printr-un singur tratament, luați în considerare o combinație dublă de\n- IECA/ARB și beta-blocante; sau\n- IECA/ARB și BCC; sau\n- BCC și diuretic de ansă; sau\n- BCC și beta-blocante; sau\n- Beta-blocante și diuretic verificând, de asemenea, posibile contraindicații."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, Table 1 and Table 2",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.2, Tabla 1 y Tabla 2",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, Tabelle 1 und Tabelle 2",
      "ro": "Ghidul holistic al celor mai bune practici centrate pe pacient, Capitolul 12.3.2, Tabelul 1 și Tabelul 2"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
