{
  "uuid": "hypertension-medication-card-20",
  "summary": {
    "en": "Consider starting monotheraphy with ACEi or ARB or CCB or thiazide diuretics by also checking possible contraindications.",
    "es": "Considere comenzar la monoterapia con IACE o ARA-II o antagonista de calcio o diuréticos tiazídicos verificando también posibles contraindicaciones.",
    "de": "Erwägen Sie, die Monotheraphie mit ACEI oder ARB oder CCB oder Thiazid -Diuretika zu beginnen, indem Sie auch mögliche Kontraindikationen überprüfen.",
    "ro": "Luați în considerare începerea monoterapiei cu diuretice IEAC, ARB, BCC sau tiazide, verificând, de asemenea, posibile contraindicații."
  },
  "indicator": "info",
  "detail": {
    "en": "* In multimorbid older adults with cognitive impairment, it may be appropriate to initiate treatment with monotherapy, and by means of once daily drug treatment, as a rule. When combination therapy is used, it is recommended that this is initiated at the lowest available doses.\n* For initiation of antihypertensive drug therapy, first-line agents include thiazide diuretics, CCB and ACE inhibitors or ARB.",
    "es": "* En adultos mayores con multimorbilidad y deterioro cognitivo puede ser apropiado iniciar el tratamiento en monoterapia, una vez al día como regla. Cuando se usa la terapia combinada, se recomienda iniciar con las dosis más bajas disponibles.\n* Para el inicio de tratamiento farmacológico antihipertensivo, los fármacos de primera línea incluyen diuréticos tiazídicos, antagonistas de calcio e IACE o ARA-II.",
    "de": "* Bei multimorbiden älteren Erwachsenen mit kognitiver Beeinträchtigung kann es in der Regel angemessen sein, die Behandlung mit Monotherapie und durch einmal tägliche medikamentöse Behandlung zu initiieren. Wenn eine Kombinationstherapie angewendet wird, wird empfohlen, dass bei den niedrigsten verfügbaren Dosen begonnen wird.\n* Zur Einleitung einer blutdrucksenkenden Arzneimitteltherapie sind Thiazid-Diuretika, CCB- und ACE-Inhibitoren oder ARB Mittel der ersten Wahl.",
    "ro": "* La adulții mai în vârstă cu multiple morbdități, suferind de deficiență cognitivă, este adecvată inițierea tratamentului cu un singur compus, adiministrat o dată pe zi, de regulă. Când se folosește terapia combinată, se recomandă ca aceasta să fie inițiată cu cele mai mici doze de medicamente disponibile.\n* Pentru inițierea terapiei medicamentoase antihipertensive, agenții de primă linie includ diuretice de tiazidă, BCC, inhibitori ACE sau ARB."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2 [pp. 42]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.2 [pp. 42]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2 [S. 42]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.3.2 [pp. 42]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
