{
  "uuid": "hypertension-medication-card-47",
  "summary": {
    "en": "Additional treatment need for patient with glucocorticoids therapy.",
    "es": "Necesidad de tratamiento adicional para el paciente en tratamiento con glucocorticoides.",
    "de": "Zusätzlicher Behandlungsbedarf für Patienten mit Glukokortikoid -Therapie.",
    "ro": "Necesarul suplimentar de tratament pentru pacientul cu terapie cu glucocorticoizi."
  },
  "indicator": "info",
  "detail": {
    "en": "Massive therapy with glucocorticoids causes an increase in BP. If their administration is unavoidable, CCBs, ACE inhibitors, ARB, Beta-blockers, diuretics or MRA should be used.",
    "es": "El tratamiento intensivo con glucocorticoides provoca un aumento en la TA. Si su administración es inevitable, se deben usar calcioantagonistas, IACE, ARA-II, betabloqueantes, diuréticos o antagonistas del receptor de mineralocorticoides.",
    "de": "Eine massive Therapie mit Glukokortikoiden führt zu einem Anstieg des Blutdrucks. Wenn ihre Verabreichung unvermeidlich ist, sollten CCBs, ACE-Inhibitoren, ARB, Beta-Blocker, Diuretika oder Mineralokortikoid-Rezeptor-Antogonisten (MRA) verwendet werden.",
    "ro": "Terapia masivă cu glucocorticoizi provoacă o creștere a tensiunii arteriale. Dacă administrarea lor este inevitabilă, ar trebui utilizate CCB-uri, inhibitori ACE, ARB, beta-blocante, diuretice sau MRA."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, [pp. 43]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.2, [pp. 43]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, [pp. 43]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.3.2, [pp. 43]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
