{
  "uuid": "hypertension-medication-card-22",
  "summary": {
    "en": "Information on anti-hypertensive treatment tolerance.",
    "es": "Información sobre tolerancia al tratamiento antihipertensivo.",
    "de": "Informationen zur Toleranz der blutdrucksenkenden Behandlungen.",
    "ro": "Informații despre toleranța la tratament anti-hipertensiv."
  },
  "indicator": "info",
  "detail": {
    "en": "Tolerability of anti-hypertensive treatment (potential of adverse reactions or adverse events such as reduced organ perfusion arising from excessive hypotensive effects) varies depending on the condition and the magnitude or rate of BP reduction in individual cases. Care needs to be taken of the process of achieving the goal of anti-hypertensive treatment in these patients, as well as the tolerability of anti-hypertensive treatment after achievement of the goal.",
    "es": "La tolerabilidad al tratamiento antihipertensivo (potencial de reacciones adversas o eventos adversos, como la perfusión reducida de órganos que surge del efecto hipotensor excesivo) varía según la condición y la magnitud o tasa de reducción de la TA en cada caso de forma individualizada. Se debe tener cuidado en el proceso hasta alcanzar el objetivo del tratamiento antihipertensivo en estos pacientes, así como la tolerabilidad del tratamiento antihipertensivo después de alcanzar el objetivo.",
    "de": "Die Verträglichkeit der blutdrucksenkenden Behandlung (Gefahr von Nebenwirkungen oder unerwünschten Ereignissen wie verringerte Organperfusion, die sich aus übermäßigen blutdrucksenkenden Effekten ergeben) hängt von der Erkrankung und der Größe oder Rate der RR-Reduktion im Einzelfall ab. Es muss darauf geachtet werden, dass das Ziel der blutdrucksenkenden Behandlung bei diesen Patienten sowie die Verträglichkeit der blutdrucksenkenden Behandlung erreicht werden.",
    "ro": "Tolerabilitatea tratamentului anti-hipertensiv (potențialul reacțiilor adverse sau a evenimentelor adverse, cum ar fi perfuzia de organ redusă care rezultă din efecte hipotensive excesive) variază în funcție de afecțiune și de mărimea sau rata de reducere a tensiunii arteriale în cazuri individuale. Trebuie să aveți grijă la procesul de atingere a obiectivului tratamentului anti-hipertensiv la acești pacienți, precum și tolerabilitatea tratamentului anti-hipertensiv după realizarea obiectivului."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2 [pp. 41]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.2 [pp. 41]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2 [S. 41]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.3.2 [pp. 41]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
