{
  "uuid": "hypertension-medication-card-31",
  "summary": {
    "en": "Consider triple combination of ACEi/ARB, beta-blocker, CCB and diuretic by also checking possible contraindications.",
    "es": "Considere la combinación de IACE/ARA-II, betabloqueante, alciantagonista y diurético comprobando también las posibles contraindicaciones.",
    "de": "Erwägen Sie die Dreifach-Kombination von ACEi/ARB, Beta-Blocker, CCB und Diuretikum, wobei Sie auch mögliche Kontraindikationen überprüfen müssen.",
    "ro": "Luați în considerare o combinație triplă de IEAC/ARB, beta-blocant, BCC și diuretic ținând cont de posibilele contraindicații."
  },
  "indicator": "info",
  "detail": {
    "en": "For CAD patients who do not meet their BP goals on dual theraphy, consider triple combination of ACEi/ARB, beta-blocker, CCB and diuretic by also checking possible contraindications.",
    "es": "En los pacientes con enfermedad arterial coronaria que no alcancen su objetivo de TA con doble terapia, considere la combinación de IACE/ARA-II, betabloqueante, calcioantagonista y diurético, comprobando también las posibles contraindicaciones.",
    "de": "Für KHK-Patienten, die ihre RR-Ziele bei Zweifach-Theraphie nicht erreichen, erwägen Sie die Dreifach-Kombination von ACEi/ARB, Beta-Blocker, CCB und Diuretikum, iwobei auch mögliche Kontraindikationen überprüft werden müssen.",
    "ro": "Pentru pacienții CAD (boală coronariană) care nu își îndeplinesc obiectivele de tensiune arterială prin terapie duală, luați în considerare tripla combinație de IEAC/ARB, beta-blocant, BCC și diuretic ținând cont de posibilele contraindicații."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, Table 1 and Table 2",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.3.2, Tabla 1 y Tabla 2",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, Tabelle 1 und Tabelle 2",
      "ro": "Ghidul holistic al celor mai bune practici centrate pe pacient, Capitolul 12.3.2, Tabelul 1 și Tabelul 2"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
