{
  "uuid": "hypertension-medication-card-48",
  "summary": {
    "en": "Additional treatment need for patient with erythropoietin, oestrogen, or sympathomimetic treatments.",
    "es": "Necesidad de tratamiento adicional con eritropoyetina, estrógenos o tratamientos simpatomiméticos.",
    "de": "Zusätzlicher Behandlungsbedarf für Patienten mit Erythropoietin, Östrogen oder sympathomimetischer Behandlung.",
    "ro": "Necesarul suplimentar de tratament pentru pacientul cu eritropoietină, estrogen sau tratamente simpatomimetice."
  },
  "indicator": "info",
  "detail": {
    "en": "The use of erythropoietin, estrogen or sympathomimetic drugs including antidepressants may cause an increase in BP. If BP increases during the use of these drugs, a reduction in the dose or discontinuation of administration should be considered. If they cannot be discontinued, CCB, ACE inhibitors, ARB or Alfa-blockers should be used.",
    "es": "El uso de eritropoyetina, estrógenos o fármacos simpaticomiméticos, incluidos los antidepresivos, puede causar un aumento en la TA. Si la TA aumenta durante el uso de estos medicamentos, se debe considerar una reducción en la dosis o la interrupción de la administración. Si no pueden interrumpirse, se deben usar antagonistas de calcio, IACE, ARA-II o alfabloqueantes.",
    "de": "Die Verwendung von Erythropoietin-, Östrogen- oder Sympathomimetikmedikamenten, einschließlich Antidepressiva, kann zu einem Anstieg des Blutdrucks führen. Wenn RR während der Verwendung dieser Arzneimittel zunimmt, sollte eine Verringerung der Dosis oder das Absetzen des Medikamentes erwogen werden. Wenn sie nicht abgesetzt werden können, sollten CCB, ACE-Inhibitoren, ARB oder Alfa-Blocker verwendet werden.",
    "ro": "Utilizarea de eritropoietină, estrogen sau medicamente simpatomimetice, inclusiv antidepresive, poate provoca o creștere a tensiunii arteriale. Dacă tensiunea crește în timpul utilizării acestor medicamente, trebuie luată în considerare o reducere a dozei sau întreruperea administrării. Dacă nu pot fi întrerupte, ar trebui să se utilizeze inhibitori CCB, ACE, ARB sau Alfa-blocante."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.3.2, [pp. 43]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente,  Capítulo 12.3.2, [pp. 43]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.3.2, [pp. 43]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.3.2, [pp. 43]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
