{
  "uuid": "diabetes-pre-general-card-3",
  "summary": {
    "en": "Check Nutrition & Hydration and Physical Exercise pages for detailed diet and exercise plans to be added to the care plan of the patient.",
    "es": "Consulte las páginas Nutrición e hidratación y Ejercicio físico para conocer los planes detallados de dieta y ejercicio que deben añadirse al plan de cuidados del paciente.",
    "de": "Auf den Seiten Ernährung und Flüssigkeitszufuhr sowie körperliche Bewegung finden Sie detaillierte Diät- und Trainingspläne, die dem Behandlungsplan des Patienten hinzugefügt werden können.",
    "ro": "Verificați paginile de nutriție și hidratare și exerciții fizice pentru o dietă detaliată și planuri de exerciții fizice care trebuie adăugate la planul de îngrijire al pacientului."
  },
  "indicator": "info",
  "detail": {
    "en": "In older adults with prediabetes, a structured program of healthy behaviour interventions that includes moderate weight loss and regular physical activity of a minimum of 150 minutes per week over 5 days a week should be implemented to reduce the risk of type 2 diabetes.",
    "es": "En adultos mayores con prediabetes, se debe implementar un programa estructurado de intervenciones de comportamiento saludables que incluya pérdida de peso moderada y actividad física regular de un mínimo de 150 minutos por semana durante 5 días a la semana para reducir el riesgo de diabetes tipo 2.",
    "de": "Bei älteren Erwachsenen mit Prädiabetes sollte ein strukturiertes Programm von Interventionen für gesundes Verhalten durchgeführt werden, das eine moderate Gewichtsabnahme und regelmäßige körperliche Aktivität von mindestens 150 Minuten pro Woche an 5 Tagen in der Woche umfasst, um das Risiko für Typ-2-Diabetes zu verringern.",
    "ro": "La adulții în vârstă cu prediabet, ar trebui implementat un program structurat de intervenții de comportament sănătos care include pierderea în greutate moderată și o activitate fizică regulată de minimum 150 de minute pe săptămână peste 5 zile pe săptămână pentru a reduce riscul de diabet de tip 2."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 47]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 47]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 47]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 47]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
