{
  "uuid": "diabetes-treatment-referral-card-15",
  "summary": {
    "en": "Consider referral to local specialist service for patients consistently not meeting cardiometabolic targets.",
    "es": "Considerar la derivación a un servicio local especializado de los pacientes que no alcancen sistemáticamente los objetivos cardiometabólicos.",
    "de": "Erwägen Sie die Überweisung an einen lokalen Fachdienst für Patienten, die die kardiometabolischen Ziele konsequent nicht erreichen.",
    "ro": "Luați în considerare trimiterea la serviciul local de specialitate pentru pacienți care nu îndeplinesc în mod constant țintele cardiometabolice."
  },
  "indicator": "info",
  "detail": {
    "en": "Referral to an inter-professional team with specialized training may be considered for individuals with type 2 diabetes who are consistently not meeting cardiometabolic targets.",
    "es": "Se puede considerar la derivación a un equipo interprofesional con formación especializada de las personas con diabetes tipo 2 que no alcanzan sistemáticamente los objetivos cardiometabólicos.",
    "de": "Die Überweisung an ein interprofessionelles Team mit spezialisierter Ausbildung kann für Personen mit Typ-2-Diabetes in Betracht gezogen werden, die die kardiometabolischen Ziele wiederholt nicht erreichen.",
    "ro": "Recomandarea la o echipă inter-profesională cu pregătire specializată poate fi luată în considerare pentru persoanele cu diabet zaharat de tip 2 care nu îndeplinesc în mod constant ținte cardiometabolice."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 48]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 48]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 48]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 48]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  },
  "suggestions": [
    {
      "uuid": "Suggestion 1",
      "label": {
        "en": "Consider Referral for patients consistently not meeting cardiometabolic targets.",
        "es": "Considerar la derivación de pacientes que no alcancen sistemáticamente los objetivos cardiometabólicos.",
        "de": "Erwägen Sie eine Überweisung für Patienten, die die kardiometabolischen Ziele wiederholt nicht erreichen.",
        "ro": "Luați în considerare trimiterea pentru pacienți care nu îndeplinesc în mod constant țintele cardiometabolice."
      },
      "actions": [
        {
          "type": "create",
          "description": {
            "en": "Consider Referral to local specialist service for patients consistently not meeting cardiometabolic targets.",
            "es": "Considerar la derivación a un servicio especializado local de los pacientes que no alcancen sistemáticamente los objetivos cardiometabólicos.",
            "de": "Erwägen Sie die Überweisung an einen lokalen Fachdienst für Patienten, die die kardiometabolischen Ziele wiederholt nicht erreichen.",
            "ro": "Luați în considerare trimiterea la serviciul local de specialitate pentru pacienți care nu îndeplinesc în mod constant țintele cardiometabolice."
          },
          "resource": {
            "resourceType": "ServiceRequest",
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Referral to local specialist service for patients consistently not meeting cardiometabolic targets",
                  "es": "Derivación a un servicio local especializado de los pacientes que no alcanzan sistemáticamente los objetivos cardiometabólicos.",
                  "de": "Überweisung an einen lokalen Fachdienst für Patienten, die die kardiometabolischen Ziele wiederholt nicht erreichen",
                  "ro": "Recomandare la serviciul de specialitate local pentru pacienți care nu îndeplinesc în mod constant țintele cardiometabolice"
                }
              }
            ],
            "status": "draft",
            "intent": "proposal",
            "occurrenceDateTime": "{{today}}",
            "category": [
              {
                "coding": [
                  {
                    "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/care-plan-activity-category",
                    "code": "referral",
                    "display": {
                      "en": "Patient referral to specialist",
                      "es": "Derivar al paciente al especialista",
                      "de": "Patientenüberweisung an den Spezialisten",
                      "ro": "Trimiterea pacientului la specialist"
                    }
                  }
                ]
              }
            ],
            "authoredOn": "{{today}}",
            "text": {
              "status": "generated",
              "div": {
                "en": "Referral to local specialist service for patients consistently not meeting cardiometabolic targets.",
                "es": "Derivación a un servicio local especializado de los pacientes que no alcanzan sistemáticamente los objetivos cardiometabólicos.",
                "de": "Überweisung an einen lokalen Fachdienst für Patienten, die die kardiometabolischen Ziele wiederholt nicht erreichen",
                "ro": "Recomandare la serviciul de specialitate local pentru pacienți care nu îndeplinesc în mod constant țintele cardiometabolice"
              }
            }
          }
        }
      ]
    }
  ]
}
