{
  "uuid": "ckd-anemia-card-12",
  "summary": {
    "en": "If eGFR is above 60 ml/min/1.73 m2, investigate other causes of anaemia as it is unlikely to be caused by CKD.",
    "es": "Si el FGe se encuentra por encima de 60ml/min/1,73m2, investigue otras causas de anemia dado que es poco probable que esté causada por la ERC.",
    "de": "Wenn die eGFR über 60 ml/min/1,73 m2 liegt, sollten andere Ursachen der Anämie untersucht werden, da es unwahrscheinlich ist, dass sie durch chronische Nierenerkrankung verursacht wird.",
    "ro": "Dacă eGFR este peste 60mL/min/1.73 m2, investigați alte cauze ale anemiei, deoarece BCR nu este cea mai probabilă cauză."
  },
  "indicator": "info",
  "detail": {
    "en": "If eGFR is above 60 ml/min/1.73 m2, investigate other causes of anaemia as it is unlikely to be caused by CKD.",
    "es": "Si el FGe se encuentra por encima de 60ml/min/1,73m2, investigue otras causas de anemia dado que es poco probable que esté causada por la ERC.",
    "de": "Wenn die eGFR über 60 ml/min/1,73 m2 liegt, sollten andere Ursachen der Anämie untersucht werden, da es unwahrscheinlich ist, dass sie durch chronische Nierenerkrankung verursacht wird.",
    "ro": "Dacă eGFR este peste 60mL/min/1.73 m2, investigați alte cauze ale anemiei, deoarece BCR nu este cea mai probabilă cauză."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.1 [pp. 58]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.1 [pp. 58]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.1 [PP. 58]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.1 [pp. 58]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
