{
  "uuid": "ckd-anemia-card-14",
  "summary": {
    "en": "If eGFR is below 30 ml/min/1.73 m2, think about other causes of anaemia but note that anaemia is often caused by CKD.",
    "es": "Si el FGe se encuentra entre 30 y 60ml/min/1,73m2, piense en otras causas de anemia, pero tenga en cuentra que la anemia se encuentra probablemente causada por la ERC.",
    "de": "Wenn die eGFR unter 30 ml/min/1,73 m2 liegt, sollten Sie andere Ursachen für die Anämie in Betracht ziehen, aber beachten Sie, dass Anämie häufig durch chronische Nierenerkrankungen verursacht wird.",
    "ro": "Dacă eGFR este sub 30 mL/min/1.73 m2, luați în considerare și alte cauze ale anemiei, dar cea mai probabilă cauză este BCR."
  },
  "indicator": "info",
  "detail": {
    "en": "If eGFR is below 30 ml/min/1.73 m2, think about other causes of anaemia but note that anaemia is often caused by CKD.",
    "es": "Si el FGe se encuentra entre 30 y 60ml/min/1,73m2, piense en otras causas de anemia, pero tenga en cuentra que la anemia se encuentra probablemente causada por la ERC.",
    "de": "Wenn die eGFR unter 30 ml/min/1,73 m2 liegt, sollten Sie andere Ursachen für die Anämie in Betracht ziehen, aber beachten Sie, dass Anämie häufig durch chronische Nierenerkrankungen verursacht wird.",
    "ro": "Dacă eGFR este sub 30 mL/min/1.73 m2, luați în considerare și alte cauze ale anemiei, dar cea mai probabilă cauză este BCR."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.1 [pp. 58]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.1 [pp. 58]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.1 [PP. 58]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.1 [pp. 58]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
