{
  "uuid": "hf-medication-treatment-card-11",
  "summary": {
    "en": "Consider combination of a loop diuretic with thiazide-type diuretic in patients with resistant oedema who do not respond to an increase in loop diuretic doses.",
    "es": "Considerar combinar un diurético de asa con con un diuético tiazídico en pacientes con edema resistente que no responde a un aumento en dosis de diurético de asa.",
    "de": "Bei Patienten mit resistenten Ödemen, die nicht auf eine Erhöhung der Schleifendiuretika-Dosis ansprechen, ist die Kombination eines Schleifendiuretikums mit einem Diuretikum vom Thiazid-Typ zu erwägen.",
    "ro": "Luați în considerare o combinație între diuretice de ansă și tiazidice la pacienții cu edem persistent la creșterea dozei de diuretic de ansă."
  },
  "indicator": "info",
  "detail": {
    "en": "Combination of a loop diuretic with thiazide-type diuretic should be considered in patients with resistant oedema who do not respond to an increase in loop diuretic doses.",
    "es": "Se debe considerar combinar un diurético de asa con con un diuético tiazídico en pacientes con edema resistente que no responde a un aumento en dosis de diurético de asa.",
    "de": "Die Kombination eines Schleifendiuretikums mit einem Diuretikum vom Thiazid-Typ sollte bei Patienten mit resistenten Ödemen, die nicht auf eine Erhöhung der Schleifendiuretika-Dosis ansprechen, in Betracht gezogen werden.",
    "ro": "Luați în considerare o combinație între diuretice de ansă și tiazidice la pacienții cu edem persistent la creșterea dozei de diuretic de ansă."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.2 [pp. 37]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.2 [pp. 37]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.2 [PP. 37]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.2 [pp. 37]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
