{
  "uuid": "hf-medication-treatment-card-16",
  "summary": {
    "en": "Consider offering a Mineralocorticoid Receptor Antagonist, in addition to an ACE inhibitor (or ARB) and beta-blocker to people who have HF with reduced ejection fraction (HFrEF).",
    "es": "Considerar ofrecer un antagonista del receptor mineralocorticoide, añadido a un IACE (o ARA-II) y betabloqueante a pacientes con IC con fracción de eyección reducida (IC-FEVIr).",
    "de": "Erwägen Sie, Menschen mit Herzinsuffizienz mit reduzierter Ejektionsfraktion (HFrEF) zusätzlich zu einem ACE-Hemmer (oder ARB) und einem Betablocker einen Mineralokortikoidrezeptor-Antagonisten anzubieten.",
    "ro": "Luați în considerare introducerea unui antagonist de receptorde mineralocorticoid în paralel cu un inhibitor de enzimă de conversie (sau inhibitor de receptor de angiotensină) și un beta blocant la pacienții cu IC cu FE redusă."
  },
  "indicator": "info",
  "detail": {
    "en": "Offer a Mineralocorticoid Receptor Antagonist, in addition to an ACE inhibitor (or ARB) and beta-blocker, to people who have HF with reduced ejection fraction (HFrEF). Measure serum sodium and potassium, and assess renal function, before and after starting a Mineralocorticoid Receptor Antagonist and after each dose increment.",
    "es": "Ofrecer un antagonista del receptor mineralocorticoide, añadido a un IACE (o ARA-II) y betabloqueante a pacientes con IC con fracción de eyección reducida (IC-FEVIr). Medir potasio y sodio séricos y evaluar función renal, antes y después de iniciar un antagonista del receptor mineralocorticoide y tras cada incremento de dosis.",
    "de": "Bieten Sie Menschen mit Herzinsuffizienz mit verminderter Ejektionsfraktion (HFrEF) zusätzlich zu einem ACE-Hemmer (oder ARB) und einem Betablocker einen Mineralokortikoidrezeptor-Antagonisten an. Messen Sie Natrium und Kalium im Serum und beurteilen Sie die Nierenfunktion vor und nach Beginn der Behandlung mit einem Mineralokortikoid-Rezeptor-Antagonisten und nach jeder Dosiserhöhung.",
    "ro": "Luați în considerare introducerea unui antagonist de receptorde mineralocorticoid în paralel cu un inhibitor de enzimă de conversie (sau inhibitor de receptor de angiotensină) și un beta blocant la pacienții cu IC cu FE redusă. Măsurați sodiul și potasiul seric pentru a evalua funcția renală înainte și după introducerea antagonistului de receptor de mineralocorticoid."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.2 [pp. 38]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.2 [pp. 38]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.2 [PP. 38]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.2 [pp. 38]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
