{
  "uuid": "hf-medication-treatment-card-13",
  "summary": {
    "en": "ACE inhibitors or ARB are recommended in patients with left ventricle systolic dysfunction.",
    "es": "Se recomiendan IECAs o ARA-II en pacientes con disfunción sistólica de ventrículo izquierdo.",
    "de": "Angiotensin-converting-enzyme- (ACE-)Hemmer oder Angiotensin-II-Rezeptor-Blocker (ARB) werden bei Patienten mit systolischer Dysfunktion der linken Herzkammer empfohlen.",
    "ro": "Inhibitorii de enzimă de conversie sau blocanții de receptori ai angiotensinei sunt recomandați la pacienții cu disfuncție sistolică la VS."
  },
  "indicator": "info",
  "detail": {
    "en": "ACE inhibitors or ARB are recommended in patients with left ventricle systolic dysfunction to decrease the risk of developing HF.",
    "es": "Se recomiendan IECAs o ARA-II en pacientes con disfunción sistólica de ventrículo izquierdo para disminuir el riesgo de desarrollar IC.",
    "de": "ACE-Hemmer oder ARB werden bei Patienten mit systolischer Dysfunktion der linken Herzkammer empfohlen, um das Risiko der Entwicklung von HF zu verringern. ",
    "ro": "Inhibitorii de enzimă de conversie sau blocanții de receptori ai angiotensinei sunt recomandați la pacienții cu disfuncție sistolică la VS pentru a reduce riscul de insuficiență cardiacă."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.2 [pp. 38]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.2 [pp. 38]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.2 [PP. 38]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.2 [pp. 38]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
