{
  "uuid": "hf-medication-treatment-card-9",
  "summary": {
    "en": "Diuretics should be routinely used for the relief of congestive symptoms and fluid retention in people with HF.",
    "es": "Los diuréticos deberían utilizarse de rutina para el alivio de síntomas congestivos y la retención de líquidos en pacientes con IC.",
    "de": "Diuretika sollten routinemäßig zur Linderung von Stauungssymptomen und Flüssigkeitsretention bei Menschen mit Herzinsuffizienz eingesetzt werden.",
    "ro": "Diureticele ar trebui recomandate în mod regulat la pacienții cu insuficiență cardiacă pentru a reduce simptomele congestive și acumularea de lichide."
  },
  "indicator": "info",
  "detail": {
    "en": "Diuretics should be routinely used for the relief of congestive symptoms and fluid retention in people with HF, and titrated (up and down) according to need following the initiation of subsequent heart failure therapies.",
    "es": "Los diuréticos deberían utilizarse de rutina para el alivio de síntomas congestivos y la retención de líquidos en pacientes con IC y titulados (aumentar y disminuir) de acuerdo a las necesidades tras el inicio de posteriores tratamientos de la IC.",
    "de": "Diuretika sollten routinemäßig zur Linderung der Stauungssymptome und der Flüssigkeitsretention bei Menschen mit Herzinsuffizienz eingesetzt und nach Beginn der nachfolgenden Therapien der Herzinsuffizienz je nach Bedarf titriert (hoch- und heruntertitriert) werden.",
    "ro": "Diureticele ar trebui recomandate în mod regulat la pacienții cu insuficiență cardiacă pentru a reduce simptomele congestive și acumularea de lichide, și atent dozate (crescute/scăzute) în funcție de modificarea simptomelor după terapia cu medicamente specifice insuficienței cardiace."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.2 [pp. 37]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.2 [pp. 37]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.2 [PP. 37]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.2 [pp. 37]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
