{
  "uuid": "hf-medication-treatment-card-10",
  "summary": {
    "en": "Low to medium dose of loop diuretics is recommended for people who have HF with preserved ejection fraction (HFpEF).",
    "es": "Una dosis baja-media de diuréticos de asa se recomienda en pacientes con IC con fracción de eyección preservada (IC-FEVIp).",
    "de": "Eine niedrige bis mittlere Dosis von Schleifendiuretika wird für Menschen mit Herzinsuffizienz mit erhaltener Ejektionsfraktion (HFpEF) empfohlen.",
    "ro": "Doze mici și medii de diuretice de ansă sunt recomandate la pacienții cu insuficiență cardiacă cu fracție de ejecție normală."
  },
  "indicator": "info",
  "detail": {
    "en": "People who have HF with preserved ejection fraction (HFpEF) should be offered a low to medium dose of loop diuretics (for example, less than 80 mg furosemide per day).",
    "es": "Los pacientes con IC con fracción de eyección preservada (IC-FEVIp) deberían ser ofrecidos una dosis baja-media de diuréticos de asa (por ejemplo, menos de 80mg de furosemida al día).",
    "de": "Menschen mit Herzinsuffizienz mit erhaltener Ejektionsfraktion (HFpEF) sollten eine niedrige bis mittlere Dosis von Schleifendiuretika erhalten (z. B. weniger als 80 mg Furosemid pro Tag). ",
    "ro": "Pacienților cu IC cu FE normală le sunt recomandate diureticele de ansă (de exemplu, &#60;80mg furosemid pe zi)."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.2 [pp. 37]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.2 [pp. 37]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.2 [PP. 37]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.2 [pp. 37]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
