{
  "uuid": "hf-medication-treatment-card-23",
  "summary": {
    "en": "Consider treatment with intravenous ferric carboxymaltose if the patient is iron deficient.",
    "es": "Considerar tratamiento con hierro carboximaltosa intravenoso si el paciente presenta deficiencia de hierro.",
    "de": "Ziehen Sie eine Behandlung mit intravenöser Eisen(III)-Carboxymaltose in Betracht, wenn der Patient einen Eisenmangel hat.",
    "ro": "Luați în considerare tratamentul intravenos cu carboximaltoză ferică dacă pacientul este anemic."
  },
  "indicator": "info",
  "detail": {
    "en": "If the patient is iron deficient (ferritin &#60;100 mcg/L or transferrin saturation &#60;20%), treatment with intravenous ferric carboxymaltose should be considered.",
    "es": "Si el paciente presenta deficiencia de hierro (ferritina &#60;100mcg/L o saturación de transferrina &#60;20%), debería considerarse el tratamiento con hierro carboximaltosa intravenoso.",
    "de": "Liegt ein Eisenmangel vor (Ferritin &#60;100 mcg/L oder Transferrinsättigung &#60;20%), sollte eine Behandlung mit intravenöser Eisen(III)-Carboxymaltose erwogen werden.",
    "ro": "Dacă pacientu are fierul redus (feritină &#60; 100mcg/L sau transferina &#60;20%), tratamentu intravenos cu carboximaltoză ferică ar trebui luat în considerare."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.2 [pp. 39]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.2 [pp. 39]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.2 [PP. 39]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.2 [pp. 39]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
