{
  "uuid": "hf-medication-treatment-card-20",
  "summary": {
    "en": "Consider prescribing anticoagulation for those with a history of thromboembolism, LV aneurysm, or intracardiac thrombus.",
    "es": "Considerar prescribir anticoagulación a aquellos con historia de tromboembolismo, aneurisma de VI o trombo intracardiaco.",
    "de": "Erwägen Sie die Verschreibung einer Antikoagulation bei Patienten mit Thromboembolien, LV-Aneurysmen oder intrakardialen Thromben in der Vorgeschichte.",
    "ro": "Luați în considerare administrarea de anticoagulant pentru acei pacienți cu istoric de trombembolism, anevrism sau tromb intracardiac."
  },
  "indicator": "info",
  "detail": {
    "en": "Every multimorbid older adult with mild cognitive impairment or mild dementia with non- valvular atrial fibrillation (NV-AF), benefits from OAC irrespective of the risk of stroke or CHA2DS2-VASc score, unless specific contraindication for OAC exists. In case of sinus rhythm, anticoagulation should be considered for those with a history of thromboembolism, LV aneurysm, or intracardiac thrombus. In patients with moderate or severe mitral stenosis or mechanical prosthetic heart valves, Vitamin-K-antagonists (VKA) should be prescribed instead of DOACs.",
    "es": "Todos los adultos mayores multimórbidos con deterioro cognitivo leve o demencia leve con fibrilación auricular no valvular (FA-NV), se beneficia de ACO independientemente del riesgo ictus o el score CHA2DS2-VASc, a menos que exista una contraindicación específica para ACO. En caso de ritmo sinusal, la anticoagulación debería considerarse en aquellos con historia de tromboembolismo, aneurisma de VI o trombo intracardiaco. En pacientes con estenosis mitral moderada o severa o prótesis valvulares mecánicas, se deben prescribir AVK en lugar de ACODs.",
    "de": "Jeder multimorbide ältere Erwachsene mit leichter kognitiver Beeinträchtigung oder leichter Demenz und nicht-valvulärem Vorhofflimmern (NV-AF) profitiert von einer OAK, unabhängig vom Schlaganfallrisiko oder CHA2DS2-VASc-Score, es sei denn, es besteht eine spezifische Kontraindikation für eine OAK. Bei Sinusrhythmus sollte eine Antikoagulation bei Patienten mit Thromboembolien in der Vorgeschichte, LV-Aneurysmen oder intrakardialen Thromben in Betracht gezogen werden. Bei Patienten mit mittelschwerer oder schwerer Mitralstenose oder mechanischen Herzklappenprothesen sollten VKA anstelle von DOACs verschrieben werden.",
    "ro": "Fiecare adult în vârstă cu multimorbidități și deficiențe cognitive moderate sau demență cu fibirilație atrială non-valvulară beneficiază de un tratament cu anticoagulant oral indiferent de scorul CHA2DS2-VASc, dacă anticoagulantul oral este tolerat. În cazul ritmului normal sinusal, anticoagulantele trebuie avute în vedere la acei pacienți cu istoric de trombembolism, anevrism sau tromb intracardiac. La pacienții cu stenoză mitrală moderată sau severă, sau la pacienții cu valvă prostetică sunt recomandate anticoagulantele anti-vitamina K în loc de anticoagulantele orale."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.2 [pp. 38]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.2 [pp. 38]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.2 [PP. 38]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.2 [pp. 38]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
