{
  "uuid": "diabetes-pre-medication-treatment-card-4",
  "summary": {
    "en": "Consider starting Metformin to reduce the risk of type 2 diabetes.",
    "es": "Considere iniciar metformina para reducir el riesgo de diabetes tipo 2.",
    "de": "Erwägen Sie, mit mit Metformin zu beginnen, um das Risiko für Typ-2-Diabetes zu verringern.",
    "ro": "Luați în considerare începerea metforminei pentru a reduce riscul de diabet de tip 2."
  },
  "indicator": "info",
  "detail": {
    "en": "In older adults with prediabetes, pharmacologic therapy with metformin may be used to reduce the risk of type 2 diabetes.",
    "es": "En adultos mayores con prediabetes, la terapia farmacológica con metformina puede usarse para reducir el riesgo de diabetes tipo 2.",
    "de": "Bei älteren Erwachsenen mit Prädiabetes kann eine pharmakologische Therapie mit Metformin angewendet werden, um das Risiko für Typ-2-Diabetes zu verringern.",
    "ro": "La adulții în vârstă cu prediabet, terapia farmacologică cu metformină poate fi utilizată pentru a reduce riscul de diabet de tip 2."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 47]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 47]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 47]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 47]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
