{
  "uuid": "mci-md-dementia-profile-card-1",
  "summary": {
    "en": "Consider using tools for early identification of Mild Cognitive Impairment (MCI).",
    "es": "Considere el uso de herramientas para la identificación temprana del deterioro cognitivo leve (DCL).",
    "de": "Erwägen Sie, Untersuchungsmethoden zur frühzeitigen Identifizierung einer leichten kognitiven Beeinträchtigung (MCI) zu verwenden.",
    "ro": "Luați în considerare utilizarea instrumentelor pentru identificarea timpurie a deficienței cognitive ușoare (MCI)."
  },
  "indicator": "info",
  "detail": {
    "en": "Cognitive screening tools exist specifically for the early identification of MCI, like de Montreal Cognitive Assessment (MoCA).",
    "es": "Existen herramientas de cribado cognitivo específicas para la identificación precoz del DCL, como la evaluación cognitiva de Montreal (MOCA).",
    "de": "Instrumente für kognitives Screening wie das Montreal cognitive Assessment (MOCA) stehen speziell für die frühe Identifizierung von MCI zur Verfügung.",
    "ro": "Instrumentele de screening cognitive există special pentru identificarea timpurie a MCI, cum ar fi Evaluarea cognitivă la Montreal (MoCA)."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.1 [pp. 19].\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.1 [pp. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.1 [PP. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.1 [pp. 19]\n* Ismail Z, Black SE, Camicioli R, Chertkow H, Herrmann N, Laforce RJ, et al. Recommendations of the 5th Canadian Consensus Conference on the diagnosis and treatment of dementia. Alzheimers Dement [Internet]. 2020 Aug;16(8):1182–95. Available from: https://doi.org/10.1002/alz.12105"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
