{
  "uuid": "mci-md-general-recommendation-card-16",
  "summary": {
    "en": "Diagnositic considerations in case Alzheimer's disease is suspected.",
    "es": "Consideraciones diagnósticas en caso de que se sospeche Enfermedad de Alzheimer.",
    "de": "Diagnoseüberlegungen für den Fall, dass die Alzheimer -Krankheit vermutet wird.",
    "ro": "Considerații de diagnostic în cazul în care este suspectată boala Alzheimer."
  },
  "indicator": "info",
  "detail": {
    "en": "If the diagnosis is uncertain and Alzheimer's disease is suspected, consider either:\n* FDG-PET (fluorodeoxyglucose-positron emission tomography- Computed Tomography).\n* Perfusion SPECT (Single-Photon Emission Computed Tomography) if FDG-PET is unavailable, or\n* Examining cerebrospinal fluid for either total tau or total tau and phosphorylated-tau 181 and either amyloid β 1-42 or amyloid β 1-42, and amyloid β 1-40.\nIf a diagnosis cannot be made after one of these tests, consider using the other one.\n* Do not use Apolipoprotein E genotyping or electroencephalography to diagnose Alzheimer's disease.",
    "es": "Si el diagnóstico es incierto y se sospecha de enfermedad de Alzheimer, considere la posibilidad de:\n* PET-FDG (Tomografía por Emisión de Positrones con 18F-fluorodeoxiglucosa).\n* SPECT de perfusión (tomografía computarizada por emisión de fotón único) si no se dispone de PET-FDG, o bien\n* Examen del líquido cefalorraquídeo para detectar tau total o tau total y tau fosforilado 181 y amiloide β 1-42 o amiloide β 1-42, y amiloide β 1-40.\nSi no se puede establecer un diagnóstico tras una de estas pruebas, considere la posibilidad de utilizar la otra.\n* No utilice el genotipo de la apolipoproteína E ni el electroencefalograma para diagnosticar la Enfermedad de Alzheimer.",
    "de": "Wenn die Diagnose ungewiss ist und die Alzheimer -Krankheit vermutet wird, berücksichtigen Sie entweder:\n* FDG-PET (Fluorodeoxyglucose-Positron-Emissionstomographie-Computertomographie).\n* Perfusions SPECT (Einzelphotonenemissions-Computertomographie), wenn FDG-PET nicht verfügbar ist, oder\n* Untersuchung der Cerebrospinalflüssigkeit für Gesamt-Tau- oder Gesamt-Tau- und phosphoryliertes Tau 181 und entweder Amyloid-β 1-42 oder Amyloid β 1-42 sowie Amyloid β 1-40.\nWenn nach einem dieser Tests eine Diagnose nicht gestellt werden kann, sollten Sie einen anderen verwenden.\n* Verwenden Sie keine Apolipoprotein -E -Genotypisierung oder Elektroenzephalographie, um die Alzheimer -Krankheit zu diagnostizieren.",
    "ro": "Dacă diagnosticul este incert și este suspectată boala Alzheimer, luați în considerare: fie:\n* FDG-PET (Fluorodezoxiglucoză - Tomografie cu Emisii de Pozitroni - Tomografie Computerizată).\n* SPECT (Scintigrafie) de perfuzie (tomografie computerizată prin emisie de foton unic) dacă FDG-PET nu este disponibil sau\n* Examinarea lichidului cefalorahidian pentru tau total/tau total și fosforilat-tau 181 și amiloid β 1-42/amiloid β 1-42 și amiloid β 1-40.\nDacă un diagnostic nu este clar ca urmare a unuia dintre aceste teste, luați în considerare utilizarea celuilalt.\n* Nu folosiți genotiparea apolipoproteinei E sau electroencefalografia pentru a diagnostica boala Alzheimer."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.2, [pp. 20] \n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.2 [pp. 20]\n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.2 [PP. 20]  \n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.2 [pp. 20]\n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  },
  "suggestions": [
    {
      "uuid": "Suggestion 1",
      "label": {
        "en": "Consider ordering FDG-PET (Fluorodeoxyglucose-positron emission tomography - Computed Tomography).",
        "es": "Considere solicitar un PET-FDG (Tomografía por Emisión de Positrones con 18F-fluorodeoxiglucosa)",
        "de": "Erwägen Sie die Anordnung eines FDG-PET (Fluorodeoxyglucose-Positron-Emissionstomographie-Computertomographie).",
        "ro": "Luați în considerare realizarea testului FDG-PET (Fluorodeoxyglucoză-pozitron Tomografie-tomografie computerizată)."
      },
      "actions": [
        {
          "type": "create",
          "description": {
            "en": "Consider ordering FDG-PET (Fluorodeoxyglucose-positron emission tomography - Computed Tomography).",
            "es": "Considere solicitar un PET-FDG (Tomografía por Emisión de Positrones con 18F-fluorodeoxiglucosa)",
            "de": "Erwägen Sie die Anordnung eines FDG-PET (Fluorodeoxyglucose-Positron-Emissionstomographie-Computertomographie).",
            "ro": "Luați în considerare realizarea testului FDG-PET (Fluorodeoxyglucoză-pozitron Tomografie-tomografie computerizată)."
          },
          "resource": {
            "resourceType": "ServiceRequest",
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "FGD-PET test",
                  "es": "Prueba de PET-FDG",
                  "de": "FDG-PET-Test",
                  "ro": "Test FDG-PET"
                }
              }
            ],
            "status": "draft",
            "intent": "proposal",
            "occurrenceDateTime": "{{todayPlus1Month}}",
            "category": [
              {
                "coding": [
                  {
                    "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/care-plan-activity-category",
                    "code": "lab-request",
                    "display": {
                      "en": "Lab request",
                      "es": "Petición de laboratorio",
                      "de": "Laboranfrage",
                      "ro": "Cerere de laborator"
                    }
                  }
                ]
              }
            ],
            "code": {
              "coding": [
                {
                  "system": "http://loinc.org",
                  "code": "87905-6",
                  "display": {
                    "en": "PET+CT Guidance for localization of tumor of Head and Neck",
                    "es": "PET+TC para localización de tumor de Cabeza y Cuello",
                    "de": "PET+CT -Anleitung zur Lokalisierung eines Tumors im Kopf und Nacken",
                    "ro": "PET+CT Ghid pentru localizarea unei posibile tumori ale capului și/sau gâtului"
                  }
                }
              ]
            },
            "performer": [
              {
                "reference": "Patient/{{context.patientId}}"
              }
            ],
            "text": {
              "status": "generated",
              "div": {
                "en": "Have FDG-PET (Fluorodeoxyglucose-positron emission tomography - Computed Tomography) before the control visit",
                "es": "Tenga un PET-FDG (Tomografía por Emisión de Positrones con 18F-fluorodeoxiglucosa) antes de la visita de control",
                "de": "Vernlassen Sie ein FDG-PET (Fluorodeoxyglucose-Posion-Emissionstomographie-Computertomographie) vor der nächsten Kontrolluntersuchung",
                "ro": "Realizați testul FDG-PET (Fluorodeoxyglucoză-pozitron Tomografie-tomografie computerizată) înainte de vizita de control"
              }
            }
          }
        }
      ]
    },
    {
      "uuid": "Suggestion 2",
      "label": {
        "en": "Consider ordering Perfusion SPECT (Single-Photon Emission Computed Tomography).",
        "es": "Considere solicitar un SPECT-Perfusión (tomografía computarizada de emisión de un solo fotón).",
        "de": "Erwägen Sie die Anordnung eines Perfusions-SPECT (Einzelphotonen-Emissions-Computertomographie).",
        "ro": "Luați în considerare realizarea analizei SPECT de perfuzie (tomografie computerizată prin emisie de foton unic)."
      },
      "actions": [
        {
          "type": "create",
          "description": {
            "en": "Consider ordering Perfusion SPECT (Single-Photon Emission Computed Tomography)",
            "es": "Considere solicitar un SPECT-Perfusión (tomografía computarizada de emisión de un solo fotón).",
            "de": "Erwägen Sie die Anordnung eines Perfusions-SPECT (Einzelphotonen-Emissions-Computertomographie).",
            "ro": "Luați în considerare realizarea analizei SPECT de perfuzie (tomografie computerizată prin emisie de foton unic)."
          },
          "resource": {
            "resourceType": "ServiceRequest",
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "SPECT test",
                  "es": "Prueba de SPECT",
                  "de": "SPECT -Test",
                  "ro": "Test SPECT"
                }
              }
            ],
            "status": "draft",
            "intent": "proposal",
            "occurrenceDateTime": "{{todayPlus1Month}}",
            "category": [
              {
                "coding": [
                  {
                    "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/care-plan-activity-category",
                    "code": "lab-request",
                    "display": {
                      "en": "Lab request",
                      "es": "Petición de laboratorio",
                      "de": "Laboranfrage",
                      "ro": "Cerere de laborator"
                    }
                  }
                ]
              }
            ],
            "code": {
              "coding": [
                {
                  "system": "http://loinc.org",
                  "code": "39632-5",
                  "display": {
                    "en": "SPECT Brain",
                    "es": "SPECT cerabral",
                    "de": "SPECT des Gehirns",
                    "ro": "SPECT la nivelul creierului"
                  }
                }
              ]
            },
            "performer": [
              {
                "reference": "Patient/{{context.patientId}}"
              }
            ],
            "text": {
              "status": "generated",
              "div": {
                "en": "Have Perfusion SPECT (Single-Photon Emission Computed Tomography) before the control visit",
                "es": "Tenga un SPECT-Perfusión (tomografía computarizada de emisiones de un solo fotón) antes de la visita de control",
                "de": "Veranlassen Sie ein Perfusions SPECT (Einzelphotonen-Positron-Emissionstomographie-Computertomographie)",
                "ro": "Efectuați o examinare SPECT de perfuzie (tomografie computerizată prin emisie de foton unic) înainte de vizita de control"
              }
            }
          }
        }
      ]
    },
    {
      "uuid": "Suggestion 3",
      "label": {
        "en": "Consider ordering Tau protein/Amyloid beta 42 peptide in Cerebral spinal fluid.",
        "es": "Considere solicitar proteína tau/péptido beta amiloide 42 (Aß42) en líquido cefalrraquídeo (LCR).",
        "de": "Erwägen Sie, das Tau -Protein/Amyloid -Beta -42 -Peptid im Liquor bestimmen zu lassen.",
        "ro": "Luați în considerare realizarea testului proteinei/amiloidului beta 42 peptidă în lichidul coloanei vertebrale cerebrale."
      },
      "actions": [
        {
          "type": "create",
          "description": {
            "en": "Consider ordering Tau protein/Amyloid beta 42 peptide in Cerebral spinal fluid.",
            "es": "Considere solicitar proteína tau/péptido beta amiloide 42 (Aß42) en líquido cefalrraquídeo (LCR).",
            "de": "Erwägen Sie, das Tau -Protein/Amyloid -Beta -42 -Peptid im Liquor bestimmen zu lassen.",
            "ro": "Luați în considerare realizarea testului proteinei/amiloidului beta 42 peptidă în lichidul coloanei vertebrale cerebrale."
          },
          "resource": {
            "resourceType": "ServiceRequest",
            "extension": [
              {
                "url": "http://kroniq.srdc.com.tr/fhir/StructureDefinition/title",
                "valueString": {
                  "en": "Tau protein/Amyloid beta 42 peptide in Cerebral spinal fluid test",
                  "es": "Proteína tau/péptido beta amiloide 42 (Aß42) en líquido cefalrraquídeo (LCR).",
                  "de": "Bestimmung von Tau -Protein/Amyloid -Beta 42 -Peptid im Liquor",
                  "ro": "Proteină tau/amiloid beta 42 peptidă în testul lichidului spinal cerebral"
                }
              }
            ],
            "status": "draft",
            "intent": "proposal",
            "occurrenceDateTime": "{{todayPlus1Month}}",
            "category": [
              {
                "coding": [
                  {
                    "system": "http://kroniq.srdc.com.tr/fhir/CodeSystem/care-plan-activity-category",
                    "code": "lab-request",
                    "display": {
                      "en": "Lab request",
                      "es": "Petición de laboratorio",
                      "de": "Laboranfrage",
                      "ro": "Cerere de laborator"
                    }
                  }
                ]
              }
            ],
            "code": {
              "coding": [
                {
                  "system": "http://loinc.org",
                  "code": "41027-4",
                  "display": {
                    "en": "Tau protein/Amyloid beta 42 peptide [Ratio] in Cerebral spinal fluid",
                    "es": "Proteína tau/péptido beta amiloide 42 (Aß42) [cociente] en líquido cefalrraquídeo (LCR).",
                    "de": "Bestimmung von Tau Protein/Amyloid Beta 42 Peptid [Verhältnis] im Liquor",
                    "ro": "Proteină tau/amiloid beta 42 peptidă [raport] în lichidul spinal cerebral"
                  }
                }
              ]
            },
            "performer": [
              {
                "reference": "Patient/{{context.patientId}}"
              }
            ],
            "text": {
              "status": "generated",
              "div": {
                "en": "Have Tau protein/Amyloid beta 42 peptide in Cerebral spinal fluid before the control visit",
                "es": "Tenga el resultado de proteína tau//péptido beta amiloide 42 (Aß42) en líquido cefalrraquídeo (LCR) antes de la visita de control",
                "de": "Bestimmung von Tau Protein/Amyloid Beta 42 -Peptid im Liquor vor dem nächsten Kontrollbesuch",
                "ro": "Realizați testul proteină tau/amiloid beta 42 peptidă în lichidul spinal cerebral înainte de vizita de control"
              }
            }
          }
        }
      ]
    }
  ]
}
