{
  "uuid": "mci-md-general-recommendation-card-21",
  "summary": {
    "en": "Keep patient's environment at home safe.",
    "es": "Mantenga un ambiente seguro en casa del paciente.",
    "de": "Gestalten Sie die häusliche Umgebung sicher.",
    "ro": "Păstrați mediul ambiental al pacientului (domiciliul) în siguranță."
  },
  "indicator": "info",
  "detail": {
    "en": "Keep the environment at home safe to reduce the risk of falling and injury.",
    "es": "Mantenga un ambiente seguro en casa para reducir el riesgo de caídas y lesiones.",
    "de": "Gestalten Sie die häusliche Umgebung sicher, um das Risiko eines Sturzes und der Verletzung zu verringern.",
    "ro": "Mențineți mediul ambiental sigur pentru a reduce riscul de cădere și vătămare."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.1 [pp. 21]\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.1 [pp. 21] \n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.1 [PP. 21]  \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.1 [pp. 21]\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
