{
  "uuid": "mci-md-general-recommendation-card-17",
  "summary": {
    "en": "Conduct a structured assessment before starting non-pharmacological or pharmacological treatment for distress in people living with dementia.",
    "es": "Realice una evaluación estructurada antes de iniciar un tratamiento no farmacológico o farmacológico para la preocupación de las personas con demencia.",
    "de": "Führen Sie eine strukturierte Bewertung durch, bevor Sie nicht pharmakologische oder pharmakologische Behandlung bei Menschen mit Demenz in Notlage/Bedrängnis beginnen.",
    "ro": "Efectuați o evaluare structurată înainte de a începe tratamentul non-farmacologic sau farmacologic pentru suferință la persoanele care trăiesc cu demență."
  },
  "indicator": "info",
  "detail": {
    "en": "Before starting non-pharmacological or pharmacological treatment for distress in people living with dementia, conduct a structured assessment to: explore possible reasons for their distress and check for and address clinical or environmental causes (for example pain, infections, delirium or inappropriate care). Identify events (e.g. shopping at busy market) or factors (e.g. going out alone) that may precede, trigger, or enhance problem behaviours. Modify these triggers if possible.",
    "es": "Antes de iniciar un tratamiento no farmacológico o farmacológico del malestar en personas que viven con demencia, realice una evaluación estructurada para: explorar las posibles razones de su malestar y comprobar y abordar las causas clínicas o ambientales (por ejemplo, dolor, infecciones, delirio o cuidados inadecuados). Identifique eventos (por ejemplo, comprar en un mercado concurrido) o factores (por ejemplo, salir solo) que puedan preceder, desencadenar o potenciar conductas problemáticas. Modifique estos desencadenantes si es posible.",
    "de": "Vor Beginn der nicht-pharmakologischen oder pharmakologischen Behandlung von Notlagen bei Menschen mit Demenz sollte eine strukturierte Bewertung durchgeführt werden, um:  mögliche Gründe für ihre Notlage zu untersuchen und klinische oder umweltbezogene Ursachen zu überprüfen (z. B. Schmerzen, Infektionen, Delirium oder unangemessene Pflege). Identifizieren Sie Ereignisse (z. B. Einkaufen auf dem geschäftigen Markt) oder Faktoren (z. B. allein ausgehen), die dem Problemverhalten vorausgehen, es auslösen oder es verstärken können. Ändern Sie diese Auslöser nach Möglichkeit.",
    "ro": "Înainte de a începe tratamentul non-farmacologic sau farmacologic pentru suferință la persoanele care trăiesc cu demență, efectuați o evaluare structurată pentru: a explora posibilele motivele pentru suferința lor și verificați și abordați cauzele clinice sau de mediu (de exemplu, durere, infecții, delir sau îngrijire necorespunzătoare). Identificați evenimentele (de exemplu, cumpărăturile într-un loc aglomerat) sau factorii (de exemplu, ieșirea afară singur) care pot preceda, declanșa sau îmbunătăți comportamentele-problemă. Modificați aceste declanșatoare, dacă este posibil."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3 [pp. 20]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3 [pp. 20] \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3 [PP. 20]  \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3 [pp. 20]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
