{
  "uuid": "mci-md-general-recommendation-card-18",
  "summary": {
    "en": "Ask older adults with MCI or mild dementia whether they wish to know the diagnosis and with whom it should be shared.",
    "es": "Pregunte a las personas mayores con DCL o demencia leve si desean conocer el diagnóstico y con quién debe compartirse.",
    "de": "Fragen Sie ältere Erwachsene mit MCI oder mildem Demenz, ob sie die Diagnose ggf. kennen möchten und mit wem sie geteilt werden sollte.",
    "ro": "Întrebați adulții în vârstă cu MCI sau demență ușoară dacă doresc să știe diagnosticul și cu cine ar trebui să fie împărtășit."
  },
  "indicator": "info",
  "detail": {
    "en": "Tailor the explanation of the illness so that they can understand and retain the information, and give basic information like \"dementia is an illness of the brain and tends to get worse over time\", \"although there is no cure, there is much that can be done to help and support the person and the family\", or \"many specific concerns and behaviours can be managed as they arise\".",
    "es": "Adapte la explicación de la enfermedad para que puedan entender y retener la información, y ofrezca información básica como \"la demencia es una enfermedad del cerebro y tiende a empeorar con el tiempo\", \"aunque no hay cura, hay mucho que se puede hacer para ayudar y apoyar a la persona y a la familia\", o \"muchas preocupaciones y comportamientos específicos se pueden manejar a medida que surgen\".",
    "de": "Formulieren Sie die Erklärung der Krankheit so,  dass sie die Informationen verstehen und behalten können und geben Sie grundlegende Informationen wie \"Demenz ist eine Krankheit des Gehirns und neigt dazu, im Laufe der Zeit schlechter zu werden\", \"Obwohl es keine Heilung gibt, gibt es viel, was getan werden kann, um der Person und der Familie zu helfen und sie zu unterstützen\".",
    "ro": "Adaptați explicația bolii, astfel încât pacientul să poată înțelege și păstra informațiile și să ofere informații de bază precum \"demența este o boală a creierului și tinde să se agraveze în timp\", \"Deși nu există leac, există multe lucruri  care pot fi făcute pentru a ajuta și sprijini persoana și familia\", sau\" Multe preocupări și comportamente specifice pot fi gestionate pe măsură ce apar\"."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.1 [pp. 21]\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.1 [pp. 21] \n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.1 [PP. 21]  \n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.1 [pp. 21]\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
