{
  "uuid": "mci-md-general-recommendation-card-15",
  "summary": {
    "en": "Consider assessment for vascular risk factors, and manage them as prevention of cerebrovascular pathology, that may impact on the progression of dementia.",
    "es": "Considere la evaluación de los factores de riesgo vascular y su manejo como prevención de la patología cerebrovascular, que puede afectar la progresión de la demencia.",
    "de": "Erwägen Sie die Bewertung von Gefäßrisikofaktoren und behandeln Sie sie als Prävention die zerebrovaskuläre Pathologie, die sich auf das Fortschreiten der Demenz auswirken kann.",
    "ro": "Luați în considerare evaluarea factorilor de risc vascular și gestionați-i pentru a preveni patologia cerebrovasculară, care poate avea un impact asupra progresiei demenței."
  },
  "indicator": "info",
  "detail": {
    "en": "It is recommended to assess for vascular risk factors, and manage them as prevention of cerebrovascular pathology, that may impact on the progression of dementia.",
    "es": "Se recomienda evaluar los factores de riesgo vasculares y su manejo como prevención de la patología cerebrovascular, que puede afectar la progresión de la demencia.",
    "de": "Es wird empfohlen, vaskuläre Risikofaktoren zu bewerten und sie als Prävention der zerebrovaskulären Pathologie zu behandeln, die sich auf das Fortschreiten der Demenz auswirken kann.",
    "ro": "Se recomandă evaluarea factorilor de risc vascular și gestionarea acestora ca prevenire a patologiei cerebrovasculare, care poate avea impact asupra progresiei demenței."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.1 [pp. 19]\n* Frederiksen KS, Cooper C, Frisoni GB, Frölich L, Georges J, Kramberger MG, et al. A European Academy of Neurology guideline on medical management issues in dementia. Eur J Neurol [Internet]. 2020 Oct;27(10):1805–20. Available from: https://doi.org/10.1111/ene.14412",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.1 [pp. 19]\n* Frederiksen KS, Cooper C, Frisoni GB, Frölich L, Georges J, Kramberger MG, et al. A European Academy of Neurology guideline on medical management issues in dementia. Eur J Neurol [Internet]. 2020 Oct;27(10):1805–20. Available from: https://doi.org/10.1111/ene.14412",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.1 [PP. 19]\n* Frederiksen KS, Cooper C, Frisoni GB, Frölich L, Georges J, Kramberger MG, et al. A European Academy of Neurology guideline on medical management issues in dementia. Eur J Neurol [Internet]. 2020 Oct;27(10):1805–20. Available from: https://doi.org/10.1111/ene.14412",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.1 [pp. 19]\n* Frederiksen KS, Cooper C, Frisoni GB, Frölich L, Georges J, Kramberger MG, et al. A European Academy of Neurology guideline on medical management issues in dementia. Eur J Neurol [Internet]. 2020 Oct;27(10):1805–20. Available from: https://doi.org/10.1111/ene.14412"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
