{
  "uuid": "mci-md-general-recommendation-card-19",
  "summary": {
    "en": "Ensure that patients and family members or carers have access to a memory or dementia service.",
    "es": "Asegúrese de que los pacientes y familiares o cuidadores tengan acceso a una Unidad de memoria o demencia.",
    "de": "Stellen Sie sicher, dass Patienten und Familienmitglieder oder Betreuer Zugang zu einem Gedächtnis- oder Demenzservice haben.",
    "ro": "Asigurați-vă că pacienții și membrii familiei sau îngrijitorii au acces la un serviciu medical specializat în afecțiuni ale memoriei sau demență."
  },
  "indicator": "info",
  "detail": {
    "en": "Ensure that patients and family members or carers (as appropriate) have access to a memory service or equivalent hospital- or primary-care-based multidisciplinary dementia service.",
    "es": "Asegúrese de que los pacientes y sus familiares o cuidadores (según corresponda) tengan acceso a una Unidad de memoria o un Servicio de demencia multidisciplinario hospitalario -o equivalente en Atención Primaria-.",
    "de": "Stellen Sie sicher, dass Patienten und Familienmitglieder oder Betreuer (gegebenenfalls) Zugang zu einem Gedächtnis-oder Demenzservice oder einem gleichwertigen multidisziplinären Demenzdienst im Krankenhaus oder in der primären Pflege haben.",
    "ro": "Asigurați-vă că pacienții și membrii familiei sau îngrijitorii (după caz) au acces la un serviciu medical specializat în afecțiuni ale memoriei sau demență, sau un echivalent bazat pe îngrijire multidisciplinară ambulatorie /serviciu de îngrijire primară pentru demență."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.1 [pp. 21]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.1 [pp. 21] \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.1 [PP. 21]  \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.1 [pp. 21]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
