{
  "uuid": "ckd-general-recommendations-card-10",
  "summary": {
    "en": "In patients who referred for specialist assessment, great caution must be taken when giving NSAIDs over prolonged periods of time.",
    "es": "En pacientes derivados para valoración especializada, se debe tener gran precaución al admnistrar AINEs durante periodos prolongados de tiempo.",
    "de": "Bei Patienten, die an einen Spezialisten überwiesen wurden, ist bei der Verabreichung von NSAIDs über längere Zeiträume große Vorsicht geboten.",
    "ro": "La pacienții trimiși la consult de specialitate, trebuie oferită mai multă grijă la administrarea AINS pe o perioadă mai lungă de timp."
  },
  "indicator": "info",
  "detail": {
    "en": "In these patients, the chronic use of NSAIDs may be associated with progression of CKD, and acute use is associated with a reversible decrease in GFR. Great caution must be taken when giving NSAIDs to this population over prolonged periods of time. Monitor the effects on GFR, particularly in people with a low baseline GFR and/or in the presence of other risks for progression.",
    "es": "En estos pacientes, el uso crónico de AINEs puede asociarse a progresión de la ERC, y el uso agudo se asocia con un descenso reversible del FG. Se debe tener gran precaución cuando se administren AINEs en esta población durante periodos prolongados de tiempo. Monitorice los efectos en el FG, especialmente en personas con un FG de base bajo y/o la presencia de otros factores de riesgo para progresión.",
    "de": "Bei diesen Patienten kann die chronische Einnahme von NSAIDs mit dem Fortschreiten von chronischen Nierenerkrankungen einhergehen, und die akute Einnahme ist mit einer reversiblen Abnahme der GFR verbunden. Bei der Verabreichung von NSAIDs an diese Patientengruppe über längere Zeiträume hinweg ist große Vorsicht geboten. Überwachen Sie die Auswirkungen auf die GFR, insbesondere bei Personen mit einer niedrigen Ausgangs-GFR und/oder bei Vorliegen anderer Risiken für ein Fortschreiten der Erkrankung.",
    "ro": "La acești pacienți, folosirea cronică a AINS poate să se asocieze cu progresia BCR, iar folosirea acută se asociază cu o scădere reversibilă a eGFR. Trebuie avută mare grijă la adminsitrarea AINS la această populație pe perioade prelungite de timp. Monitprizați efectele pe eGFR, mai ales la acei pacienți cu eGFR bazală mică și/sau în prezența altor factori de risc."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.1 [pp. 58]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.1 [pp. 58]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.1 [PP. 58]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.1 [pp. 58]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
