{
  "uuid": "copd-diagnosis-card-1",
  "summary": {
    "en": "Suspect a diagnosis of COPD in older adults with multi-morbidity and cognitive impairment when presenting a risk factor and having one or more of the symptoms.",
    "es": "Sospeche el diagnóstico de EPOC en adultos mayores con multimorbilidad y deterioro cognitivo cuando presente un factor de riesgo y tenga uno o más de los síntomas.",
    "de": "Ziehen  Sie eine Diagnose von COPD bei älteren Erwachsenen mit Multimorbidität und kognitiven Beeinträchtigung in Betracht, wenn Sie einen Risikofaktor aufweisen und eines oder mehrere Symptome haben.",
    "ro": "Bănuiți un diagnostic de BPOC la adulții în vârstă cu multi-morbiditate și deficiență cognitivă atunci când prezintă un factor de risc și au unul sau mai multe simptome."
  },
  "indicator": "info",
  "detail": {
    "en": "Suspect a diagnosis of Chronic Obstructive Pulmonary Disease (COPD) in older adults with multi-morbidity and cognitive impairment when presenting a risk factor (generally smoking or a history of smoking) and having one or more of the symptoms: exertional breathlessness, chronic cough, regular sputum production, frequent winter bronchitis, or wheeze.",
    "es": "Sospeche el diagnóstico de Enfermedad Pulmonar Obstructiva Crónica (EPOC) en adultos mayores con multimorbilidad y deterioro cognitivo cuando presenten un factor de riesgo (generalmente tabaquismo o antecedentes de tabaquismo) y tengan uno o más de los siguientes síntomas: disnea de esfuerzo, tos crónica, producción regular de esputo, bronquitis invernal frecuente o sibilantes.",
    "de": "Ziehen Sie die Diagnose einer chronisch obstruktiven Lungenerkrankung (COPD) bei älteren Erwachsenen mit Multimorbidität und kognitiver Beeinträchtigung bei der Darstellung eines Risikofaktors (im Allgemeinen Rauchen oder der Vorgeschichte des Rauchens) und mit einem oder mehreren Symptomen: Anstrengungspflicht, chronischer Husten, chronischer Husten, Regelmäßige Sputumproduktion, häufige Winterbronchitis oder Keuchen, in Betracht.",
    "ro": "Suspectați un diagnostic de boală pulmonară obstructivă cronică (BPOC) la adulții în vârstă, cu multi-morbiditate și deficiență cognitivă atunci când prezintă un factor de risc (în general fumatul sau un istoric de fumat) și au unul sau mai multe dintre următoarele simptome: respirație exerțională, tuse cronică, Producție regulată de spută, bronșită frecventă iarna sau respirație."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.1 [pp. 63]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.1 [pp. 63]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.1 [S. 63]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.1 [pp. 63]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
