{
  "uuid": "ckd-medication-treatment-card-19",
  "summary": {
    "en": "Do not routinely offer a rennin-angiotensin system antagonist to adults with CKD if their pre-treatment serum potassium concentration is greater than 5.0 mmol/L. In these cases, assess for and treat any other factors that promote hyperkalaemia and recheck serum potassium concentration.",
    "es": "No ofrezca un antagonista del sistema renina-angiotensina de forma rutinaria a adultos con ERC si la concentración de potasio sérico pre tratamiento es mayor de 5mmol/L. En estos casos, evalúe y trate los factores que promuevan la hiperpotasemia y compruebe de nuevo la concentración de potasio sérico.",
    "de": "Erwachsenen mit chronischer Nierenerkrankung sollte nicht routinemäßig ein Antagonist des Renin-Angiotensin-Systems angeboten werden, wenn die Serumkaliumkonzentration vor der Behandlung mehr als 5,0 mmol/L beträgt. In diesen Fällen sind alle anderen Faktoren, die eine Hyperkaliämie begünstigen, zu untersuchen und zu behandeln und die Serumkaliumkonzentration erneut zu überprüfen.",
    "ro": "Nu oferiți de rutină antagonist sistemic de renină-angiotenisnă la adulți cu BCR dacă potasemia înaintea începerii tratamentului este mai mare de 5 mmol/L. În aceste cazuri, luați în considerare oricare alt factor care ar putea precipita hiperkalemia și refaceți potasemia."
  },
  "indicator": "info",
  "detail": {
    "en": "* Measure serum potassium concentrations and eGFR before starting rennin-angiotensin system antagonists.\n* Do not routinely offer a rennin-angiotensin system antagonist to adults with CKD if their pre-treatment serum potassium concentration is greater than 5.0 mmol/L. In these cases, assess for and treat any other factors that promote hyperkalaemia and recheck serum potassium concentration.",
    "es": "* Mida las concentraciones de potasio sérico y FGe antes de iniciar antagonistas del sistema renina-angiotensina.\n* No ofrezca un antagonista del sistema renina-angiotensina de forma rutinaria a adultos con ERC si la concentración de potasio sérico pre tratamiento es mayor de 5mmol/L. En estos casos, evalúe y trate los factores que promuevan la hiperpotasemia y compruebe de nuevo la concentración de potasio sérico.",
    "de": "* Messen Sie die Serumkaliumkonzentration und die eGFR, bevor Sie mit der Verabreichung von Rennin-Angiotensin-System-Antagonisten beginnen.\n* Bieten Sie Erwachsenen mit chronischer Nierenerkrankung nicht routinemäßig einen Antagonisten des Renin-Angiotensin-Systems an, wenn die Serumkaliumkonzentration vor der Behandlung mehr als 5,0 mmol/L beträgt. In diesen Fällen sind alle anderen Faktoren, die eine Hyperkaliämie begünstigen, zu untersuchen und zu behandeln, und die Serumkaliumkonzentration ist erneut zu überprüfen.",
    "ro": "* Măsurați potasemia și eGFR înaintea începerii tratamentului cu antagonist sistemic de renină-angiotensină.\n* Nu oferiți de rutină antagonist sistemic de renină-angiotenisnă la adulți cu BCR dacă potasemia înaintea începerii tratamentului este mai mare de 5 mmol/L. În aceste cazuri, luați în considerare oricare alt factor care ar putea precipita hiperkalemia și refaceți potasemia."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 60]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 60]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 60]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 60]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
