{
  "uuid": "ckd-medication-treatment-card-32",
  "summary": {
    "en": "Treat hyperphosphatemia when values are persistently and progressively higher than normal (>4.5 mg/dL) in non-dialysis CKD patients.",
    "es": "Trate la hiperfosfatemia cuando los valores se encuentren persistente y progresivamente más elevados de lo normal (>4,5mg/dL) en pacientes con ERC no dializados.",
    "de": "Behandeln Sie eine Hyperphosphatämie, wenn die Werte bei Patienten mit chronischer Nierenerkrankung, die nicht an der Dialyse teilnehmen, anhaltend und progressiv über dem Normalwert liegen (> 4,5 mg/dL).",
    "ro": "Tratați hiperfosfatemia când valorile sunt persistente și progresiv mai mari (>4.5 mg/dL) la pacienții cu BCR care nu necesită dializaă."
  },
  "indicator": "info",
  "detail": {
    "en": "* Begin with dietary phosphate restriction of 900 mg/day. Phosphate restriction should primarily include processed foods and colas, and not high-biologic-value foods such as meat and eggs. \n* Food additives (as are found in processed foods) and medications are an important source of dietary phosphate. \n* Patients should receive education on the absorbability of phosphate from different foods. \n* A more vegetarian-based diet in order to control phosphate could be advised. ",
    "es": "* Comience con restricción de fosfato sérico de 900mg/día. La restricción de fostati debería incluir principalmente alimentos procesados y colas, y no alimentos de alto valor biológico como la carne o los huevos.\n* Los aditivos alimenarios (como los que se encuentran en las comidas procesadas) y los fármacos son una fuente importante de fosfato de la dieta.\n* Los pacientes deberían recibir educación en la absorción de fosfato de las diferentes comidas.\n* Una dieta más basada en vegetales podría recomendarse para controlar los niveles de fosfato.",
    "de": "* Beginnen Sie mit einer Phosphatbeschränkung von 900 mg/Tag. Die Phosphatbeschränkung sollte in erster Linie verarbeitete Lebensmittel und Cola umfassen, nicht aber Lebensmittel mit hohem biologischem Wert wie Fleisch und Eier. \n* Lebensmittelzusatzstoffe (wie sie in verarbeiteten Lebensmitteln enthalten sind) und Medikamente sind eine wichtige Quelle für Phosphat in der Nahrung. \n* Die Patienten sollten über die Aufnahmefähigkeit von Phosphat aus verschiedenen Lebensmitteln aufgeklärt werden. \n* Eine eher vegetarische Ernährung zur Kontrolle des Phosphatgehalts könnte angeraten werden.",
    "ro": "* Începeți cu restricții dietetice de fosfat până la 900 mg/zi. Restricția de fosfat cuprind în primul rând fast food-ul și sucurile acidulate de tip cola, nu neapărat produsele biologice precum carnea sau ouăle.\n* Aditivii alimentari (care se găsesc în mâncarea procesată) și unele medicamente sunt sure importante de fosfat.\n* Pacienții trebuie educați despre conținutul în fosfat a diferitelor alimente.\n* O dietă bazată pe fructe și legume este recomandată pentru a controla fosfatul."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 61]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 61]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 61]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 61]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
