{
  "uuid": "ckd-medication-treatment-card-17",
  "summary": {
    "en": "Offer ARB or ACE inhibitor, titrated to the highest licensed dose that the patient can tolerate.",
    "es": "Ofrece ARA-II o IECA, titulado a la dosis más alta indidcada que el paciente pueda tolerar.",
    "de": "ARB oder ACE-Hemmer anbieten, titriert auf die höchste zugelassene Dosis, die der Patient vertragen kann.",
    "ro": "Administrați antagoniști ai receptorului de angiotensină sau inhibitor de enzimă de conversie, titrat la cea mai mare doză pe care pacientul o suportă."
  },
  "indicator": "info",
  "detail": {
    "en": "Offer an ARB or an ACE inhibitor, titrated to the highest licensed dose that the patient can tolerate, to older adults with CKD who have hypertension and an ACR over 30 mg/mmol (ACR category A3 or above), and to older adults with diabetes and an ACR over 3 mg/mmol.",
    "es": "Ofrece ARA-II o IECA, titulado a la dosis más alta indidcada que el paciente pueda tolerar., en adultos mayors con ERC que presenten hipertensión y un cociente albúmina/creatinina en orina mayor de 30mg/mmol (aclaramiento de albúmina/creatinina en orina categoría A3 o mayor), y a adultos mayores con diabetes y un aclaramiento albúmina/creatinina en orina mayor de 3mg/mmol.",
    "de": "Bieten Sie älteren Erwachsenen mit chronischer Nierenerkrankung, die an Bluthochdruck und einem ACR-Wert von über 30 mg/mmol (ACR-Kategorie A3 oder höher) leiden, sowie älteren Erwachsenen mit Diabetes und einem ACR-Wert von über 3 mg/mmol einen ARB oder ACE-Hemmer an, der auf die höchste zugelassene Dosis titriert wird, die der Patient vertragen kann.",
    "ro": "Administrați antagoniști ai receptorului de angiotensină sau inhibitor de enzimă de conversie, titrat la cea mai mare doză pe care pacientul o suportă, la pacienții ci BCR care au hipertensiune și RAC peste 30 mg/mmol (RAC categorie A3 sau mai mare), și la pacienții cu diabet cu RAC peste 3 mg/mmol."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 60]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 60]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 60]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 60]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
