{
  "uuid": "ckd-medication-treatment-card-34",
  "summary": {
    "en": "Consider oral sodium bicarbonate supplementation.",
    "es": "Considere la suplementación oral con bicarbonato de sodio.",
    "de": "Erwägen Sie eine orale Natriumbicarbonat-Ergänzung.",
    "ro": "Luați în considerare suplimentele orale cu bicarbonat de sodiu."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider oral sodium bicarbonate supplementation for adults with eGFR &#60;30 ml/min/1.73 m2 and a serum bicarbonate concentration of &#60;20 mmol/liter.",
    "es": "Considere la suplementación oral con bicarbonato de sodio en adultos con FGe &#60;30ml/min/1,73m2 y una concentración de bicarbonato sérico &#60;20mmol/litro.",
    "de": "Erwägen Sie eine orale Natriumbicarbonat-Supplementierung für Erwachsene mit einer eGFR &#60; 30 ml/min/1,73 m2 und einer Serumbicarbonatkonzentration von &#60; 20 mmol/Liter.",
    "ro": "Luați în considerare suplimentele orale cu bicarbonat de sodiu la pacienții cu eGFR &#60; 30 mL/min/1.73 m2 și bicarbonatul seric este sub &#60;20 mmol/L."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 62]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 62]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 62]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 62]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
