{
  "uuid": "ckd-medication-treatment-card-35",
  "summary": {
    "en": "Consider offering bisphosphonates for osteoporosis.",
    "es": "Considere ofrecer bifosfonatos para la osteoporosis.",
    "de": "Erwägen Sie das Angebot von Bisphosphonaten zur Behandlung von Osteoporose.",
    "ro": "Luați în considerare bisfosfonații pentru osteoporoză."
  },
  "indicator": "info",
  "detail": {
    "en": "Offer bisphosphonates if indicated for the prevention and treatment of osteoporosis in adults with a GFR of 30 ml/min/1.73 m2 or more. ",
    "es": "Ofrezca bifosfonatos si están indicados para la prevención y tratamiento de la osteoporosis en adultos con un FGe de 30ml/min/1,73m2 o más.",
    "de": "Bieten Sie Bisphosphonate an, wenn dies zur Prävention und Behandlung von Osteoporose bei Erwachsenen mit einer GFR von 30 ml/min/1,73 m2 oder mehr angezeigt ist.",
    "ro": "Oferiți bisfosfonați pentru prevenția și tratamentul pentru osteoporoză la pacienți cu BCR mai mare de 30 mL/min/1.73 m2"
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 62]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 62]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 62]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 62]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
