{
  "uuid": "ckd-medication-treatment-card-25",
  "summary": {
    "en": "ESAs (erythropoietic stimulating agents) need not be administered if the prognosis is likely to negate the benefits of correcting the anaemia.",
    "es": "Los AEEs (agentes estimulantes de la eritropoyesis)  no se deben administrar si el pronóstico probablemente contrarreste los beneficios de corregir la anemia.",
    "de": "ESAs (erythropoetische Stimulanzien) müssen nicht verabreicht werden, wenn die Prognose den Nutzen einer Korrektur der Anämie wahrscheinlich zunichte macht.",
    "ro": "Terapia cu stimulant eritropoietic nu ar trebui începută dacă prognosticul ar putea nega beneficiile corectării anemiei."
  },
  "indicator": "info",
  "detail": {
    "en": "ESAs (erythropoietic stimulating agents) need not be administered if the prognosis is likely to negate the benefits of correcting the anaemia.",
    "es": "Los AEEs (agentes estimulantes de la eritropoyesis)  no se deben administrar si el pronóstico probablemente contrarreste los beneficios de corregir la anemia.",
    "de": "ESAs (erythropoetische Stimulanzien) müssen nicht verabreicht werden, wenn die Prognose den Nutzen einer Korrektur der Anämie wahrscheinlich zunichte macht.",
    "ro": "Terapia cu stimulant eritropoietic nu ar trebui începută dacă prognosticul ar putea nega beneficiile corectării anemiei."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 61]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 61]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 61]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 61]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
