{
  "uuid": "ckd-medication-treatment-card-29",
  "summary": {
    "en": "Offer iron therapy to older adults with anaemia of CKD who are receiving ESAs.",
    "es": "Ofrezca tratamiento con hierro a adultos mayores con anemia secundaria a ERC que estén en tratamiento con AEEs.",
    "de": "Bieten Sie älteren Erwachsenen mit Anämie bei chronischer Nierenerkrankung, die ESAs erhalten, eine Eisentherapie an.",
    "ro": "Oferiți terapia cu fier la pacienții în vârstă cu anemie de cauză BCR care au primit terapie cu stimulant eritropoietic."
  },
  "indicator": "info",
  "detail": {
    "en": "* Offer iron therapy to older adults with anaemia of CKD who are receiving ESAs to maintain transferrin saturation greater than 20% and serum ferritin level greater than 100 mcg/L (unless serum ferritin is greater than 800 mcg/L). \n* Most adults will need 500 to 1,000 mg of iron in a single or divided dose depending on the preparation. \n* High-dose and low-frequency iron is a maximum of 2 infusions, with a minimum of 500 mg of iron in each infusion, and low dose and high frequency is more than 2 infusions with 100 mg to 200 mg of iron in each infusion.\n* Offer oral iron therapy only if intravenous iron therapy is contraindicated or the patient chooses not to have intravenous iron therapy after discussing the relative efficacy and side effects of oral and intravenous iron therapy.",
    "es": "* Ofrezca tratamiento con hierro a adultos mayores con anemia secundaria a ERC que estén en tratamiento con AEEs para mantener una saturación de transferrina mayor del 20% y un nivel de ferritina sérica mayor de 100mcg/L (a menos que la ferritina sérica sea mayor de 800mcg/L).\n* La mayoría de los adultos necesitarán entre 500 y 1.000mg de hierro en una dosis individual o dividad dependiendo de la preparación.\n* El hierro en altas dosis y baja frecuencia es un máximo de dos infusiones, con un mínimo de 500mg de hierro en cada infusión, y baja dosis y alta frecuencia es más de dos infusiones de 100mg a 200mg de hierro en cada infusión.\n* Ofrezca tratamiento con hierro oral solo si el tratamiento con hierro intravenoso se encuentra contraindicado o si el paciente elige no recibir tratamiento con hierro intravenoso tras discutir la eficacia relativa y los efectos secundarios del tratamiento con hierro oral e intravenoso.",
    "de": "Bieten Sie älteren Erwachsenen mit chronischer Nierenerkrankungs-Anämie, die ESA erhalten, eine Eisentherapie an, um eine Transferrinsättigung von mehr als 20 % und einen Serumferritinspiegel von mehr als 100 mcg/L aufrechtzuerhalten (es sei denn, das Serumferritin ist größer als 800 mcg/L). \n* Die meisten Erwachsenen benötigen 500 bis 1.000 mg Eisen in einer einmaligen oder geteilten Dosis, je nach Präparat. \n* Bei hochdosiertem und niedrig dosiertem Eisen handelt es sich um maximal 2 Infusionen mit mindestens 500 mg Eisen pro Infusion, bei niedrig dosiertem und hoch dosiertem Eisen um mehr als 2 Infusionen mit 100 mg bis 200 mg Eisen pro Infusion.\n* Bieten Sie eine orale Eisentherapie nur an, wenn eine intravenöse Eisentherapie kontraindiziert ist oder der Patient sich gegen eine intravenöse Eisentherapie entscheidet, nachdem die relative Wirksamkeit und die Nebenwirkungen der oralen und intravenösen Eisentherapie besprochen wurden.",
    "ro": "* Oferiți terapie cu fier la pacienții cu anemie de cauză BCR care primesc stimulant eritropoietic pentru a menține saturația transferinei mai mare de 20% și feritina peste 100 mcg/L (dar sub 800 mcg/L).\n* Majoritatea adulților au nevoie între 500 și 1000 mg de fier într-o doză unică sau divizată, în funție de forma farmaceutică și producător.\n* Fier în doză mare și frecvență scăzută înseană maxim 2 infuzii, cu o doză de minim 500 mg per doză, iar fier în doză mare și frecvență crescută înseamnă mai mult de 2 infuzii, cu o doză de între 100 și 200 mg per doză."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 61]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 61]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 61]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 61]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
