{
  "uuid": "ckd-medication-treatment-card-23",
  "summary": {
    "en": "Consider offering antiplatelet drugs to people with CKD for the secondary prevention of cardiovascular disease, but be aware of the increased risk of bleeding.",
    "es": "Considere ofrecer fármacos antiagregantes a personas con ERC para la prevención secundaria de enfermedad cardiovascular, pero sea consciente del riesgo aumentado de sangrado.",
    "de": "Erwägen Sie, Menschen mit chronischer Nierenerkrankung Thrombozytenaggregationshemmer zur Sekundärprävention von Herz-Kreislauf-Erkrankungen anzubieten, aber seien Sie sich des erhöhten Blutungsrisikos bewusst.",
    "ro": "Luați în considerarea administrarea antiplachetarelor la pacienții cu BCR pentru prevenția secundară de boală cardiovasculară, dar luați în considerare riscul de sângerare."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider offering antiplatelet drugs to people with CKD for the secondary prevention of cardiovascular disease, but be aware of the increased risk of bleeding.",
    "es": "Considere ofrecer fármacos antiagregantes a personas con ERC para la prevención secundaria de enfermedad cardiovascular, pero sea consciente del riesgo aumentado de sangrado.",
    "de": "Erwägen Sie, Menschen mit chronischer Nierenerkrankung Thrombozytenaggregationshemmer zur Sekundärprävention von Herz-Kreislauf-Erkrankungen anzubieten, aber seien Sie sich des erhöhten Blutungsrisikos bewusst.",
    "ro": "Luați în considerarea administrarea antiplachetarelor la pacienții cu BCR pentru prevenția secundară de boală cardiovasculară, dar luați în considerare riscul de sângerare."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 61]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 61]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 61]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 61]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
