{
  "uuid": "ckd-medication-treatment-card-24",
  "summary": {
    "en": "ESA (erythropoietic stimulating agent) therapy should not be started in the presence of absolute iron deficiency without also managing the iron deficiency.",
    "es": "El tratamiento con AEEs (agentes estimulantes de la eritropoyesis) no debería ser iniciado en ausencia de un déficit absoluto de hierro sin tratar también la deficiencia de hierro.",
    "de": "Eine ESA-Therapie (erythropoetisch stimulierendes Mittel) sollte nicht bei absolutem Eisenmangel begonnen werden, ohne dass auch der Eisenmangel behandelt wird.",
    "ro": "Terapia cu stimulant eritropoietic nu ar trebui începută în prezența deficienței absolute de fie fără managementul deficienței de fier."
  },
  "indicator": "info",
  "detail": {
    "en": "ESA (erythropoietic stimulating agent) therapy should not be started in the presence of absolute iron deficiency without also managing the iron deficiency. ESAs need not be administered if the prognosis is likely to negate the benefits of correcting the anaemia.",
    "es": "El tratamiento con AEEs (agentes estimulantes de la eritropoyesis) no debería ser iniciado en ausencia de un déficit absoluto de hierro sin tratar también la deficiencia de hierro. Los AEEs no se deben administrar si el pronóstico probablemente contrarreste los beneficios de corregir la anemia.",
    "de": "Eine ESA-Therapie (erythropoetisch stimulierendes Mittel) sollte nicht bei absolutem Eisenmangel begonnen werden, ohne auch den Eisenmangel zu behandeln. ESA müssen nicht verabreicht werden, wenn die Prognose den Nutzen einer Korrektur der Anämie wahrscheinlich zunichte macht.",
    "ro": "Terapia cu stimulant eritropoietic nu ar trebui începută în prezența deficienței absolute de fie fără managementul deficienței de fier. Nu trebuie administrați dacă prognosticul poate nega beneficiile corectării anemiei."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 61]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 61]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 61]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 61]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
