{
  "uuid": "ckd-medication-treatment-card-26",
  "summary": {
    "en": "If a trial of ESA therapy is carried out, assess the effectiveness of the trial after an agreed interval, and agree with the patient and caregiver if appropriate whether or not to continue ESA therapy.",
    "es": "Si se realiza una prueba terapéutica con un AEE, valore la efectividad de la prueba después de un intervalo acordado, y acuerde con el paciente y su cuidador si es apropiado continuar o no con el tratamiento con ESA.",
    "de": "Wenn ein Versuch mit einer ESA-Therapie durchgeführt wird, ist die Wirksamkeit des Versuchs nach einem vereinbarten Intervall zu bewerten und gegebenenfalls mit dem Patienten und den Betreuern zu vereinbaren, ob die ESA-Therapie fortgesetzt werden soll oder nicht.",
    "ro": "Dapă o cură cu stimulant eritropoietic, evaluați eficiența curei după o perioadă agreată anterior, și luați o decizie împreună cu pacientul și aparținătorul dacă terapia trebuie continuată."
  },
  "indicator": "info",
  "detail": {
    "en": "If a trial of ESA therapy is carried out, assess the effectiveness of the trial after an agreed interval, and agree with the patient and caregiver if appropriate whether or not to continue ESA therapy.",
    "es": "Si se realiza una prueba terapéutica con un AEE, valore la efectividad de la prueba después de un intervalo acordado, y acuerde con el paciente y su cuidador si es apropiado continuar o no con el tratamiento con ESA.",
    "de": "Wenn ein Versuch mit einer ESA-Therapie durchgeführt wird, ist die Wirksamkeit des Versuchs nach einem vereinbarten Intervall zu bewerten und gegebenenfalls mit dem Patienten und den Betreuern zu vereinbaren, ob die ESA-Therapie fortgesetzt werden soll oder nicht.",
    "ro": "Dapă o cură cu stimulant eritropoietic, evaluați eficiența curei după o perioadă agreată anterior, și luați o decizie împreună cu pacientul și aparținătorul dacă terapia trebuie continuată."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 61]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 61]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 61]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 61]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
