{
  "uuid": "ckd-medication-treatment-card-37",
  "summary": {
    "en": "Consider offering calcitriol (1-25 dihydroxycholecalciferol).",
    "es": "Considere ofrecer calcitriol (1-25 dihidroxicolecalciferol).",
    "de": "Erwägen Sie das Angebot von Calcitriol (1-25 Dihydroxycholecalciferol).",
    "ro": "Luați în considerare calcitriolul (1-25 di-hidroxi-colecalciferol)"
  },
  "indicator": "info",
  "detail": {
    "en": "If vitamin D deficiency has been corrected and symptoms of CKD such as mineral and bone disorders persist, offer calcitriol (1-25 dihydroxycholecalciferol) to people with a GFR of less than 30 ml/min/1.73 m2. ",
    "es": "Si el déficit de vitamina D ha sido corregido y síntomas de ERC como enfermedades minerales y del hueso persisten, ofrezca calcitriol (1-25 dihidroxicolecalciferol) a personas con un FGe menor de 30ml/min/1,73m2.",
    "de": "Wenn der Vitamin-D-Mangel behoben wurde und die Symptome der chronischen Nierenerkrankung wie Mineral- und Knochenstörungen fortbestehen, sollte Menschen mit einer GFR von weniger als 30 ml/min/1,73 m2 Calcitriol (1-25 Dihydroxycholecalciferol) angeboten werden.",
    "ro": "Dacă deficiența de vitamina D a fost corectată, iar simpromele de BCR precum densitatea osoasă și minerală persisită, atunci oferiți calcitriol (1-25-di-hidroxi-colecalciferol) la pacienții cu GFR sub 30 mL/min/1.73 m2."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 62]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 62]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 62]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 62]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
