{
  "uuid": "ckd-medication-treatment-card-36",
  "summary": {
    "en": "Consider offering colecalciferol or ergocalciferol for vitamin D deficiency.",
    "es": "Considere ofrecer colecalciferol o ergocalciferol para el déficit de vitamina D.",
    "de": "Erwägen Sie, bei Vitamin-D-Mangel Colecalciferol oder Ergocalciferol anzubieten.",
    "ro": "Luați în considerare colecalciferolul sau ergocalciferolul pentru deficiența de vitamina D"
  },
  "indicator": "info",
  "detail": {
    "en": "Offer colecalciferol or ergocalciferol to treat vitamin D deficiency in patients with CKD and vitamin D deficiency.",
    "es": "Ofrezca colecalciferol o ergocalciferol para tratar el déficit de vitamina D en pacientes con ERC y déficit de vitamina D.",
    "de": "Bieten Sie Colecalciferol oder Ergocalciferol zur Behandlung von Vitamin-D-Mangel bei Patienten mit chronischer Nierenerkrankung und Vitamin-D-Mangel an.",
    "ro": "Oferiți colecalciferol sau ergocalciferol pentru daeficiența de vitamina D la pacienții cu BCR."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 62]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 62]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 62]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 62]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
