{
  "uuid": "ckd-medication-treatment-card-28",
  "summary": {
    "en": "Avoid blood transfusions, if possible, in people with anaemia of CKD in whom kidney transplant is a treatment option.",
    "es": "Evite transfusiones de sangre, si es posible, en personas con anemia secundaria a ERC en los que el trasplante renal sea una opción.",
    "de": "Vermeiden Sie Bluttransfusionen, wenn möglich, bei Menschen mit Anämie bei chronischer Nierenerkrankung, bei denen eine Nierentransplantation eine Behandlungsoption ist.",
    "ro": "Evitați tranfuziile cu sânge, dacă este posibil, la pacienții cu anemie din cauza BCR și sunt eligibili pentru transplant renal."
  },
  "indicator": "info",
  "detail": {
    "en": "Avoid blood transfusions, if possible, in people with anaemia of CKD in whom kidney transplant is a treatment option.",
    "es": "Evite transfusiones de sangre, si es posible, en personas con anemia secundaria a ERC en los que el trasplante renal sea una opción.",
    "de": "Vermeiden Sie Bluttransfusionen, wenn möglich, bei Menschen mit Anämie bei chronischer Nierenerkrankung, bei denen eine Nierentransplantation eine Behandlungsoption ist.",
    "ro": "Evitați tranfuziile cu sânge, dacă este posibil, la pacienții cu anemie din cauza BCR și sunt eligibili pentru transplant renal."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 61]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 61]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 61]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 61]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
