{
  "uuid": "ckd-medication-treatment-card-33",
  "summary": {
    "en": "If hyperphosphatemia persists, phosphate binders should be prescribed.",
    "es": "Si la hiperfosfatemia persiste, se deben prescibir quelantes del fosfato.",
    "de": "Wenn die Hyperphosphatämie anhält, sollten Phosphatbinder verschrieben werden.",
    "ro": "Dacă hiperfosfatemia persistă, trebuie prescrise medicamente care leagă fosfatul."
  },
  "indicator": "info",
  "detail": {
    "en": "Non calcium-containing binders like sevelamer, lanthanum, sucroferric oxyhydroxide, and ferric citrate, are preferred over calcium-containing binders like calcium carbonate and calcium acetate, although the increased cost and restricted availability of the first agents make calcium-containing binders an acceptable alternative in some circumstances.",
    "es": "Los quelantes sin calcio como el sevelamer, lantano, oxihidróxido sucroférrico y el citrato férrico, se prefieren sobre los quelantes que contienen calcio como el carbonato de calcio y el acetato de calcio, aunque el coste aumentado y la disponibilidad restringida de los primeros agentes hacen que los quelantes con calcio sean una alternativa aceptable en algunas circunstancias.",
    "de": "Nicht calciumhaltige Bindemittel wie Sevelamer, Lanthan, Sucroferric Oxyhydroxide und Eisencitrat werden calciumhaltigen Bindemitteln wie Calciumcarbonat und Calciumacetat vorgezogen, obwohl die höheren Kosten und die eingeschränkte Verfügbarkeit der erstgenannten Mittel calciumhaltige Bindemittel unter bestimmten Umständen zu einer akzeptablen Alternative machen.",
    "ro": "Ar trebui folosite mediacmente care leagă fosfatul fără calciu precu, sevelamer, lanthanum, oxihidroxi sucroferric, și citrat feric mai degrabă decât cele cae conțin calciu precum carbonatul de calciu și acetatul de calciu, deși sunt mai ieftine și mai ușor de procurat."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 61]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 61]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 61]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 61]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
