{
  "uuid": "ckd-medication-treatment-card-30",
  "summary": {
    "en": "Offer maintenance iron to older adults with anaemia of CKD who are receiving ESAs, once the transferrin saturation is greater than 20%, and serum ferritin level is greater than 100 mcg/L.",
    "es": "Ofrezca hierro de mantenimiento a los adultos mayores con anemia secundaria a ERC que estén recibiendo AEEs, una vez la saturación de transferrina sea mayor del 20% y la ferritina sérica mayor de 100mcg/L.",
    "de": "Bieten Sie älteren Erwachsenen mit chronischer Nierenerkrankungs-Anämie, die ESA erhalten, Erhaltungseisen an, sobald die Transferrinsättigung mehr als 20 % und der Serumferritinspiegel mehr als 100 mcg/L beträgt.",
    "ro": "Oferiți fier de mentenanță la pacienții cu anemie secundară BCR care primesc terapie u stimulant eritropoietic, odată ce saturația transferinei este mai mare de 20%, iar feritina sericp este mai mare de 100 mcg/L."
  },
  "indicator": "info",
  "detail": {
    "en": "* Once the transferrin saturation is greater than 20%, and serum ferritin level is greater than 100 mcg/L, offer maintenance iron. \n* Carry out routine monitoring of iron stores to prevent iron overload using serum ferritin at intervals of 1 to 3 months.",
    "es": "* Una vez la saturación de transferrina sea mayor del 20% y la ferritina sérica mayor de 100mcg/L, ofrezca hierro de mantenimiento.\n* Lleve a cabo una monitorización rutinaria de las reservas de hierro para prevenir la sobrecarga de hierro empleando la ferritina sérica en intervalos de 1 a 3 meses.",
    "de": "* Sobald die Transferrinsättigung mehr als 20 % beträgt und der Serumferritinspiegel über 100 mcg/L liegt, sollte eine Eisenerhaltung angeboten werden. \n* Routinemäßige Überwachung der Eisenspeicher zur Vermeidung einer Eisenüberladung anhand des Serumferritins in Abständen von 1 bis 3 Monaten.",
    "ro": "* Odată de saturația transferinei este mai mare de 20%, iar feritina serică este mai mare de 100 mcg/L, oferiți fier de mentenanță\n* Monitorizați de rutină depozitele de fier pentru a preveni supradozarea cu fier folosind feritina dozată la 1-3 luni."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 14.3.2 [pp. 61]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 14.3.2 [pp. 61]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 14.3.2 [PP. 61]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 14.3.2 [pp. 61]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
