{
  "uuid": "sarcopenia-frailty-assessment-card-1",
  "summary": {
    "en": "Patient screening for sarcopenia is recommended.",
    "es": "Se recomienda realizar pruebas de detección de sarcopenia a los pacientes.",
    "de": "Das Patienten -Screening für Sarkopenie wird empfohlen.",
    "ro": "Se recomandă screeningul pacientului pentru sarcopenie."
  },
  "indicator": "info",
  "detail": {
    "en": "Multimorbid older adults with MCI or mild dementia should be screened for sarcopenia annually, or after the occurrence of major health events. Screening for sarcopenia can be performed using clinical suspicion, or with the SARC-F questionnaire.",
    "es": "Los adultos mayores con multimorbilidad y DCL o demencia leve deben ser examinados anualmente para detectar sarcopenia, o después de la ocurrencia de eventos de salud importantes. El cribado de la sarcopenia puede realizarse mediante sospecha clínica o con el cuestionario SARC-F. ",
    "de": "Multimorbide älteren Erwachsene mit MCI oder milder Demenz sollten jährlich auf Sarkopenie oder nach dem Auftreten großer gesundheitsbelastender Ereignisse untersucht werden. Das Screening auf Sarkopenie kann mit klinischem Verdacht oder mit dem SARC-F-Fragebogen durchgeführt werden.",
    "ro": "Adulții în vârstă multimorbizi cu MCI sau demență ușoară trebuie examinați pentru sarcopenie anual sau după apariția unor evenimente majore de sănătate. Screeningul pentru sarcopenie poate fi efectuat ca suspiciune clinică sau cu chestionarul SARC-F."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 9.1 [pp. 32]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 9.1 [pp. 32]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 9.1 [PP. 32]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 9.1 [pp. 32]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
