{
  "uuid": "sarcopenia-frailty-assessment-card-2",
  "summary": {
    "en": "Patient screening for frailty is recommended.",
    "es": "Se recomienda realizar pruebas de detección de sarcopenia a los pacientes.",
    "de": "Die Untersuchung der Patienten auf Gebrechlichkeit wird empfohlen.",
    "ro": "Se recomandă screeningul pacientului pentru fragilitate."
  },
  "indicator": "info",
  "detail": {
    "en": "Multimorbid older adults with MCI or mild dementia should be screened for frailty annually, or after the occurrence of major health events. Screening for frailty can be performed using the FRAIL instrument, or performance measurements like gait speed or the Short Physical Performance Battery (SPPB).",
    "es": "Los adultos mayores con multimorbilidad y DCL o demencia leve deben ser evaluados anualmente, o después de la ocurrencia de eventos mayores de salud. El cribado de la fragilidad puede realizarse utilizando el instrumento FRAIL, o medidas de rendimiento como la velocidad de la marcha o la Batería Breve de Rendimiento Físico (SPPB).",
    "de": "Multimorbide ältere Erwachsene mit MCI oder milder Demenz sollten jährlich auf Gebrechlichkeit oder nach dem Auftreten gesundheitsbelastender Ereignisse untersucht werden. Das Screening auf Gebrechlichkeit kann mit dem FRAIL Instrument oder Leistungsmessungen wie Ganggeschwindigkeit oder der kurzen physischen Leistungsbatterie (SPPB) durchgeführt werden.",
    "ro": "Adulții în vârstă multimorbizi cu MCI sau demență ușoară trebuie examinați pentru fragilitate anual sau după apariția unor evenimente majore de sănătate. Screeningul pentru fragilitate poate fi efectuat folosind instrumentul FRAIL sau măsurători de performanță, cum ar fi viteza de mers sau Short Physical Performance Battery (SPPB)."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 9.1 [pp. 32]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 9.1 [pp. 32]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 9.1 [PP. 32]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 9.1 [pp. 32]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
