{
  "uuid": "sarcopenia-frailty-diagnosis-card-5",
  "summary": {
    "en": "Consider performing SPBB and Grip strength test as part of the visit.",
    "es": "Considere la posibilidad de realizar SPBB y la prueba de fuerza de prensión como parte de la visita",
    "de": "Erwägen Sie den SPBB-test und Handkraftmessung im Rahmen des Besuchs durchzuführen.",
    "ro": "Luați în considerare efectuarea SPBB și Testul de Forță a Strângerii (Grip Strenght Test) ca parte a vizitei."
  },
  "indicator": "info",
  "detail": {
    "en": "* In multimorbid older adults with cognitive impairment, the SPPB measure should be performed by the clinician as part of the visit to determine low levels of physical performance when diagnosing sarcopenia.\n* In multimorbid older adults with cognitive impairment, the grip strength test should be performed by the clinician as part of the visit to determine low levels of muscle strength when diagnosing sarcopenia.",
    "es": "* En adultos mayores con multimorbilidad y deterioro cognitivo, el clínico debe realizar SPPB como parte de la visita para determinar niveles bajos de rendimiento físico cuando se diagnostica sarcopenia.\n* En adultos mayores con multimorbilidad y deterioro cognitivo, el clínico debe realizar la prueba de fuerza de prensión como parte de la visita para determinar niveles bajos de fuerza muscular cuando se diagnostica sarcopenia.",
    "de": "* Bei multimorbiden älteren Erwachsenen mit kognitiver Beeinträchtigung sollte die SPPB -Maßnahme vom Kliniker im Rahmen des Besuchs durchgeführt werden, um bei der Diagnose von Sarkopenie eine geringe körperliche Leistungsfähigkeit zu bestimmen.\n* Bei multimorbiden älteren Erwachsenen mit kognitiver Beeinträchtigung sollte der Kliniker im Rahmen des Besuchs die Handkraftmessungt durchgeführt werden, um bei der Diagnose von Sarkopenie die geringe Muskelkraft zu identifizieren.",
    "ro": "* La adulții în vârstă multimorbizi cu deficiență cognitivă, măsura SPPB ar trebui să fie efectuată de clinician ca parte a vizitei pentru a determina niveluri scăzute de performanță fizică atunci când este diagnosticată sarcopenia.\n* La adulții în vârstă multimorbizi cu deficiență cognitivă, Testul de Forță a Strângerii ar trebui să fie efectuat de către clinician ca parte a vizitei pentru a determina niveluri scăzute de forță musculară atunci când este diagnosticată sarcopenia."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 9.2 [pp. 32]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 9.2 [pp. 32]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 9.3.1 [PP. 32]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 9.2 [pp. 32]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
