{
  "uuid": "mci-md-medication-treatment-card-32",
  "summary": {
    "en": "Consider starting Memantine monotherapy for managing Alzheimer's disease for people with moderate Alzheimer's disease who are intolerant of or have a contraindication to AChE inhibitors or with severe Alzheimer's disease.",
    "es": "Considere iniciar tratamiento en monoterapia con memantina en personas con enfermedad de Alzheimer moderada con mala tolerancia o con contraindicación para inhibidores de AChE o con enfermedad de Alzheimer grave.",
    "de": "Erwägen Sie, die Memantin -Monotherapie bei der Behandlung von Alzheimer -Krankheit bei Menschen mit mittelschwerer Alzheimer -Krankheit zu beginnen, die gegenüber AChe -Inhibitoren  intolerant sind oder eine Kontraindikation haben oder eine schwere Form der Alzheimer-Krankheit haben.",
    "ro": "Luați în considerare începerea terapiei  cu un singur compus (memantină) pentru gestionarea bolii Alzheimer pentru persoanele cu boală Alzheimer moderată, care sunt intolerante sau au o contraindicație cu inhibitorii AChE, sau pentru persoanele cu boala Alzheimer severă."
  },
  "indicator": "info",
  "detail": {
    "en": "Memantine monotherapy is recommended only as an option for managing Alzheimer's disease for people with moderate Alzheimer's disease who are intolerant of or have a contraindication to AChE inhibitors or with severe Alzheimer's disease. Prescribers should only start treatment with AChE inhibitors or memantine on the advice of a clinician who has the necessary knowledge and skills.",
    "es": "La monoterapia con Memantina se recomienda solo en personas con enfermedad de Alzheimer moderada con mala tolerancia o con contraindicación para inhibidores de AChE o con enfermedad de Alzheimer grave. Los médicos prescriptores solo deben comenzar el tratamiento con inhibidores de AChE o memantina bajo el consejo de un médico con los conocimientos y habilidades necesarias.",
    "de": "Die Memantin -Monotherapie wird nur als Option für die Behandlung der Alzheimer -Krankheit für Menschen mit mittelschwerer Alzheimer -Krankheit empfohlen, die gegenüber AChe -Inhibitoren intolerant sind oder eine Kontraindikation haben oder eine schwere Form der Alzheimer-Krankheit haben. Die Verschreibungen von AChE -Inhibitoren oder Memantinesollte nur auf Rat eines Klinikers begonnen werden, der über die erforderlichen Kenntnisse und Fähigkeiten verfügt.",
    "ro": "Monoterapia memantină este recomandată doar ca opțiune pentru gestionarea bolii Alzheimer pentru persoanele cu boală Alzheimer moderată, care sunt intolerante sau au o contraindicație cu inhibitorii AChE, sau pentru persoanele cu boala Alzheimer severă. Pacienții ar trebui să înceapă tratamentul cu inhibitori de AChE sau memantină doar la sfatul unui clinician care are cunoștințele și abilitățile necesare pentru a le prescrie."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.2[pp. 23-24]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.2 [pp. 23-24] \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.2 [PP. 23-24] \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.2 [pp. 23-24]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
