{
  "uuid": "mci-md-medication-treatment-card-27",
  "summary": {
    "en": "Wean patients from medications that can contribute to cognitive impairment.",
    "es": "Deshabituar a los pacientes de los medicamentos que puedan contribuir al deterioro cognitivo.",
    "de": "Entwöhnen Sie Patienten von Medikamenten, die zur kognitiven Beeinträchtigung beitragen können.",
    "ro": "Îndepărtarea medicamentelor care pot contribui la deprecierea cognitivă a pacienților."
  },
  "indicator": "info",
  "detail": {
    "en": "Wean patients from medications that can contribute to cognitive impairment (where feasible and medically appropriate) and treat modifiable risk factors that may be contributing.",
    "es": "Deshabituar a los pacientes de los medicamentos que puedan contribuir al deterioro cognitivo (cuando sea factible y médicamente apropiado) y tratar los factores de riesgo modificables que puedan estar contribuyendo.",
    "de": "Entwöhnen Sie Patienten von Medikamenten, die zu kognitiven Beeinträchtigungen beitragen können (sofern realisierbar und medizinisch angemessen), und behandeln Sie modifizierbare Risikofaktoren, die möglicherweise dazu beitragen.",
    "ro": "Îndepărtarea medicamentelor care pot contribui la deprecierea cognitivă a pacienților (unde este posibil și adecvat din punct de vedere medical) și amendarea factorilor de risc care pot contribui la acestea."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.2 [pp. 23]\n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.2 [pp. 23] \n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.2 [PP. 23]  \n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.2 [pp. 23]\n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
