{
  "uuid": "mci-md-medication-treatment-card-31",
  "summary": {
    "en": "Consider starting monotherapy with donepezil, galantamine or rivastigmine for managing mild to moderate Alzheimer's disease.",
    "es": "Considere comenzar tratamiento en monoterapia con donepezilo, galantamina o rivastigmina para controlar la enfermedad de Alzheimer leve a moderada.",
    "de": "Erwägen Sie, die Monotherapie mit Donepezil, Galantamin oder Rivastigmin für die Behandlung einer leichten bis mittelschweren Alzheimer -Krankheit zu beginnen.",
    "ro": "Luați în considerare începerea monoterapiei cu donepezil, galantamină sau rivastigmină pentru gestionarea bolii Alzheimer ușoare până la moderate."
  },
  "indicator": "info",
  "detail": {
    "en": "The three AChE inhibitors donepezil, galantamine and rivastigmine as monotherapies are recommended as options for managing mild to moderate Alzheimer's disease.",
    "es": "Los tres inhibidores de AChE donepezilo, galantamina y rivastigmina en monoterapias se recomiendan como opciones para controlar la enfermedad de Alzheimer leve a moderada.",
    "de": "Die drei AChE -Inhibitoren Donepezil, Galantamin und Rivastigmin als Monotherapien werden als Optionen für die Behandlung einer leichten bis mittelschweren Alzheimer -Krankheit empfohlen.",
    "ro": "Cei trei inhibitori de AChE: donepezil, galantamină și rivastigmină ca monoterapii sunt recomandate ca opțiuni pentru gestionarea bolii Alzheimer ușoare până la moderate."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.2 [pp. 23]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.2 [pp. 23] \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.2 [PP. 23] \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.2 [pp. 23]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
