{
  "uuid": "mci-md-medication-treatment-card-35",
  "summary": {
    "en": "Consider starting Antipsychotics with the lowest effective dose and for the shortest possible time.",
    "es": "Considere iniciar tratamiento antipsicótico a la dosis efectiva más baja y durante el menor tiempo posible.",
    "de": "Erwägen Sie, Antipsychotika mit der niedrigst wirksamen Dosis und für die kürzeste Zeit zu beginnen.",
    "ro": "Luați în considerare începerea antipsihoticelor cu cea mai mică doză eficientă și pentru cel mai scurt timp posibil."
  },
  "indicator": "info",
  "detail": {
    "en": "* In older adults with MCI or mild dementia with behavioural and neuropsychiatric symptoms, only offer antipsychotics when at risk of harming themselves or others or experiencing agitation, hallucinations or delusions that are causing them severe distress. \n* When using antipsychotics, use the lowest effective dose and use them for the shortest possible time. \n* Except in cases of delirium, avoid haloperidol and use risperidone or quetiapine.",
    "es": "* En personas mayores con DCL o demencia leve con síntomas conductuales y neuropsiquiátricos, ofrezca antipsicóticos sólo cuando exista riesgo de dañarse a sí mismos o a otros o presente agitación, alucinaciones o delirios que les causen importante malestar.\n* Al usar antipsicóticos, use la dosis efectiva más baja y úselos durante el menor tiempo posible.\n* Excepto en casos de delirio, evite haloperidol y use risperidona o quetiapina.",
    "de": "*Bieten Sie älteren Erwachsenen mit MCI oder mildem Demenz mit Verhaltens- und neuropsychiatrischen Symptomen nur dann Antipsychotika an, wenn sie das Risiko der Gefährdung der eigenen oder anderer Personen besteht oder wenn sie Agitation, Halluzinationen oder Wahnvorstellungen haben, die ihnen schwere Belastungen verursachen.\n*  Verwendung von Antipsychotika in der niedrigst effektive Dosis und verwenden Sie sie für die kürzest mögliche Zeit.\n* Vermeiden Sie in Delir -Fällen Haloperidol und verwenden Sie Risperidon oder Quetiapin.",
    "ro": "* La adulții în vârstă cu MCI sau demență ușoară cu simptome comportamentale și neuropsihiatrice, oferiți antipsihotice numai atunci când riscă să își facă rău lor sau persoanelor din jur, sau să experimenteze agitație, halucinații sau iluzii care le provoacă suferințe severe.\n* Când utilizați antipsihotice, utilizați cea mai mică doză eficientă și folosiți-le pentru cel mai scurt timp posibil.\n* Cu excepția cazurilor de delir, evitați haloperidolul și utilizați risperidonă sau quetiapină."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.2 [pp. 24]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.2 [pp. 24] \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.2 [PP. 24] \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.2 [pp. 24]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97\n* World Health Organization. mhGAP Intervention Guide for Mental, Neurological and Substance Use Disorders in Non-Specialized Health Settings: Mental Health Gap Action Programme (mhGAP) - Version 2.0 [Internet]. Geneva; 2019. Available from: https://www.who.int/publications/i/item/9789241549790"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
