{
  "uuid": "mci-md-medication-treatment-card-33",
  "summary": {
    "en": "Do not stop AChE inhibitors in people with Alzheimer's disease because of disease severity alone.",
    "es": "No interrumpa el tratamiento con inhibidores de AChE en personas con enfermedad de Alzheimer únicamente debido a la gravedad de la enfermedad.",
    "de": "Setzen Sie AChE -Inhibitoren bei Menschen mit Alzheimer -Krankheit nicht nur aufgrund der Schwere der Erkrankung ab.",
    "ro": "Nu opriți inhibitorii AChE la persoanele cu boala Alzheimer din cauza severității bolii."
  },
  "indicator": "info",
  "detail": {
    "en": "Do not stop AChE inhibitors in people with Alzheimer's disease because of disease severity alone.",
    "es": "No interrumpa el tratamiento con inhibidores de AChE en personas con enfermedad de Alzheimer únicamente debido a la gravedad de la enfermedad.",
    "de": "Setzen Sie AChE -Inhibitoren bei Menschen mit Alzheimer -Krankheit nicht nur aufgrund der Schwere der Erkrankung ab.",
    "ro": "Nu opriți inhibitorii AChE la persoanele cu boala Alzheimer din cauza severității bolii."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.2 [ pp. 23-24]  \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.2 [pp. 23-24] \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.2 [PP. 23-24] \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.2 [pp. 23-24]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
