{
  "uuid": "mci-md-medication-treatment-card-28",
  "summary": {
    "en": "Consider discontinuation of opioids.",
    "es": "Considere la interrupción de tratamiento con opioides.",
    "de": "Erwägen Sie das Absetzen von Opioiden.",
    "ro": "Luați în considerare întreruperea opioidelor."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider discontinuation of opioids in multimorbid older adults with mild dementia in whom there are no signs or symptoms of pain or no clear indication, or suspicion of side effects.",
    "es": "Considere la interrupción del tratamiento con opioides en personas mayores con multimorbilidad y demencia leve en los que no hay signos o síntomas de dolor o no existe indicación clara o si existe sospecha de efectos secundarios.",
    "de": "Erwägen Sie das Absetzen von Opioiden bei multimorbiden älteren Erwachsenen mit leichter Demenz, bei denen es keine Anzeichen oder Schmerzsymptome oder keine klare Indikation oder den Verdacht auf Nebenwirkungen gibt.",
    "ro": "Luați în considerare întreruperea opioidelor la adulții mai în vârstă multimorbizi, cu demență ușoară, la care nu există semne sau simptome de durere sau nici o indicație clară sau suspiciunea de reacții adverse."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.2 [pp. 23]\n* Frederiksen KS, Cooper C, Frisoni GB, Frölich L, Georges J, Kramberger MG, et al. A European Academy of Neurology guideline on medical management issues in dementia. Eur J Neurol [Internet]. 2020 Oct;27(10):1805–20. Available from: https://doi.org/10.1111/ene.14412",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.2 [pp. 23] \n* Frederiksen KS, Cooper C, Frisoni GB, Frölich L, Georges J, Kramberger MG, et al. A European Academy of Neurology guideline on medical management issues in dementia. Eur J Neurol [Internet]. 2020 Oct;27(10):1805–20. Available from: https://doi.org/10.1111/ene.14412",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.2 [PP. 23]  \n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.2 [pp. 23]\n* Frederiksen KS, Cooper C, Frisoni GB, Frölich L, Georges J, Kramberger MG, et al. A European Academy of Neurology guideline on medical management issues in dementia. Eur J Neurol [Internet]. 2020 Oct;27(10):1805–20. Available from: https://doi.org/10.1111/ene.14412"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
