{
  "uuid": "mci-md-medication-treatment-card-29",
  "summary": {
    "en": "Counsel the patients and families that there are no pharmacologic or dietary agents currently shown to have symptomatic cognitive benefit in MCI, and may choose not to offer acetylcholinesterase (AChE) inhibitors. ",
    "es": "Aconseje a pacientes y familiares que no existen tratamientos farmacológicos o dietéticos que actualmente hayan demostrado tener un beneficio cognitivo en el DCL, y puede optar por no ofrecer inhibidores de la acetilcolinesterasa (AChE).",
    "de": "Beraten Sie die Patienten und Familien, dass es keine pharmakologischen oder diätetischen Wirkstoffe gibt, die derzeit bei MCI einen symptomatischen kognitiven Nutzen haben. Sie können sich entscheiden, keine Inhibitoren von Acetylcholinesterase (ACHE) anzubieten.",
    "ro": "Anunțați pacienții și familiile că nu există agenți farmacologici în prezent care să aibă beneficii cognitive simptomatice în MCI și spuneți-le că pacienții pot alege să nu ia inhibitori de acetilcolinesterază (AChE)."
  },
  "indicator": "info",
  "detail": {
    "en": "Counsel the patients and families that there are no pharmacologic or dietary agents currently shown to have symptomatic cognitive benefit in MCI, and may choose not to offer acetylcholinesterase (AChE) inhibitors. ",
    "es": "Aconseje a pacientes y familiares que no existen tratamientos farmacológicos o dietéticos que actualmente hayan demostrado tener un beneficio cognitivo en el DCL, y puede optar por no ofrecer inhibidores de la acetilcolinesterasa (AChE).",
    "de": "Beraten Sie die Patienten und Familien, dass es keine pharmakologischen oder diätetischen Wirkstoffe gibt, die derzeit bei MCI einen symptomatischen kognitiven Nutzen haben. Sie können sich entscheiden, keine Inhibitoren von Acetylcholinesterase (ACHE) anzubieten.",
    "ro": "Anunțați pacienții și familiile că nu există agenți farmacologici în prezent care să aibă beneficii cognitive simptomatice în MCI și spuneți-le că pacienții pot alege să nu ia inhibitori de acetilcolinesterază (ACHE)."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.2 [pp. 23]\n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.2 [pp. 23] \n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.2 [PP. 23]  \n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.2 [pp. 23]\n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
