{
  "uuid": "mci-md-medication-treatment-card-30",
  "summary": {
    "en": "Considerations when offering acetylcholinesterase (AChE) inhibitors.",
    "es": "Consideraciones al ofrecer inhibidores de acetilcolinesterasa (AChE).",
    "de": "Überlegungen beim Anbieten von Acetylcholinesterase -Inhibitoren (ACHE).",
    "ro": "Considerații atunci când prescrieți inhibitori de acetilcolinesterază (AChE)."
  },
  "indicator": "info",
  "detail": {
    "en": "* If you choose to offer acetylcholinesterase (AChE) inhibitors, first discuss with patients the fact that this is an off-label prescription not currently backed by empirical evidence.\n* If prescribing an AChE inhibitor, treatment should normally be started with the drug with the lowest acquisition cost.\n* However, an alternative AChE inhibitor could be prescribed if it is considered appropriate when taking into account adverse event profile, expectations about adherence, medical comorbidity, possibility of drug interactions and dosing profiles.",
    "es": "* Si decide ofrecer un inhibidor de acetilcolinesterasa (AChE), primero discuta con el paciente el hecho de que esta es una prescripción fuera de ficha técnica que no está respaldada por la evidencia.\n* Si prescribe un inhibidor de AChE, el tratamiento normalmente debe comenzar con el medicamento de menor coste.\n* Sin embargo, se podría prescribir un inhibidor alternativo de AChE si se considera apropiado al tener en cuenta el perfil de eventos adversos, las expectativas sobre la adherencia, la comorbilidad , la posibilidad de interacciones farmacológicas y perfiles de dosificación.",
    "de": "* Wenn Sie  sich dafür entscheiden, Acetylcholinesterase (ACHE)-Inhibitoren anzubieten, diskutieren Sie zunächst mit den Patienten die Tatsache, dass dies eine von empirischen Beweisen nicht unterstützte Off-Label-Verschreibung ist.\n* Wenn ein AChe -Inhibitor verschrieben wird, sollte die Behandlung normalerweise mit dem Arzneimittel mit den niedrigsten Erwerbskosten begonnen werden.\n* Ein alternativer AChE -Inhibitor könnte jedoch verschrieben werden, wenn er als angemessen angesehen wird, wenn das unerwünschte Nebenwirkungsprofil, die Erwartungen über die Einhaltung, die medizinische Komorbidität, die Möglichkeit von Wechselwirkungen zwischen Arzneimitteln und Dosierungsprofile berücksichtigt werden.",
    "ro": "* Dacă alegeți să prescrieți inhibitori de acetilcolinesterază (AChE), discutați mai întâi cu pacienții faptul că aceasta este o rețetă care nu este susținută în prezent de dovezi empirice.\n* Dacă prescrieți unui inhibitor de AChE, tratamentul trebuie să fie început în mod normal cu medicamentul cu cel mai mic cost de achiziție.\n* Cu toate acestea, un inhibitor alternativ al AChE ar putea fi prescris dacă este considerat adecvat atunci când se ține cont de profilul de evenimente, așteptările cu privire la aderență, comorbiditatea medicală, posibilitatea interacțiunilor medicamentoase și a profilurilor de dozare."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.2 [pp. 23-24]\n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.2 [pp. 23-24] \n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.2 [PP. 23-24]  \n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.2 [pp. 23-24]\n* Petersen RC, Lopez O, Armstrong MJ, Getchius TSD, Ganguli M, Gloss D, et al. Practice guideline update summary: Mild cognitive impairment: Report of the Guideline Development, Dissemination, and Implementation Subcommittee of the American Academy of Neurology. Neurology [Internet]. 2018 Jan;90(3):126–35. Available from: https://doi.org/10.1212/WNL.0000000000004826\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
