{
  "uuid": "mci-md-medication-treatment-card-37",
  "summary": {
    "en": "Do not routinely offer antidepressants to manage mild to moderate depression in people living with MCI or mild dementia, unless they are indicated for a pre-existing severe mental health problem.",
    "es": "No ofrezca tratamiento antidepresivo de forma rutinaria para manejo de la depresión leve a moderada en personas con DCL o demencia leve, a menos que estén indicados para un problema de salud mental grave preexistente.",
    "de": "Bieten Sie Antidepressiva nicht routinemäßig an, um leichte bis mittelschwere Depressionen bei Menschen mit MCI oder mildem Demenz zu behandeln, es sei denn, sie sind für ein bereits bestehendes Problem mit schwerem psychischen Gesundheitsproblemen angezeigt.",
    "ro": "Nu oferiți în mod obișnuit antidepresive pentru a gestiona depresia ușoară până la moderată la persoanele care trăiesc cu MCI sau demență ușoară, cu excepția cazului în care sunt indicate pentru o problemă preexistentă de sănătate mintală severă."
  },
  "indicator": "info",
  "detail": {
    "en": "Do not routinely offer antidepressants to manage mild to moderate depression in people living with MCI or mild dementia, unless they are indicated for a pre-existing severe mental health problem.",
    "es": "No ofrezca tratamiento antidepresivo de forma rutinaria para manejo de la depresión leve a moderada en personas con DCL o demencia leve, a menos que estén indicados para un problema de salud mental grave preexistente.",
    "de": "Bieten Sie Antidepressiva nicht routinemäßig an, um leichte bis mittelschwere Depressionen bei Menschen mit MCI oder mildem Demenz zu behandeln, es sei denn, sie sind für ein bereits bestehendes Problem mit schwerem psychischen Gesundheitsproblemen angezeigt.",
    "ro": "Nu oferiți în mod obișnuit antidepresive pentru a gestiona depresia ușoară până la moderată la persoanele care trăiesc cu MCI sau demență ușoară, cu excepția cazului în care sunt indicate pentru o problemă preexistentă de sănătate mintală severă."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 5.3.2 [pp. 24]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 5.3.2 [pp. 24] \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 5.3.2 [PP. 24] \n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 5.3.2 [pp. 24]\n* National Institute for Health and Care Excellence. Dementia: Assessment, management and support for people living with dementia and their carers. NICE Guideline [NG97] [Internet]. London; 2018 Jun. Available from: https://www.nice.org.uk/guidance/ng97"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
