{
  "uuid": "sarcopenia-frailty-management-card-6",
  "summary": {
    "en": "Prescribe resistance-based exercise training.",
    "es": "Prescribir un entrenamiento basado en ejercicios de resistencia.",
    "de": "Verschreiben Sie widerstandsbasiertes Training",
    "ro": "Prescrieți antrenamente fizice bazate pe rezistență."
  },
  "indicator": "info",
  "detail": {
    "en": "In patients with frailty or sarcopenia, prescribe resistance-based exercise training, to improve lean mass, strength, and physical function.",
    "es": "En pacientes con fragilidad o sarcopenia, prescribir ejercicios de resistencia para mejorar la masa magra, la fuerza y la función física.",
    "de": "Verschreiben bei Patienten mit Gebrechlichkeit oder Sarkopenie widerstandbasiertes Training, um die Muskelmasse, Stärke und körperliche Funktion zu verbessern.",
    "ro": "La pacienții cu fragilitate sau sarcopenie, prescrieți un plan de exerciții fizice bazate pe rezistență, pentru a îmbunătăți masa slabă, forța și funcția fizică."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 9.3.1 [pp. 32]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 9.3.1 [pp. 32]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 9.3.1 [PP. 32]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 9.3.1 [pp. 32]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
