{
  "uuid": "copd-severity-card-7",
  "summary": {
    "en": "Consider setting COPD severity as 'Moderate' since FEV-1 is between 50% and 79%.",
    "es": "Considere establecer la gravedad de la EPOC como 'moderada' ya que FEV-1 está entre el 50% y el 79%.",
    "de": "Ziehen Sie in Betracht, den Schweregrad der COPD als \"moderat\" zu bezeichnen, wenn FEV-1 zwischen 50% und 79% liegt.",
    "ro": "Luați în considerare stabilirea severității BPOC ca „moderată” atunci când FEV1 este cuprinsă între 50% și 79%."
  },
  "indicator": "info",
  "detail": {
    "en": "Severity of COPD should be set using the GOLD-Classification:\n* Mild (Stage 1) when FEV-1 ≥ 80%\n* Moderate (Stage 2) when FEV-1 50-79%\n* Severe (Stage 3) when FEV-1 30-49%.\n* Very severe (Stage 4) when FEV-1 ≤ 30%.",
    "es": "La gravedad de la EPOC debe establecerse utilizando la clasificación GOLD:\n* Leve (estadio 1) cuando FEV-1 ≥ 80%.\n* Moderada (estadio 2) cuando FEV-1 50-79%.\n* Grave (estadio 3) cuando FEV-1 30-49%.\n* Muy grave (estadio 4) cuando FEV-1 ≤ 30%.",
    "de": "Die Schwere der COPD sollte unter Verwendung der Goldklassifizierung festgelegt werden:\n* Mild (Stadium 1), wenn FEV-1 ≥ 80%\n* Moderat (Stufe 2), wenn FEV-1 50-79%\n* Schwerwiegend (Stufe 3) wenn FEV-1 30-49%.\n* Sehr schwer (Stufe 4), wenn FEV-1 ≤ 30%.",
    "ro": "Severitatea BPOC ar trebui să fie clasificată în funcție de clasificarea GOLD:\n* Ușoară (etapa 1) când FEV1 ≥ 80%\n* Moderată (etapa 2) când FEV1 50-79%\n* Severă (etapa 3) când FEV1 30-49%.\n* Foarte severă (etapa 4) când FEV1 ≤ 30%."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.1 [pp. 63]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.1 [pp. 63]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.1 [S. 63]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.1 [pp. 63]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
