{
  "uuid": "meris-card-1",
  "summary": {
    "en": "MERIS &#60;14 indicates low risk, whereas &#8805;14 indicates high risk.",
    "es": "MERIS &#60; 14 indica riesgo bajo, mientras que &#8805;14 indica alto riesgo.",
    "de": "Medication-Risk-Score (MERIS) &#60;14 bedeutet ein geringes Risiko, während &#8805;14 ein hohes Risiko bedeutet.",
    "ro": "MERIS &#60;14 indică risc scăzut, în timp ce &#8805;14 indică risc ridicat."
  },
  "indicator": "info",
  "detail": {
    "en": "MERIS &#60;14 indicates low risk, whereas &#8805;14 indicates high risk.",
    "es": "MERIS &#60; 14 indica riesgo bajo, mientras que &#8805;14 indica alto riesgo.",
    "de": "Medication-Risk-Score (MERIS) &#60;14 bedeutet ein geringes Risiko, während &#8805;14 ein hohes Risiko bedeutet.",
    "ro": "MERIS &#60;14 indică risc scăzut, în timp ce &#8805;14 indică risc ridicat."
  },
  "source": {
    "label": {
      "en": "Bonnerup DK, Lisby M, Sædder EA, Brock B, Truelshøj T, Sørensen CA, Pedersen AG, Nielsen LP. Effects of stratified medication review in high-risk patients at admission to hospital: a randomised controlled trial. Ther Adv Drug Saf. 2020 Sep 20;11:2042098620957142. doi: 10.1177/2042098620957142. PMID: 33014330; PMCID: PMC7509721.",
      "es": "Bonnerup DK, Lisby M, Sædder EA, Brock B, Truelshøj T, Sørensen CA, Pedersen AG, Nielsen LP. Effects of stratified medication review in high-risk patients at admission to hospital: a randomised controlled trial. Ther Adv Drug Saf. 2020 Sep 20;11:2042098620957142. doi: 10.1177/2042098620957142. PMID: 33014330; PMCID: PMC7509721.",
      "de": "Bonnerup DK, Lisby M, Sædder EA, Brock B, Truelshøj T, Sørensen CA, Pedersen AG, Nielsen LP. Effects of stratified medication review in high-risk patients at admission to hospital: a randomised controlled trial. Ther Adv Drug Saf. 2020 Sep 20;11:2042098620957142. doi: 10.1177/2042098620957142. PMID: 33014330; PMCID: PMC7509721.",
      "ro": "Bonnerup DK, Lisby M, Sædder EA, Brock B, Truelshøj T, Sørensen CA, Pedersen AG, Nielsen LP. Effects of stratified medication review in high-risk patients at admission to hospital: a randomised controlled trial. Ther Adv Drug Saf. 2020 Sep 20;11:2042098620957142. doi: 10.1177/2042098620957142. PMID: 33014330; PMCID: PMC7509721."
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
