{
  "uuid": "copd-autofill-card-39",
  "summary": {
    "en": "Consider Severe or worsening respiratory acidosis when Blood pH is less than 7.3.",
    "es": "Considere la acidosis respiratoria severa o empeorante cuando el pH en la sangre es inferior a 7.3.",
    "de": "Ziehen Sie eine schwere oder sich verschlechternde respiratorische Azidose in Betracht, wenn der pH -Wert des Blutes weniger als 7,3 beträgt.",
    "ro": "Luați în considerare acidoza respiratorie severă sau agravată atunci când pH -ul sângelui este mai mic de 7,3."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider Severe or worsening respiratory acidosis when Blood pH is less than 7.3.",
    "es": "Considere la acidosis respiratoria severa o empeorante cuando el pH en la sangre es inferior a 7.3.",
    "de": "Ziehen Sie eine schwere oder sich verschlechternde respiratorische Azidose in Betracht, wenn der pH -Wert des Blutes weniger als 7,3 beträgt.",
    "ro": "Luați în considerare acidoza respiratorie severă sau agravată atunci când pH -ul sângelui este mai mic de 7,3."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.2 [pp. 64]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.2 [pp. 64]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.2 [S. 64]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.2 [pp. 64]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
