{
  "uuid": "copd-autofill-card-40",
  "summary": {
    "en": "Consider Worsening hypercapnia when PaCO2 is greater than 70 mmHg.",
    "es": "Considere el empeoramiento de la hipercapnia cuando pACO2 es superior a 70 mmHg.",
    "de": "Erwägen Sie eine  Verschlechterung der Hyperkapnie, wenn der PACO2 größer als 70 mmHg ist.",
    "ro": "Luați în considerare agravarea hipercapniei atunci când PaCO2 este mai mare de 70 mmHg."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider Worsening hypercapnia when PaCO2 is greater than 70 mmHg.",
    "es": "Considere el empeoramiento de la hipercapnia cuando pACO2 es superior a 70 mmHg.",
    "de": "Erwägen Sie eine  Verschlechterung der Hyperkapnie, wenn der PACO2 größer als 70 mmHg ist.",
    "ro": "Luați în considerare agravarea hipercapniei atunci când PaCO2 este mai mare de 70 mmHg."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 15.2 [pp. 64]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 15.2 [pp. 64]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 15.2 [S. 64]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 15.2 [pp. 64]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
