{
  "uuid": "hypertension-diagnosis-grade-card-2",
  "summary": {
    "en": "Patient is categorized as high-normal.",
    "es": "El paciente se clasifica como normal-alta.",
    "de": "Der Patient wird als hochnormal eingestuft.",
    "ro": "Pacientul este clasificat ca având tensiune normal-ridicată."
  },
  "indicator": "info",
  "detail": {
    "en": "BP should be categorized as normal (if measured below 130/85 mmHg), high-normal (130-139/85-89 mmHg), grade 1 (140-159/90-99 mmHg), grade 2 (160-179/100-109 mmHg) or grade 3 (≥ 180/110 mmHg) to prevent and treat high BP.",
    "es": "La TA debe clasificarse como normal (si es menor de 130/85 mmHg), normal-alta (130-139/85-89 mmHg), hipertensión Grado 1 (140-159/90-99 mmHg), hipertensión Grado 2 (160-179/ 100-109 mmHg) o hipertensión Grado 3 (≥ 180/110 mmHg) para prevenir y tratar la TA alta.",
    "de": "RR sollte als normal kategorisiert werden (wenn RR unter 130/85 mmHg gemessen werden), hochnormal (130-139/85-89 mmHg) oder Grad 3 (≥ 180/110 mmHg), um hohen Blutdruck zu verhindern und zu behandeln.",
    "ro": "Tensiunea arterială ar trebui să fie clasificată ca normală (dacă este măsurat sub 130/85 mmHg), normal-ridicată (130-139/85-89 mmHg), hipertensiune gradul 1 (140-159/90-99 mmHg), gradul 2 (160-179/ 100-109 mmHg) sau gradul 3 (≥ 180/110 mmHg) pentru a preveni și trata hipertensiunea."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.2 [pp. 40]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.2 [pp. 40]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.2 [PP. 40]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.2 [pp. 40]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
