{
  "uuid": "hypertension-diagnosis-grade-card-51",
  "summary": {
    "en": "Consider hypertension diagnosis.",
    "es": "Considere el diagnóstico de hipertensión.",
    "de": "Ziehen Sie die Bluthochdruckdiagnose in Betracht.",
    "ro": "Luați în considerare diagnosticul de hipertensiune arterială."
  },
  "indicator": "info",
  "detail": {
    "en": "Patient should be diagnosed hypertensive if he/she has not been sent home for diagnosis confirmation and BP is higher than 139/89 mmHg.",
    "es": "El paciente debe ser diagnosticado de hipertenso si no ha sido enviado a casa para la confirmación del diagnóstico y la PA es superior a 139/89 mmHg.",
    "de": "Die Patientin sollte hypertensiv diagnostiziert werden, wenn er zur Diagnosebestätigung nicht nach Hause geschickt wurde und der BP höher als 139/89 mmHg ist.",
    "ro": "Pacientul trebuie diagnosticat hipertensiv dacă nu a fost trimis acasă pentru confirmarea diagnosticului, iar tensiunea arterială este mai mare de 139/89 mmHg."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.2 [pp. 40]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.2 [pp. 40]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.2 [PP. 40]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.2 [pp. 40]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
