{
  "uuid": "ckd-autofill-card-41",
  "summary": {
    "en": "Consider Iron deficiency diagnosis since iron saturation value of the patient is less than 20%.",
    "es": "Considerar el diagnóstico de deficiencia de hierro desde valores de saturación de hierro del paciente menores del 20%.",
    "de": "Ziehen Sie die Diagnose Eisenmangel in Betracht, da die Eisensättigung des Patienten weniger als 20 % beträgt.",
    "ro": "Luați în considerare deficiența de fier, deoarece saturația Fe a pacientului este &#60;20%."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider Iron deficiency diagnosis since iron saturation value of the patient is less than 20%.",
    "es": "Considerar el diagnóstico de deficiencia de hierro desde valores de saturación de hierro del paciente menores del 20%.",
    "de": "Ziehen Sie die Diagnose Eisenmangel in Betracht, da die Eisensättigung des Patienten weniger als 20 % beträgt.",
    "ro": "Luați în considerare deficiența de fier, deoarece saturația Fe a pacientului este &#60;20%."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.2 [pp. 39]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.2 [pp. 39]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.2 [PP. 39]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.2 [pp. 39]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
