{
  "uuid": "ckd-autofill-card-40",
  "summary": {
    "en": "Consider Iron deficiency diagnosis since ferritin value of the patient is less than 100 mcg/L (ng/mL).",
    "es": "Considerar el diagnóstico de deficiencia de hierro desde valores de ferritina del paciente menores de 100mcg/L (ng/mL)",
    "de": "Erwägen Sie die Diagnose Eisenmangel, da der Ferritinwert des Patienten unter 100 mcg/L (ng/ml) liegt.",
    "ro": "Luați în considerare deficiența de fier, deoarece feritina pacientului este &#60;100 mcg/L (ng/L)"
  },
  "indicator": "info",
  "detail": {
    "en": "Consider Iron deficiency diagnosis since ferritin value of the patient is less than 100 mcg/L (ng/mL).",
    "es": "Considerar el diagnóstico de deficiencia de hierro desde valores de ferritina del paciente menores de 100mcg/L (ng/mL)",
    "de": "Erwägen Sie die Diagnose Eisenmangel, da der Ferritinwert des Patienten unter 100 mcg/L (ng/ml) liegt.",
    "ro": "Luați în considerare deficiența de fier, deoarece feritina pacientului este &#60;100 mcg/L (ng/L)"
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 11.2.2 [pp. 39]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 11.2.2 [pp. 39]",
      "de": "Ganzheitliche patientenzentrierte Carepath-Best-Practice-Richtlinie, Kapitel 11.2.2 [PP. 39]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 11.2.2 [pp. 39]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
