{
  "uuid": "hypertension-autofill-card-53",
  "summary": {
    "en": "Consider CKD diagnosis since eGFR value of the patient is less than 60 ml/min.",
    "es": "Considerar el diagnóstico de ERC si el valor de FG del paciente es menor de 60ml/min.",
    "de": "Erwägen Sie die Diagnose einer chronischen Nierenerkrankung, da der eGFR -Wert des Patienten weniger als 60 ml/min beträgt.",
    "ro": "Luați în considerare diagnosticul de boală cronică de rinichi (BCR), deoarece valoarea eGFR a pacientului este mai mică de 60 ml/min."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider CKD diagnosis since eGFR value of the patient is less than 60 ml/min.",
    "es": "Considerar el diagnóstico de ERC si el valor de FG del paciente es menor de 60ml/min.",
    "de": "Erwägen Sie die Diagnose einer chronischen Nierenerkrankung, da der eGFR -Wert des Patienten weniger als 60 ml/min beträgt.",
    "ro": "Luați în considerare diagnosticul de boală cronică de rinichi (BCR), deoarece valoarea eGFR a pacientului este mai mică de 60 ml/min."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.2 [pp. 40]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.2 [pp. 40]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.2 [PP. 40]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.2 [pp. 40]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
