{
  "uuid": "hypertension-autofill-card-54",
  "summary": {
    "en": "Consider Hyperkalaemia diagnosis since potassium value of the patient is more than 5.5 mmol/L.",
    "es": "Considerar el diagnóstico de hiperpotasemia si el valor de potasio del paciente es mayor de 5.5mmol/L.",
    "de": "Erwägen Sie die Diagnose einer Hyperkalämie, da der Kaliumwert des Patienten mehr als 5,5 mmol/l beträgt.",
    "ro": "Luați în considerare diagnosticul de hiperpotasemie, deoarece valoarea potasiului seric al pacientului este mai mare de 5,5 mmol/L."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider Hyperkalaemia diagnosis since potassium value of the patient is more than 5.5 mmol/L.",
    "es": "Considerar el diagnóstico de hiperpotasemia si el valor de potasio del paciente es mayor de 5.5mmol/L.",
    "de": "Erwägen Sie die Diagnose einer Hyperkalämie, da der Kaliumwert des Patienten mehr als 5,5 mmol/l beträgt.",
    "ro": "Luați în considerare diagnosticul de hiperpotasemie, deoarece valoarea potasiului seric al pacientului este mai mare de 5,5 mmol/L."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.2 [pp. 40]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.2 [pp. 40]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.2 [PP. 40]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.2 [pp. 40]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
