{
  "uuid": "hypertension-autofill-card-52",
  "summary": {
    "en": "Consider Bradycardia diagnosis since heart rate value of the patient is less than 60 bpm.",
    "es": "Considerar el diagnóstico de bradicardia si el valor de frecuencia cardiaca del paciente es menor de 60lpm.",
    "de": "Erwägen Sie die Diagnose einer Bradykardie, da der Herzfrequenzwert des Patienten weniger als 60 bpm beträgt.",
    "ro": "Luați în considerare diagnosticul de bradicardie, deoarece frecvența cardiacă a pacientului este mai mică de 60 bpm."
  },
  "indicator": "info",
  "detail": {
    "en": "Consider Bradycardia diagnosis since heart rate value of the patient is less than 60 bpm.",
    "es": "Considerar el diagnóstico de bradicardia si el valor de frecuencia cardiaca del paciente es menor de 60lpm.",
    "de": "Erwägen Sie die Diagnose einer Bradykardie, da der Herzfrequenzwert des Patienten weniger als 60 bpm beträgt.",
    "ro": "Luați în considerare diagnosticul de bradicardie, deoarece frecvența cardiacă a pacientului este mai mică de 60 bpm."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 12.2 [pp. 40]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 12.2 [pp. 40]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 12.2 [PP. 40]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 12.2 [pp. 40]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
