{
  "uuid": "stroke-assessment-card-2",
  "summary": {
    "en": "Perform initial assessment of the patient for vascular disease risk factors and lifestyle management issues.",
    "es": "Realice una valoración inicial del paciente incluyendo factores de riesgo de enfermedad vascular y problemas de manejo de estilos de vida.",
    "de": "Erstbeurteilung des Patienten im Hinblick auf Risikofaktoren für Gefäßerkrankungen und Fragen der Lebensführung.",
    "ro": "Efectuați evaluarea inițială a pacientului pentru factorii de risc ale bolii vasculare și problemele legate de managementul stilului de viață."
  },
  "indicator": "info",
  "detail": {
    "en": "Multimorbid older adults at risk of stroke and who have had a stroke or transient ischemic attack (TIA) should be assessed for vascular disease risk factors and lifestyle management issues (diet, sodium intake, exercise, weight, alcohol intake, and smoking).",
    "es": "Los adultos multimórbidos en riesgo de ictus y que han sufrido un ictus o accidente isquémico transitorio (AIT) previo, deberían ser valorados para factores de riesgo vascular y problemas de manejo de estilos de vida (dieta, toma de sodio, ejercicio, peso, toma de alcohol y tabaco).",
    "de": "Multimorbide ältere Erwachsene mit Schlaganfallrisiko, die einen Schlaganfall oder eine transitorische ischämische Attacke (TIA) erlitten haben, sollten auf Risikofaktoren für Gefäßerkrankungen und Fragen des Lebensstils (Ernährung, Natriumaufnahme, Bewegung, Gewicht, Alkoholkonsum und Rauchen) untersucht werden.",
    "ro": "Adulți de vârstă înaintată ce prezintă risc de infarct și au suferit un AVC sau un AVT, ar trebui examinați din punct de vedere al factorilor de risc al bolilor vasculare și probleme în mamnagementul stilului de viață (dietare, ale aportului sodic, ale condiției fizice, ale greutății, consumului de alcool ș i fumatuuuului) "
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 16.1 [pp. 68]\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 16.1 [pp. 68]\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 16.1 [PP. 68]\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 16.1 [pp. 68]\n* Gladstone DJ, Lindsay MP, Douketis J, Smith EE, Dowlatshahi D, Wein T, et al. Canadian Stroke Best Practice Recommendations: Secondary Prevention of Stroke Update 2020. Can J Neurol Sci [Internet]. 2022 May;49(3):315–37. Available from: https://doi.org/10.1017/cjn.2021.127"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
