{
  "uuid": "stroke-assessment-card-5",
  "summary": {
    "en": "Consider carotid endarterectomy to reduce the risk of future stroke.",
    "es": "Considere la endarterectomía carotídea para reducir el riesgo de ictus en el futuro.",
    "de": "Ziehen Sie eine Karotisendarteriektomie in Betracht, um das Risiko eines künftigen Schlaganfalls zu verringern.",
    "ro": "Considerați endarteretomiei carotidiene pentru reducerea riscului de viitoare AVC."
  },
  "indicator": "info",
  "detail": {
    "en": "In multimorbid older adults with cognitive impairment, and with a TIA or non- disabling ischaemic stroke within the past 6 months and ipsilateral severe (70%–99%) carotid artery stenosis, carotid endarterectomy should be considered, and risk-benefit evaluated, to reduce the risk of future stroke, provided that perioperative morbidity and mortality risk is estimated to be &#60;6%. It is reasonable to select carotid endarterectomy over carotid artery stenting to reduce the periprocedural stroke rate.",
    "es": "En adultos mayores multimórbidos con deterioro cognitivo, y con un AIT o ictus isquémico no discapacitante en los últimos 6 meses y con estesosis ipsilateral severa (70-99%) de la arteria carótida interna, la endarterectomía carotídea debería ser considerada y el riesgo/beneficio debería ser evaluado, para reducir el riesgo de ictus en el futuro, siempre que el riesgo de morbilidad y mortalidad perioperatorio se estime &#60;6%. Es razonable seleccionar la endarterectomía carotídea sobre el stent carotídeo para reducir el ratio de ictus periprocedimiento.",
    "de": "Bei multimorbiden älteren Erwachsenen mit kognitiven Beeinträchtigungen und einer TIA oder einem nicht behindernden ischämischen Schlaganfall innerhalb der letzten 6 Monate sowie einer ipsilateralen schweren (70%-99%) Karotisstenose sollte eine Karotisendarteriektomie in Erwägung gezogen und eine Risiko-Nutzen-Abwägung vorgenommen werden, um das Risiko eines künftigen Schlaganfalls zu verringern, vorausgesetzt, das perioperative Morbiditäts- und Mortalitätsrisiko wird auf &#60;6% geschätzt. Es ist sinnvoll, die Karotis-Endarteriektomie dem Karotis-Stenting vorzuziehen, um die periprozedurale Schlaganfallrate zu senken.",
    "ro": "La adulții seniori ce suferă de tulburări cognitive și cu AVT sau AVC ce nu a produs dizabilități în ultimele 6 luni, precum și stenoză carotidiană ipsilaterală severă (70-90%), ar trebui considereată endarterectomia carotidiană și evaluare a raportului risc-beneficiu pentru a scădea riscul unui viitor AVC, luând în calcul faptul că ratele mortalității și morbidității perioperatorii este &#60;6%. Endarterectomia carotidiană reprezintă o alegere mai rezonabilă decât stentul carotidian pentru a reduce rata de AVC perioperator. "
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 16.3.1 [ pp. 69]  \n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 16.3.1 [pp. 69]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 16.3.1 [PP. 69]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 16.3.1 [pp. 69]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
