{
  "uuid": "stroke-assessment-card-4",
  "summary": {
    "en": "Consider treatment with positive airway pressure.",
    "es": "Considere tratamiento con presión positiva en la vía aérea.",
    "de": "Erwägen Sie eine Behandlung mit positivem Atemwegsdruck.",
    "ro": "Considerați tratamentul prin aer cu presiune pozitivă."
  },
  "indicator": "info",
  "detail": {
    "en": "In older adults with an ischaemic stroke or TIA and obstructive sleep apnea, treatment with positive airway pressure (e.g., continuous positive airway pressure) can be beneficial for improved sleep apnoea, BP, sleepiness, and other apnoea related outcomes.",
    "es": "En adultos mayores con ictus isquémicos o AIT y apnea obstructiva del sueño, el tratamiento con presión positiva en la vía aérea (por ej. presión positiva continua en la vía aérea) puede ser beneficioso para mejorar la apnea del sueño, TA, somnolencoa y otras consecuencias relacionadas con la apnea.",
    "de": "Bei älteren Erwachsenen mit einem ischämischen Schlaganfall oder einer TIA und obstruktiver Schlafapnoe kann eine Behandlung mit positivem Atemwegsdruck (z. B. kontinuierlicher positiver Atemwegsdruck) zu einer Verbesserung der Schlafapnoe, des Blutdrucks, der Schläfrigkeit und anderer Apnoe-bezogener Ergebnisse führen.",
    "ro": "Pentru adulții ce au suferit un AVC sau AVT și prezintă apnee obstructivă în somn, tratamentul cu aer cu presiune pozitivă (e.g. CPAP) pot fi benefice în amendarea apneei în somn, tensiunii , oboselii și a altor patologii aferente apneei."
  },
  "source": {
    "label": {
      "en": "* Holistic patient-centred CAREPATH best practice guideline, Chapter 16.3.1 [pp. 68]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "es": "* Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 16.3.1 [pp. 68]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "de": "* Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 16.3.1 [PP. 68]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375",
      "ro": "* Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 16.3.1 [pp. 68]\n* Kleindorfer DO, Towfighi A, Chaturvedi S, Cockroft KM, Gutierrez J, Lombardi-Hill D, et al. 2021 Guideline for the Prevention of Stroke in Patients With Stroke and Transient Ischemic Attack: A Guideline From the American Heart Association/American Stroke Association. Stroke [Internet]. 2021 Jul;52(7):e364– 467. Available from: https://doi.org/10.1161/STR.0000000000000375"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
