{
  "uuid": "diabetes-complication-management-card-53",
  "summary": {
    "en": "Discuss erectile dysfunction with the patient.",
    "es": "Comente la disfunción eréctil con el paciente.",
    "de": "Besprechen Sie die erektile Dysfunktion mit dem Patienten.",
    "ro": "Discutați despre disfuncția erectilă cu pacientul."
  },
  "indicator": "info",
  "detail": {
    "en": "Offer older men with type 2 diabetes the opportunity to discuss erectile dysfunction as part of their annual review. Offer education and support, addressing contributory factors such as cardiovascular disease as well as possible treatment options.",
    "es": "Ofrezca a los hombres mayores con diabetes tipo 2 la oportunidad de hablar de la disfunción eréctil como parte de su revisión anual. Ofrezca educación y apoyo, abordando los factores contribuyentes, como las enfermedades cardiovasculares, así como las posibles opciones de tratamiento.",
    "de": "Bieten Sie älteren Männern mit Typ-2-Diabetes die Möglichkeit, im Rahmen ihrer jährlichen Überprüfung über erektile Dysfunktion zu sprechen. Bieten Sie Aufklärung und Unterstützung an, indem Sie sich mit Faktoren wie Herz-Kreislauf-Erkrankungen sowie möglichen Behandlungsoptionen befassen.",
    "ro": "Oferiți bărbaților mai în vârstă cu diabet de tip 2 posibilitatea de a discuta despre disfuncția erectilă ca parte a evaluării lor anuale. Oferiți educație și sprijin, abordând factori contributivi, cum ar fi bolile cardiovasculare, precum și opțiunile posibile de tratament."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 52]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 52]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 52]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 52]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
