{
  "uuid": "diabetes-complication-management-card-44",
  "summary": {
    "en": "Screening for diabetes complications should be individualised in older adults.",
    "es": "El cribado de las complicaciones de la diabetes debe individualizarse en los adultos mayores.",
    "de": "Das Screening auf Diabetes-Komplikationen sollte bei älteren Erwachsenen individualisiert werden.",
    "ro": "Screeningul pentru complicațiile diabetului trebuie să fie individualizat la adulții în vârstă."
  },
  "indicator": "info",
  "detail": {
    "en": "Screening for diabetes complications should be individualized in older adults, but the main focus should be on those leading to functional impairment. These patients are less likely to benefit from reducing the risk of microvascular complications and more likely to suffer serious adverse effects from hypoglycaemia. However, patients with poorly controlled diabetes may be subject to acute complications of diabetes, including dehydration, poor wound healing, and hyperglycaemic hyperosmolar coma. Glycaemic goals should, at a minimum, avoid these consequences.",
    "es": "El cribado de las complicaciones de la diabetes debe individualizarse en los adultos mayores, pero la atención debe centrarse principalmente en las que conducen a un deterioro funcional. Estos pacientes tienen menos probabilidades de beneficiarse de la reducción del riesgo de complicaciones microvasculares y más probabilidades de sufrir efectos adversos graves derivados de la hipoglucemia. Sin embargo, los pacientes con diabetes mal controlada pueden sufrir complicaciones agudas de la diabetes, como deshidratación, mala cicatrización de heridas y coma hiperosmolar hiperglucémico. Los objetivos glucémicos deben, como mínimo, evitar estas consecuencias.",
    "de": "Das Screening auf Diabetes-Komplikationen sollte bei älteren Erwachsenen individualisiert werden, aber das Hauptaugenmerk sollte auf den Komplikationen liegen, die zu funktionellen Beeinträchtigungen führen. Es ist weniger wahrscheinlich, dass diese Patienten von der Verringerung des Risikos mikrovaskulärer Komplikationen profitieren, und es ist wahrscheinlicher, dass sie schwerwiegende Nebenwirkungen durch Hypoglykämie erleiden. Patienten mit schlecht kontrolliertem Diabetes können jedoch akuten Komplikationen des Diabetes ausgesetzt sein, einschließlich Dehydration, schlechter Wundheilung und hyperglykämischem hyperosmolaren Koma. Glykämische Ziele sollten diese Konsequenzen zumindest vermeiden.",
    "ro": "Screeningul pentru complicațiile diabetului ar trebui să fie individualizat la adulții în vârstă, dar atenția ar trebui să cadă pe cele ce duc la o deficiență funcțională. Acești pacienți sunt mai puțin susceptibili să beneficieze de reducerea riscului de complicații microvasculare și mai probabil să sufere efecte adverse grave din cauza hipoglicemiei. Cu toate acestea, pacienții cu diabet zaharat slab controlat pot fi supuși unor complicații acute ale diabetului, inclusiv deshidratarea, vindecarea slabă a rănilor și coma hiperosmolară hiperglicemică. Obiectivele glicemice ar trebui, cel puțin, să evite aceste consecințe."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 49]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 49]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 49]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 49]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
