{
  "uuid": "diabetes-complication-management-card-47",
  "summary": {
    "en": "Consider screening for foot disease.",
    "es": "Considereel cribado de enfermedad en los pies.",
    "de": "Erwägen Sie ein Screening auf Fußkrankheiten.",
    "ro": "Luați în considerare screeningul pentru afecțiuni podale."
  },
  "indicator": "info",
  "detail": {
    "en": "Feet should be tested annually in this population, and where complications arrive, clinicians should refer to NICE guideline on diabetic foot problems.",
    "es": "Los pies deben ser evaluados anualmente en esta población y, en caso de complicaciones, los médicos deben consultar la Guía NICE sobre problemas del pie diabético.",
    "de": "Füße sollten in dieser Population jährlich untersucht werden, und wenn Komplikationen auftreten, sollten sich Kliniker auf die nationalen Leitlinien zu diabetischen Fußproblemen beziehen.",
    "ro": "Picioarele trebuie testate anual în această populație și, acolo unde există complicații, clinicienii ar trebui să se refere la ghidurile NICE cu privire la problemele piciorului diabetic."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 52]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 52]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 52]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 52]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
