{
  "uuid": "diabetes-complication-management-card-48",
  "summary": {
    "en": "Consider screening for peripheral neuropathy.",
    "es": "Considere en cribado de neuropatía periférica.",
    "de": "Erwägen Sie ein Screening auf periphere Neuropathie.",
    "ro": "Luați în considerare screeningul pentru neuropatia periferică."
  },
  "indicator": "info",
  "detail": {
    "en": "Screening for peripheral neuropathy should be conducted by assessing loss of sensitivity to the 10g monofilament or loss of sensitivity to vibration at the dorsum of the great toe.",
    "es": "El cribado de la neuropatía periférica debe realizarse evaluando la pérdida de sensibilidad al monofilamento de 10 g o la pérdida de sensibilidad a la vibración en el dorso del dedo gordo del pie.",
    "de": "Das Screening auf periphere Neuropathie sollte durchgeführt werden, indem der Verlust der Empfindlichkeit gegenüber dem 10-g-Monofilament oder der Verlust der Empfindlichkeit gegenüber Vibrationen am Rücken des großen Zehs beurteilt wird.",
    "ro": "Screeningul pentru neuropatia periferică trebuie efectuată prin evaluarea pierderii sensibilității la monofilamentul 10G sau pierderea sensibilității la vibrații la partea dorsală a degetului mare."
  },
  "source": {
    "label": {
      "en": "Holistic patient-centred CAREPATH best practice guideline, Chapter 13.3.1 [pp. 52]",
      "es": "Guía CAREPATH de mejores prácticas centradas en el paciente, Capítulo 13.3.1 [pp. 52]",
      "de": "Ganzheitliche patientenorientierte Carepath-Best-Practice-Richtlinie, Kapitel 13.3.1 [S. 52]",
      "ro": "Ghidul holistic al celei mai bune practici centrate pe pacient, Capitolul 13.3.1 [pp. 52]"
    },
    "url": "https://cloud.eclexys.com/index.php/s/5P5Z6wYCZjLDOx7"
  }
}
